Repository bcgov/PIMS, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Docker, Dependencies, Documentation, DotNet, Migrations, React, Styles, Tests, Cypress E2E, Cypress Component

PIMS-671: Update react-datepicker to 4.14.1 (#1563)
  frontend/package.json
Labels: Dependencies, React

PIMS-585: Snowplow Analytics to Prod (#1571)
  frontend/public/index.html
Labels: React

PIMS 683: Analytics fixes (#1568)
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: React

PIMS-672: Update react-icons to 4.9.0 (#1547)
  frontend/package.json
  frontend/src/assets/images/icon-lot.svg
Labels: Dependencies, React

PIMS-687: Upgrade @types/polylabel (#1570)
  frontend/package.json
Labels: Dependencies, React

Update babel core to 7.22.5 (#1542)
  frontend/package.json
Labels: Dependencies, React

PIMS-689: Upgrade @typescript-eslint/eslint-plugin (#1573)
  frontend/package.json
Labels: Dependencies, React

Update styled components to 5.3.11 (#1541)
  frontend/package.json
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
Labels: Dependencies, React, Tests

PIMS-679: Dev dependency upgrade: Patch update set#1 (#1566)
  frontend/package.json
Labels: Dependencies, React

.github/labeler.yaml:

# Auto Label Git Action Config
# https://github.com/marketplace/actions/labeler

#################
# Project

'Github Actions':
- .github/workflows/**/*

Openshift:
- openshift/**/*

Docker:
- docker-compose.yml
- '**/Dockerfile'

Dependencies:
- '**/package.json'
- '**/*.csproj'

Documentation:
- '**/*.md'

#################
# DotNet backend
DotNet:
- backend/**/*

Migrations:
- backend/dal/Migrations/**/*

#################
# React frontend
React:
- frontend/**/*

Styles:
- frontend/**/*.css
- frontend/**/*.scss

#################
# Testing
Tests:
- frontend/**/*.test.*
- frontend/**/*.spec.*
- backend/**/*.Test.*

Cypress:
- any: ['frontend/cypress/**/*', 'frontend/cypress.*']
  all: ['!frontend/cypress/e2e/**/*', '!frontend/cypress/component/**/*']

'Cypress E2E':
- frontend/cypress/e2e/**/*

'Cypress Component':
- frontend/component/**/*
