Repository bcgov/PIMS, pull requests merged in 2020-11, with the labels that each got.

#583 PA-1411 Improving performance of displaying layer details popups
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopupContent.tsx
  frontend/src/components/maps/leaflet/LayerPopup/constants/index.ts
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/components/maps/leaflet/LayerPopup/index.ts
  frontend/src/components/maps/leaflet/Layers/Layer/Layer.tsx
  frontend/src/components/maps/leaflet/Layers/Layer/index.ts
  frontend/src/components/maps/leaflet/Layers/hooks/useLayer.ts
  frontend/src/components/maps/leaflet/Map.tsx
Labels: enhancement

#581 PA-635 add frontend tests for SPL Reports page and related functionality
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/form/Check.tsx
  frontend/src/components/common/form/FastDatePicker.tsx
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.test.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/features/admin/access-request/__snapshots__/AccessRequestPage.test.tsx.snap
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/dispose/components/__snapshots__/ExemptionRequest.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/DocumentationStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PidPinForm.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/splReports/components/ElipsisControls.tsx
  frontend/src/features/splReports/components/ReportControls.tsx
  frontend/src/features/splReports/components/SplReportLayout.scss
  frontend/src/features/splReports/containers/SplReportContainer.test.tsx
  frontend/src/features/splReports/containers/SplReportContainer.tsx
  frontend/src/features/splReports/containers/__snapshots__/SplReportContainer.test.tsx.snap
  frontend/src/features/splReports/hooks/useProjectSnapshotApi.test.tsx
  frontend/src/features/splReports/hooks/useProjectSnapshotApi.ts
  frontend/src/features/splReports/hooks/useRouterReport.test.tsx
  frontend/src/features/splReports/hooks/useRouterReport.ts
Labels: bug, enhancement

#589 PA-633 Replacing Local ID
  backend/tests/core/Entities/BuildingHelper.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/maps/BuildingPopupView.scss
  frontend/src/components/maps/BuildingPopupView.test.tsx
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/components/maps/ParcelPopupView.scss
  frontend/src/components/maps/ParcelPopupView.test.tsx
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/__snapshots__/BuildingPopupView.test.tsx.snap
  frontend/src/components/maps/__snapshots__/ParcelPopupView.test.tsx.snap
  frontend/src/components/maps/leaflet/__snapshots__/MapProperties.test.tsx.snap
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/properties/components/forms/subforms/BuildingForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.test.tsx
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/buildings/IProperty.ts
  frontend/src/features/properties/list/interfaces.ts
Labels: enhancement

#590 PA-1514 change layer popup contents
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopupContent.tsx
  frontend/src/components/maps/leaflet/LayerPopup/constants/index.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/dispose/components/__snapshots__/StepActions.test.tsx.snap
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/splReports/containers/__snapshots__/SplReportContainer.test.tsx.snap
  frontend/src/setupTests.ts
Labels: enhancement

#592 Fixing format
  frontend/src/components/maps/leaflet/Map.tsx
Labels: bug

#591 Edited button definition and calls
  frontend/src/buttons.scss
  frontend/src/components/SearchBar/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/components/common/GenericModal.tsx
  frontend/src/components/common/form/ResetButton.tsx
  frontend/src/components/common/form/SearchButton.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/access/components/Details.tsx
  frontend/src/features/admin/access/components/Filter.tsx
  frontend/src/features/admin/edit-user/EditUserPage.tsx
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/help/components/HelpModal.tsx
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/dispose/components/StepActions.tsx
  frontend/src/features/projects/dispose/components/__snapshots__/StepActions.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/splReports/components/ReportControls.tsx
Labels: enhancement, good first issue

#588 PA-106, 1203
  backend/api/Areas/Admin/Controllers/AgencyController.cs
  backend/api/Areas/Admin/Mapping/Agency/AgencyMap.cs
  backend/api/Areas/Admin/Models/Agency/AgencyModel.cs
  backend/dal/Services/Admin/Concrete/AgencyService.cs
  backend/dal/Services/Admin/IAgencyService.cs
  backend/entities/Models/AgencyFilter.cs
  frontend/package-lock.json
  frontend/src/actionCreators/agencyActionCreator.ts
  frontend/src/actions/adminActions.ts
  frontend/src/components/SearchBar/FilterBar.scss
  frontend/src/components/SearchBar/FilterBar.tsx
  frontend/src/components/SearchBar/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/components/common/form/AutoCompleteText.scss
  frontend/src/components/common/form/AutoCompleteText.tsx
  frontend/src/components/common/form/Check.tsx
  frontend/src/components/common/form/PlusButton.tsx
  frontend/src/components/common/form/SearchButton.tsx
  frontend/src/components/common/form/__snapshots__/AutoCompleteText.test.tsx.snap
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/constants/API.ts
  frontend/src/constants/actionTypes.ts
  frontend/src/constants/reducerTypes.ts
  frontend/src/constants/toasts.ts
  frontend/src/features/admin/agencies/AgencyFilterBar.tsx
  frontend/src/features/admin/agencies/EditAgencyPage.scss
  frontend/src/features/admin/agencies/EditAgencyPage.tsx
  frontend/src/features/admin/agencies/ManageAgencies.scss
  frontend/src/features/admin/agencies/ManageAgencies.tsx
  frontend/src/features/admin/constants/index.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/interfaces/agency.ts
  frontend/src/reducers/agencyDetailReducer.tsx
  frontend/src/reducers/agencyReducer.tsx
  frontend/src/reducers/rootReducer.ts
  frontend/src/router.tsx
Labels: enhancement

#596 PA-1210 Fixing api updating buildings
  Makefile
  backend/dal/Services/Concrete/ParcelService.cs
Labels: bug, enhancement

#595 PA-1214 PIN PARCEL, enhance dropping draft parcel/building markers. C…
  frontend/src/actions/parcelsActions.ts
  frontend/src/assets/images/draft-building-icon.svg
  frontend/src/assets/images/draft-parcel-icon.svg
  frontend/src/assets/images/marker-icon-1x-blue.png
  frontend/src/assets/images/marker-icon-1x-green.png
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/components/maps/PopupView.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/components/maps/types.ts
  frontend/src/constants/actionTypes.ts
  frontend/src/features/properties/components/LastUpdatedBy.tsx
  frontend/src/features/properties/components/ParcelFormControls.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.scss
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.test.tsx
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/containers/ParcelDetailContainer.tsx
  frontend/src/features/properties/hooks/useDraftMarkerSynchronizer.tsx
  frontend/src/features/properties/map/MapView.scss
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/reducers/parcelsReducer.spec.ts
  frontend/src/reducers/parcelsReducer.ts
Labels: enhancement

#598 Fix disposal project bug
  backend/api/Areas/Project/Controllers/DisposeController.cs
  backend/api/Areas/Project/Mapping/Dispose/BuildingMap.cs
  frontend/src/features/properties/list/PropertyListView.test.tsx
Labels: bug

#597 Group autocomplete for filters
  frontend/src/components/SearchBar/FilterBar.tsx
  frontend/src/components/SearchBar/ParentGroupedFilter.tsx
  frontend/src/components/common/form/Select.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/components/maps/MapFilterBar.scss
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/features/admin/agencies/AgencyFilterBar.tsx
  frontend/src/features/admin/agencies/EditAgencyPage.scss
  frontend/src/features/admin/agencies/EditAgencyPage.tsx
  frontend/src/features/admin/agencies/ManageAgencies.scss
  frontend/src/features/admin/agencies/ManageAgencies.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/list/FilterBar.test.tsx
  frontend/src/features/properties/list/FilterBar.tsx
  frontend/src/features/properties/list/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/hooks/useRouterFilter.ts
  frontend/src/interfaces/agency.ts
  frontend/src/utils/YupSchema.ts
  frontend/src/utils/utils.ts
Labels: enhancement

#599 Merging db migration v01.02.00
  backend/dal/Migrations/20201106185406_v01.02.01.Designer.cs
  backend/dal/Migrations/20201106185406_v01.02.01.cs
  backend/dal/Migrations/v01.02.00/Up/PostUp/02-AdministrativeAreas.sql
  frontend/src/features/help/constants/HelpText.tsx
  frontend/src/features/help/containers/HelpModalContentContainer.tsx
  frontend/src/features/help/interfaces.tsx
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/common/components/PropertyListViewUpdate.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/properties/columns.tsx
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/buildings/columns.tsx
  frontend/src/features/properties/list/columns.tsx
Labels: bug

#600 PA-992 Adding Layers to map
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/__snapshots__/MapProperties.test.tsx.snap
Labels: enhancement

#594 PA-973 Dispose Properties grammar fix
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/dispose/components/GeneratedDisposeStepper.tsx
Labels: enhancement

#602 Adding group filter to user management/proj list
  frontend/src/components/SearchBar/FilterBar.tsx
  frontend/src/components/SearchBar/ParentGroupedFilter.test.tsx
  frontend/src/components/SearchBar/__snapshots__/ParentGroupedFilter.test.tsx.snap
  frontend/src/components/common/form/PlusButton.tsx
  frontend/src/features/admin/agencies/EditAgencyPage.test.tsx
  frontend/src/features/admin/agencies/ManageAgencies.test.tsx
  frontend/src/features/admin/agencies/__snapshots__/EditAgencyPage.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/edit-user/EditUserPage.test.tsx
  frontend/src/features/admin/users/ManageUsers.test.tsx
  frontend/src/features/admin/users/ManageUsersPage.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/admin/users/components/UsersFilterBar.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/utils/YupSchema.ts
Labels: enhancement

#603 Adding elasticsearch and kibana persistency
  openshift/templates/logging/elasticsearch-template.yml
Labels: enhancement

#606 PA-1665 StepperForm component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/Stepper.tsx
  frontend/src/components/common/form/StepForm/SteppedForm.md
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/StepperField.md
  frontend/src/components/common/form/StepForm/StepperField.tsx
  frontend/src/components/common/form/StepForm/context.tsx
  frontend/src/components/common/form/StepForm/index.ts
  frontend/src/components/common/form/StepForm/types.ts
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/dispose/components/GeneratedDisposeStepper.tsx
  frontend/styleguide.config.js
Labels: enhancement

#607 Add dev-alpha-pipeline doc.
  openshift/PIPELINES.md
Labels: enhancement

#608 PA-1667 using formik persist to local storage
  frontend/src/components/common/form/StepForm/SteppedForm.test.tsx
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/__snapshots__/SteppedForm.test.tsx.snap
  frontend/src/components/common/form/StepForm/context.tsx
  frontend/src/components/common/form/StepForm/types.ts
Labels: enhancement

#610 PA-1445: Update tooltip design
  frontend/src/components/common/TooltipIcon.scss
  frontend/src/components/common/TooltipIcon.tsx
  frontend/src/components/common/form/__snapshots__/FastCurrencyInput.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/EditAgencyPage.test.tsx.snap
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/components/__snapshots__/ExemptionRequest.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/ParcelDetailForm.scss
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PidPinForm.test.tsx.snap
Labels: enhancement

#609 PA 645 - ChesExceptions test cases
  backend/tests/unit/dal/Libraries/Ches/ChesExceptionTest.cs
Labels: enhancement

#613 add dev-alpha to github actions
  .github/workflows/api-dotnetcore.yml
  .github/workflows/app-react.yml
Labels: enhancement

#614 pa-1423: update tooltips for inventory sections
  frontend/src/components/common/TooltipIcon.scss
  frontend/src/components/common/form/PlusButton.tsx
  frontend/src/constants/strings.tsx
  frontend/src/features/admin/access/ManageAccessRequests.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/agencies/EditAgencyPage.test.tsx
  frontend/src/features/admin/agencies/EditAgencyPage.tsx
  frontend/src/features/admin/agencies/ManageAgencies.tsx
  frontend/src/features/admin/agencies/__snapshots__/EditAgencyPage.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/edit-user/EditUserPage.tsx
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/features/admin/users/ManageUsersPage.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/splReports/components/ElipsisControls.tsx
  frontend/src/features/splReports/components/ReportControls.tsx
  frontend/src/features/splReports/components/ReportListItem.tsx
  frontend/src/features/splReports/containers/SplReportContainer.test.tsx
  frontend/src/features/splReports/containers/__snapshots__/SplReportContainer.test.tsx.snap
Labels: enhancement

#615 Pa-1668: property detail view tooltips
  frontend/src/components/common/TooltipIcon.scss
  frontend/src/components/common/form/FastSelect.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/features/admin/access/ManageAccessRequests.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/agencies/EditAgencyPage.tsx
  frontend/src/features/admin/agencies/__snapshots__/EditAgencyPage.test.tsx.snap
  frontend/src/features/admin/edit-user/EditUserPage.tsx
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/UpdateInfoForm.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/strings.ts
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
  frontend/src/features/properties/components/forms/subforms/LandForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: enhancement

#621 pa-1668: update tooltip wording/style
  frontend/src/components/common/TooltipIcon.scss
  frontend/src/features/admin/access-request/AccessRequestPage.tsx
  frontend/src/features/admin/access-request/__snapshots__/AccessRequestPage.test.tsx.snap
  frontend/src/features/admin/edit-user/EditUserPage.tsx
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/strings.ts
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: enhancement

#619 PA-1533 highlight parcel on map when marker clicked, or when map clicked
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/FormikPersist.tsx
  frontend/src/components/maps/hooks/useActiveFeatureLayer.test.tsx
  frontend/src/components/maps/hooks/useActiveFeatureLayer.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/Spiderfier.ts
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/PidPinForm.tsx
  frontend/src/features/properties/containers/ParcelDetailContainer.tsx
  frontend/src/features/properties/containers/ParcelDetailFormContainer.tsx
  frontend/src/features/properties/map/MapView.scss
  frontend/src/features/properties/map/MapView.tsx
Labels: dependencies, enhancement

#622 Provide zoom to marker functionality on the mapview.
  frontend/src/components/maps/BuildingPopupView.scss
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/components/maps/ParcelPopupView.scss
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/PopupView.tsx
  frontend/src/components/maps/__snapshots__/BuildingPopupView.test.tsx.snap
  frontend/src/components/maps/__snapshots__/ParcelPopupView.test.tsx.snap
  frontend/src/components/maps/hooks/useMarkerZoom.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/__snapshots__/MapProperties.test.tsx.snap
  frontend/src/features/properties/hooks/useDraftMarkerSynchronizer.tsx
  frontend/src/features/properties/map/MapView.tsx
Labels: enhancement

#620 PA-1660 component to edit/add/delete polygons for properties on a map
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/maps/leaflet/LeafletDraw/LeafletDraw.md
  frontend/src/components/maps/leaflet/LeafletDraw/LeafletDraw.scss
  frontend/src/components/maps/leaflet/LeafletDraw/LeafletDraw.tsx
  frontend/src/components/maps/leaflet/LeafletDraw/index.ts
  frontend/src/components/maps/leaflet/Map.scss
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/styleguide.config.js
Labels: enhancement

#626 pa-1693,1483: change folder icon colour, BC logo to BC Gov website
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/Header/__snapshots__/Header.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
Labels: enhancement

#628 Fixed building import
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
Labels: bug

#627 Feature fixes and some tests
  frontend/src/components/SearchBar/ParentGroupedFilter.tsx
  frontend/src/components/common/form/FastInput.tsx
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/common/form/InputGroup.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/constants/propertySteps.ts
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/TenancyForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/TenancyForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/strings.ts
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
  frontend/src/features/properties/components/forms/subforms/PidPinForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PidPinForm.test.tsx.snap
  frontend/src/features/properties/hooks/useGeocoder.tsx
Labels: alpha

#629 Re-enable disabled tests. Also update some tests that have undergone …
  frontend/src/components/SearchBar/__snapshots__/ParentGroupedFilter.test.tsx.snap
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/features/admin/access-request/AccessRequestPage.test.tsx
  frontend/src/features/admin/access-request/AccessRequestPage.tsx
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/projects/dispose/components/ApprovalConfirmation.test.tsx
  frontend/src/features/projects/dispose/components/__snapshots__/ApprovalConfirmation.test.tsx.snap
  frontend/src/features/projects/erp/forms/GreTransferForm.tsx
  frontend/src/features/projects/erp/steps/GreTransferStep.test.tsx
  frontend/src/features/projects/erp/steps/GreTransferStep.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
  frontend/src/features/properties/list/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: enhancement

#634 Initial Classification Component
  frontend/src/components/common/form/FastInput.tsx
  frontend/src/components/common/form/FastSelect.tsx
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/common/form/InputGroup.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/splReports/containers/__snapshots__/SplReportContainer.test.tsx.snap
Labels: alpha, enhancement

#638 Agency filter fix
  frontend/src/components/SearchBar/ParentGroupedFilter.tsx
  frontend/src/components/common/form/Typeahead.tsx
Labels: bug

#633 re-add draft marker functionality.
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/properties/components/ParcelFormControls.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/hooks/useDraftMarkerSynchronizer.tsx
Labels: enhancement

#637 Implementing the advanced layers control component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.md
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersTree.tsx
  frontend/src/components/maps/leaflet/LayersControl/data.ts
  frontend/src/components/maps/leaflet/LayersControl/index.ts
  frontend/src/components/maps/leaflet/LayersControl/types.ts
  frontend/src/components/maps/leaflet/Legend/LegendControl.tsx
Labels: enhancement

#639 Pa:1776: Remove asterix and darken label field
  frontend/src/App.scss
  frontend/src/colors.scss
  frontend/src/components/SearchBar/__snapshots__/ParentGroupedFilter.test.tsx.snap
  frontend/src/components/common/form/Check.tsx
  frontend/src/components/common/form/FastCurrencyInput.tsx
  frontend/src/components/common/form/FastDatePicker.tsx
  frontend/src/components/common/form/FastInput.tsx
  frontend/src/components/common/form/FastSelect.tsx
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/common/form/Select.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/components/common/form/__snapshots__/FastCurrencyInput.test.tsx.snap
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/features/admin/access-request/AccessRequestPage.tsx
  frontend/src/features/admin/access-request/__snapshots__/AccessRequestPage.test.tsx.snap
  frontend/src/features/admin/agencies/EditAgencyPage.test.tsx
  frontend/src/features/admin/agencies/__snapshots__/EditAgencyPage.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/ProjectFinancialTable.tsx
  frontend/src/features/projects/common/forms/UpdateInfoForm.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/dispose/components/__snapshots__/ApprovalConfirmation.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/DocumentationStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/spl/forms/SurplusPropertyListApprovalForm.tsx
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/GeocoderAutoComplete.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.scss
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
  frontend/src/features/properties/components/forms/subforms/LandForm.tsx
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
  frontend/src/features/properties/components/forms/subforms/PidPinForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PidPinForm.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/splReports/containers/__snapshots__/SplReportContainer.test.tsx.snap
  frontend/src/index.scss
Labels: enhancement

#640 PA-1874: Project List View Export Fields
  backend/api/Areas/Reports/Mapping/Project/ProjectMap.cs
  backend/api/Areas/Reports/Models/Project/ProjectModel.cs
  frontend/src/features/projects/list/ProjectListView.tsx
Labels: enhancement
