Repository bcgov/PIMS, pull requests merged in 2020-06, with the labels that each got.

#278 Documentation updates to maintenance and backup readmes.
  maintenance/README.md
  openshift/templates/backup/BACKUP.md
  openshift/templates/backup/deploy.yaml
Labels: documentation

#277 PIMS-61 Maintenance Pod
  openshift/templates/maintenance/caddy.bc.yaml
  openshift/templates/maintenance/caddy.dc.yaml
Labels: enhancement

#290 PIMS-2158 Adding project claims
  auth/keycloak/Dockerfile
  auth/keycloak/README.md
  backend/api/Areas/Keycloak/Controllers/RoleController.cs
  backend/api/Areas/Keycloak/Controllers/UserController.cs
  backend/api/Areas/Project/Controllers/DisposeController.cs
  backend/api/Areas/Project/Controllers/SearchController.cs
  backend/api/Areas/Project/Controllers/WorkflowController.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Security/Permissions.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/Concrete/WorkflowService.cs
  backend/tests/unit/api/Controllers/Project/DisposeControllerTest.cs
  backend/tests/unit/api/Controllers/Project/SearchControllerTest.cs
  backend/tests/unit/api/Controllers/Project/WorkfowControllerTest.cs
  backend/tests/unit/api/Routes/Keycloak/RoleControllerTest.cs
  backend/tests/unit/api/Routes/Keycloak/UserControllerTest.cs
  backend/tests/unit/api/Routes/Project/DisposeControllerTest.cs
  backend/tests/unit/api/Routes/Project/SearchControllerTest.cs
  backend/tests/unit/api/Routes/Project/WorkflowControllerTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  backend/tests/unit/dal/Services/WorkflowServiceTest.cs
  backend/tools/keycloak/sync/Models/UserModel.cs
  backend/tools/keycloak/sync/SyncFactory.cs
  backend/tools/keycloak/sync/appsettings.development.json
  backend/tools/keycloak/sync/appsettings.json
  backend/tools/keycloak/sync/appsettings.local.json
  backend/tools/keycloak/sync/appsettings.test.json
  docs/SECURITY.md
  frontend/src/components/layout/AppNavBar/AppNavBar.test.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/constants/claims.ts
  frontend/src/router.tsx
Labels: bug, documentation, enhancement

#302 PIMS-2443 Fixing validation on incomplete tasks.
  backend/dal/Services/Concrete/ProjectService.cs
Labels: bug

#303 PIMS-2445 Reducing load on project paging
  backend/api/Areas/Project/Mapping/Search/ProjectMap.cs
  backend/api/Areas/Project/Models/Search/ProjectModel.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/entities/Project.cs
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/columns.tsx
  frontend/src/features/projects/list/interfaces.ts
Labels: bug

#301 PIMS-2438 Correct permission issue in roles
  backend/tools/keycloak/sync/realm.json
Labels: bug

#304 PIMS-2389 - Don't create project until name is entered
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
  frontend/src/features/projects/dispose/ProjectDisposeView.tsx
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
  frontend/src/features/projects/dispose/hooks/useStepper.ts
  frontend/src/features/projects/dispose/interfaces.ts
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
Labels: bug

#310 PIMS-2457 (Fix stepper not loading on refresh)
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
Labels: bug

#312 PIMS-2239 add SelectProjectPropertiesPage, refactor SelectProjectProp…
  frontend/src/components/common/form/Check.tsx
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
  frontend/src/features/projects/dispose/components/SelectProjectPropertiesPage.tsx
  frontend/src/features/projects/dispose/forms/ProjectDraftForm.tsx
  frontend/src/features/projects/dispose/forms/ReviewApproveForm.scss
  frontend/src/features/projects/dispose/forms/ReviewApproveForm.tsx
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.scss
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.tsx
  frontend/src/features/projects/dispose/forms/SelectProjectPropertiesForm.tsx
  frontend/src/features/projects/dispose/forms/UpdateInfoForm.tsx
  frontend/src/features/projects/dispose/hooks/useStepForm.tsx
  frontend/src/features/projects/dispose/hooks/useStepper.ts
  frontend/src/features/projects/dispose/index.ts
  frontend/src/features/projects/dispose/interfaces.ts
  frontend/src/features/projects/dispose/steps/ApprovalConfirmationStep.tsx
  frontend/src/features/projects/dispose/steps/DocumentationStep.tsx
  frontend/src/features/projects/dispose/steps/ProjectDraftStep.tsx
  frontend/src/features/projects/dispose/steps/ReviewApproveStep.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.tsx
  frontend/src/features/projects/dispose/steps/UpdateInfoStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/DocumentationStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
Labels: bug

#314 PIMS-1739 Map clustering
  Makefile
  frontend/Dockerfile
  frontend/Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/PointClusterer.scss
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/hooks/useDeepCompareEffect.test.ts
  frontend/src/hooks/useDeepCompareEffect.ts
  frontend/src/hooks/useSupercluster.test.tsx
  frontend/src/hooks/useSupercluster.ts
  frontend/src/index.tsx
Labels: enhancement

#313 PIMS-2205 (Checklist validation)
  frontend/src/features/projects/dispose/steps/DocumentationStep.test.tsx
  frontend/src/features/projects/dispose/steps/DocumentationStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/DocumentationStep.test.tsx.snap
Labels: unit-tests

#315 PIMS-2379 Workflow Project Status Update
  backend/api/Areas/Project/Controllers/DisposeController.cs
  backend/dal/Migrations/Initial/PostDeploy/01-WorkflowProjectStatus.sql
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/IProjectService.cs
  backend/tests/core/Entities/ProjectStatusHelper.cs
  backend/tests/core/Entities/WorkflowHelper.cs
  backend/tests/unit/api/Controllers/Project/DisposeControllerTest.cs
  backend/tests/unit/dal/Services/BuildingServiceTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
Labels: bug, enhancement, unit-tests

#316 PIMS-2155 Modifying project status tasks relationship
  backend/api/Areas/Project/Mapping/Dispose/ProjectTaskMap.cs
  backend/dal/Configuration/ProjectStatusTaskConfiguration.cs
  backend/dal/Configuration/TaskConfiguration.cs
  backend/dal/Helpers/Extensions/IdentityExtensions.cs
  backend/dal/Helpers/Extensions/ServiceExtensions.cs
  backend/dal/Migrations/20200612182656_Initial.Designer.cs
  backend/dal/Migrations/20200612182656_Initial.cs
  backend/dal/Migrations/Initial/PostDeploy/01-Tasks.sql
  backend/dal/Migrations/Initial/PostDeploy/02-ProjectStatusTasks.sql
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/dal/PIMSContext.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/BaseService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/Concrete/TaskService.cs
  backend/entities/ProjectStatus.cs
  backend/entities/ProjectStatusTask.cs
  backend/entities/Task.cs
  backend/tests/core/Entities/ProjectHelper.cs
  backend/tests/core/Entities/TaskHelper.cs
  backend/tests/unit/api/Controllers/Project/DisposeControllerTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  backend/tests/unit/dal/Services/TaskServiceTest.cs
  docs/images/db-erd.png
  docs/sres/ACCESS-DISPOSAL.md
  docs/sres/SUBMIT-DISPOSAL.md
Labels: Requires DB Refresh, bug, documentation, enhancement

#319 Updating Keycloak Sync Document
  backend/tools/keycloak/sync/README.md
Labels: documentation

#320 PIMS-2043 Returning updated project
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
Labels: bug

#318 PIMS-2461, 2400, 2391, 2088
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
  frontend/src/features/projects/dispose/forms/PropertyListViewSelect.test.tsx
  frontend/src/features/projects/dispose/forms/UpdateInfoForm.test.tsx
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/steps/DocumentationStep.tsx
  frontend/src/features/projects/dispose/steps/ProjectDraftStep.test.tsx
  frontend/src/features/projects/dispose/steps/ProjectDraftStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
Labels: bug, unit-tests

#317 PIMS-2453 PIMS-2444, PIMS-2452
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Migrations/Initial/PostDeploy/01-ProjectStatus.sql
  backend/dal/Migrations/Initial/PostDeploy/01-ProjectStatusTransitions.sql
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/core/Entities/ProjectStatusHelper.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
  frontend/src/features/projects/dispose/ProjectWorkflowComponents.tsx
  frontend/src/features/projects/dispose/components/ReviewApproveActions.tsx
  frontend/src/features/projects/dispose/components/SelectProjectPropertiesPage.tsx
  frontend/src/features/projects/dispose/forms/ReviewApproveForm.scss
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.scss
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.tsx
  frontend/src/features/projects/dispose/forms/UpdateInfoForm.test.tsx
  frontend/src/features/projects/dispose/hooks/useStepForm.tsx
  frontend/src/features/projects/dispose/hooks/useStepper.ts
  frontend/src/features/projects/dispose/interfaces.ts
  frontend/src/features/projects/dispose/projectConverter.ts
  frontend/src/features/projects/dispose/projectsActionCreator.ts
  frontend/src/features/projects/dispose/slices/projectSlice.ts
  frontend/src/features/projects/dispose/slices/projectWorkflowSlice.ts
  frontend/src/features/projects/dispose/steps/DocumentationStep.test.tsx
  frontend/src/features/projects/dispose/steps/DocumentationStep.tsx
  frontend/src/features/projects/dispose/steps/ProjectDraftStep.test.tsx
  frontend/src/features/projects/dispose/steps/ReviewApproveStep.tsx
  frontend/src/features/projects/dispose/steps/ReviewProjectStep.test.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.test.tsx
Labels: Requires DB Refresh

#322 Updating notification documentation
  docs/README.md
  docs/sres/NOTIFICATIONS.md
Labels: documentation

#326 Cleanup unused files, provide way of marking non-app source files to …
  codecov.yml
  frontend/src/Loading.js
  frontend/src/components/Debug/Debug.ignore.tsx
  frontend/src/components/common/icons/index.tsx
  frontend/src/components/containers/PageNotFound/PageNotFound.tsx
  frontend/src/components/maps/ParcelList.tsx
  frontend/src/index.tsx
  frontend/src/pages/Test.ignore.tsx
  frontend/src/router.tsx
  frontend/src/serviceWorker.ignore.ts
Labels: DRAFT PR - Do Not Merge, unit-tests

#324 PIMS-2551
  frontend/src/features/projects/dispose/components/ReviewApproveActions.test.tsx
  frontend/src/features/projects/dispose/components/ReviewApproveActions.tsx
Labels: enhancement, unit-tests

#333 PIMS-2177 Updating Project Financials
  adr/ches.md
  adr/map-source-boundaries.md
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Mapping/Search/ProjectMap.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/api/Areas/Project/Models/Search/ProjectModel.cs
  backend/api/appsettings.json
  backend/core/Extensions/DateExtensions.cs
  backend/dal/Configuration/AgencyConfiguration.cs
  backend/dal/Configuration/NotificationQueueConfiguration.cs
  backend/dal/Configuration/NotificationTemplateConfiguration.cs
  backend/dal/Configuration/ParcelConfiguration.cs
  backend/dal/Configuration/ProjectAgencyResponseConfiguration.cs
  backend/dal/Configuration/ProjectConfiguration.cs
  backend/dal/Configuration/ProjectStatusConfiguration.cs
  backend/dal/Configuration/ProjectStatusNotificationConfiguration.cs
  backend/dal/Helpers/Extensions/BuildingExtensions.cs
  backend/dal/Helpers/Extensions/IdentityExtensions.cs
  backend/dal/Helpers/Extensions/ParcelExtensions.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Helpers/Extensions/ServiceExtensions.cs
  backend/dal/Migrations/20200618164721_Initial.Designer.cs
  backend/dal/Migrations/20200618164721_Initial.cs
  backend/dal/Migrations/Initial/PostDeploy/01-ProjectStatus.sql
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/dal/Options/ProjectOptions.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/entities/Agency.cs
  backend/entities/NotificationDelays.cs
  backend/entities/NotificationPriorities.cs
  backend/entities/NotificationQueue.cs
  backend/entities/NotificationResponses.cs
  backend/entities/NotificationStatus.cs
  backend/entities/NotificationTemplate.cs
  backend/entities/Parcel.cs
  backend/entities/Project.cs
  backend/entities/ProjectAgencyResponse.cs
  backend/entities/ProjectStatus.cs
  backend/entities/ProjectStatusNotification.cs
  backend/entities/Property.cs
  backend/entities/Views/Property.cs
  backend/tests/core/ControllerHelper.cs
  backend/tests/core/Entities/ProjectStatusHelper.cs
  backend/tests/unit/api/Controllers/Project/DisposeControllerTest.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  docs/images/db-erd.png
  docs/sres/NOTIFICATIONS.md
  docs/sres/notifications-erd.png
  frontend/src/features/projects/dispose/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/dispose/interfaces.ts
  frontend/src/features/projects/dispose/projectConverter.ts
  frontend/src/features/projects/list/ProjectListView.tsx
  test/Postman/pims-api-collection.json
Labels: Requires DB Refresh, bug, documentation, enhancement, unit-tests

#332 PIMS-2175, 2193
  frontend/src/components/common/form/DisplayCurrency.scss
  frontend/src/components/common/form/DisplayCurrency.tsx
  frontend/src/components/common/form/FastCurrencyInput.tsx
  frontend/src/components/common/form/index.ts
  frontend/src/components/maps/ParcelPopupView.test.tsx
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/__snapshots__/ParcelPopupView.test.tsx.snap
  frontend/src/forms/ParcelDetailForm.test.tsx
  frontend/src/forms/ParcelDetailForm.tsx
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/forms/subforms/BuildingForm.test.tsx
  frontend/src/forms/subforms/EvaluationForm.tsx
  frontend/src/forms/subforms/SumFinancialsForm.tsx
  frontend/src/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: enhancement, unit-tests

#336 PIMS-2589 ensure that current fiscal year (not current year) displaye…
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/forms/subforms/EvaluationForm.tsx
  frontend/src/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: bug

#335 PIMS-2456 Autofill building lat/long
  docs/DEVOPS.md
  frontend/src/forms/subforms/PagedBuildingForms.tsx
Labels: bug

#337 PIMS-2586, 2587
  backend/api/Mapping/Parcel/ParcelMap.cs
  frontend/src/forms/subforms/PidPinForm.tsx
Labels: bug

#341 PIMS-2488 Spread pins with the same lat long
  Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actionCreators/parcelsActionCreator.ts
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/maps/hooks/useSupercluster.test.tsx
  frontend/src/components/maps/hooks/useSupercluster.ts
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/Spiderfier.ts
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/components/maps/types.ts
  frontend/src/pages/MapView.tsx
Labels: bug, enhancement

#340 Documentation Review Bug
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.tsx
Labels: bug

#339 PIMS-2425 User last login
  backend/api/Areas/Admin/Mapping/User/UserMap.cs
  backend/api/Areas/Admin/Models/User/UserModel.cs
  backend/api/Controllers/AuthController.cs
  backend/dal/Migrations/20200618202055_Initial.Designer.cs
  backend/dal/Migrations/20200618202055_Initial.cs
  backend/dal/Pims.Dal.csproj
  backend/dal/Services/Concrete/UserService.cs
  backend/entities/User.cs
  backend/tests/unit/dal/Core/Helpers/CsvHelperTest.cs
  backend/tests/unit/dal/Core/Helpers/XmlHelperTest.cs
  frontend/src/interfaces/user.ts
  frontend/src/interfaces/userDetails.ts
  frontend/src/pages/EditUserPage.tsx
  frontend/src/pages/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/pages/admin/users/ManageUsersPage.tsx
  frontend/src/pages/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/pages/admin/users/constants/index.tsx
  frontend/src/pages/admin/users/interfaces/IUserRecord.ts
  frontend/src/utils/utils.ts
Labels: Requires DB Refresh, enhancement

#343 PIMS-2315 (Exemption Submission)
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Mapping/Search/ProjectMap.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/api/Areas/Project/Models/Search/ProjectModel.cs
  backend/dal/Configuration/ProjectConfiguration.cs
  backend/dal/Migrations/20200618164721_Initial.Designer.cs
  backend/dal/Migrations/20200618164721_Initial.cs
  backend/dal/Migrations/20200618202055_Initial.Designer.cs
  backend/dal/Migrations/20200618202055_Initial.cs
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/entities/Project.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/features/projects/dispose/components/ExemptionRequest.scss
  frontend/src/features/projects/dispose/components/ExemptionRequest.test.tsx
  frontend/src/features/projects/dispose/components/ExemptionRequest.tsx
  frontend/src/features/projects/dispose/components/__snapshots__/ExemptionRequest.test.tsx.snap
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.tsx
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
  frontend/src/features/projects/dispose/index.ts
  frontend/src/features/projects/dispose/interfaces.ts
  frontend/src/features/projects/dispose/projectConverter.ts
  frontend/src/features/projects/dispose/steps/ReviewProjectStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
Labels: Requires DB Refresh, enhancement

#344 PIMS-1270 Automate Maintenance Page ON/OFF
  maintenance/.editorconfig
  maintenance/maintenance.sh
  openshift/pipelines/Jenkinsfile.test-to-prod
  openshift/templates/maintenance/caddy.dc.yaml
Labels: devops, enhancement

#349 PIMS-2186 Automate production database backup before deploy
  openshift/PIPELINES.md
  openshift/pipelines/Jenkinsfile.test-to-prod
  openshift/player.sh
  openshift/scripts/common.sh
  openshift/scripts/envars
  openshift/scripts/oc-backup.sh
Labels: devops, enhancement

#348 Update Parcel Bug
  frontend/src/forms/ParcelDetailForm.tsx
  frontend/src/forms/subforms/EvaluationForm.tsx
Labels: bug

#359 PIMS-2613 Fixing permissions with notifications
  backend/dal/Services/Concrete/NotificationQueueService.cs
Labels: bug

#356 PIMS-2554, 2555 (Exemption Approval)
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Migrations/Initial/PostDeploy/01-ProjectStatus.sql
  backend/dal/Migrations/Initial/PostDeploy/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/Initial/PostDeploy/01-Tasks.sql
  backend/dal/Migrations/Initial/PostDeploy/01-Workflow.sql
  backend/dal/Migrations/Initial/PostDeploy/01-WorkflowProjectStatus.sql
  backend/dal/Services/Concrete/ProjectService.cs
  backend/entities/Models/ProjectFilter.cs
  docs/README.md
  docs/WORKFLOWS.md
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
  frontend/src/features/projects/dispose/components/ExemptionRequest.test.tsx
  frontend/src/features/projects/dispose/components/ExemptionRequest.tsx
  frontend/src/features/projects/dispose/components/ReviewApproveActions.test.tsx
  frontend/src/features/projects/dispose/components/ReviewApproveActions.tsx
  frontend/src/features/projects/dispose/components/ReviewApproveExemption.test.tsx
  frontend/src/features/projects/dispose/forms/ReviewApproveForm.tsx
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.tsx
  frontend/src/features/projects/dispose/hooks/useStepForm.tsx
  frontend/src/features/projects/dispose/hooks/useStepper.ts
  frontend/src/features/projects/dispose/interfaces.ts
  frontend/src/features/projects/dispose/steps/ReviewApproveStep.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  test/Postman/pims-api-collection.json
Labels: Requires DB Refresh, enhancement

#362 Removing sign up button
  frontend/src/features/account/Login.tsx
  frontend/src/features/account/__snapshots__/Login.test.tsx.snap
Labels: enhancement

#367 Tweaks
  frontend/src/features/projects/dispose/steps/ReviewApproveStep.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
Labels: bug

#365 add slice to save current active tab on project approval page.
  frontend/src/constants/reducerTypes.ts
  frontend/src/features/projects/dispose/hooks/useStepForm.tsx
  frontend/src/features/projects/dispose/slices/projectApprovalTabSlice.ts
  frontend/src/features/projects/dispose/steps/ApprovalStep.tsx
  frontend/src/features/projects/dispose/steps/ReviewApproveStep.test.tsx
  frontend/src/features/projects/dispose/steps/ReviewApproveStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/ApprovalStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/reducers/rootReducer.ts
Labels: enhancement

#366 PIMS-2509 Add notification queue endpoints
  backend/api/Areas/Notification/Controllers/QueueController.cs
  backend/core/Extensions/DictionaryExtensions.cs
  backend/dal/Helpers/Extensions/NotificationQueueExtensions.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Models/ProjectNotificationModel.cs
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/NotificationQueueService.cs
  backend/dal/Services/INotificationQueueService.cs
  backend/entities/Models/NotificationQueueFilter.cs
  backend/entities/Models/ProjectNotificationModel.cs
  backend/tests/core/Entities/BuildingEvaluationHelper.cs
  backend/tests/core/Entities/BuildingFiscalHelper.cs
  backend/tests/core/Entities/NotificationQueueHelper.cs
  backend/tests/core/Entities/ParcelEvaluationHelper.cs
  backend/tests/core/Entities/ParcelFiscalHelper.cs
  backend/tests/core/Entities/ProjectHelper.cs
  backend/tests/unit/api/Controllers/Notification/QueueControllerTest.cs
  backend/tests/unit/api/Routes/Notification/QueueControllerTest.cs
  backend/tests/unit/dal/Core/Extensions/DictionaryExtensionsTest.cs
  backend/tests/unit/dal/Helpers/Extensions/BuildingExtensionsTest.cs
  backend/tests/unit/dal/Helpers/Extensions/ProjectExtensionsTest.cs
  backend/tests/unit/dal/Services/BuildingServiceTest.cs
  backend/tests/unit/dal/Services/NotificationQueueServiceTest.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  backend/tests/unit/dal/Services/PropertyServiceTest.cs
Labels: enhancement

#369 PIMS-2627 Update project when changing milestone status
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Concrete/NotificationQueueService.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
Labels: bug

#368 Fixing commented out tests
  backend/tests/unit/dal/Services/PropertyServiceTest.cs
Labels: unit-tests

#370 PIMS-2628 Task Validation Change
  backend/api/appsettings.json
  backend/dal/Options/ProjectOptions.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/core/ControllerHelper.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
Labels: bug

#373 Adding ParentId to Agency endpoint
  backend/api/Mapping/Lookup/CodeMap.cs
  backend/api/Mapping/Lookup/LookupMap.cs
  backend/api/Models/CodeModel.cs
Labels: bug

#372 PIMS-1722 Parcel without pid validation
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
Labels: bug

#374 PIMS-2509 Fixing delete notification template
  backend/dal/Services/Concrete/NotificationTemplateService.cs
Labels: bug

#375 ensure that the only selectable properties belong to the same agency …
  backend/dal/Migrations/Initial/PostDeploy/01-Tasks.sql
  frontend/src/actions/lookupActions.ts
  frontend/src/features/projects/dispose/ProjectDisposeView.scss
  frontend/src/features/projects/dispose/components/FilterBar.tsx
  frontend/src/features/projects/dispose/steps/ReviewProjectStep.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/hooks/useLookupCodes.tsx
Labels: bug

#376 PIMS-2188 Develop production Deployment Configuration process
  openshift/pipelines/Jenkinsfile.cicd
  openshift/pipelines/Jenkinsfile.test-to-prod
  openshift/pipelines/scripts/common.groovy
  openshift/pipelines/scripts/notify.groovy
  openshift/player.sh
  openshift/scripts/common.sh
  openshift/scripts/envars
  openshift/scripts/oc-backup.sh
  openshift/scripts/oc-build.sh
  openshift/scripts/oc-deploy.sh
  openshift/templates/jenkins/generic-pipeline.yaml
Labels: devops, enhancement

#377 PIMS-2628, and other minor fixes
  frontend/src/features/projects/dispose/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/dispose/forms/ReviewApproveForm.tsx
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.tsx
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
  frontend/src/features/projects/dispose/steps/ReviewApproveStep.tsx
  frontend/src/features/projects/dispose/steps/ReviewProjectStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/properties/components/forms/ParcelDetailForm.scss
Labels: bug

#378 Devops pipeline improvements and bug fixes
  openshift/pipelines/Jenkinsfile.cicd
  openshift/pipelines/Jenkinsfile.test-to-prod
  openshift/player.sh
  openshift/scripts/common.sh
  openshift/scripts/oc-backup.sh
  openshift/scripts/oc-build.sh
  openshift/scripts/oc-deploy.sh
  openshift/templates/jenkins/generic-pipeline.yaml
Labels: bug
