Repository bcgov/PIMS, pull requests merged in 2020-03, with the labels that each got.

#51 PIMS-945 Adding way to import Todd's data.
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/api/Areas/Tools/Models/PropertyModel.cs
  backend/api/Models/CodeModel.cs
  backend/dal/Helpers/Extensions/ServiceCollectionExtensions.cs
  backend/dal/Helpers/Extensions/StringExtensions.cs
  backend/dal/Services/Admin/Concrete/AgencyService.cs
  backend/dal/Services/Admin/Concrete/BuildingConstructionTypeService.cs
  backend/dal/Services/Admin/Concrete/BuildingPredominateUseService.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/CityService.cs
  backend/dal/Services/Admin/Concrete/PropertyClassificationService.cs
  backend/dal/Services/Admin/Concrete/PropertyStatusService.cs
  backend/dal/Services/Admin/Concrete/PropertyTypeService.cs
  backend/dal/Services/Admin/Concrete/ProvinceService.cs
  backend/dal/Services/Admin/IAgencyService.cs
  backend/dal/Services/Admin/IBuildingConstructionTypeService.cs
  backend/dal/Services/Admin/IBuildingPredominateUseService.cs
  backend/dal/Services/Admin/IBuildingService.cs
  backend/dal/Services/Admin/ICityService.cs
  backend/dal/Services/Admin/IPimsAdminService.cs
  backend/dal/Services/Admin/IPropertyClassificationService.cs
  backend/dal/Services/Admin/IPropertyStatusService.cs
  backend/dal/Services/Admin/IPropertyTypeService.cs
  backend/dal/Services/Admin/IProvinceService.cs
  backend/dal/Services/Admin/PimsAdminService.cs
  backend/entities/ParcelEvaluation.cs
Labels: enhancement

#53 PIMS-945 Adding import tool.
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/api/Areas/Tools/Models/PropertyModel.cs
  backend/api/Helpers/Middleware/ErrorHandlingMiddleware.cs
  backend/test/Controllers/ImportControllerTest.cs
  backend/test/Helpers/ServiceHelper.cs
  backend/test/Helpers/TestHelper.cs
  backend/tools/import/.gitignore
  backend/tools/import/Pims.Tools.Import.csproj
  backend/tools/import/Program.cs
  backend/tools/import/README.md
  backend/tools/import/Startup.cs
  backend/tools/import/appsettings.json
  docker-compose.yml
Labels: enhancement

#62 Merging DB migration back to initial.
  .vscode/settings.json
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Controllers/AuthController.cs
  backend/dal/Migrations/20200228161654_initial.cs
  backend/dal/Migrations/20200306222350_AccessRequest.Designer.cs
  backend/dal/Migrations/20200306222350_AccessRequest.cs
  backend/dal/Migrations/20200310153544_initial.Designer.cs
  backend/dal/Migrations/20200310153544_initial.cs
  backend/dal/Migrations/PIMSContextModelSnapshot.cs
  backend/dal/Migrations/initial/PostDeploy/01-Roles.sql
  backend/tools/import/ApiOptions.cs
  backend/tools/import/ImportOptions.cs
  backend/tools/import/KeycloakOptions.cs
  backend/tools/import/Models/TokenModel.cs
  backend/tools/import/Pims.Tools.Import.csproj
  backend/tools/import/Program.cs
  backend/tools/import/README.md
  backend/tools/import/Startup.cs
  backend/tools/import/ToolOptions.cs
  backend/tools/import/appsettings.json
Labels: enhancement

#63 Fixing bug with import tool
  backend/tools/import/Startup.cs
Labels: bug

#66 PIMS-1240 Updating DB migration.
  auth/README.md
  backend/README.md
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/api/Controllers/HealthController.cs
  backend/api/Helpers/Middleware/ErrorHandlingMiddleware.cs
  backend/api/Pims.Api.csproj
  backend/api/Profiles/ParcelProfile.cs
  backend/api/Profiles/Resolvers/ParceIdResolver.cs
  backend/api/appsettings.Development.json
  backend/dal/Configuration/BuildingEvaluationConfiguration.cs
  backend/dal/Configuration/ParcelConfiguration.cs
  backend/dal/Configuration/ParcelEvaluationConfiguration.cs
  backend/dal/Helpers/Extensions/ParcelExtensions.cs
  backend/dal/Migrations/20200312230932_initial.Designer.cs
  backend/dal/Migrations/20200312230932_initial.cs
  backend/dal/Migrations/PIMSContextModelSnapshot.cs
  backend/dal/Pims.Dal.csproj
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/dal/Services/IUserService.cs
  backend/docs/API.md
  backend/docs/DAL.md
  backend/docs/DATABASE.md
  backend/docs/SETUP.md
  backend/docs/TOOLS.md
  backend/docs/VERSIONING.md
  backend/entities/BuildingEvaluation.cs
  backend/entities/Parcel.cs
  backend/entities/ParcelEvaluation.cs
  backend/entities/Pims.Dal.Entities.csproj
  backend/tools/import/Pims.Tools.Import.csproj
  backend/tools/import/Startup.cs
  docker-compose.yml
  docs/VERSIONS.md
  docs/images/db-erd.png
  openshift/README.md
  scripts/README.md
Labels: bug, documentation, enhancement

#67 PIMS-1183 Filtering sensitive properties.
  README.md
  auth/README.md
  backend/api/Areas/Admin/Controllers/ParcelController.cs
  backend/api/Areas/Admin/Controllers/RoleController.cs
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Areas/Keycloak/Controllers/UserController.cs
  backend/api/Configuration/KeycloakServiceAccountOptions.cs
  backend/api/Configuration/OpenIdConnectOptions.cs
  backend/api/Controllers/AuthController.cs
  backend/api/Controllers/ParcelController.cs
  backend/api/Helpers/KeycloakRequestClient.cs
  backend/api/Models/ParcelModel.cs
  backend/api/Models/Parts/ParcelModel.cs
  backend/api/Policies/HasPermissionAttribute.cs
  backend/api/Policies/PermissionFilter.cs
  backend/api/Profiles/ParcelProfile.cs
  backend/api/Startup.cs
  backend/api/appsettings.json
  backend/dal/Helpers/Extensions/CollectionExtensions.cs
  backend/dal/Helpers/Extensions/EnumExtensions.cs
  backend/dal/Helpers/Extensions/IdentityExtensions.cs
  backend/dal/Helpers/Extensions/ServiceCollectionExtensions.cs
  backend/dal/Options/PimsOptions.cs
  backend/dal/Options/ServiceAccountOptions.cs
  backend/dal/PIMSContext.cs
  backend/dal/PIMSContextFactory.cs
  backend/dal/Security/Permissions.cs
  backend/dal/Services/Admin/Concrete/AgencyService.cs
  backend/dal/Services/Admin/Concrete/BuildingConstructionTypeService.cs
  backend/dal/Services/Admin/Concrete/BuildingPredominateUseService.cs
  backend/dal/Services/Admin/Concrete/PropertyClassificationService.cs
  backend/dal/Services/Admin/Concrete/PropertyStatusService.cs
  backend/dal/Services/Admin/Concrete/PropertyTypeService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/dal/Services/Concrete/UserService.cs
  backend/docs/DATABASE.md
  backend/docs/SETUP.md
  backend/entities/Parcel.cs
  backend/test/Controllers/ParcelControllerTest.cs
  backend/test/Helpers/TestHelper.cs
  backend/tools/import/ApiOptions.cs
  backend/tools/import/KeycloakOptions.cs
  backend/tools/import/README.md
  backend/tools/import/Startup.cs
  backend/tools/import/appsettings.json
  database/README.md
  database/mssql/README.md
  database/postgres/README.md
  docker-compose.yml
  docs/ARCHITECTURE.md
  docs/DATABASE.md
  docs/GITHUB-WORKFLOW.md
  frontend/README.md
  scripts/gen-env-files.sh
Labels: bug, enhancement

#71 Fixing namespace issue.
  backend/api/Areas/Admin/Controllers/UserController.cs
Labels: bug

#70 PIMS-977 Adding /api/admin/users endpoint.
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Controllers/UserController.cs
  backend/api/Helpers/Middleware/ErrorHandlingMiddleware.cs
  backend/api/Startup.cs
  backend/dal/Helpers/Extensions/QueryableExtensions.cs
  backend/dal/Helpers/Extensions/TypeExtensions.cs
  backend/dal/Services/Admin/Concrete/AgencyService.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/dal/Services/Admin/IBaseService`.cs
  backend/dal/Services/Admin/IUserService.cs
  backend/entities/Models/UserFilter.cs
  backend/entities/Pims.Dal.Entities.csproj
Labels: enhancement

#68 PIMS-972 Add user list.
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Areas/Admin/Models/RoleModel.cs
  backend/api/Areas/Admin/Models/UserModel.cs
  backend/api/Models/UserModel.cs
  backend/api/Profiles/Admin/RoleProfile.cs
  backend/api/Profiles/Admin/UserProfile.cs
  backend/dal/Helpers/Extensions/EnumerableExtensions.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/test/Controllers/Admin/UserControllerTest.cs
  backend/test/Helpers/HttpContextHelper.cs
  backend/test/Helpers/TestHelper.cs
  frontend/src/App.scss
  frontend/src/App.tsx
  frontend/src/actionCreators/usersActionCreator.tsx
  frontend/src/actions/adminActions.tsx
  frontend/src/components/common/FormSchema.tsx
  frontend/src/components/common/LookupCodeDropdown.tsx
  frontend/src/components/common/WrappedPaginate.tsx
  frontend/src/components/maps/__snapshots__/BasemapToggle.test.tsx.snap
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/constants/API.tsx
  frontend/src/constants/actionTypes.tsx
  frontend/src/constants/reducerTypes.tsx
  frontend/src/pages/GuestAccessPage.test.tsx
  frontend/src/pages/GuestAccessPage.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/ManageAccessRequests.tsx
  frontend/src/pages/ManageUsers.tsx
  frontend/src/pages/__snapshots__/GuestAccessPage.test.tsx.snap
  frontend/src/reducers/accessRequestReducer.tsx
  frontend/src/reducers/rootReducer.tsx
  frontend/src/reducers/usersReducer.tsx
Labels: enhancement

#83 Fixing import refresh token
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/tools/import/OpenIdConnector.cs
  backend/tools/import/appsettings.json
Labels: bug

#87 PIMS-1296 Adding unit tests
  backend/api/Helpers/Extensions/ExceptionExtensions.cs
  backend/api/Helpers/Middleware/ErrorHandlingMiddleware.cs
  backend/api/Models/ErrorResponseModel.cs
  backend/core/Extensions/ArrayExtensions.cs
  backend/core/Extensions/TypeExtensions.cs
  backend/test/Controllers/PropertyControllerTest.cs
  backend/test/Helpers/ControllerHelper.cs
  backend/test/Helpers/HttpContextHelper.cs
  backend/test/Helpers/PimsAssert.cs
  backend/test/Helpers/TestHelper.cs
  backend/test/Routes/PropertyControllerTest.cs
  docs/images/db-erd.png
Labels: enhancement

#90 PIMS-1230, PIMS-1226, PIMS-1227, PIMS-1228, PIMS-1229
  backend/.vscode/launch.json
  backend/Dockerfile
  backend/api/Areas/Admin/Controllers/ParcelController.cs
  backend/api/Areas/Admin/Controllers/RoleController.cs
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Areas/Admin/Models/UserModel.cs
  backend/api/Areas/Keycloak/Controllers/RoleController.cs
  backend/api/Areas/Keycloak/Controllers/UserController.cs
  backend/api/Areas/Keycloak/Models/Update/UserModel.cs
  backend/api/Areas/Keycloak/Models/UserModel.cs
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/api/Controllers/AuthController.cs
  backend/api/Controllers/ErrorController.cs
  backend/api/Controllers/HealthController.cs
  backend/api/Controllers/LookupController.cs
  backend/api/Controllers/ParcelController.cs
  backend/api/Controllers/PropertyController.cs
  backend/api/Controllers/UserController.cs
  backend/api/Helpers/Routes/Constraints/PidConstraint.cs
  backend/api/Helpers/Swagger/ConfigureSwaggerOptions.cs
  backend/api/Helpers/Swagger/SwaggerDefaultValues.cs
  backend/api/Helpers/Swagger/SwaggerDocumentFilter.cs
  backend/api/Models/Auth/ClaimModel.cs
  backend/api/Models/Auth/UserModel.cs
  backend/api/Models/ErrorResponseModel.cs
  backend/api/Models/Health/EnvModel.cs
  backend/api/Pims.Api.csproj
  backend/api/Profiles/Extensions/MappingExpressionExtensions.cs
  backend/api/Program.cs
  backend/api/Startup.cs
  backend/api/appsettings.Development.json
  backend/api/appsettings.Local.json
  backend/api/appsettings.json
  backend/core/Extensions/UriBuilderExtensions.cs
  backend/core/Helpers/ExceptionHelper.cs
  backend/dal/Helpers/Extensions/ApplicationBuilderExtensions.cs
  backend/dal/Helpers/Extensions/EntityExtensions.cs
  backend/dal/Helpers/Extensions/RowVersionExtensions.cs
  backend/dal/Services/Admin/Concrete/BaseService`.cs
  backend/docs/API.md
  backend/docs/SETUP.md
  backend/entities/Models/BuildingFilter.cs
  backend/entities/Models/ParcelFilter.cs
  backend/test/Controllers/ParcelControllerTest.cs
  backend/test/Controllers/PropertyControllerTest.cs
  backend/test/Helpers/ControllerHelper.cs
  backend/test/Helpers/EntityHelper.cs
  backend/test/Helpers/PimsAssert.cs
  backend/test/Routes/PropertyControllerTest.cs
  docker-compose.yml
  frontend/src/constants/API.tsx
  scripts/gen-env-files.sh
  test/Postman/pims-api-collection.json
Labels: bug, enhancement

#91 PIMS-974 Updating User Entity
  backend/api/Areas/Admin/Models/UserModel.cs
  backend/api/Areas/Keycloak/Models/Update/UserModel.cs
  backend/api/Areas/Keycloak/Models/UserModel.cs
  backend/api/Areas/Keycloak/Profiles/Resolvers/AgencyToAgencyResolver.cs
  backend/api/Areas/Keycloak/Profiles/Resolvers/AttributeMapToAgencyResolver.cs
  backend/api/Areas/Keycloak/Profiles/Resolvers/KeycloakDisplayNameResolver.cs
  backend/api/Areas/Keycloak/Profiles/Resolvers/UserRoleToRoleResolver.cs
  backend/api/Areas/Keycloak/Profiles/UserProfile.cs
  backend/api/Helpers/Middleware/ErrorHandlingMiddleware.cs
  backend/api/Models/UserModel.cs
  backend/dal.keycloak/Partials/PimsKeycloakUserService.cs
  backend/dal/Configuration/UserConfiguration.cs
  backend/dal/Migrations/20200329131456_Initial.Designer.cs
  backend/dal/Migrations/20200329131456_Initial.cs
  backend/dal/Migrations/PIMSContextModelSnapshot.cs
  backend/dal/Migrations/initial/PostDeploy/01-Users.sql
  backend/dal/Options/ServiceAccountOptions.cs
  backend/dal/Services/Admin/Concrete/AgencyService.cs
  backend/dal/Services/Admin/Concrete/BaseService`.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/dal/Services/Concrete/UserService.cs
  backend/entities/Models/UserFilter.cs
  backend/entities/User.cs
Labels: bug, enhancement

#92 PIMS-1229 DeleteParcel unit tests
  backend/api/Areas/Admin/Controllers/ParcelController.cs
  backend/api/Controllers/ParcelController.cs
  backend/test/Controllers/Admin/ParcelControllerTest.cs
  backend/test/Controllers/ParcelControllerTest.cs
  backend/test/Helpers/PimsAssert.cs
  backend/test/Routes/Admin/ParcelControllerTest.cs
  backend/test/Routes/ParcelControllerTest.cs
  backend/test/Routes/PropertyControllerTest.cs
Labels: enhancement

#95 Renaming folder from `initial` to `Initial`.
  backend/dal/Migrations/Initial/PostDeploy/01-Agencies.sql
  backend/dal/Migrations/Initial/PostDeploy/01-BuildingConstructionTypes.sql
  backend/dal/Migrations/Initial/PostDeploy/01-BuildingPredominantUses.sql
  backend/dal/Migrations/Initial/PostDeploy/01-Cities.sql
  backend/dal/Migrations/Initial/PostDeploy/01-Claims.sql
  backend/dal/Migrations/Initial/PostDeploy/01-PropertyClassifications.sql
  backend/dal/Migrations/Initial/PostDeploy/01-PropertyStatus.sql
  backend/dal/Migrations/Initial/PostDeploy/01-PropertyTypes.sql
  backend/dal/Migrations/Initial/PostDeploy/01-Provinces.sql
  backend/dal/Migrations/Initial/PostDeploy/01-Roles.sql
  backend/dal/Migrations/Initial/PostDeploy/01-Users.sql
  backend/dal/Migrations/Initial/PostDeploy/02-RoleClaims.sql
Labels: bug
