Repository bcgov/PIMS, pull requests merged in 2020-05, with the labels that each got.

#176 User management dashboard
  backend/api/Areas/Keycloak/Controllers/UserController.cs
  backend/api/Areas/Keycloak/Mapping/User/UserMap.cs
  backend/api/Areas/Keycloak/Models/User/Update/UserModel.cs
  backend/tests/unit/api/Controllers/Keycloak/UserControllerTest.cs
  backend/tests/unit/api/Routes/Keycloak/UserControllerTest.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actionCreators/usersActionCreator.tsx
  frontend/src/actions/accessRequestActions.tsx
  frontend/src/actions/adminActions.tsx
  frontend/src/constants/API.tsx
  frontend/src/constants/actionTypes.tsx
  frontend/src/interfaces/agency.ts
  frontend/src/interfaces/index.ts
  frontend/src/interfaces/pagedItems.tsx
  frontend/src/interfaces/role.ts
  frontend/src/interfaces/user.tsx
  frontend/src/pages/EditUserPage.tsx
  frontend/src/pages/ManageUsers.tsx
  frontend/src/pages/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/pages/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/pages/admin/users/ManageUsers.scss
  frontend/src/pages/admin/users/ManageUsers.test.tsx
  frontend/src/pages/admin/users/ManageUsers.tsx
  frontend/src/pages/admin/users/components/RowActions.tsx
  frontend/src/pages/admin/users/components/SearchBox.tsx
  frontend/src/pages/admin/users/components/UsersList.tsx
  frontend/src/pages/admin/users/constants/index.tsx
  frontend/src/pages/admin/users/interfaces/IUserRecord.tsx
  frontend/src/reducers/accessRequestReducer.tsx
  frontend/src/reducers/usersReducer.tsx
  frontend/src/router.tsx
Labels: enhancement

#178 PIMS-1472 Property List View
  frontend/.vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Table.scss
  frontend/src/components/Table.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/columns.ts
  frontend/src/features/properties/list/index.ts
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/interfaces/pagedItems.tsx
  frontend/src/layouts/AuthLayout.tsx
  frontend/src/layouts/PublicLayout.scss
  frontend/src/reducers/accessRequestReducer.tsx
  frontend/src/router.tsx
Labels: enhancement

#177 PIMS-1720, 1718, 1742, 1743, 1744, 1747
  frontend/src/actionCreators/parcelsActionCreator.tsx
  frontend/src/components/common/TooltipIcon.scss
  frontend/src/forms/ParcelDetailForm.scss
  frontend/src/forms/ParcelDetailForm.tsx
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/forms/strings.ts
  frontend/src/forms/subforms/BuildingForm.tsx
  frontend/src/forms/subforms/EvaluationForm.tsx
  frontend/src/forms/subforms/LandForm.tsx
  frontend/src/forms/subforms/PagedBuildingForms.tsx
  frontend/src/forms/subforms/PidPinForm.tsx
  frontend/src/pages/SubmitProperty.scss
  frontend/src/pages/SubmitProperty.tsx
  frontend/src/utils/YupSchema.tsx
Labels: bug

#179 PIMS-1541 Adding Export Properties Report to Property List View
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: enhancement

#181 PIMS-1472 Property List Pagination
  frontend/src/components/Table.tsx
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/TablePagination.scss
  frontend/src/components/Table/TablePagination.tsx
  frontend/src/components/Table/index.ts
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/columns.ts
  frontend/src/types/react-table.d.ts
  frontend/tsconfig.json
Labels: enhancement

#180 PIMS-1754 Property Delete
  backend/dal/Services/Concrete/ParcelService.cs
  frontend/src/actionCreators/parcelsActionCreator.tsx
  frontend/src/assets/images/close-square.svg
  frontend/src/components/common/GenericModal.tsx
  frontend/src/constants/API.tsx
  frontend/src/constants/actionTypes.tsx
  frontend/src/constants/claims.ts
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/forms/subforms/PagedBuildingForms.tsx
  frontend/src/pages/SubmitProperty.scss
  frontend/src/pages/SubmitProperty.tsx
Labels: enhancement

#182 PIMS-1472 Property List - Filtering
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Table/Table.tsx
  frontend/src/features/properties/list/FilterBar.scss
  frontend/src/features/properties/list/FilterBar.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/columns.ts
  frontend/src/features/properties/list/index.ts
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/utils/utils.tsx
Labels: dependencies, enhancement

#183 PIMS-1472 Bug fixes
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#185 PIMS-1541 Fixing LandArea Bug
  backend/api/Areas/Property/Models/Search/PropertyFilterModel.cs
  backend/dal/Configuration/Views/PropertyConfiguration.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/entities/Models/AllPropertyFilter.cs
  backend/entities/Models/BuildingFilter.cs
  backend/entities/Models/PropertyFilter.cs
  backend/tests/core/Entities/BuildingHelper.cs
  backend/tests/core/Entities/ParcelHelper.cs
  backend/tests/unit/api/Controllers/BuildingControllerTest.cs
  backend/tests/unit/api/Controllers/ParcelControllerTest.cs
  backend/tests/unit/api/Controllers/Property/SearchControllerTest.cs
  backend/tests/unit/dal/Services/PropertyServiceTest.cs
Labels: bug, enhancement

#187 PIMS-1472 Property List - UI improvements
  frontend/src/assets/images/icon-business.svg
  frontend/src/assets/images/icon-lot.svg
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/columns.ts
  frontend/src/features/properties/list/columns.tsx
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/utils/index.ts
  frontend/src/utils/numberFormatUtils.ts
Labels: enhancement

#188 PIMS-1541 Fixing Export Report Paging Bug
  frontend/src/features/properties/list/FilterBar.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/interfaces.ts
Labels: bug

#189 Fixing bug related to user agency
  backend/dal/Helpers/Extensions/IdentityExtensions.cs
Labels: bug

#195 Adding types
  frontend/src/components/common/form/AutoCompleteText.tsx
Labels: enhancement

#194 Improve formatting automation
  .gitattributes
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, enhancement

#193 User management dashboard pagination, sorting and filtering
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/entities/Models/UserFilter.cs
  backend/tests/unit/api/Controllers/Admin/UserControllerTest.cs
  frontend/src/actionCreators/usersActionCreator.tsx
  frontend/src/actions/adminActions.tsx
  frontend/src/constants/API.tsx
  frontend/src/constants/actionTypes.tsx
  frontend/src/interfaces/pagedItems.tsx
  frontend/src/pages/admin/users/ManageUsers.test.tsx
  frontend/src/pages/admin/users/ManageUsers.tsx
  frontend/src/pages/admin/users/components/RowActions.tsx
  frontend/src/pages/admin/users/components/SearchBox.tsx
  frontend/src/pages/admin/users/components/UsersList.tsx
  frontend/src/pages/admin/users/constants/index.tsx
  frontend/src/pages/admin/users/interfaces/IUserRecord.tsx
  frontend/src/reducers/accessRequestReducer.tsx
  frontend/src/reducers/usersReducer.tsx
Labels: enhancement

#196 PIMS-1382 parcel detail form test updates.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/react-text-mask.tsx
  frontend/src/forms/ParcelDetailForm.test.tsx
  frontend/src/forms/ParcelDetailForm.tsx
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/forms/subforms/EvaluationForm.tsx
  frontend/src/mocks/filterDataMock.ts
  frontend/src/pages/SubmitProperty.test.tsx
  frontend/src/pages/SubmitProperty.tsx
  frontend/src/pages/admin/access/ManageAccessRequests.test.tsx
  frontend/src/setupTests.ts
  frontend/src/utils/testUtils.tsx
Labels: dependencies

#197 PIMS-1418 using material ui theme provider to override styling
  backend/dal/Services/Admin/Concrete/UserService.cs
  frontend/src/pages/admin/users/ManageUsers.scss
  frontend/src/pages/admin/users/ManageUsers.tsx
  frontend/src/pages/admin/users/components/UsersList.tsx
Labels: enhancement

#202 PIMS-1268 Update builder image and documentation
  docs/ARCHITECTURE.md
  openshift/README.md
  openshift/templates/base-images/yarn-builder/Dockerfile
  openshift/templates/base-images/yarn-builder/yarn-builder-build.json
  openshift/templates/pims-app/build.yaml
Labels: enhancement

#204 PIMS-1685 Adding code coverage reports
  .github/workflows/api-dotnetcore.yml
  .github/workflows/app-react.yml
  README.md
  backend/tests/README.md
  codecov.yml
  docs/BUILD-DEPLOY.md
  docs/DEVELOPMENT.md
  docs/README.md
  docs/images/codecov.svg
  docs/images/formik.png
  docs/images/logo-confluence.png
  docs/images/logo-jira.png
  docs/images/logo-miro.png
  docs/images/logo-sonarqube.png
  docs/images/logo-uptimerobot.png
  docs/images/logo-uptimerobot.svg
  docs/images/logo-uxpin.png
  docs/images/oauth-2.png
  docs/images/oauth-2.svg
  docs/images/redux.svg
  docs/images/typescript.svg
  frontend/package.json
  scripts/gen-env-files.sh
Labels: documentation, enhancement

#203 PIMS-1525 Adding unit tests to pipeline
  openshift/pipelines/Jenkinsfile.cicd
  openshift/pipelines/README.md
  openshift/pipelines/scripts/common.groovy
  openshift/templates/jenkins/jenkins.yaml
  openshift/templates/pims-api/test.yaml
  openshift/templates/pims-app/test.yaml
Labels: enhancement

#207 PIMS-1685 Fixing api coverage and secret
  .github/workflows/api-dotnetcore.yml
  .github/workflows/app-react.yml
  codecov.yml
Labels: bug, enhancement

#208 PIMS-1685 Code Coverage
  codecov.yml
  frontend/package.json
Labels: documentation

#210 PIMS-60 Updating OpenShift Templates
  openshift/BASE_IMAGES.md
  openshift/MULTIPLE_INSTANCES.md
  openshift/OBJECTS.md
  openshift/PIPELINES.md
  openshift/README.md
  openshift/SECRETS.md
  openshift/SONARQUBE.md
  openshift/ZAP.md
  openshift/pipelines/Jenkinsfile.cicd
  openshift/pipelines/Jenkinsfile.dev-to-test
  openshift/templates/pims-api/build.yaml
  openshift/templates/pims-api/deploy.yaml
  openshift/templates/pims-app/build.yaml
  openshift/templates/pims-app/deploy.yaml
  openshift/templates/pims-db/mssql-deploy.yaml
  openshift/templates/pims-routes/README.md
  openshift/templates/pims-routes/api-routes.yaml
  openshift/templates/pims-routes/app-route.yaml
  openshift/templates/resources/README.md
  openshift/templates/resources/api-db-configMap.yaml
  openshift/templates/resources/api-health-secrets.yaml
  openshift/templates/resources/api-sso-configMap.yaml
  openshift/templates/resources/api-sso-secrets.yaml
  openshift/templates/resources/app-sso-configMap.yaml
  openshift/templates/resources/database-secrets.yaml
  openshift/templates/secrets/README.md
  openshift/templates/secrets/api-sso-secrets.yaml
  openshift/templates/secrets/app-sso-secrets.yaml
  openshift/templates/tools/pipeline.yaml
Labels: bug, documentation, enhancement

#211 PIMS-1685 Removing C# coverage report
  .github/workflows/api-dotnetcore.yml
  .github/workflows/app-react.yml
Labels: bug

#216 PIMS-1886 and PIMS-1964: Run tests in the CI/CD pipeline
  backend/tools/import/.gitignore
  frontend/.gitignore
  frontend/.s2i/environment
  openshift/BASE_IMAGES.md
  openshift/JENKINS_SLAVES.md
  openshift/MULTIPLE_INSTANCES.md
  openshift/PIPELINES.md
  openshift/README.md
  openshift/pipelines/Jenkinsfile.cicd
  openshift/templates/jenkins-slaves/jenkins-slave-dotnet/Dockerfile
  openshift/templates/jenkins-slaves/jenkins-slave-dotnet/README.md
  openshift/templates/jenkins-slaves/jenkins-slave-generic-template.yaml
  openshift/templates/jenkins-slaves/jenkins-slave-npm/Dockerfile
  openshift/templates/jenkins-slaves/jenkins-slave-npm/README.md
  openshift/templates/jenkins-slaves/jenkins-slave-zap/.dockerignore
  openshift/templates/jenkins-slaves/jenkins-slave-zap/.xinitrc
  openshift/templates/jenkins-slaves/jenkins-slave-zap/Dockerfile
  openshift/templates/jenkins-slaves/jenkins-slave-zap/README.md
  openshift/templates/jenkins-slaves/jenkins-slave-zap/configuration/nexus-settings.xml
  openshift/templates/jenkins-slaves/jenkins-slave-zap/configuration/passwd.template
  openshift/templates/jenkins-slaves/jenkins-slave-zap/configuration/run-jnlp-client
  openshift/templates/jenkins-slaves/jenkins-slave-zap/configuration/settings.xml
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/API-Minimal.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/Default Policy.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-High-Th-High.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-High-Th-Low.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-High-Th-Med.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Ins-Th-High.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Ins-Th-Low.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Ins-Th-Med.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Low-Th-High.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Low-Th-Low.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Low-Th-Med.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Med-Th-High.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Med-Th-Low.policy
  openshift/templates/jenkins-slaves/jenkins-slave-zap/scripts/scripts/httpsender/Alert_on_HTTP_Response_Code_Errors.js
  openshift/templates/jenkins-slaves/jenkins-slave-zap/scripts/scripts/httpsender/Alert_on_Unexpected_Content_Types.js
  openshift/templates/jenkins-slaves/jenkins-slave-zap/webswing.config
  openshift/templates/jenkins-slaves/jenkins-slave-zap/zap/zap-api-scan.py
  openshift/templates/jenkins-slaves/jenkins-slave-zap/zap/zap-baseline.py
  openshift/templates/jenkins-slaves/jenkins-slave-zap/zap/zap-full-scan.py
  openshift/templates/jenkins-slaves/jenkins-slave-zap/zap/zap-webswing.sh
  openshift/templates/jenkins-slaves/jenkins-slave-zap/zap/zap-x.sh
  openshift/templates/jenkins-slaves/jenkins-slave-zap/zap/zap_common.py
  openshift/templates/jenkins/generic-pipeline.yaml
  openshift/templates/jenkins/jenkins-master.yaml
  openshift/templates/pims-api/test.yaml
  openshift/templates/pims-app/test.yaml
Labels: documentation, enhancement

#215 PIMS-1690 Replace AG-Grid with React-Table
  backend/api/Areas/Admin/Controllers/AccessRequestController.cs
  backend/api/Areas/Admin/Mapping/User/AccessRequestUserMap.cs
  backend/api/Areas/Admin/Models/User/AccessRequestUserModel.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/dal/Services/Admin/IUserService.cs
  backend/entities/Models/AccessRequestFilter.cs
  backend/tests/unit/api/Controllers/Admin/AccessRequestControllerTest.cs
  backend/tests/unit/api/Routes/Admin/AccessRequestControllerTest.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actionCreators/accessRequestActionCreator.tsx
  frontend/src/actions/accessRequestActions.tsx
  frontend/src/components/Table/ColumnDefinition.ts
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/index.ts
  frontend/src/components/menu/Menu.scss
  frontend/src/components/menu/Menu.tsx
  frontend/src/constants/actionTypes.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useLookupCodes.tsx
  frontend/src/pages/admin/access/ManageAccessRequests.scss
  frontend/src/pages/admin/access/ManageAccessRequests.test.tsx
  frontend/src/pages/admin/access/ManageAccessRequests.tsx
  frontend/src/pages/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/pages/admin/access/components/Details.test.tsx
  frontend/src/pages/admin/access/components/Details.tsx
  frontend/src/pages/admin/access/components/Filter.scss
  frontend/src/pages/admin/access/components/Filter.tsx
  frontend/src/pages/admin/access/components/RowActions.tsx
  frontend/src/pages/admin/access/components/__snapshots__/Details.test.tsx.snap
  frontend/src/pages/admin/access/constants/constants.ts
  frontend/src/pages/admin/access/constants/constants.tsx
  frontend/src/pages/admin/access/interfaces/index.ts
  frontend/src/reducers/accessRequestReducer.tsx
  frontend/src/utils/CommonFunctions.tsx
Labels: enhancement

#220 PIMS-1417 Agency admins can approve access request in their own agency
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/dal/Services/Admin/IUserService.cs
  backend/entities/Models/AccessRequestFilter.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/testUtils.tsx
Labels: OUT OF DATE - rebase

#221 DB Migration - System Accounts
  backend/dal/Migrations/20200514194159_Initial.Designer.cs
  backend/dal/Migrations/20200514194159_Initial.cs
  backend/dal/Migrations/Initial/PostDeploy/01-Users.sql
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/entities/User.cs
Labels: Requires DB Refresh, bug

#226 PIMS-2039 Fixing Postal Code bug
  backend/core/Extensions/StringExtensions.cs
Labels: bug

#222 PIMS-1249 maintenance page
  maintenance/Caddyfile
  maintenance/README.md
  maintenance/maintenance.html
  maintenance/maintenance.sh
  openshift/templates/maintenance/caddy.bc.yaml
  openshift/templates/maintenance/caddy.dc.yaml
Labels: enhancement

#224 Updating Connection Strings
  backend/api/appsettings.Development.json
  backend/api/appsettings.Local.json
  backend/api/appsettings.Test.json
  backend/api/appsettings.json
Labels: enhancement

#223 PID format and updating postal format
  backend/core/Extensions/StringExtensions.cs
  frontend/src/components/common/form/Input.tsx
  frontend/src/forms/subforms/AddressForm.tsx
  frontend/src/forms/subforms/PidPinForm.tsx
  frontend/src/utils/YupSchema.tsx
Labels: enhancement

#225 Re-enable API code coverage on CI servers
  .github/workflows/api-dotnetcore.yml
  backend/tests/unit/api/coverlet.runsettings
  backend/tests/unit/dal/coverlet.runsettings
  openshift/pipelines/Jenkinsfile.cicd
Labels: enhancement

#229 PIMS-2038, 1838, 1708
  frontend/src/forms/ParcelDetailForm.test.tsx
  frontend/src/forms/subforms/BuildingForm.tsx
  frontend/src/forms/subforms/EvaluationForm.tsx
Labels: bug

#230 PIMS-1271 CI/CD Pipeline Documentation
  backend/docs/API.md
  docs/DEVOPS.md
  docs/README.md
  docs/images/cicd-pipeline.png
  docs/images/cicd-prod-pipeline.png
Labels: documentation

#228 PIMS-1273 add openshift bc and dc for backups, update mssql-deploy dc…
  openshift/templates/backup/BACKUP.md
  openshift/templates/backup/backup-build.yaml
  openshift/templates/backup/backup-conf-configmap_DeploymentConfig.json
  openshift/templates/backup/backup-deploy.yaml
  openshift/templates/backup/backup.conf
  openshift/templates/pims-db/mssql-deploy.yaml
Labels: documentation, enhancement

#234 PIMS-1420 Adding ParcelId to Properties
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Areas/Property/Models/Search/PropertyModel.cs
  backend/dal/Migrations/Initial/PostDeploy/01-ViewProperties.sql
  backend/entities/Views/Property.cs
Labels: enhancement

#232 PIMS-1697, 1709
  frontend/src/forms/ParcelDetailForm.tsx
  frontend/src/pages/SubmitProperty.tsx
Labels: bug

#233 PIMS-1782 view link on property list view
  backend/tools/import/Makefile
  frontend/Makefile
  frontend/src/components/Table/ColumnDefinition.ts
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/index.ts
  frontend/src/components/Table/types.ts
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/columns.tsx
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/pages/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/pages/admin/users/__snapshots__/ManageUsers.test.tsx.snap
Labels: enhancement

#238 PIMS-2056 Adding Projects to DB
  backend/dal/Configuration/ProjectConfiguration.cs
  backend/dal/Configuration/ProjectPropertyConfiguration.cs
  backend/dal/Configuration/ProjectStatusConfiguration.cs
  backend/dal/Configuration/ProjectTaskConfiguration.cs
  backend/dal/Configuration/TaskConfiguration.cs
  backend/dal/Configuration/TierLevelConfiguration.cs
  backend/dal/Migrations/20200520200830_Initial.Designer.cs
  backend/dal/Migrations/20200520200830_Initial.cs
  backend/dal/Migrations/Initial/PostDeploy/01-ProjectStatus.sql
  backend/dal/Migrations/Initial/PostDeploy/01-Tasks.sql
  backend/dal/Migrations/Initial/PostDeploy/01-TierLevels.sql
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/dal/PIMSContext.cs
  backend/entities/Building.cs
  backend/entities/Parcel.cs
  backend/entities/Project.cs
  backend/entities/ProjectProperty.cs
  backend/entities/ProjectStatus.cs
  backend/entities/ProjectTask.cs
  backend/entities/Task.cs
  backend/entities/TaskTypes.cs
  backend/entities/TierLevel.cs
Labels: Requires DB Refresh, enhancement

#237 Updating postman
  test/Postman/pims-api-collection.json
Labels: documentation

#241 PIMS-2057, PIMS-2043 Project DB Changes
  backend/dal/Configuration/ProjectConfiguration.cs
  backend/dal/Configuration/ProjectStatusConfiguration.cs
  backend/dal/Migrations/20200521185351_Initial.Designer.cs
  backend/dal/Migrations/20200521185351_Initial.cs
  backend/dal/Migrations/Initial/PostDeploy/01-ProjectStatus.sql
  backend/dal/Migrations/Initial/PostDeploy/01-Tasks.sql
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/entities/Agency.cs
  backend/entities/Project.cs
  backend/entities/ProjectStatus.cs
  backend/entities/TaskTypes.cs
  docs/DATABASE.md
  docs/README.md
  docs/SECURITY.md
  docs/images/db-erd.png
  docs/images/disposal-project-process.png
  docs/sres/DISPOSAL-PROJECTS.md
Labels: Requires DB Refresh, documentation, enhancement

#243 PIMS-2044 Disposal Project endpoints
  backend/api/Areas/Project/Controllers/DisposeController.cs
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Mapping/Dispose/ProjectPropertyMap.cs
  backend/api/Areas/Project/Mapping/Dispose/ProjectStatusMap.cs
  backend/api/Areas/Project/Mapping/Dispose/ProjectTaskMap.cs
  backend/api/Areas/Project/Mapping/Dispose/TaskMap.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/api/Areas/Project/Models/Dispose/ProjectPropertyModel.cs
  backend/api/Areas/Project/Models/Dispose/ProjectStatusModel.cs
  backend/api/Areas/Project/Models/Dispose/ProjectTaskModel.cs
  backend/api/Areas/Project/Models/Dispose/TaskModel.cs
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Controllers/LookupController.cs
  backend/api/Mapping/Converters/AgencyConverter.cs
  backend/dal/Helpers/Extensions/ServiceCollectionExtensions.cs
  backend/dal/IPimsService.cs
  backend/dal/Migrations/Initial/PostDeploy/01-Tasks.sql
  backend/dal/PimsService.cs
  backend/dal/Services/Concrete/LookupService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/Concrete/TaskService.cs
  backend/dal/Services/ILookupService.cs
  backend/dal/Services/IProjectService.cs
  backend/dal/Services/ITaskService.cs
  backend/entities/ProjectTask.cs
  test/Postman/pims-api-collection.json
Labels: enhancement

#244 PIMS-2070 Adding Search Projects
  backend/api/Areas/Project/Controllers/SearchController.cs
  backend/api/Areas/Project/Mapping/Search/ProjectMap.cs
  backend/api/Areas/Project/Models/Search/ProjectFilterModel.cs
  backend/api/Areas/Project/Models/Search/ProjectModel.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/IProjectService.cs
  backend/entities/Models/ProjectFilter.cs
  backend/entities/Views/Property.cs
Labels: enhancement

#245 PIMS-2077 Project Number Auto-Generation
  backend/api/appsettings.json
  backend/dal/Configuration/ProjectConfiguration.cs
  backend/dal/Configuration/ProjectNumberConfiguration.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Migrations/20200522153222_Initial.Designer.cs
  backend/dal/Migrations/20200522153222_Initial.cs
  backend/dal/Migrations/Initial/PostDeploy/01-ProjectNumbers.sql
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/dal/Options/PimsOptions.cs
  backend/dal/Options/ProjectOptions.cs
  backend/dal/PIMSContext.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/entities/ProjectNumber.cs
Labels: Requires DB Refresh, enhancement

#246 PIMS-1655 Update nav menu
  frontend/src/components/layout/AppNavBar/AppNavBar.test.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
Labels: enhancement

#251 PIMS-1783 UNIT TEST - Property List - Edit Property
  Makefile
  docker-compose.yml
  frontend/Makefile
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/__snapshots__/MapProperties.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/features/properties/service.ts
Labels: enhancement

#249 PIMS-1841 Confirm approval
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/project/disposal/ApprovalConfirmation.test.tsx
  frontend/src/components/project/disposal/ApprovalConfirmation.tsx
  frontend/src/components/project/disposal/StepActions.test.tsx
  frontend/src/components/project/disposal/StepActions.tsx
  frontend/src/components/project/disposal/__snapshots__/ApprovalConfirmation.test.tsx.snap
  frontend/src/components/project/disposal/__snapshots__/StepActions.test.tsx.snap
Labels: dependencies, enhancement

#256 PIMS-2095 Adding API Unit-Tests
  backend/core/Comparers/DeepPropertyCompare.cs
  backend/core/Extensions/TypeExtensions.cs
  backend/tests/core/DatabaseHelper.cs
  backend/tests/core/ServiceHelper.cs
  backend/tests/core/TestHelper.cs
  backend/tests/unit/api/Controllers/LookupControllerTest.cs
  backend/tests/unit/api/Controllers/Project/DisposeControllerTest.cs
  backend/tests/unit/dal/Core/Comparers/DeepPropertyCompareTest.cs
  backend/tests/unit/dal/Core/Comparers/DeepPropertyCompareTest`.cs
  backend/tests/unit/dal/Core/Comparers/ShallowPropertyCompareTest.cs
  backend/tests/unit/dal/Core/Comparers/ShallowPropertyCompareTest`.cs
  backend/tests/unit/dal/Services/Admin/ParcelServiceTest.cs
  backend/tests/unit/dal/Services/BuildingServiceTest.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  backend/tests/unit/dal/Services/PropertyServiceTest.cs
  backend/tests/unit/dal/Services/TaskServiceTest.cs
Labels: bug, enhancement

#260 Adding API Coverage
  backend/core/Extensions/DictionaryExtensions.cs
  backend/core/Helpers/StringHelper.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/core/Entities/TaskHelper.cs
  backend/tests/unit/dal/Core/Extensions/ArrayExtensionsTest.cs
  backend/tests/unit/dal/Core/Extensions/CollectionExtensionsTest.cs
  backend/tests/unit/dal/Core/Extensions/DictionaryExtensionsTest.cs
  backend/tests/unit/dal/Core/Helpers/CsvHelperTest.cs
  backend/tests/unit/dal/Core/Helpers/ExceptionHelper.cs
  backend/tests/unit/dal/Core/Helpers/StringHelperTest.cs
  backend/tests/unit/dal/Core/Helpers/XmlHelperTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
Labels: bug, enhancement

#270 PIMS-1729, PIMS-1733 Bugfixes
  frontend/src/components/layout/Header/Header.test.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/Header/__snapshots__/Header.test.tsx.snap
  frontend/src/pages/SubmitProperty.test.tsx
  frontend/src/pages/SubmitProperty.tsx
Labels: bug

#271 PIMS-61 Updating Pipeline
  README.md
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/core/Extensions/QueryableExtensions.cs
  backend/tools/keycloak/sync/Models/Keycloak/ClientModel.cs
  backend/tools/keycloak/sync/Models/Keycloak/GroupModel.cs
  backend/tools/keycloak/sync/RealmFactory.cs
  backend/tools/keycloak/sync/RequestClient.cs
  backend/tools/keycloak/sync/appsettings.json
  docs/CODE-QUALITY.md
  docs/README.md
  openshift/templates/backup/build.yaml
  openshift/templates/backup/deploy.yaml
  openshift/templates/jenkins/generic-pipeline.yaml
  openshift/templates/pims-api/deploy.yaml
  openshift/templates/pims-app/deploy.yaml
  openshift/templates/pims-db/mssql-deploy.yaml
Labels: bug, documentation, enhancement

#272 PIMS-1819 Fix auto-complete bug
  Makefile
  frontend/src/components/common/form/AutoCompleteText.tsx
Labels: bug

#275 Update Check display
  backend/dal/Services/Concrete/ProjectService.cs
  frontend/src/components/common/form/Check.scss
  frontend/src/components/common/form/Check.tsx
  frontend/src/components/common/form/DisplayError.tsx
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/common/form/Select.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
  frontend/src/features/projects/dispose/ProjectDisposeView.scss
  frontend/src/features/projects/dispose/ProjectDisposeView.tsx
  frontend/src/features/projects/dispose/PropertyListViewSelect.tsx
  frontend/src/features/projects/dispose/PropertyListViewUpdate.tsx
  frontend/src/features/projects/dispose/StepActions.test.tsx
  frontend/src/features/projects/dispose/StepActions.tsx
  frontend/src/features/projects/dispose/__snapshots__/StepActions.test.tsx.snap
  frontend/src/features/projects/dispose/forms/ApprovalConfirmationForm.tsx
  frontend/src/features/projects/dispose/forms/DocumentationForm.tsx
  frontend/src/features/projects/dispose/forms/ProjectDraftForm.scss
  frontend/src/features/projects/dispose/forms/ProjectDraftForm.tsx
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.scss
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.tsx
  frontend/src/features/projects/dispose/forms/UpdateInfoForm.tsx
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
  frontend/src/features/projects/dispose/hooks/useStepper.ts
  frontend/src/features/projects/dispose/steps/ApprovalConfirmationStep.tsx
  frontend/src/features/projects/dispose/steps/DocumentationStep.tsx
  frontend/src/features/projects/dispose/steps/ProjectDraftStep.tsx
  frontend/src/features/projects/dispose/steps/ReviewProjectStep.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.scss
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.tsx
  frontend/src/features/projects/dispose/steps/UpdateInfoStep.tsx
  frontend/src/features/projects/dispose/steps/useStepForm.tsx
  frontend/src/features/properties/list/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/pages/__snapshots__/AccessRequestPage.test.tsx.snap
  frontend/src/pages/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/pages/admin/users/__snapshots__/ManageUsers.test.tsx.snap
Labels: enhancement

#273 Fix bug - wasn't loading existing value of PID
  frontend/src/components/common/form/Input.tsx
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
Labels: bug

#274 PIMS-61 Forcing DB migration on API startup
  backend/api/Pims.Api.csproj
  backend/api/Startup.cs
  backend/api/appsettings.Local.json
  backend/api/appsettings.json
  backend/core/Pims.Core.csproj
  backend/dal.keycloak/Pims.Dal.Keycloak.csproj
  backend/dal/Pims.Dal.csproj
  backend/entities/Pims.Dal.Entities.csproj
  backend/keycloak/Pims.Keycloak.csproj
  backend/tests/core/Pims.Core.Test.csproj
  backend/tests/unit/api/Pims.Api.Test.csproj
  backend/tests/unit/dal/Pims.Dal.Test.csproj
  openshift/templates/backup/deploy.yaml
  openshift/templates/pims-api/build.yaml
  openshift/templates/pims-api/deploy.yaml
  openshift/templates/pims-db/mssql-deploy.yaml
Labels: enhancement
