Repository bcgov/PIMS, pull requests merged in 2020-04, with the labels that each got.

#97 Fix backend docker build
  backend/Pims.sln
Labels: bug

#100 PIMS-1226, PIMS-1230 Adding unit tests.
  backend/api/Areas/Admin/Controllers/ParcelController.cs
  backend/core/Comparers/DeepPropertyCompare.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/dal/Services/Admin/IParcelService.cs
  backend/test/Controllers/Admin/ParcelControllerTest.cs
  backend/test/Routes/Admin/ParcelControllerTest.cs
Labels: enhancement

#103 PIMS-1010 Adding unit tests
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Controllers/UserController.cs
  backend/test/Controllers/Admin/UserControllerTest.cs
  backend/test/Controllers/UserControllerTest.cs
  backend/test/Helpers/ControllerHelper.cs
  backend/test/Helpers/Entities/AccessRequestHelper.cs
  backend/test/Helpers/Entities/AgencyHelper.cs
  backend/test/Helpers/Entities/BuildingHelper.cs
  backend/test/Helpers/Entities/ParcelHelper.cs
  backend/test/Helpers/Entities/RoleHelper.cs
  backend/test/Helpers/Entities/UserHelper.cs
  backend/test/Helpers/EntityHelper.cs
  backend/test/Helpers/TestHelper.cs
  backend/test/Routes/Admin/UserControllerTest.cs
  backend/test/Routes/Keycloak/UserControllerTest.cs
  backend/test/Routes/PropertyControllerTest.cs
  backend/test/Routes/UserControllerTest.cs
  test/Postman/pims-api-collection.json
Labels: enhancement

#105 PIMS-599 Adding BuildingController.
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Controllers/BuildingController.cs
  backend/api/Models/Building/PartialBuildingModel.cs
  backend/api/Profiles/Building/PartialBuildingProfile.cs
  backend/api/Profiles/Converters/ParcelAgencyConverter.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  frontend/src/constants/API.tsx
Labels: bug, enhancement

#106 PIMS-1009, PIMS-1011, PIMS-112
  backend/test/Controllers/Admin/UserControllerTest.cs
  backend/test/Controllers/Keycloak/UserControllerTest.cs
  backend/test/Routes/Keycloak/UserControllerTest.cs
Labels: enhancement

#110 Fixing docker build issue
  backend/Dockerfile
  backend/api/Startup.cs
  backend/api/appsettings.json
  backend/dal/Services/Concrete/UserService.cs
  backend/tests/core/DatabaseHelper.cs
  backend/tests/core/Entities/BuildingHelper.cs
  backend/tests/core/Entities/BuildingOccupantTypeHelper.cs
Labels: bug

#116 PIMS-1514 Adding Parcel.Municipality
  backend/api/Areas/Admin/Models/Parcel/ParcelModel.cs
  backend/api/Areas/Admin/Profiles/Parcel/ParcelProfile.cs
  backend/api/Areas/Tools/Models/Import/ParcelModel.cs
  backend/api/Areas/Tools/Profiles/Import/ParcelProfile.cs
  backend/api/Models/Parcel/ParcelModel.cs
  backend/api/Profiles/Parcel/ParcelProfile.cs
  backend/dal/Configuration/ParcelConfiguration.cs
  backend/dal/Migrations/20200408145728_Initial.Designer.cs
  backend/dal/Migrations/20200408145728_Initial.cs
  backend/dal/Migrations/PIMSContextModelSnapshot.cs
  backend/entities/Parcel.cs
  backend/tests/unit/api/Controllers/Admin/ParcelControllerTest.cs
  backend/tests/unit/api/Controllers/ParcelControllerTest.cs
  backend/tests/unit/dal/Migrations/MigrationTest.cs
Labels: Requires DB Refresh, bug, enhancement

#122 Fix frontend container crash
  docker-compose.yml
  frontend/Dockerfile
Labels: dependencies

#125 Removing HealthCheckUI from API.
  backend/api/Startup.cs
  scripts/gen-env-files.sh
Labels: bug

#130 Enable keycloak scripts in dev env file
  auth/README.md
  scripts/gen-env-files.sh
Labels: bug

#132 PIMS-1507 Fixing /api/properties municipality filter
  backend/api/Models/Property/PropertyFilterModel.cs
Labels: bug

#140 Fix /auth/activate endpoint
  backend/dal/Helpers/Extensions/IdentityExtensions.cs
  backend/dal/Services/Concrete/UserService.cs
Labels: bug

#141 PIMS-1419 Updating navigation.
  auth/README.md
  auth/keycloak/README.md
  auth/keycloak/config/realm-export.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/PrivateRoute.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/navigation/AppNavBar.tsx
  frontend/src/components/navigation/Header.tsx
  frontend/src/components/navigation/__snapshots__/Header.test.tsx.snap
  frontend/src/constants/claims.ts
  frontend/src/constants/roles.ts
  frontend/src/constants/strings.tsx
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/hooks/useKeycloakWrapper.tsx
  frontend/src/pages/Administration.test.tsx
  frontend/src/pages/Administration.tsx
  frontend/src/pages/Login.test.tsx
  frontend/src/pages/SubmitProperty.test.tsx
  frontend/src/pages/__snapshots__/Administration.test.tsx.snap
  frontend/src/pages/__snapshots__/SubmitProperty.test.tsx.snap
Labels: enhancement

#143 PIMS-1419 Fixing secure routes
  frontend/src/App.tsx
  frontend/src/PrivateRoute.tsx
  frontend/src/hooks/useKeycloakWrapper.tsx
Labels: bug

#148 PIMS-1419 Fixing navigation
  frontend/src/App.tsx
  frontend/src/PrivateRoute.tsx
Labels: bug

#149 PIMS-1419 Navigation tests
  frontend/src/components/navigation/AppNavBar.test.tsx
  frontend/src/components/navigation/AppNavBar.tsx
  frontend/src/components/navigation/__snapshots__/AppNavBar.test.tsx.snap
  frontend/src/pages/SubmitProperty.test.tsx
  frontend/src/pages/__snapshots__/SubmitProperty.test.tsx.snap
Labels: enhancement

#150 PIMS-1401,1402,1464 add RAEG/SPP to buildings.
  backend/api/Mapping/Building/BuildingMap.cs
  backend/api/Models/Building/BuildingModel.cs
  backend/api/Models/Building/PartialBuildingModel.cs
  backend/tests/core/Entities/BuildingHelper.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  frontend/src/actions/parcelsActions.tsx
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/common/form/InputGroup.tsx
  frontend/src/components/common/form/TextArea.tsx
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/components/maps/MapFilterBar.test.tsx
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/__snapshots__/ParcelPopupView.test.tsx.snap
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/__snapshots__/MapProperties.test.tsx.snap
  frontend/src/contexts/authStateContext.tsx
  frontend/src/forms/ParcelDetailForm.scss
  frontend/src/forms/ParcelDetailForm.test.tsx
  frontend/src/forms/ParcelDetailForm.tsx
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/forms/subforms/BuildingForm.tsx
  frontend/src/forms/subforms/EvaluationForm.tsx
  frontend/src/forms/subforms/LandForm.tsx
  frontend/src/forms/subforms/PidPinForm.tsx
  frontend/src/mocks/filterDataMock.ts
  frontend/src/pages/Login.test.tsx
  frontend/src/pages/SubmitProperty.test.tsx
  frontend/src/reducers/parcelsReducer.spec.tsx
  frontend/src/utils/testUtils.tsx
Labels: bug, enhancement

#151 PIMS-1446 Implement Landing Page changes
  README.md
  frontend/src/App.scss
  frontend/src/App.tsx
  frontend/src/assets/images/logo-banner.svg
  frontend/src/assets/images/profile.svg
  frontend/src/components/common/icons/index.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.scss
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/components/layout/Footer/Footer.scss
  frontend/src/components/layout/Footer/Footer.tsx
  frontend/src/components/layout/Header/Header.scss
  frontend/src/components/layout/Header/Header.test.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/Header/__snapshots__/Header.test.tsx.snap
  frontend/src/components/layout/index.ts
  frontend/src/components/maps/BasemapToggle.scss
  frontend/src/components/maps/MapFilterBar.scss
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/components/maps/leaflet/Map.scss
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/navigation/Footer.scss
  frontend/src/components/navigation/Footer.tsx
  frontend/src/components/navigation/Header.scss
  frontend/src/components/navigation/__snapshots__/Header.test.tsx.snap
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/index.tsx
  frontend/src/layouts/AuthLayout.tsx
  frontend/src/layouts/PublicLayout.scss
  frontend/src/layouts/PublicLayout.tsx
  frontend/src/pages/MapView.scss
  frontend/src/pages/__snapshots__/AccessRequestPage.test.tsx.snap
  frontend/src/pages/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/router.tsx
  frontend/src/utils/AppRoute.tsx
  frontend/src/utils/PrivateRoute.tsx
Labels: enhancement

#153 PIMS-1431 Municipality Filter Unit Tests
  backend/api/Controllers/PropertyController.cs
  backend/api/Models/Property/PropertyFilterModel.cs
  backend/dal/Configuration/Views/PropertyConfiguration.cs
  backend/dal/Helpers/Extensions/BuildingExtensions.cs
  backend/dal/Migrations/Initial/PostDeploy/01-ViewProperties.sql
  backend/dal/Pims.Dal.csproj
  backend/entities/Models/AllPropertyFilter.cs
  backend/entities/Models/BuildingFilter.cs
  backend/tests/unit/api/Controllers/Admin/ParcelControllerTest.cs
  backend/tests/unit/api/Controllers/Admin/RoleControllerTest.cs
  backend/tests/unit/api/Controllers/Admin/UserControllerTest.cs
  backend/tests/unit/api/Controllers/BuildingControllerTest.cs
  backend/tests/unit/api/Controllers/Keycloak/RoleControllerTest.cs
  backend/tests/unit/api/Controllers/Keycloak/UserControllerTest.cs
  backend/tests/unit/api/Controllers/LookupControllerTest.cs
  backend/tests/unit/api/Controllers/ParcelControllerTest.cs
  backend/tests/unit/api/Controllers/PropertyControllerTest.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  backend/tests/unit/api/Controllers/UserControllerTest.cs
  backend/tests/unit/api/Helpers/ExceptionExtensionsTest.cs
  backend/tests/unit/api/Helpers/HttpResponseMessageExtensionsTest.cs
  backend/tests/unit/api/Routes/Admin/ParcelControllerTest.cs
  backend/tests/unit/api/Routes/Admin/UserControllerTest.cs
  backend/tests/unit/api/Routes/BuildingControllerTest.cs
  backend/tests/unit/api/Routes/Keycloak/UserControllerTest.cs
  backend/tests/unit/api/Routes/ParcelControllerTest.cs
  backend/tests/unit/api/Routes/PropertyControllerTest.cs
  backend/tests/unit/api/Routes/UserControllerTest.cs
  backend/tests/unit/dal/Migrations/MigrationTest.cs
  backend/tests/unit/dal/Services/Admin/ParcelServiceTest.cs
  backend/tests/unit/dal/Services/BuildingServiceTest.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  backend/tests/unit/dal/Services/PropertyServiceTest.cs
Labels: enhancement

#154 PIMS-1541 Adding Excel Export Report
  backend/api/Areas/Property/Controllers/SearchController.cs
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Areas/Property/Models/Search/PropertyFilterModel.cs
  backend/api/Areas/Property/Models/Search/PropertyModel.cs
  backend/api/Areas/Reports/Controllers/PropertyController.cs
  backend/api/Areas/Reports/Mapping/Property/PropertyMap.cs
  backend/api/Areas/Reports/Models/Property/PropertyModel.cs
  backend/api/Controllers/LookupController.cs
  backend/api/Helpers/Constants/ContentTypes.cs
  backend/api/Helpers/Reporting/ReportHelper.cs
  backend/core/Helpers/CsvHelper.cs
  backend/core/Helpers/XmlHelper.cs
  backend/core/Pims.Core.csproj
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Services/Concrete/PropertyService.cs
  backend/dal/Services/IPropertyService.cs
  backend/entities/PropertyTypes.cs
  backend/entities/Views/Property.cs
  backend/tests/unit/api/Controllers/Property/SearchControllerTest.cs
  backend/tests/unit/api/Controllers/Reports/PropertyControllerTest.cs
  backend/tests/unit/api/Routes/Property/SearchControllerTest.cs
  backend/tests/unit/api/Routes/Reports/PropertyControllerTest.cs
  backend/tests/unit/dal/Services/PropertyServiceTest.cs
  frontend/src/constants/API.tsx
  frontend/src/pages/Test.tsx
  frontend/src/router.tsx
  frontend/src/utils/download.tsx
Labels: enhancement

#156 Test Coverage
  backend/tests/README.md
  backend/tests/core/Entities/AccessRequestHelper.cs
  backend/tests/core/Pims.Core.Test.csproj
  backend/tests/unit/api/Pims.Api.Test.csproj
  backend/tests/unit/dal/Pims.Dal.Test.csproj
  test/Postman/pims-api-collection.json
Labels: documentation, enhancement

#161 Improve lint and formatting automation
  frontend/.eslintignore
  frontend/.prettierignore
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, enhancement

#163 PIMS-1625 Fixing /api/buildilng/{id} endpoint
  backend/api/Mapping/Building/BuildingMap.cs
  backend/api/Models/Building/BuildingModel.cs
  backend/tests/core/Entities/BuildingHelper.cs
  backend/tests/core/Entities/ParcelHelper.cs
  backend/tests/unit/api/Mapping/BuildingControllerMapTest.cs
  backend/tests/unit/api/Mapping/ParcelControllerMapTest.cs
  backend/tests/unit/dal/Services/Admin/ParcelServiceTest.cs
  backend/tests/unit/dal/Services/BuildingServiceTest.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  backend/tests/unit/dal/Services/PropertyServiceTest.cs
Labels: bug

#166 PIMS-1318
  frontend/src/App.tsx
  frontend/src/OnLoadActions.tsx
  frontend/src/components/common/ErrorModal.tsx
  frontend/src/components/common/FormikPersist.tsx
  frontend/src/components/common/GenericModal.tsx
  frontend/src/forms/ParcelDetailForm.test.tsx
  frontend/src/forms/ParcelDetailForm.tsx
  frontend/src/pages/SubmitProperty.scss
  frontend/src/pages/SubmitProperty.tsx
  frontend/src/setupTests.ts
  frontend/src/utils/storageUtils.ts
Labels: enhancement

#167 Bug fix - view/update on building markers
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/pages/SubmitProperty.tsx
Labels: bug

#169 PIMS-1634 Refine Landing Page Search Bar
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/assets/images/icon-search.svg
  frontend/src/components/common/form/Button.scss
  frontend/src/components/common/form/Button.tsx
  frontend/src/components/common/form/Field.tsx
  frontend/src/components/common/form/InputGroup.scss
  frontend/src/components/common/form/InputGroup.tsx
  frontend/src/components/common/form/Select.tsx
  frontend/src/components/maps/MapFilterBar.scss
  frontend/src/components/maps/MapFilterBar.test.tsx
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/index.tsx
  frontend/src/utils/utils.tsx
Labels: enhancement

#170 PIMS-1342 Property Detail form validation.
  backend/api/Mapping/Parcel/ParcelBuildingMap.cs
  backend/api/Mapping/Parcel/ParcelMap.cs
  frontend/src/OnLoadActions.tsx
  frontend/src/components/common/FormikPersist.tsx
  frontend/src/forms/ParcelDetailForm.scss
  frontend/src/forms/ParcelDetailForm.tsx
  frontend/src/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/forms/subforms/BuildingForm.tsx
  frontend/src/forms/subforms/LandForm.tsx
  frontend/src/forms/subforms/PidPinForm.tsx
  frontend/src/pages/SubmitProperty.scss
  frontend/src/utils/YupSchema.tsx
Labels: Requires DB Refresh, enhancement

#172 PIMS-1684 Fixing Manage Access Requests Issue
  backend/dal.keycloak/Partials/PimsKeycloakUserService.cs
  backend/tools/keycloak/sync/Factory.cs
  backend/tools/keycloak/sync/Models/BaseModel.cs
  backend/tools/keycloak/sync/Models/ClaimModel.cs
  backend/tools/keycloak/sync/Models/Keycloak/ClientModel.cs
  backend/tools/keycloak/sync/Models/Keycloak/GroupModel.cs
  backend/tools/keycloak/sync/Models/Keycloak/RoleModel.cs
  backend/tools/keycloak/sync/Models/Keycloak/TokenModel.cs
  backend/tools/keycloak/sync/Models/Keycloak/UserModel.cs
  backend/tools/keycloak/sync/Models/PageModel`.cs
  backend/tools/keycloak/sync/Models/RoleModel.cs
  backend/tools/keycloak/sync/OpenIdConnector.cs
  backend/tools/keycloak/sync/SyncOptions.cs
  backend/tools/keycloak/sync/appsettings.json
Labels: bug

#173 PIMS-1684 Resolving keycloak integration bug
  backend/dal.keycloak/Partials/PimsKeycloakUserService.cs
Labels: bug

#174 PIMS-1427 Property List View Search
  backend/api/Areas/Keycloak/Mapping/User/UserMap.cs
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Areas/Property/Models/Search/PropertyModel.cs
  backend/api/Mapping/Building/BuildingMap.cs
  backend/dal/Configuration/Views/PropertyConfiguration.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Migrations/Initial/PostDeploy/01-ViewProperties.sql
  backend/dal/Services/Concrete/PropertyService.cs
  backend/dal/Services/IPropertyService.cs
  backend/entities/Models/AllPropertyFilter.cs
  backend/entities/Views/Property.cs
  backend/tests/core/TestHelper.cs
  backend/tests/unit/api/Controllers/Property/SearchControllerTest.cs
  backend/tests/unit/dal/Services/PropertyServiceTest.cs
Labels: Requires DB Refresh, bug, enhancement
