Repository bcgov/PIMS, pull requests merged in 2020-10, with the labels that each got.

#521 Pa 857
  frontend/src/components/common/GenericModal.tsx
  frontend/src/customAxios.ts
  frontend/src/features/admin/access/ManageAccessRequests.test.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/access/constants/constants.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/admin/users/components/RowActions.tsx
  frontend/src/features/admin/users/constants/index.tsx
Labels: bug

#522 Updating backup docs and config
  openshift/templates/backup/README.md
  openshift/templates/backup/backup-config-deploy.json
  openshift/templates/backup/backup-config-deploy.yaml
  openshift/templates/backup/backup.conf
Labels: documentation

#524 PA-924 Fix zoom on cluster click
  frontend/package-lock.json
  frontend/src/components/maps/leaflet/mapUtils.tsx
Labels: bug

#523 Popup for deleting building
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.test.tsx
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: enhancement

#525 pa-201 Updating setup script
  Makefile
  scripts/gen-env-files.sh
Labels: bug, enhancement

#529 PA-936 Settings up basic prometheus and grafana in the tools project
  backend/api/Pims.Api.csproj
  backend/api/Startup.cs
  openshift/README.md
  openshift/templates/monitoring/README.md
  openshift/templates/monitoring/grafana-template.yml
  openshift/templates/monitoring/prometheus-template.yml
Labels: documentation, enhancement

#526 Parcel Detail form fixes - update evaluations to use react table. Highlight page errors.
  frontend/src/components/Table/Table.tsx
  frontend/src/components/common/WrappedPaginate.tsx
  frontend/src/components/common/form/FastCurrencyInput.scss
  frontend/src/components/common/form/FastCurrencyInput.tsx
  frontend/src/features/properties/components/GeocoderAutoComplete.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.scss
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/BuildingForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/DebouncedValidation.tsx
  frontend/src/features/properties/components/forms/subforms/EvaluationCols.tsx
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.tsx
  frontend/src/features/properties/components/forms/subforms/PaginatedFormErrors.tsx
  frontend/src/features/properties/components/forms/subforms/SumFinancialsForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/SumFinancialsForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/utils/YupSchema.ts
Labels: bug, enhancement

#534 Use Pims colors in toasts.
  frontend/src/App.scss
  frontend/src/constants/toasts.ts
Labels: enhancement

#531 PA-240 Ensure consistent display of user name.
  frontend/src/components/layout/AppNavBar/AppNavBar.test.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
Labels: enhancement

#533 PA-936 Adding route to API Prometheus metrics
  openshift/templates/monitoring/prometheus-template.yml
  openshift/templates/pims-routes/api-routes.yaml
Labels: enhancement

#535 Create media breakpoints for dispose project stepper.
  frontend/src/components/common/Stepper.scss
  frontend/src/features/projects/dispose/ProjectDisposeView.scss
Labels: enhancement

#536 React Table filter paging fix, reset to page 0 when filter changes.
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/TablePagination.tsx
  frontend/src/features/admin/users/ManageUsersPage.tsx
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: enhancement

#539 PA-982 Config API to send logs to Elasticsearch
  backend/api/Helpers/Logging/LoggerExtension.cs
  backend/api/Pims.Api.csproj
  backend/api/Program.cs
  backend/api/Startup.cs
  backend/api/appsettings.Development.json
  backend/api/appsettings.Test.json
  backend/api/appsettings.json
Labels: enhancement

#540 Merging db migrations for release
  backend/dal/Migrations/20200930210531_DisableRoles.Designer.cs
  backend/dal/Migrations/20200930210531_DisableRoles.cs
  backend/dal/Migrations/v01.00.01/Down/DisableRoles.sql
  backend/dal/Migrations/v01.00.01/Up/DisableRoles.sql
Labels: enhancement

#537 Sensitive property changes
  frontend/src/components/common/form/Check.scss
  frontend/src/constants/strings.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/strings.ts
  frontend/src/features/properties/components/forms/subforms/LandForm.tsx
  frontend/src/utils/testUtils.ts
Labels: enhancement

#544 fix tooltips in firefox.
  frontend/src/App.scss
Labels: bug

#545 v01.00.01 - hotfix
  Makefile
  frontend/package-lock.json
  frontend/src/App.scss
  frontend/src/components/layout/AppNavBar/AppNavBar.test.tsx
Labels: bug

#546 Reorganizing migration script implementation
  backend/dal/Helpers/Migrations/SeedMigration.cs
  backend/dal/Migrations/20200722193504_Initial.cs
  backend/dal/Migrations/20200925194028_v01.00.01.cs
  backend/dal/Migrations/Initial/Up/PostUp/01-Agencies.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-BuildingConstructionTypes.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-BuildingOccupantTypes.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-BuildingPredominantUses.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-Cities.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-Claims.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-NotificationTemplates.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-ProjectNumbers.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-ProjectRisks.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-ProjectStatus.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-PropertyClassifications.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-PropertyTypes.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-Provinces.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-Roles.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-Tasks.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-TierLevels.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-Users.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-ViewProperties.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-Workflow.sql
  backend/dal/Migrations/Initial/Up/PostUp/01-WorkflowProjectStatus.sql
  backend/dal/Migrations/Initial/Up/PostUp/02-ProjectStatusNotifications.sql
  backend/dal/Migrations/Initial/Up/PostUp/02-ProjectStatusTransitions.sql
  backend/dal/Migrations/Initial/Up/PostUp/02-RoleClaims.sql
  backend/dal/Migrations/v01.00.01/Down/PostDown/DisableRoles.sql
  backend/dal/Migrations/v01.00.01/Up/PostUp/DisableRoles.sql
Labels: bug, enhancement

#547 Correct time format in PIMS by converting times from utc to the user'…
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/admin/edit-user/EditUserPage.test.tsx
  frontend/src/features/admin/edit-user/EditUserPage.tsx
  frontend/src/features/admin/users/ManageUsers.test.tsx
  frontend/src/features/admin/users/ManageUsersPage.tsx
  frontend/src/utils/utils.ts
Labels: bug

#548 Minor display fixes to the parcel detail form and user management page.
  frontend/src/App.scss
  frontend/src/features/admin/users/ManageUsersPage.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.scss
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/utils/YupSchema.ts
Labels: bug

#550 Show appropriate buildings when 2+ folders open
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#551 PA-1033 Integrate PIMS API with Elastic Search and Kibana Logging
  backend/api/Helpers/Logging/LoggerExtension.cs
  backend/api/appsettings.json
  openshift/README.md
  openshift/templates/logging/README.md
  openshift/templates/logging/elasticsearch-template.yml
  openshift/templates/logging/kibana-template.yml
  openshift/templates/pims-api/deploy.yaml
Labels: enhancement

#552 PA-194
  frontend/src/components/common/form/SppButton.scss
  frontend/src/components/common/form/SppButton.tsx
  frontend/src/components/common/form/__snapshots__/SppButton.test.tsx.snap
  frontend/src/components/common/interfaces.ts
  frontend/src/components/maps/MapFilterBar.test.tsx
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/constants/reducerTypes.ts
  frontend/src/features/projects/dispose/forms/PropertyListViewSelect.test.tsx
  frontend/src/features/properties/list/FilterBar.test.tsx
  frontend/src/features/properties/list/FilterBar.tsx
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/hooks/useRouterFilter.test.tsx
  frontend/src/hooks/useRouterFilter.ts
  frontend/src/reducers/filterSlice.ts
  frontend/src/reducers/rootReducer.ts
  frontend/src/utils/YupSchema.ts
  frontend/tsconfig.json
Labels: bug, enhancement

#553 PA-980, 993
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationCols.tsx
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: enhancement

#555 PA-1077 Adding map layers control
  backend/api/Helpers/Logging/LoggerExtension.cs
  backend/api/Startup.cs
  frontend/package-lock.json
  frontend/src/components/maps/leaflet/Map.scss
  frontend/src/components/maps/leaflet/Map.tsx
Labels: enhancement

#556 Login page changes
  frontend/src/features/account/Login.scss
  frontend/src/features/account/Login.test.tsx
  frontend/src/features/account/Login.tsx
  frontend/src/features/account/__snapshots__/Login.test.tsx.snap
Labels: enhancement

#554 Timestamp on parcel detail view
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/api/Mapping/BaseMap.cs
  backend/api/Models/BaseModel.cs
  backend/dal/Migrations/20201016195846_correctAgencies.Designer.cs
  backend/dal/Migrations/20201016195846_correctAgencies.cs
  backend/dal/Migrations/correctAgencies/Down/correctAgencies.sql
  backend/dal/Migrations/correctAgencies/Up/correctAgencies.sql
  backend/dal/Services/Concrete/ParcelService.cs
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/LastUpdatedBy.test.tsx
  frontend/src/features/properties/components/LastUpdatedBy.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
Labels: bug

#559 PA-241 Access Request Page - Invalid Note
  frontend/src/utils/YupSchema.ts
Labels: bug

#562 PA-245/2476/247 Project draft validation
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/ProjectDraftForm.tsx
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
Labels: bug

#560 Parcel Detail View - Link to policy
  frontend/src/features/account/Login.scss
  frontend/src/features/account/Login.tsx
  frontend/src/features/account/__snapshots__/Login.test.tsx.snap
  frontend/src/features/projects/common/components/ManualLink.scss
  frontend/src/features/projects/common/components/ManualLink.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
Labels: enhancement

#564 Login page tweak
  frontend/src/features/account/Login.tsx
  frontend/src/features/account/__snapshots__/Login.test.tsx.snap
Labels: bug

#565 PA-1035 Integrating with Openshift authentication
  openshift/templates/monitoring/grafana-template.yml
Labels: enhancement

#557 pa-745 & pa-635 - Adding v01.01.00 migration
  Makefile
  backend/dal/Configuration/ProjectConfiguration.cs
  backend/dal/Migrations/20201016195846_correctAgencies.cs
  backend/dal/Migrations/20201023193301_v01.01.01.Designer.cs
  backend/dal/Migrations/20201023193301_v01.01.01.cs
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/entities/Project.cs
  backend/entities/ProjectSnapshot.cs
  scripts/db-migration.sh
Labels: enhancement

#567 PA-635 frontend spl reports feature, as well as permission changes to…
  frontend/src/App.scss
  frontend/src/components/common/GenericModal.tsx
  frontend/src/components/common/TooltipWrapper.tsx
  frontend/src/components/common/form/Button.scss
  frontend/src/components/common/form/FastDatePicker.tsx
  frontend/src/constants/claims.ts
  frontend/src/customAxios.ts
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/splReports/columns.tsx
  frontend/src/features/splReports/components/Backdrop.scss
  frontend/src/features/splReports/components/Backdrop.tsx
  frontend/src/features/splReports/components/ElipsisControls.scss
  frontend/src/features/splReports/components/ElipsisControls.tsx
  frontend/src/features/splReports/components/ReportControls.tsx
  frontend/src/features/splReports/components/ReportForm.tsx
  frontend/src/features/splReports/components/ReportList.tsx
  frontend/src/features/splReports/components/ReportListItem.tsx
  frontend/src/features/splReports/components/SplReportLayout.scss
  frontend/src/features/splReports/components/SplReportLayout.tsx
  frontend/src/features/splReports/containers/SplReportContainer.tsx
  frontend/src/features/splReports/hooks/useProjectSnapshotApi.ts
  frontend/src/features/splReports/hooks/useRouterReport.ts
  frontend/src/features/splReports/interfaces.ts
  frontend/src/router.tsx
  frontend/src/utils/utils.ts
Labels: enhancement

#566 Highlight active navigation item
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Mapping/Search/ProjectMap.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/api/Areas/Project/Models/Report/ProjectSnapshotModel.cs
  backend/api/Areas/Project/Models/Search/ProjectModel.cs
  backend/api/Areas/Reports/Mapping/Project/ProjectMap.cs
  backend/api/Areas/Reports/Models/Project/ProjectModel.cs
  backend/api/Areas/Tools/Mapping/Import/ProjectMap.cs
  backend/api/Areas/Tools/Models/Import/ProjectModel.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/tests/core/Entities/ProjectHelper.cs
  backend/tests/unit/dal/Helpers/Extensions/ProjectExtensionsTest.cs
  backend/tests/unit/dal/Services/BuildingServiceTest.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/components/layout/AppNavBar/AppNavBar.scss
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/ProjectFinancialTable.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/forms/AppraisalCheckListForm.tsx
  frontend/src/features/projects/common/forms/UpdateInfoForm.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/forms/splYupSchema.ts
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/SurplusPropertyInformationTab.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationCols.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: enhancement

#570 pa-1270 Fixing import property financials
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/dal/Services/Admin/IBuildingService.cs
  backend/dal/Services/Admin/IParcelService.cs
  backend/tests/unit/dal/Services/Admin/BuildingServiceTest.cs
  backend/tests/unit/dal/Services/Admin/ParcelServiceTest.cs
Labels: bug, enhancement

#571 Squashing DB migration v01.01.00
  backend/dal/Migrations/20201022154928_v01.01.00.cs
  backend/dal/Migrations/20201023193301_v01.01.01.Designer.cs
  backend/dal/Migrations/20201023193301_v01.01.01.cs
  backend/dal/Migrations/20201023222618_V01.01.02.Designer.cs
  backend/dal/Migrations/20201023222618_V01.01.02.cs
  backend/dal/Migrations/v01.01.00/Up/PreUp/v01.01.02.sql
Labels: enhancement

#572 quick fix for disposition values
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/ProjectFinancialTable.tsx
  frontend/src/features/projects/common/forms/UpdateInfoForm.test.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
Labels: bug

#573 Fix Check form control. Ensure that state is set correctly from formik.
  backend/dal/Services/Concrete/ProjectReportService.cs
  frontend/src/components/common/form/Check.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/components/layout/AppNavBar/__snapshots__/AppNavBar.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/dispose/components/__snapshots__/ExemptionRequest.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/DocumentationStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/splReports/components/AddReportControl.tsx
  frontend/src/features/splReports/components/ReportControls.tsx
  frontend/src/features/splReports/components/SplReportLayout.scss
  frontend/src/features/splReports/containers/SplReportContainer.tsx
  frontend/src/features/splReports/hooks/useRouterReport.ts
  frontend/src/router.tsx
Labels: bug

#574 Ensure that duplicate id/agencyId rows are not created in join table …
  backend/dal/Migrations/v01.01.00/Up/PreUp/v01.01.02.sql
Labels: bug

#576 Fixing import for untitled properties
  backend/dal/Services/Admin/Concrete/ParcelService.cs
Labels: bug

#578 Property Detail View - Geocoder PID Format
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
Labels: bug

#577 PA-635 Backend tests and related code fixes.
  backend/dal/Services/Concrete/ProjectReportService.cs
  backend/tests/core/Entities/ProjectReportHelper.cs
  backend/tests/core/Entities/ProjectSnapshotHelper.cs
  backend/tests/unit/api/Controllers/Project/ReportControllerTest.cs
  backend/tests/unit/dal/Services/ProjectReportServiceTest.cs
  frontend/src/App.scss
  frontend/src/features/splReports/components/ReportControls.tsx
  frontend/src/features/splReports/components/SplReportLayout.scss
Labels: bug, enhancement

#580 Removing duplicate make cmd
  Makefile
Labels: bug

#579 PA-1321/PA-1322 PIMS monitoring and logging deployment
  openshift/templates/logging/README.md
  openshift/templates/logging/logging.png
  openshift/templates/monitoring/README.md
  openshift/templates/monitoring/grafana-predefined-dashboard.yml
  openshift/templates/monitoring/grafana-template.yml
  openshift/templates/monitoring/pims-monitoring.png
Labels: enhancement
