Repository bcgov/PIMS, pull requests merged in 2020-12, with the labels that each got.

#635 Correct Sidebar closing animation and update valuation forms for parcel/building
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Areas/Property/Models/Search/PropertyModel.cs
  backend/entities/EvalutationKeys.cs
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/constants/evaluationKeys.ts
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingValuationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ValuationForm.scss
  frontend/src/features/mapSideBar/components/MapSideBarLayout.scss
  frontend/src/features/mapSideBar/components/MapSideBarLayout.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/BuildingForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/columns.tsx
  frontend/src/features/properties/map/MapView.scss
Labels: bug

#644 PA-1867 Modied CsvHelper to generate Excel
  backend/core/Helpers/CsvHelper.cs
  backend/tests/unit/dal/Core/Helpers/CsvHelperTest.cs
  backend/tests/unit/dal/Core/Helpers/XmlHelperTest.cs
Labels: enhancement

#642 PA-1905: Update Toast styling to match rest of site
  frontend/src/App.scss
  frontend/src/colors.scss
  frontend/src/features/properties/components/GeocoderAutoComplete.scss
Labels: enhancement

#646 PA-1516 integrate advanced layers component with leaflet
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.test.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersTree.tsx
  frontend/src/components/maps/leaflet/LayersControl/data.ts
  frontend/src/components/maps/leaflet/LayersControl/types.ts
  frontend/src/components/maps/leaflet/LeafletDraw/LeafletDraw.tsx
  frontend/src/components/maps/leaflet/Legend/LegendControl.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/splReports/containers/__snapshots__/SplReportContainer.test.tsx.snap
Labels: enhancement

#649 PA-1875 Removed cancelled projects from SPL report
  backend/dal/Services/Concrete/ProjectReportService.cs
Labels: bug

#650 Fixing deserializing null metadata
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Concrete/ProjectReportService.cs
  backend/dal/Services/Concrete/ProjectService.cs
Labels: bug

#652 Swap snapshot style to a format supported by jest-styled-components
  frontend/src/components/common/form/AutoCompleteText.test.tsx
  frontend/src/components/common/form/FastCurrencyInput.test.tsx
  frontend/src/components/common/form/__snapshots__/AutoCompleteText.test.tsx.snap
  frontend/src/components/common/form/__snapshots__/FastCurrencyInput.test.tsx.snap
  frontend/src/features/admin/agencies/EditAgencyPage.test.tsx
  frontend/src/features/admin/agencies/__snapshots__/EditAgencyPage.test.tsx.snap
  frontend/src/features/admin/edit-user/EditUserPage.test.tsx
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/features/admin/users/ManageUsers.test.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/projects/assess/steps/ReviewApproveStep.test.tsx
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/dispose/ProjectDisposeLayout.test.tsx
  frontend/src/features/projects/dispose/ProjectDisposeView.test.tsx
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeView.test.tsx.snap
  frontend/src/features/projects/dispose/components/ApprovalConfirmation.test.tsx
  frontend/src/features/projects/dispose/components/ExemptionRequest.test.tsx
  frontend/src/features/projects/dispose/components/__snapshots__/ApprovalConfirmation.test.tsx.snap
  frontend/src/features/projects/dispose/components/__snapshots__/ExemptionRequest.test.tsx.snap
  frontend/src/features/projects/dispose/forms/PropertyListViewSelect.test.tsx
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/ProjectDraftStep.test.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/list/ProjectApprovalRequest.test.tsx
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/BuildingForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.test.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/splReports/containers/SplReportContainer.test.tsx
  frontend/src/features/splReports/containers/__snapshots__/SplReportContainer.test.tsx.snap
Labels: enhancement

#651 PA-747: Direct IE user to use Edge, Chrome or Firefox
  frontend/src/features/account/IENotSupportedPage.test.tsx
  frontend/src/features/account/IENotSupportedPage.tsx
  frontend/src/features/account/Login.scss
  frontend/src/features/account/Login.tsx
  frontend/src/features/account/__snapshots__/IENotSupportedPage.test.tsx.snap
  frontend/src/router.tsx
Labels: enhancement

#654 PA-1875 Removed cancelled project form SPL Report
  backend/api/Areas/Reports/Controllers/ProjectController.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/entities/Models/ProjectFilter.cs
Labels: bug, enhancement

#655 PA-1741 Calculated Financial Values
  backend/api/Areas/Project/Mapping/Dispose/DisposalProjectMetadataMap.cs
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/entities/Models/DisposalProjectMetadata.cs
  backend/entities/NoteTypes.cs
  frontend/src/components/common/form/FastCurrencyInput.tsx
  frontend/src/components/common/form/FastInput.tsx
  frontend/src/components/common/form/Form.scss
  frontend/src/components/common/form/__snapshots__/FastCurrencyInput.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/ProjectFinancialTable.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/dispose/ProjectDisposeView.scss
  frontend/src/features/projects/dispose/steps/__snapshots__/DocumentationStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/spl/forms/CloseOutFinancialSummaryForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutFinancialsForm.tsx
  frontend/src/features/projects/spl/forms/splYupSchema.ts
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/CloseOutFormTab.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
Labels: enhancement

#656 PA-2035,1914: "Rentable Area" -> "Net Rentable Area", fix link
  frontend/src/constants/strings.tsx
  frontend/src/features/mapSideBar/components/MapSideBarLayout.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
Labels: enhancement

#645 New Agency Component
  frontend/src/components/SearchBar/ParentGroupedFilter.tsx
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/components/common/form/StepForm/__snapshots__/SteppedForm.test.tsx.snap
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/components/maps/MapFilterBar.scss
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/constants/classifications.ts
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/TenancyForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/TenancyForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/strings.ts
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/splReports/containers/__snapshots__/SplReportContainer.test.tsx.snap
  frontend/src/utils/utils.ts
Labels: alpha, enhancement

#658 PA-1977: Message for users who don't have permission to submit disposal projects
  frontend/src/features/admin/access-request/AccessRequestPage.tsx
  frontend/src/features/admin/access-request/__snapshots__/AccessRequestPage.test.tsx.snap
  frontend/src/features/projects/common/hooks/useStepForm.tsx
  frontend/src/features/projects/dispose/ProjectDisposeLayout.test.tsx
  frontend/src/features/projects/dispose/steps/ReviewProjectStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
Labels: enhancement

#660 PA-1678 Usage component and new classification component.
  frontend/src/components/common/Label.tsx
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandValuationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LeasedLandOwned.tsx
Labels: alpha, enhancement

#659 Multiselect + new filter functionality
  backend/dal/Migrations/Initial/Up/PostUp/01-Workflow.sql
  frontend/src/components/common/Label.tsx
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/components/maps/MapFilterBar.scss
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/utils/utils.ts
Labels: enhancement

#653 PA-645 adding ChesServiceCollectionTest
  backend/tests/unit/dal/Libraries/Ches/ChesServiceCollectionTest.cs
Labels: unit-tests

#661 PA-1701 Review page changes.
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/context.tsx
  frontend/src/components/common/form/StepForm/types.ts
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ValuationForm.scss
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
Labels: enhancement

#662 Quick tweaks and grammar
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
Labels: bug

#663 Some tests and double field description fix
  frontend/src/components/common/form/ParentSelect.test.tsx
  frontend/src/components/common/form/__snapshots__/ParentSelect.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/ClassificationForm.test.tsx.snap
  frontend/src/features/properties/components/forms/strings.ts
Labels: alpha, bug, unit-tests

#666 Add API to handle add associated buildings
  backend/api/Areas/Property/Controllers/BuildingController.cs
  backend/api/Areas/Property/Mapping/Building/BuildingMap.cs
  backend/api/Areas/Property/Models/Building/LeasedLandMetadataModel.cs
  backend/api/Areas/Property/Models/Parcel/BuildingParcelModel.cs
  backend/api/Areas/Property/Models/Parcel/ParcelModel.cs
  backend/dal/Helpers/Extensions/BuildingExtensions.cs
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/entities/Models/ParcelFilter.cs
  frontend/src/components/common/form/FastInput.tsx
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/context.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/constants/API.ts
  frontend/src/constants/actionTypes.ts
  frontend/src/constants/toasts.ts
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandOwnershipForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/hooks/useBuildingApi.tsx
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
  frontend/src/features/properties/components/forms/subforms/PidPinForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/PidPinForm.tsx
  frontend/src/features/properties/hooks/useGeocoder.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
  frontend/src/utils/YupSchema.ts
Labels: alpha, enhancement

#667 Removing Server Side Cache
  backend/api/Areas/Property/Controllers/SearchController.cs
Labels: bug

#665 Refactoring the Supercluster rendering for easy testing
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/PopupView.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/SelectedPropertyMarker/SelectedPropertyMarker.tsx
  frontend/src/components/maps/leaflet/Spiderfier.ts
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/utils/testUtils.ts
Labels: enhancement

#668 Integrate associate land form into workflow.
  backend/api/Areas/Property/Mapping/Building/BuildingMap.cs
  frontend/src/components/common/GenericModal.tsx
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
  frontend/src/features/properties/components/ParcelFormControls.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.test.tsx
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/containers/ParcelDetailContainer.tsx
  frontend/src/features/properties/containers/ParcelDetailFormContainer.tsx
  frontend/src/features/properties/hooks/useDraftMarkerSynchronizer.tsx
Labels: alpha, enhancement

#669 PA-1968: Group all Disposal Project links under one menu item
  frontend/src/App.scss
  frontend/src/components/layout/AppNavBar/AppNavBar.scss
  frontend/src/components/layout/AppNavBar/AppNavBar.test.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/components/layout/AppNavBar/__snapshots__/AppNavBar.test.tsx.snap
  frontend/src/features/properties/components/GeocoderAutoComplete.scss
Labels: enhancement

#673 Minor improvements to resolve memory issues
  backend/api/Areas/Property/Controllers/SearchController.cs
  backend/dal/Services/Concrete/PropertyService.cs
  backend/dal/Services/IPropertyService.cs
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
Labels: bug, enhancement

#670 @devinleighsmith PA-1793 Create new initial page to determine how many associated parcels there are.
  frontend/src/actionCreators/parcelsActionCreator.ts
  frontend/src/components/maps/hooks/useActiveFeatureLayer.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/reducers/parcelLayerDataSlice.ts
Labels: alpha, enhancement

#675 Unit tests and small tech debt
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingValuationForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/OccupancyForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/OccupancyForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/OccupancyForm.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/list/columns.tsx
  frontend/src/features/properties/components/GeocoderAutoComplete.scss
Labels: alpha, unit-tests

#672 PA-2141 Imported Projects Assign to Agency
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Admin/Concrete/ProjectService.cs
  backend/dal/Services/Admin/Concrete/ProjectStatusService.cs
  backend/tests/core/PrincipalHelper.cs
  backend/tests/core/ServiceHelper.cs
  backend/tests/core/TestHelper.cs
  backend/tests/core/TestHelperExtensions.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  backend/tests/unit/api/Routes/Tools/ImportControllerTest.cs
Labels: bug, enhancement

#677 PA-1740, 1771: Allow text boxes to expand, fix Net Book Value
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/ProjectLayout.scss
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/AppraisalCheckListForm.tsx
  frontend/src/features/projects/common/forms/ProjectDraftForm.tsx
  frontend/src/features/projects/common/forms/SelectProjectPropertiesForm.tsx
  frontend/src/features/projects/common/tabs/ProjectInformationTab.tsx
  frontend/src/features/projects/dispose/ProjectDisposeView.scss
  frontend/src/features/projects/dispose/steps/DocumentationStep.tsx
  frontend/src/features/projects/dispose/steps/ProjectDraftStep.tsx
  frontend/src/features/projects/dispose/steps/ReviewProjectStep.tsx
  frontend/src/features/projects/dispose/steps/UpdateInfoStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/DocumentationStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/list/columns.tsx
  frontend/src/features/projects/spl/forms/CloseOutAdjustmentForm.tsx
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.scss
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/SurplusPropertyInformationTab.tsx
Labels: enhancement

#676 UI enhancements from review with Bobbi.
  frontend/src/App.scss
  frontend/src/components/common/GenericModal.tsx
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/__snapshots__/SteppedForm.test.tsx.snap
  frontend/src/components/common/form/StepForm/context.tsx
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingValuationForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandOwnershipForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LeasedLandOther.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/OccupancyForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/ClassificationForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/OccupancyForm.test.tsx.snap
  frontend/src/features/mapSideBar/components/MapSideBarLayout.scss
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/columns.tsx
  frontend/src/features/properties/map/MapView.scss
Labels: alpha, enhancement

#680 PA-2114 Zoom to property when filtering on Map
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/providers/FIlterProvider.tsx
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/hooks/useApi.ts
Labels: enhancement

#682 PA-2234 Fixing map filter
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/mocks/filterDataMock.ts
Labels: bug

#683 PA-1929 Updating Project Risks
  auth/keycloak/config/realm-export.json
  backend/api/Controllers/LookupController.cs
  backend/api/Mapping/Lookup/LookupMap.cs
  backend/dal/Migrations/20201210213149_v01.05.00.Designer.cs
  backend/dal/Migrations/20201210213149_v01.05.00.cs
  backend/dal/Migrations/v01.05.00/Down/PostDown/01-ProjectRisks.sql
  backend/dal/Migrations/v01.05.00/Up/PostUp/01-ProjectRisks.sql
  backend/dal/Services/Concrete/LookupService.cs
  backend/dal/Services/ILookupService.cs
  frontend/src/components/common/form/FastSelect.tsx
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/ProjectLayout.scss
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/UpdateInfoForm.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
Labels: bug, enhancement

#678 PA-970,2198 Project List view fix filter order, remove SPL Report button
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
Labels: enhancement

#685 PA-2170 Add ApprovedForSplOn to proceed to SPL
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
Labels: enhancement

#679 Restrict stepper progress via form validation.
  frontend/src/components/common/GenericModal.tsx
  frontend/src/components/common/Stepper.tsx
  frontend/src/components/common/form/Check.scss
  frontend/src/components/common/form/InputGroup.tsx
  frontend/src/components/common/form/RadioButtonGroup.tsx
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/context.tsx
  frontend/src/components/common/form/StepForm/types.ts
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.scss
  frontend/src/features/properties/components/GeocoderAutoComplete.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.scss
  frontend/src/features/properties/components/forms/subforms/BuildingForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/utils/YupSchema.ts
Labels: alpha, enhancement

#686 PA-410 Adding serverside sorting for property list
  frontend/src/components/Table/ColumnSort.tsx
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/TableSort.ts
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/agencies/ManageAgencies.tsx
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/constants/index.tsx
  frontend/src/features/admin/users/ManageUsersPage.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/columns.tsx
  frontend/src/features/properties/service.ts
  frontend/src/hooks/useRouterFilter.test.tsx
  frontend/src/hooks/useRouterFilter.ts
  frontend/src/reducers/agencyReducer.tsx
  frontend/src/reducers/usersReducer.ts
  frontend/src/utils/utils.test.ts
  frontend/src/utils/utils.ts
Labels: enhancement

#689 PA-2185 Updated Remove from SPL
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/dal/Migrations/v01.03.00/Down/PostDown/01-ProjectNotes.sql
  backend/dal/Migrations/v01.03.00/Down/PreDown/01-ProjectNotes.sql
  backend/dal/Migrations/v01.03.00/Up/PostUp/01-ProjectNotes.sql
  backend/entities/Models/DisposalProjectMetadata.cs
  backend/entities/NoteTypes.cs
  frontend/src/constants/classifications.ts
  frontend/src/constants/index.ts
  frontend/src/constants/noteTypes.ts
  frontend/src/features/projects/common/forms/UpdateInfoForm.test.tsx
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.test.tsx
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.test.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/steps/GreTransferStep.test.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/spl/forms/CloseOutAdjustmentForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutFinancialSummaryForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutFinancialsForm.tsx
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/forms/splYupSchema.ts
  frontend/src/features/projects/spl/steps/SplStep.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/CloseOutFormTab.tsx
  frontend/src/features/projects/spl/tabs/SplTab.tsx
  frontend/src/features/projects/spl/tabs/SplTabs.tsx
Labels: enhancement

#688 Vertically stack search fields, seperate search from form logic on la…
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/hooks/useGeocoder.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
Labels: alpha, enhancement

#687 PA-2236 Cleaned Property Filter code
  frontend/src/constants/trueFalse.ts
  frontend/src/features/properties/filter/IPropertyFilter.ts
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/hooks/useMount.ts
  frontend/src/hooks/useRouterFilter.ts
Labels: enhancement

#691 PA-2190 Updated CHES Domain Name
  backend/api/ches.Development.json
  backend/api/ches.Local.json
  backend/api/ches.Test.json
  backend/api/ches.json
Labels: bug

#693 PA-2211 Added Documentation Note
  auth/keycloak/config/realm-export.json
  backend/entities/NoteTypes.cs
  frontend/src/constants/noteTypes.ts
  frontend/src/features/projects/assess/forms/ReviewApproveForm.tsx
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/forms/DocumentationForm.tsx
  frontend/src/features/projects/common/tabs/DocumentationTab.tsx
  frontend/src/features/projects/dispose/testUtils.ts
Labels: enhancement

#694 PA-2207 Renamed Appriasal Note Label
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/forms/AppraisalCheckListForm.tsx
  frontend/src/features/projects/common/forms/FirstNationsCheckListForm.tsx
Labels: enhancement

#696 ensure that useApi uses the current bearer token stored in memory.
  frontend/src/hooks/useApi.ts
Labels: bug

#692 Update land forms based on uxpin, as well as update to use new components
  backend/dal/Services/Concrete/BuildingService.cs
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingValuationForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandValuationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/hooks/useGeocoder.tsx
  frontend/src/utils/YupSchema.ts
Labels: alpha, enhancement

#695 PA-2202 Added Exemption Approved On
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/dal/Migrations/20201215161602_v01.05.01.Designer.cs
  backend/dal/Migrations/20201215161602_v01.05.01.cs
  backend/dal/Migrations/v01.05.01/Up/PostUp/01-Tasks.sql
  backend/dal/Services/Concrete/ProjectService.cs
  backend/entities/Models/DisposalProjectMetadata.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/features/projects/assess/forms/ReviewApproveForm.tsx
  frontend/src/features/projects/assess/steps/ReviewApproveStep.tsx
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
Labels: enhancement

#697 PA-1873 Added Fiscal Year Filter to Project List
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/entities/Models/ProjectFilter.cs
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
Labels: enhancement

#684 PA-2232 Export all land and buildings in one spreadsheet
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: enhancement

#700 PA-2175 Project Appraisal Update
  frontend/src/features/projects/common/tabs/DocumentationTab.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/spl/forms/CloseOutSaleInformationForm.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
Labels: enhancement

#703 Fixing map crashing and zoom to results after search
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#702 PA-2154 Fixed Project Import - Reporting
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/dal/Migrations/20201216222007_v01.05.02.Designer.cs
  backend/dal/Migrations/20201216222007_v01.05.02.cs
  backend/dal/Migrations/v01.05.02/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.05.02/Up/PostUp/01-ProjectStatusTransitions.sql
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
Labels: enhancement

#701 PA-1150 Login page redesign and other small fixes
  frontend/src/assets/images/SeasideBlue.png
  frontend/src/features/account/Login.scss
  frontend/src/features/account/Login.tsx
  frontend/src/features/account/__snapshots__/Login.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/dispose/components/ExemptionRequest.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: enhancement

#699 PA-2049 view/update land form.
  backend/dal/Services/Concrete/ParcelService.cs
  frontend/src/App.scss
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/StepperField.tsx
  frontend/src/components/common/form/StepForm/context.tsx
  frontend/src/components/common/form/StepForm/types.ts
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/__snapshots__/ParcelPopupView.test.tsx.snap
  frontend/src/components/maps/leaflet/__snapshots__/MapProperties.test.tsx.snap
  frontend/src/constants/propertySteps.ts
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedBuildingListForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedBuildingListForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/common/components/PropertyListViewUpdate.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/properties/columns.tsx
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
  frontend/src/features/properties/components/forms/subforms/columns.tsx
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/buildings/columns.tsx
  frontend/src/features/properties/list/columns.tsx
  frontend/src/features/properties/map/MapView.scss
  frontend/src/hooks/useApi.ts
  frontend/src/utils/YupSchema.ts
Labels: alpha, enhancement

#705 PA-2165 Fixed Interest from Enhanced Referral
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/api/Areas/Reports/Mapping/Project/SurplusPropertyListMap.cs
  backend/api/Areas/Reports/Models/Project/SurplusPropertyListModel.cs
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/api/Areas/Tools/Mapping/Import/ProjectMap.cs
  backend/api/Areas/Tools/Models/Import/ImportProjectModel.cs
  backend/api/Areas/Tools/Models/Import/ProjectModel.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/forms/DocumentationForm.tsx
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.scss
  frontend/src/features/projects/spl/forms/CloseOutAdjustmentForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutFinancialSummaryForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutFinancialsForm.tsx
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/CloseOutFormTab.tsx
  tools/converters/excel/appsettings.json
Labels: enhancement

#708 Added Assessed and Appraised to Close out Form
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/spl/forms/CloseOutPurchaseInformationForm.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
Labels: enhancement

#706 PA-1963 Populate details link only when submit inventory form open
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopUpContent.test.tsx
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopupContent.tsx
  frontend/src/components/maps/leaflet/LayerPopup/__snapshots__/LayerPopUpContent.test.tsx.snap
Labels: enhancement

#710 PA-1933 Updated SPL Report
  backend/api/Areas/Reports/Controllers/ProjectController.cs
  backend/api/Areas/Reports/Controllers/PropertyController.cs
  backend/api/Helpers/Reporting/ReportHelper.cs
  backend/core/Helpers/CsvHelper.cs
  backend/tests/unit/dal/Core/Helpers/CsvHelperTest.cs
  backend/tests/unit/dal/Core/Helpers/XmlHelperTest.cs
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/splReports/hooks/useProjectSnapshotApi.ts
  frontend/src/pages/Test.ignore.tsx
Labels: enhancement

#709 PA-2238 Replace ParentGroupedFilter with ParentSelect
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/features/admin/agencies/AgencyFilterBar.tsx
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/ManageUsers.test.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/admin/users/components/UsersFilterBar.tsx
Labels: enhancement

#698 Filterbar Revamp
  backend/api/Areas/Property/Controllers/SearchController.cs
  backend/api/Areas/Property/Models/Search/GeoJsonFilterModel.cs
  backend/api/Areas/Property/Models/Search/PropertyFilterModel.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/entities/Models/AllPropertyFilter.cs
  backend/entities/Models/BuildingFilter.cs
  backend/entities/Models/PropertyFilter.cs
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/components/common/form/Select.scss
  frontend/src/components/maps/FindMorePropertiesButton.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/constants/API.ts
  frontend/src/features/properties/filter/IPropertyFilter.ts
  frontend/src/features/properties/filter/PropertyFilter.scss
  frontend/src/features/properties/filter/PropertyFilter.test.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/PropertyFilterOptions.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: enhancement

#713 Fixed Disposal Project Status Transition
  frontend/src/features/projects/common/ApprovalTransitionPage.tsx
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/erp/steps/ErpStep.tsx
Labels: bug

#714 Filterbar revamp hotfix
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  frontend/src/components/maps/FindMorePropertiesButton.tsx
  frontend/src/features/properties/filter/PropertyFilter.scss
Labels: bug

#712 Help page
  frontend/src/features/help/components/HelpModal.tsx
  frontend/src/features/help/components/HelpSubmitBox.scss
  frontend/src/features/help/components/text/AssesDisposalProjectText.tsx
  frontend/src/features/help/components/text/CreateDisposalNavigationHelpText.tsx
  frontend/src/features/help/components/text/DisposalStepsHelpText.tsx
  frontend/src/features/help/components/text/ProjectAssessmentNotesHelpText.tsx
  frontend/src/features/help/constants/HelpText.tsx
  frontend/src/features/help/containers/HelpModalContentContainer.tsx
  frontend/src/features/help/interfaces.tsx
Labels: bug, enhancement

#715 Fixed SPL form error
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/spl/forms/CloseOutFinancialSummaryForm.tsx
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
Labels: bug

#716 Updating sso domain name
  openshift/MULTIPLE_INSTANCES.md
  openshift/templates/pims-api/deploy.yaml
  openshift/templates/pims-app/deploy.yaml
  openshift/templates/resources/api-sso-configMap.yaml
  openshift/templates/resources/app-sso-configMap.yaml
  tools/import/README.md
  tools/import/appsettings.Development.json
  tools/import/appsettings.Test.json
  tools/import/appsettings.json
  tools/keycloak/sync/appsettings.development.json
  tools/keycloak/sync/appsettings.json
  tools/keycloak/sync/appsettings.test.json
Labels: enhancement

#717 Changes to the AppNavBar test and .tsx files
  frontend/src/components/layout/AppNavBar/AppNavBar.test.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/components/layout/AppNavBar/__snapshots__/AppNavBar.test.tsx.snap
Labels: enhancement

#719 Correct map not using bounds to filter api response.
  backend/api/Areas/Property/Controllers/SearchController.cs
  backend/entities/Models/AllPropertyFilter.cs
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
Labels: bug

#720 PA-2303, PA-2304, PA-2305, PA-2307, PA-2306, PA-2308
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/components/common/form/StepForm/context.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
  frontend/src/features/properties/components/GeocoderAutoComplete.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/hooks/useDraftMarkerSynchronizer.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/reducers/parcelsReducer.ts
  frontend/src/utils/YupSchema.ts
Labels: alpha, bug

#725 PA-1923,2229 Tenancy updates, sq m (dev)
  frontend/src/features/properties/components/forms/subforms/BuildingForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
Labels: enhancement

#724 PA-1923 Update Tenancy/Occupancy pages
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/OccupancyForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/OccupancyForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/OccupancyForm.test.tsx.snap
  frontend/src/features/mapSideBar/components/MapSideBarLayout.scss
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
Labels: alpha, enhancement

#728 ERP/SPP checkboxes for filter
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/properties/filter/IPropertyFilter.ts
Labels: bug

#729 Fix broken SPP link on popup
  frontend/src/components/maps/ParcelPopupView.test.tsx
  frontend/src/components/maps/ParcelPopupView.tsx
Labels: bug

#721 PA-296 Search Property Filter by Municipality
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/components/maps/FindMorePropertiesButton.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/properties/filter/PropertyFilter.scss
  frontend/src/features/properties/filter/PropertyFilter.test.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/PropertyFilterOptions.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/mocks/filterDataMock.ts
Labels: enhancement

#730 PA-2340 Change "Net Rentable Area" to "Net Usable Area"
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/OccupancyForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/OccupancyForm.test.tsx.snap
Labels: alpha, enhancement

#734 PA-2297 Filter Bar Sizing
  frontend/src/colors.scss
  frontend/src/features/properties/filter/PropertyFilter.scss
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/map/MapView.tsx
Labels: enhancement

#726 PA-2327 Update "Find Available Properties" button styling
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/features/properties/filter/PropertyFilter.scss
Labels: enhancement

#727 PA-2336, 2319 View/Update Associated Land text fixes
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedBuildingListForm.tsx
Labels: alpha, enhancement

#731 PA-2340 Change "Net Rentable Area" to "Net Usable Area" (dev)
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
Labels: enhancement

#735 PA-1954 Added Name to Property List View
  COMPLIANCE.yaml
  backend/api/Areas/Reports/Mapping/Property/PropertyMap.cs
  backend/api/Areas/Reports/Models/Property/PropertyModel.cs
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/columns.tsx
  frontend/src/features/properties/list/interfaces.ts
Labels: enhancement

#733 PA-2255 Enhanced Referral Process Agency Responses
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Concrete/ProjectService.cs
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/features/projects/common/components/FormikTable.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/erp/forms/AgencyInterest.tsx
  frontend/src/features/projects/erp/forms/AgencyInterestColumns.tsx
  frontend/src/features/projects/erp/forms/AgencyResponseForm.tsx
  frontend/src/features/projects/erp/steps/ErpStep.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/EnhancedReferralTab.test.tsx
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
Labels: enhancement

#736 PA-2246 Merging DB Migrations
  backend/dal/Migrations/20201215161602_v01.05.01.Designer.cs
  backend/dal/Migrations/20201215161602_v01.05.01.cs
  backend/dal/Migrations/20201216222007_v01.05.02.Designer.cs
  backend/dal/Migrations/20201216222007_v01.05.02.cs
  backend/dal/Migrations/v01.05.00/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.05.00/Up/PostUp/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.05.00/Up/PostUp/01-Tasks.sql
  backend/dal/Migrations/v01.05.00/Up/PostUp/02-Agencies.sql
  tools/converters/excel/appsettings.json
Labels: enhancement

#737 fix format
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
Labels: bug

#732 Only SRES can select Disposed classification
  frontend/src/components/common/form/ParentSelect.scss
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
  frontend/src/features/properties/filter/PropertyFilter.scss
Labels: bug

#738 Hotfix for OccupantId error
  frontend/src/features/properties/containers/ParcelDetailFormContainer.tsx
  frontend/src/utils/YupSchema.ts
Labels: bug

#739 Classification - remove disposed from non-sres
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
Labels: bug
