Repository bcgov/PIMS, pull requests merged in 2020-07, with the labels that each got.

#382 PIMS-2816 DevOps - Add SonarQube to pipeline
  frontend/package-lock.json
  frontend/package.json
  frontend/sonar-project.properties
  openshift/pipelines/Jenkinsfile.cicd
  openshift/pipelines/Jenkinsfile.test-to-prod
  openshift/pipelines/scripts/common.groovy
Labels: bug, enhancement

#386 Fixing keycloak sync error
  backend/api/Areas/Admin/Controllers/AgencyController.cs
  backend/api/Areas/Admin/Mapping/Agency/AgencyMap.cs
  backend/api/Areas/Admin/Models/Agency/AgencyModel.cs
  backend/dal/Security/Permissions.cs
  backend/dal/Services/Admin/Concrete/AgencyService.cs
  backend/dal/Services/Admin/IAgencyService.cs
  backend/tools/keycloak/sync/Models/UserModel.cs
  backend/tools/keycloak/sync/Pims.Tools.Keycloak.Sync.csproj
  backend/tools/keycloak/sync/SyncFactory.cs
Labels: bug, enhancement

#389 Agency fix, preliminary GRE exemption transfer
  frontend/src/components/common/form/AutoCompleteText.tsx
  frontend/src/features/projects/erp/steps/GreTransferStep.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/LandForm.tsx
Labels: bug

#390 PIMS-2816 Add SonarQube to pipeline
  frontend/.gitignore
  openshift/pipelines/Jenkinsfile.cicd
  openshift/pipelines/scripts/common.groovy
  openshift/player.sh
  openshift/scripts/common.sh
  openshift/scripts/oc-sonar-dotnet.sh
  openshift/scripts/oc-sonar-scan.sh
Labels: devops, enhancement

#391 PIMS-2721 Add to SPL status change.
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/features/projects/common/ProjectRouter.tsx
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/common/components/PropertyListViewUpdate.tsx
  frontend/src/features/projects/common/forms/AppraisalCheckListForm.tsx
  frontend/src/features/projects/common/hooks/useProject.tsx
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/dispose/hooks/stepperContext.tsx
  frontend/src/features/projects/dispose/hooks/useStepper.ts
  frontend/src/features/projects/dispose/hooks/useTable.ts
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/steps/ApprovalStep.test.tsx
  frontend/src/features/projects/erp/steps/ApprovalStep.tsx
  frontend/src/features/projects/erp/tabs/EnhancedReferralTab.tsx
  frontend/src/router.tsx
Labels: enhancement

#397 Extending timeout for tests
  openshift/pipelines/Jenkinsfile.cicd
Labels: bug

#399 Fixing CHES integration environment config
  openshift/templates/pims-api/deploy.yaml
Labels: bug, enhancement

#400 PIMS-1984 Fixing fetch template permission
  backend/api/Areas/Notification/Controllers/QueueController.cs
  backend/dal/Services/Concrete/NotificationQueueService.cs
  backend/dal/Services/Concrete/NotificationTemplateService.cs
Labels: bug

#402 PIMS-1984 Removing empty values from email
  backend/ches/ChesService.cs
  backend/core/Extensions/EnumerableExtensions.cs
Labels: bug

#401 Exemption Approve Bug Fix
  frontend/src/features/projects/assess/forms/ReviewApproveForm.tsx
  frontend/src/features/projects/assess/steps/ReviewApproveStep.tsx
Labels: bug

#403 PIMS-2753 ERP Exemption - Approved form
  backend/dal/Migrations/Initial/PostDeploy/02-ProjectStatusTransitions.sql
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeView.test.tsx.snap
  frontend/src/features/projects/erp/forms/ApprovalForm.tsx
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.scss
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.test.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/ApprovalStep.tsx
  frontend/src/features/projects/erp/tabs/EnhancedReferralTab.tsx
Labels: enhancement

#404 Excel Exports and Preliminary SPP Filter Setup
  backend/api/Areas/Property/Models/Search/PropertyFilterModel.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/entities/Models/PropertyFilter.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/assets/images/SPP.svg
  frontend/src/assets/images/marker-icon-2x-red.png
  frontend/src/assets/images/marker-icon-2x-violet.png
  frontend/src/components/common/form/SppButton.scss
  frontend/src/components/common/form/SppButton.tsx
  frontend/src/components/maps/MapFilterBar.test.tsx
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/constants/API.ts
  frontend/src/constants/actionTypes.ts
  frontend/src/constants/reducerTypes.ts
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectsActionCreator.ts
  frontend/src/features/projects/common/slices/projectStatusesSlice.ts
  frontend/src/features/projects/list/ProjectListView.scss
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/reducers/rootReducer.ts
  frontend/src/utils/utils.ts
Labels: enhancement

#398 PIMS-2817 Add ZAP to pipeline
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  openshift/pipelines/Jenkinsfile.cicd
  openshift/scripts/oc-sonar-scan.sh
  openshift/templates/jenkins-slaves/jenkins-slave-config-map.yaml
Labels: devops, enhancement

#410 Fixing unit test
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
Labels: bug

#408 SPP Filter, EXE->GRE, EXE->SPL
  frontend/src/components/common/form/SppButton.tsx
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/features/projects/common/ApprovalTransitionPage.tsx
  frontend/src/features/projects/erp/steps/ErpStep.tsx
Labels: enhancement

#411 PIMS-1984 Adding tests
  backend/api/Areas/Project/Mapping/Search/ProjectPropertyMap.cs
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/api/Areas/Tools/Mapping/Import/ProjectAgencyResponseMap.cs
  backend/api/Areas/Tools/Mapping/Import/ProjectMap.cs
  backend/api/Areas/Tools/Mapping/Import/ProjectNoteMap.cs
  backend/api/Areas/Tools/Models/Import/ImportPropertyModel.cs
  backend/api/Areas/Tools/Models/Import/ProjectAgencyResponseModel.cs
  backend/api/Areas/Tools/Models/Import/ProjectModel.cs
  backend/api/Areas/Tools/Models/Import/ProjectNoteModel.cs
  backend/api/Startup.cs
  backend/core/Exceptions/HttpClientRequestException.cs
  backend/core/Extensions/IdentityExtensions.cs
  backend/core/Extensions/TypeExtensions.cs
  backend/core/Http/OpenIdConnectRequestClient.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/unit/api/Controllers/Project/WorkfowControllerTest.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  backend/tests/unit/api/Routes/Tools/ImportControllerTest.cs
Labels: enhancement

#407 PIMS-2630 agency interest component added to SPL or ERP.
  backend/api/Areas/Project/Mapping/Dispose/ProjectAgencyResponseMap.cs
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Models/Dispose/ProjectAgencyResponse.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/api/Areas/Reports/Mapping/Project/ProjectMap.cs
  backend/api/Areas/Reports/Mapping/Project/SurplusPropertyListMap.cs
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/api/Areas/Tools/Mapping/Import/ProjectMap.cs
  backend/api/Areas/Tools/Models/Import/ImportProjectModel.cs
  backend/dal/Configuration/ProjectAgencyResponseConfiguration.cs
  backend/dal/Configuration/ProjectConfiguration.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Migrations/20200713164527_Initial.Designer.cs
  backend/dal/Migrations/20200713164527_Initial.cs
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/entities/Project.cs
  backend/entities/ProjectAgencyResponse.cs
  backend/tests/core/Entities/ProjectHelper.cs
  backend/tests/core/ProjectAgencyResponseHelper.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/components/common/form/TextArea.tsx
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/FormikTable.tsx
  frontend/src/features/projects/common/components/ProjectNotes.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/hooks/useAgencyResponseTable.tsx
  frontend/src/features/projects/common/hooks/useStepForm.tsx
  frontend/src/features/projects/common/index.ts
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/dispose/ProjectDisposeView.scss
  frontend/src/features/projects/dispose/steps/ApprovalConfirmationStep.tsx
  frontend/src/features/projects/dispose/steps/DocumentationStep.tsx
  frontend/src/features/projects/dispose/steps/ProjectDraftStep.tsx
  frontend/src/features/projects/dispose/steps/ReviewProjectStep.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.tsx
  frontend/src/features/projects/dispose/steps/UpdateInfoStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/DocumentationStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/forms/AgencyResponseForm.tsx
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/steps/ErpStep.tsx
  frontend/src/features/projects/erp/steps/GreTransferStep.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/ErpTabs.tsx
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/SplStep.tsx
Labels: Requires DB Refresh, enhancement

#413 PIMS-2621 API - Integrate with DataBC Geocoder - PID
  .editorconfig
  backend/api/Areas/Tools/Controllers/GeocoderController.cs
  backend/api/Areas/Tools/Mapping/Geocoder/PidsMap.cs
  backend/api/Areas/Tools/Models/Geocoder/SitePidsResponseModel.cs
  backend/geocoder/GeocoderService.cs
  backend/geocoder/IGeocoderService.cs
  backend/geocoder/Models/SitePidsResponseModel.cs
  backend/tests/unit/api/Controllers/Tools/GeocoderControllerTest.cs
  backend/tests/unit/api/Routes/Tools/GeocoderControllerTest.cs
Labels: enhancement

#416 PIMS-1659 - ERP properties map filter, PIMS-1274 - Geocoder street ad…
  backend/api/Areas/Property/Controllers/SearchController.cs
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Areas/Property/Models/Search/PropertyFilterModel.cs
  backend/api/Areas/Property/Models/Search/PropertyModel.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/Concrete/PropertyService.cs
  backend/dal/Services/IPropertyService.cs
  backend/entities/Models/ProjectProperty.cs
  backend/entities/Models/PropertyFilter.cs
  backend/entities/Property.cs
  backend/tests/unit/api/Controllers/Property/SearchControllerTest.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/common/form/SppButton.tsx
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/components/maps/types.ts
  frontend/src/constants/API.ts
  frontend/src/features/projects/common/ApprovalTransitionPage.tsx
  frontend/src/features/properties/components/GeocoderAutoComplete.tsx
  frontend/src/features/properties/map/MapView.tsx
Labels: bug, enhancement

#420 PIMS-2790 SPL workflow tests.
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
Labels: enhancement

#421 low hanging fruit:
  frontend/src/buttons.scss
  frontend/src/features/projects/assess/forms/ReviewApproveForm.scss
  frontend/src/features/projects/common/ProjectRouter.tsx
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
Labels: enhancement

#418 PIMS-2888 (Reset Filter on Project List View)
  frontend/src/components/SearchBar/FilterBar.tsx
  frontend/src/components/common/form/AutoCompleteText.tsx
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/features/admin/users/components/UsersFilterBar.tsx
  frontend/src/features/projects/list/ProjectListView.scss
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
Labels: bug, enhancement

#422 PIMS-2621 Integrate with DataBC Geocoder - PID
  Makefile
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/hooks/useApi.ts
Labels: enhancement

#425 Fix pipeline notifications
  openshift/pipelines/Jenkinsfile.dev-to-test
Labels: bug, devops

#427 Fixing BCC notification issue
  backend/ches/ChesService.cs
Labels: bug

#429 Fix pipeline agent configuration
  openshift/pipelines/Jenkinsfile.dev-to-test
Labels: bug, devops

#428 PIMS-2685 Submit Property - Unsaved Draft - Not saving PID
  frontend/src/components/common/form/Input.tsx
Labels: bug

#431 PIMS-1110 SIS Import
  Makefile
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/api/Areas/Tools/Models/Import/ImportPropertyModel.cs
  backend/dal/Configuration/AgencyConfiguration.cs
  backend/dal/Configuration/BaseEntityConfiguration`.cs
  backend/dal/Configuration/CodeEntityConfiguration`.cs
  backend/dal/Configuration/LookupEntityConfiguration`.cs
  backend/dal/Migrations/20200715213618_Initial.Designer.cs
  backend/dal/Migrations/20200715213618_Initial.cs
  backend/dal/Migrations/20200716233126_Initial.Designer.cs
  backend/dal/Migrations/20200716233126_Initial.cs
  backend/dal/Migrations/Initial/PostDeploy/01-Agencies.sql
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/geocoder/Models/PropertyModel.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  tools/converters/excel/Configuration/ColumnOptions.cs
  tools/converters/excel/Configuration/ConvertWhenOption.cs
  tools/converters/excel/Configuration/ConverterOptions.cs
  tools/converters/excel/Configuration/GeocoderOptions.cs
  tools/converters/excel/Configuration/SkipOption.cs
  tools/converters/excel/Configuration/SourceOptions.cs
  tools/converters/excel/Configuration/ValueSwitchOptions.cs
  tools/converters/excel/Converter.cs
  tools/converters/excel/Converters/GeoLocationConverter.cs
  tools/converters/excel/Converters/IGeoLocationConverter.cs
  tools/converters/excel/Converters/StringConverters.cs
  tools/converters/excel/Extensions/TypeExtensions.cs
  tools/converters/excel/IConverter.cs
  tools/converters/excel/Makefile
  tools/converters/excel/Models/AddressModel.cs
  tools/converters/excel/Models/AddressModelMap.cs
  tools/converters/excel/Pims.Tools.Converters.ExcelConverter.csproj
  tools/converters/excel/Pims.Tools.Converters.ExcelConverter.sln
  tools/converters/excel/Program.cs
  tools/converters/excel/Startup.cs
  tools/converters/excel/appsettings.json
  tools/import/.editorconfig copy
  tools/import/Data/projects.json
  tools/keycloak/sync/Makefile
Labels: Requires DB Refresh, bug, enhancement

#430 Start using Project Metadata to track non-core Project fields.
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Mapping/Search/ProjectMap.cs
  backend/api/Areas/Project/Models/Search/ProjectModel.cs
  backend/api/Areas/Reports/Mapping/Project/SurplusPropertyListMap.cs
  backend/api/Areas/Tools/Mapping/Import/ProjectMap.cs
  backend/dal/Configuration/ProjectConfiguration.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Migrations/20200717185037_Initial.Designer.cs
  backend/dal/Migrations/20200717185037_Initial.cs
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/entities/Pims.Dal.Entities.csproj
  backend/entities/Project.cs
  backend/tests/core/Entities/ProjectHelper.cs
  backend/tests/unit/api/Controllers/Project/DisposeControllerTest.cs
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
Labels: Requires DB Refresh, enhancement

#434 PIMS-2781 preserve form state after keycloak token refresh
  frontend/src/features/projects/common/ProjectRouter.tsx
  frontend/src/utils/PrivateRoute.tsx
Labels: bug

#433 View Inventory - Group by buildings
  backend/api/Areas/Property/Models/Search/PropertyFilterModel.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/entities/Models/PropertyFilter.cs
  frontend/src/components/Table/Table.tsx
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/dispose/forms/ReviewProjectForm.tsx
  frontend/src/features/properties/list/FilterBar.test.tsx
  frontend/src/features/properties/list/FilterBar.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/features/properties/service.ts
Labels: enhancement

#436 Adding tasks to Project import
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/core/Extensions/EnumerableExtensions.cs
  backend/dal/Helpers/Extensions/EntityExtensions.cs
  backend/dal/Helpers/Extensions/IdentityExtensions.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/dal/Services/Admin/Concrete/ProjectService.cs
  backend/dal/Services/Concrete/TaskService.cs
  backend/entities/ProjectTask.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  backend/tests/unit/dal/Services/Admin/ParcelServiceTest.cs
Labels: enhancement

#439 Improving performance on Property List View
  backend/api/Areas/Property/Controllers/BuildingController.cs
  backend/api/Areas/Property/Controllers/ParcelController.cs
  backend/api/Areas/Property/Controllers/SearchController.cs
  backend/api/Helpers/Middleware/ResponseTimeMiddleware.cs
  backend/api/Startup.cs
  backend/tests/unit/api/Routes/Property/BuildingControllerTest.cs
  backend/tests/unit/api/Routes/Property/ParcelControllerTest.cs
  frontend/src/constants/API.ts
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/hooks/useApi.ts
Labels: enhancement

#437 PIMS-2903 Approved for Exemption Form - Required date fields
  frontend/src/buttons.scss
  frontend/src/components/common/form/Button.scss
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
  frontend/src/utils/utils.ts
Labels: bug

#438 PIMS-1746 Add lot size validation to map filter form
  .gitignore
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/utils/YupSchema.ts
Labels: bug

#441 PIMS-2969 clear set when Geocoder does not have a city in the response
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
Labels: bug

#440 PIMS-2939 (No popup unless validated for Exemption Approval)
  frontend/src/features/projects/assess/steps/ReviewApproveStep.test.tsx
  frontend/src/features/projects/assess/steps/ReviewApproveStep.tsx
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
Labels: bug

#442 PIMS-2611 Fix OWASP ZAP Baseline Scan Alerts
  openshift/templates/base-images/nginx-runtime/nginx.conf.template
Labels: bug

#443 PIMS-2861 Adding notification for shared note.
  backend/api/Areas/Notification/Controllers/QueueController.cs
  backend/api/Areas/Project/Controllers/DisposeController.cs
  backend/api/Pims.Api.csproj
  backend/api/appsettings.Development.json
  backend/api/appsettings.Local.json
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Migrations/Initial/PostDeploy/01-NotificationTemplates.sql
  backend/dal/Options/NotificationOptions.cs
  backend/dal/Options/PimsOptions.cs
  backend/dal/Pims.Dal.csproj
  backend/dal/Services/Concrete/NotificationQueueService.cs
  backend/dal/Services/Concrete/NotificationTemplateService.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/INotificationQueueService.cs
  backend/dal/Services/INotificationService.cs
  backend/dal/Services/IProjectService.cs
  backend/notifications/Configuration/NotificationOptions.cs
  backend/notifications/Extensions/ServiceCollectionExtensions.cs
  backend/notifications/INotificationService.cs
  backend/notifications/NotificationService.cs
  backend/notifications/Pims.Notifications.csproj
  backend/tests/unit/api/Controllers/Notification/QueueControllerTest.cs
  backend/tests/unit/api/Controllers/Project/DisposeControllerTest.cs
  backend/tests/unit/dal/Libraries/NotificationServiceTest.cs
  backend/tests/unit/dal/Services/NotificationTemplateServiceTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
Labels: Requires DB Refresh, enhancement

#444 PIMS-2900 ExemptionERP Tab label,
  frontend/src/features/account/Login.tsx
  frontend/src/features/projects/erp/tabs/ErpTabs.tsx
  frontend/src/hooks/use-query.ts
  frontend/src/utils/PrivateRoute.tsx
Labels: enhancement

#424 PIMS-2898 Return to Pre-Marketing
  backend/api/Areas/Project/Mapping/Status/ProjectStatusMap.cs
  backend/api/Areas/Project/Models/Status/ProjectStatusModel.cs
  backend/dal/Migrations/20200717191911_Initial.Designer.cs
  backend/dal/Migrations/20200717191911_Initial.cs
  backend/dal/Migrations/Initial/PostDeploy/01-ProjectStatus.sql
  backend/dal/Migrations/Initial/PostDeploy/02-ProjectStatusTransitions.sql
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/entities/ProjectStatus.cs
  backend/entities/ProjectStatusTransition.cs
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/SplTab.tsx
Labels: Requires DB Refresh, enhancement

#435 PIMS-2906 - small updates to complete project disposal.
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/SurplusPropertyInformationTab.tsx
Labels: enhancement

#445 Building agency bug
  frontend/src/components/layout/AppNavBar/AppNavBar.scss
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/components/layout/AppNavBar/__snapshots__/AppNavBar.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
Labels: bug

#446 PIMS-2822 OpenShift templates for DB migration job
  backend/Dockerfile.migrations
  openshift/templates/migrations/build.yaml
  openshift/templates/migrations/migration-job.yaml
Labels: devops, enhancement

#449 PIMS-2860 Surplus Property Program - Tier 1
  backend/dal/Migrations/Initial/PostDeploy/01-Tasks.sql
  frontend/src/features/account/Login.tsx
  frontend/src/hooks/use-query.ts
Labels: Requires DB Refresh, enhancement

#447 Form disabled bug fix / Map zoom loses pin fix
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.tsx
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/features/properties/submit/SubmitProperty.tsx
Labels: bug

#452 PIMS-1657 Updating Keycloak Sync Tool
  auth/keycloak/Dockerfile
  auth/keycloak/README.md
  backend/dal/Services/Concrete/UserService.cs
  tools/keycloak/sync/Pims.Tools.Keycloak.Sync.csproj
  tools/keycloak/sync/README.md
  tools/keycloak/sync/RealmFactory.cs
  tools/keycloak/sync/SyncFactory.cs
Labels: documentation, enhancement

#450 PIMS-2568 DevOps - Update pims.gov.bc.ca DNS record
  adr/ches.md
  adr/database.md
  adr/geocoder.md
  adr/monorepo.md
  openshift/README.md
  openshift/SSL_CERTIFICATES.md
Labels: devops, enhancement

#453 PIMS-2489 Allowing building ownership
  backend/dal/Configuration/AgencyConfiguration.cs
  backend/dal/Services/Admin/Concrete/ProjectService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/entities/Agency.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.test.tsx
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.tsx
  frontend/src/features/properties/submit/SubmitProperty.tsx
  frontend/src/hooks/useKeycloakWrapper.tsx
  openshift/templates/pims-api/deploy.yaml
  tools/import/appsettings.Production.json
  tools/keycloak/sync/appsettings.json
  tools/keycloak/sync/realm.json
Labels: bug, documentation, enhancement

#454 PIMS-1836 Financial - if amount has not been entered by user do not s…
  frontend/src/components/common/form/FastCurrencyInput.scss
  frontend/src/components/common/form/FastCurrencyInput.test.tsx
  frontend/src/components/common/form/FastCurrencyInput.tsx
  frontend/src/components/common/form/__snapshots__/FastCurrencyInput.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: enhancement

#456 Import Improvements and Prod Debug
  backend/api/Helpers/Middleware/ErrorHandlingMiddleware.cs
  tools/converters/excel/Configuration/ActionArgumentOptions.cs
  tools/converters/excel/Configuration/ActionOptions.cs
  tools/converters/excel/Configuration/RowOptions.cs
  tools/converters/excel/Configuration/SourceOptions.cs
  tools/converters/excel/Converter.cs
  tools/converters/excel/Converters/GeoLocationConverter.cs
  tools/converters/excel/Converters/StringConverters.cs
  tools/converters/excel/appsettings.json
Labels: enhancement

#457 PIMS-2822 Run migrations in CI build
  docs/DEVOPS.md
  openshift/pipelines/Jenkinsfile.test-to-prod
  openshift/player.sh
  openshift/scripts/common.sh
  openshift/scripts/oc-migrate.sh
Labels: devops, enhancement

#448 PIMS-2585 Close out form, tests.
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  backend/api/Areas/Project/Mapping/Dispose/ProjectNoteMap.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/api/Areas/Project/Models/Dispose/ProjectNoteModel.cs
  backend/api/Mapping/Parcel/ParcelEvaluationMap.cs
  backend/api/Models/Parcel/ParcelEvaluationModel.cs
  backend/dal/Configuration/ParcelEvaluationConfiguration.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Migrations/20200722193504_Initial.Designer.cs
  backend/dal/Migrations/20200722193504_Initial.cs
  backend/dal/Migrations/PimsContextModelSnapshot.cs
  backend/entities/NoteTypes.cs
  backend/entities/ParcelEvaluation.cs
  backend/entities/Project.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/common/form/FastDatePicker.tsx
  frontend/src/components/common/form/FastFiscalYearInput.tsx
  frontend/src/configureStore.spec.ts
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/ProjectRouter.tsx
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/FormikTable.tsx
  frontend/src/features/projects/common/components/SresManual.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/common/tabs/tabValidation.ts
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/components/ApprovalActions.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/spl/forms/CloseOutAdjustmentForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutFinancialSummaryForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutFinancialsForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutPurchaseInformationForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutSaleInformationForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutSignaturesForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutSummaryForm.tsx
  frontend/src/features/projects/spl/forms/splYupSchema.ts
  frontend/src/features/projects/spl/index.ts
  frontend/src/features/projects/spl/steps/SplStep.scss
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/SplStep.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/CloseOutFormTab.tsx
  frontend/src/features/projects/spl/tabs/SplTabs.tsx
  frontend/src/utils/numberFormatUtils.ts
  frontend/src/utils/utils.ts
Labels: enhancement

#461 PIMS-2899 and PIMS-2902
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/entities/Project.cs
  backend/entities/ProjectSnapshot.cs
  backend/tests/unit/dal/Helpers/Extensions/PropertyExtensionsTest.cs
  frontend/src/components/common/form/FastDatePicker.tsx
  frontend/src/features/projects/assess/components/ReviewApproveActions.tsx
  frontend/src/features/projects/common/ApprovalTransitionPage.tsx
  frontend/src/features/projects/common/ProjectLayout.scss
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/common/components/PropertyListViewUpdate.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/hooks/useStepForm.tsx
  frontend/src/features/projects/common/index.ts
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.test.tsx
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/common/tabs/ErrorTabs.tsx
  frontend/src/features/projects/common/tabs/tabValidation.ts
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/steps/ErpStep.scss
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/steps/ErpStep.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/ErpTabs.tsx
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/forms/splYupSchema.ts
  frontend/src/features/projects/spl/steps/SplStep.scss
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/SplStep.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/CloseOutFormTab.scss
  frontend/src/features/projects/spl/tabs/CloseOutFormTab.tsx
  frontend/src/features/projects/spl/tabs/SplTabs.tsx
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/styles.scss
  frontend/src/tabs.scss
  frontend/src/utils/utils.ts
Labels: Requires DB Refresh, enhancement

#463 Unit Tests and Project Import
  backend/api/Areas/Admin/Controllers/AgencyController.cs
  backend/api/Areas/Admin/Controllers/ParcelController.cs
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/core/Helpers/ExceptionHelper.cs
  backend/dal/Migrations/Initial/PostDeploy/01-Agencies.sql
  backend/dal/Services/Admin/Concrete/AddressService.cs
  backend/dal/Services/Admin/Concrete/AgencyService.cs
  backend/dal/Services/Admin/Concrete/BaseService`.cs
  backend/dal/Services/Admin/Concrete/BuildingConstructionTypeService.cs
  backend/dal/Services/Admin/Concrete/BuildingPredominateUseService.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/CityService.cs
  backend/dal/Services/Admin/Concrete/ClaimService.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/dal/Services/Admin/Concrete/ProjectRiskService.cs
  backend/dal/Services/Admin/Concrete/ProjectService.cs
  backend/dal/Services/Admin/Concrete/ProjectStatusService.cs
  backend/dal/Services/Admin/Concrete/PropertyClassificationService.cs
  backend/dal/Services/Admin/Concrete/PropertyTypeService.cs
  backend/dal/Services/Admin/Concrete/ProvinceService.cs
  backend/dal/Services/Admin/Concrete/RoleService.cs
  backend/dal/Services/Admin/Concrete/TierLevelService.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/dal/Services/Admin/Concrete/WorkflowService.cs
  backend/dal/Services/Admin/IBaseService`.cs
  backend/dal/Services/Admin/IProjectService.cs
  backend/keycloak/Configuration/KeycloakOptions.cs
  backend/keycloak/IKeycloakService.cs
  backend/keycloak/KeycloakService.cs
  backend/keycloak/Partials/KeycloakServiceRoles.cs
  backend/tests/core/Http/FakeHttpMessageHandler.cs
  backend/tests/core/HttpClientHelper.cs
  backend/tests/core/OptionsHelper.cs
  backend/tests/unit/api/Controllers/Admin/ParcelControllerTest.cs
  backend/tests/unit/api/Controllers/Admin/RoleControllerTest.cs
  backend/tests/unit/api/Controllers/Admin/UserControllerTest.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  backend/tests/unit/api/Routes/Admin/ParcelControllerTest.cs
  backend/tests/unit/dal/Libraries/Ches/ChesServiceTest.cs
  backend/tests/unit/dal/Libraries/Geocoder/GeocoderServiceTest.cs
  backend/tests/unit/dal/Libraries/Keycloak/KeycloakGroupServiceTest.cs
  backend/tests/unit/dal/Libraries/Keycloak/KeycloakServiceTest.cs
  backend/tests/unit/dal/Libraries/Keycloak/KeycloakUserServiceTest.cs
  backend/tests/unit/dal/Libraries/Notifications/NotificationServiceTest.cs
  backend/tests/unit/dal/Pims.Dal.Test.csproj
  test/Postman/pims-api-collection.json
Labels: bug, enhancement

#464 Fixing spelling in Tasks
  backend/dal/Migrations/Initial/PostDeploy/01-Tasks.sql
Labels: Requires DB Refresh, bug

#462 Concurrency Bug
  backend/dal/Services/Concrete/ProjectService.cs
  frontend/src/features/projects/assess/steps/ReviewApproveStep.tsx
Labels: bug

#466 PIMS-2973 filter out future assesed values
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: bug

#469 PIMS-2489 Fix editing properties
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
Labels: bug

#468 DatePicker - add year select, only display warning on blur.
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/tests/unit/dal/Helpers/Extensions/PropertyExtensionsTest.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/form/FastDatePicker.tsx
Labels: bug

#470 PIMS-2981 Fix building financials.
  backend/dal/Migrations/Initial/PostDeploy/01-ViewProperties.sql
  frontend/src/features/projects/common/projectConverter.ts
Labels: Requires DB Refresh, bug

#473 Fixing transfer within GRE
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
Labels: bug

#471 PIMS-2976 Defaulting email address to project created by user email
  backend/dal/Services/Concrete/NotificationQueueService.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/notifications/NotificationService.cs
Labels: bug

#476 Do not validate assessed values that are filtered out of the display.
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
Labels: bug

#474 Ensure that API applied dates are saved in metadata correctly.
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/dal/Services/Concrete/ProjectService.cs
Labels: bug

#472 Show building agency for everyone
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: bug

#478 Fix parcel project loading bug.
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
Labels: bug

#477 PIMS-2740 geocoder tests
  frontend/package.json
  frontend/src/components/common/form/SppButton.test.tsx
  frontend/src/components/common/form/__snapshots__/SppButton.test.tsx.snap
  frontend/src/components/layout/Footer/Footer.test.tsx
  frontend/src/components/layout/Footer/__snapshots__/Footer.test.tsx.snap
  frontend/src/features/admin/access/components/AccessRequestActions.test.tsx
  frontend/src/features/admin/access/components/__snapshots__/AccessRequestActions.test.tsx.snap
  frontend/src/features/projects/erp/tabs/EnhancedReferralTab.test.tsx
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/properties/components/forms/ParcelDetailForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/PidPinForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PidPinForm.test.tsx.snap
  frontend/src/pages/401/AccessDenied.test.tsx
  frontend/src/pages/401/__snapshots__/AccessDenied.test.tsx.snap
  frontend/src/pages/404/NotFoundPage.test.tsx
  frontend/src/pages/404/__snapshots__/NotFoundPage.test.tsx.snap
  frontend/src/utils/testUtils.ts
Labels: unit-tests

#482 Test updates, removed some dead frontend code.
  frontend/src/actionCreators/accessRequestActionCreator.spec.ts
  frontend/src/actionCreators/parcelsActionCreator.spec.ts
  frontend/src/actionCreators/usersActionCreator.spec.ts
  frontend/src/components/common/LookupCodeDropdown.scss
  frontend/src/components/common/LookupCodeDropdown.test.tsx
  frontend/src/components/common/LookupCodeDropdown.tsx
  frontend/src/components/common/__snapshots__/LookupCodeDropdown.test.tsx.snap
  frontend/src/components/common/form/InlineField.tsx
  frontend/src/features/projects/assess/steps/ReviewApproveStep.test.tsx
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
Labels: enhancement

#483 PIMS-2861 Shared note notification unit test
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
Labels: enhancement

#481 Include buildings in property list
  frontend/src/components/Table/Table.tsx
  frontend/src/features/properties/list/FilterBar.test.tsx
  frontend/src/features/properties/list/FilterBar.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#485 PIMS-1740 Hide Navigation Map when pin selected on zoom
  frontend/src/components/maps/leaflet/Map.tsx
Labels: bug

#487 PIMS-2160 add name and description to parcel/building detail and popups.
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/maps/BuildingPopupView.test.tsx
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/components/maps/ParcelPopupView.test.tsx
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/__snapshots__/BuildingPopupView.test.tsx.snap
  frontend/src/components/maps/__snapshots__/ParcelPopupView.test.tsx.snap
  frontend/src/components/maps/leaflet/__snapshots__/MapProperties.test.tsx.snap
  frontend/src/features/properties/components/forms/ParcelDetailForm.scss
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/LandForm.tsx
  frontend/src/features/properties/components/forms/subforms/PidPinForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PidPinForm.test.tsx.snap
  frontend/src/mocks/filterDataMock.ts
  frontend/src/utils/YupSchema.ts
Labels: enhancement

#486 PIMS-2610 Search by PID or PIN
  backend/api/Areas/Property/Models/Search/PropertyFilterModel.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/entities/Models/AllPropertyFilter.cs
  backend/entities/Models/ParcelFilter.cs
  frontend/src/actionCreators/parcelsActionCreator.spec.ts
  frontend/src/actionCreators/parcelsActionCreator.ts
  frontend/src/components/maps/MapFilterBar.tsx
  frontend/src/components/maps/__snapshots__/MapFilterBar.test.tsx.snap
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/constants/API.ts
  frontend/src/features/projects/common/components/FilterBar.tsx
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/dispose/hooks/useTable.ts
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/properties/list/FilterBar.test.tsx
  frontend/src/features/properties/list/FilterBar.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/features/properties/submit/SubmitProperty.tsx
Labels: enhancement

#488 Access request search not always firing fix
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/access/components/Filter.tsx
Labels: bug

#490 PIMS-1839 Landing Page - create a legend for the map
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/maps/leaflet/Legend/Legend.scss
  frontend/src/components/maps/leaflet/Legend/Legend.test.tsx
  frontend/src/components/maps/leaflet/Legend/Legend.tsx
  frontend/src/components/maps/leaflet/Legend/LegendControl.scss
  frontend/src/components/maps/leaflet/Legend/LegendControl.tsx
  frontend/src/components/maps/leaflet/Legend/__snapshots__/Legend.test.tsx.snap
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
Labels: enhancement

#492 Removing yarn
  frontend/yarn.lock
Labels: enhancement

#493 PIMS-2686 Copy parcel address to new building
  frontend/src/features/properties/components/forms/subforms/PagedBuildingForms.tsx
Labels: enhancement

#494 PIMS-2986 apply filter before paging assessed values
  frontend/public/index.html
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/PagedBuildingForms.test.tsx.snap
Labels: bug, enhancement

#491 Fix maintenance page in production environment
  maintenance/maintenance.sh
  openshift/pipelines/Jenkinsfile.test-to-prod
Labels: bug, devops

#495 PIMS-2436 User managemet scrolling, PIMS-1750 alert message
  frontend/src/components/common/Snackbar.tsx
  frontend/src/features/admin/access-request/AccessRequestPage.test.tsx
  frontend/src/features/admin/access-request/AccessRequestPage.tsx
  frontend/src/features/admin/access-request/__snapshots__/AccessRequestPage.test.tsx.snap
  frontend/src/features/admin/users/ManageUsersPage.scss
  frontend/src/features/admin/users/ManageUsersPage.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/dispose/__snapshots__/ProjectDisposeLayout.test.tsx.snap
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
Labels: bug

#496 Submit hover
  frontend/src/features/properties/components/forms/ParcelDetailForm.scss
  frontend/src/features/properties/components/forms/ParcelDetailForm.tsx
  frontend/src/features/properties/components/forms/__snapshots__/ParcelDetailForm.test.tsx.snap
  frontend/src/features/properties/submit/SubmitProperty.scss
Labels: enhancement
