Repository bcgov/PIMS, pull requests merged in 2020-02, with the labels that each got.

#17 Reorganize CI/CD scripts and templates. PIMS-58 PIMS-460
  .github/CODEOWNERS
  .gitignore
  openshift/README.md
  openshift/jenkins/pims-api/Jenkinsfile
  openshift/jenkins/pims-app/Jenkinsfile
  openshift/templates/app/pims-api/build.yaml
  openshift/templates/app/pims-api/deploy.yaml
  openshift/templates/app/pims-app/build.yaml
  openshift/templates/app/pims-app/deploy.yaml
  openshift/templates/tools/pipeline.yaml
Labels: documentation, enhancement

#22 PIMS-442 PIMS-63 PIMS-447 Updating initial migration.
  backend/Areas/Admin/Controllers/ParcelController.cs
  backend/Areas/Admin/Models/BuildingModel.cs
  backend/Areas/Admin/Models/ParcelModel.cs
  backend/Areas/Admin/Models/Parts/BuildingModel.cs
  backend/Areas/Admin/Models/Parts/ParcelBuildingModel.cs
  backend/Data/Entities/Address.cs
  backend/Data/Entities/Building.cs
  backend/Helpers/Profiles/BuildingProfile.cs
  backend/Helpers/Profiles/ParcelProfile.cs
Labels: bug, enhancement

#24 PIMS-447 Fixing API connection string.
  backend/.gitignore
  backend/Data/PIMSContextFactory.cs
  backend/Startup.cs
  backend/appsettings.json
  backend/pims.api.csproj
  database/mssql/README.md
  docker-compose.yml
  openshift/templates/app/pims-api/deploy.yaml
Labels: bug, enhancement

#25 PIMS-447 Fixing initialization scripts for linux.
  .vscode/settings.json
  backend/.gitignore
  backend/Helpers/Migrations/SeedMigration.cs
  backend/Migrations/initial/PostDeploy/01-Agencies.sql
  backend/Migrations/initial/PostDeploy/01-BuildingConstructionTypes.sql
  backend/Migrations/initial/PostDeploy/01-BuildingPredominantUses.sql
  backend/Migrations/initial/PostDeploy/01-Cities.sql
  backend/Migrations/initial/PostDeploy/01-PropertyClassifications.sql
  backend/Migrations/initial/PostDeploy/01-PropertyStatus.sql
  backend/Migrations/initial/PostDeploy/01-PropertyTypes.sql
  backend/Migrations/initial/PostDeploy/01-Provinces.sql
  backend/Migrations/initial/PostDeploy/01-Roles.sql
  backend/Migrations/initial/PostDeploy/01-Users.sql
  backend/Startup.cs
  backend/pims.api.csproj
  database/mssql/README.md
  docker-compose.yml
Labels: bug

#27 Add GitHub Workflow Guide
  docs/GIHUB-WORKFLOW.md
  docs/images/reset-concept.png
  docs/images/revert-concept.png
Labels: documentation

#30 PIMS-447 Fixing DB initial migration.
  backend/Areas/Admin/Models/BuildingModel.cs
  backend/Areas/Admin/Models/ParcelModel.cs
  backend/Areas/Admin/Models/Parts/ParcelBuildingModel.cs
  backend/Data/Entities/Building.cs
  backend/Data/Entities/Parcel.cs
  backend/Migrations/20200207204726_initial.Designer.cs
  backend/Migrations/20200207204726_initial.cs
  backend/Migrations/PIMSContextModelSnapshot.cs
  backend/Models/Building.cs
  openshift/templates/app/pims-api/deploy.yaml
  test/Postman/pims.json
Labels: bug, enhancement

#31 PIMS-441 Add RocketChat webhooks
  tools/rocketchat/incoming.js
  tools/rocketchat/outgoing.js
Labels: enhancement

#33 PIMS-874 Cleaning up documentation and DB configuration process.
  backend/Data/PIMSContextFactory.cs
  backend/Program.cs
  backend/README.md
  backend/Startup.cs
  backend/pims.api.csproj
  database/README.md
  database/mssql/README.md
  database/postgres/README.md
Labels: documentation, enhancement

#35 PIMS-76 Updating documentation
  README.md
  backend/README.md
  database/mssql/README.md
  docs/ARCHITECTURE.md
  docs/DATABASE.md
  docs/README.md
  docs/images/arch-01.png
  docs/images/arch-api-01.png
  docs/images/arch-app-01.png
  docs/images/arch-openshift-01.png
  docs/images/db-erd.png
  docs/images/logo-KeyCloak.png
  docs/images/logo-Leaflett.png
  docs/images/logo-OpenShift.svg
  docs/images/logo-React.svg
  docs/images/logo-docker.svg
  docs/images/logo-dotnetcore.png
  docs/images/logo-dotnetcore.svg
  docs/images/logo-github.svg
  docs/images/logo-jenkins.svg
  docs/images/logo-mssql.png
  docs/images/logo-mssql.svg
Labels: documentation

#37 PIMS-317: Add Jenkins support for monorepo CI/CD pipeline
  .editorconfig
  openshift/jenkins/Jenkinsfile.cicd
  openshift/jenkins/Jenkinsfile.promote-to-test
  openshift/jenkins/README.md
  openshift/jenkins/common.groovy
  openshift/jenkins/notify.groovy
Labels: enhancement
