Repository bcgov/PIMS, pull requests merged in 2021-09, with the labels that each got.

#1146 Add readme for DB backup/restore
  maintenance/BACKUP.md
Labels: documentation

#1149 PIMS-46 Use KeycloakUserId
  backend/api/Controllers/AuthController.cs
  backend/api/Helpers/Authorization/RealmAccessRoleRequirement.cs
  backend/api/Models/Auth/UserModel.cs
  backend/core/Extensions/IdentityExtensions.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/PIMSContext.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/dal/Services/Concrete/UserService.cs
  backend/dal/Services/IUserService.cs
  tools/keycloak/sync/SyncFactory.cs
Labels: enhancement

#1150 Fix Keycloak user management
  backend/dal.keycloak/Partials/PimsKeycloakUserService.cs
Labels: bug, enhancement

#1151 PIMS-46 Fix Keycloak user update
  backend/dal.keycloak/Partials/PimsKeycloakUserService.cs
Labels: bug, enhancement

#1153 Sort admin areas list alphabetically
  backend/dal/Services/Admin/Concrete/AdministrativeAreaService.cs
Labels: enhancement

#1152 PIMS-48: SPP-11023 - Transfer within GRE - can no longer see Private Notes
  frontend/src/features/projects/common/ProjectSummaryView.tsx
Labels: bug
