Repository bcgov/PIMS, pull requests merged in 2021-11, with the labels that each got.

#1164 PIMS-28: How Project Numbers display
  backend/api/Areas/Reports/Mapping/Property/AllFieldsPropertyMap.cs
  backend/api/Areas/Reports/Mapping/Property/PropertyMap.cs
  backend/core/Extensions/StringExtensions.cs
Labels: enhancement

#1165 fixing SonarQube url
  frontend/sonar-project.properties
Labels: bug, dependencies, devops

#1163 Only populate notification fields if notifications enabled
  backend/dal/Services/Concrete/ProjectService.cs
Labels: bug

#1167 Add DEV identify provider
  auth/keycloak/config/realm-export.json
Labels: enhancement

#1169 Fix project notifications issue
  backend/dal/Services/Concrete/NotificationQueueService.cs
Labels: bug

#1170 Fix db migration dockerfile
  backend/Dockerfile.migrations
Labels: bug, devops

#1171 PIMS-49: Save notification checked state on save
  frontend/src/components/common/form/Check.tsx
  frontend/src/features/projects/assess/forms/ReviewApproveForm.tsx
  frontend/src/features/projects/common/components/NotificationCheck.tsx
Labels: bug

#1172 PIMS-59: Change contact email
  frontend/src/constants/strings.tsx
Labels: bug

#1168 PIMS-24: add the LTSA wms layer using the new url
  backend/keycloak/README.md
  frontend/src/components/maps/leaflet/LayerPopup/constants/index.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
Labels: documentation, enhancement

#1174 Add environment variables to nginx
  frontend/src/components/maps/hooks/useActiveFeatureLayer.tsx
  frontend/src/components/maps/leaflet/LayerPopup/constants/index.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useBoundaryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/hooks/useGeocoder.tsx
  frontend/src/hooks/useEnvironment.ts
  openshift/4.0/templates/app/deploy.yaml
Labels: bug, enhancement

#1175 DevOps always build
  openshift/4.0/pipelines/Jenkinsfile.cicd
Labels: devops

#1176 Fix app deployment config
  openshift/4.0/pipelines/Jenkinsfile.cicd
  openshift/4.0/templates/app/deploy.yaml
Labels: bug, devops
