Repository bcgov/PIMS, pull requests merged in 2021-06, with the labels that each got.

#1108 Fix TRAN agencies
  backend/dal/Migrations/v01.10.04/Up/PostUp/01-Agencies.sql
Labels: DB Migration, bug

#1110 Update CodeCov Action
  .github/workflows/api-dotnetcore.yml
  .github/workflows/app-react.yml
Labels: bug, dependencies

#1109 Updated dest email for pims support (PA-14).
  frontend/src/features/help/constants/HelpText.tsx
Labels: bug

#1111 Keep Agency on Dispose
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Migrations/20210610153039_v01.10.05.Designer.cs
  backend/dal/Migrations/20210610153039_v01.10.05.cs
  backend/dal/Migrations/v01.10.05/Up/PostUp/01-Properties.sql
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/package-lock.json
Labels: DB Migration, enhancement

#1113 PSP-6 Fix Cancel Project Bug
  Makefile
  backend/dal/Migrations/20210616142943_v01.10.06.Designer.cs
  backend/dal/Migrations/20210616142943_v01.10.06.cs
  backend/dal/Migrations/v01.10.06/Up/PostUp/01-ProjectStatusTransitions.sql
  docker-compose.yml
  frontend/src/index.tsx
  frontend/src/interfaces/IKeycloakConfig.ts
  frontend/src/utils/createKeycloakInstance.ts
  frontend/src/utils/index.ts
  scripts/gen-env-files.sh
Labels: DB Migration, bug, enhancement

#1114 Fix Keycloak config
  frontend/src/interfaces/IKeycloakConfig.ts
  frontend/src/utils/createKeycloakInstance.ts
Labels: bug

#1115 PIMS-6 Fix Cancel Notifications
  backend/ches/ChesService.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/notifications/NotificationService.cs
Labels: bug

#1118 Increase prod pipeline timeout
  openshift/4.0/pipelines/Jenkinsfile.test-to-prod
Labels: devops

#1119 PIMS-21 - Project View for SPL Projects
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/features/projects/list/SPLProjectListView.test.tsx
  frontend/src/features/projects/list/SPLProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/SPLProjectListView.test.tsx.snap
  frontend/src/features/projects/list/index.ts
  frontend/src/router.tsx
Labels: enhancement

#1120 SPP Number on Inventory Export
  backend/api/Areas/Reports/Mapping/Property/PropertyMap.cs
  backend/api/Areas/Reports/Models/Property/PropertyModel.cs
Labels: enhancement

#1121 Add tabs to cancelled projects, and shared notes back to project information
  frontend/src/features/projects/common/ProjectSummaryView.tsx
  frontend/src/features/projects/common/tabs/ProjectInformationTab.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/SurplusPropertyInformationTab.tsx
Labels: enhancement

#1122 Get rid of duplicate review info, and allow for Removal From SPL fields on cancelled project review
  frontend/src/features/projects/common/ProjectSummaryView.tsx
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
Labels: bug

#1123 Fix Remove from SPL fields not appearing
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
Labels: bug
