Repository bcgov/PIMS, pull requests merged in 2021-01, with the labels that each got.

#718 Implementing properties column filter
  frontend/src/components/SearchBar/ParentGroupedFilter.tsx
  frontend/src/components/Table/ColumnFilter.tsx
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/types.ts
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/forms/PropertyListViewSelect.test.tsx
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/filter/IPropertyFilter.ts
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/columns.tsx
  frontend/src/hooks/useRouterFilter.ts
Labels: enhancement

#742 pa-2408 Change Raw Land to Bare land
  frontend/src/features/mapSideBar/SidebarContents/SubmitPropertySelector.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/SubmitPropertySelector.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/SubmitPropertySelector.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
  frontend/src/features/mapSideBar/hooks/useSideBarParcelLoader.tsx
Labels: alpha, enhancement

#747 PA-2376 update yup schema to include missing number fields.
  frontend/src/utils/YupSchema.ts
Labels: alpha, bug

#746 PA-2362 sres users must be able to edit agency.
  frontend/src/constants/roles.ts
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
Labels: alpha, bug

#745 PA-2361 standardize sticky footer.
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
Labels: alpha, enhancement

#744 sensitive flag should not be editable if disabled on parcel detail form.
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
Labels: alpha, bug

#743 PA-2359 Clarify edit button.
  frontend/src/features/mapSideBar/components/MapSideBarLayout.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: alpha, enhancement

#751 PA-2351 Fix up filterbar styling
  frontend/src/buttons.scss
  frontend/src/components/SearchBar/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/components/common/form/ParentSelect.scss
  frontend/src/components/common/form/ResetButton.tsx
  frontend/src/components/maps/FindMorePropertiesButton.tsx
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/properties/filter/PropertyFilter.scss
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/PropertyFilterOptions.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: enhancement

#753 seperate PID/PIN fields, PA-2370.
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
Labels: alpha, bug

#750 Fix fast select not updating formik touch parameters.
  frontend/src/components/common/form/FastSelect.tsx
Labels: alpha, bug

#754 PA-2353, 2354
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
Labels: alpha, bug

#757 PA-2384 DEV Storage setup
  openshift/4.0/README.md
  openshift/4.0/templates/persistent-volume-claims/pims-db-storage.yaml
Labels: devops, documentation

#758 Hotfix for PID search
  frontend/src/features/properties/filter/PropertyFilterOptions.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: bug

#752 PA-2365 prevent display of empty popup when clicking on clusters.
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/Spiderfier.ts
Labels: alpha, bug

#763 Location filter bug fix
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
Labels: bug

#766 PA-2381 OCP4.0 Setup DEV API
  openshift/4.0/README.md
  openshift/4.0/templates/api/build.yaml
  openshift/4.0/templates/api/deploy-swagger.yaml
  openshift/4.0/templates/api/deploy.yaml
  openshift/4.0/templates/database/mssql-build.yaml
  openshift/4.0/templates/database/mssql-deploy.yaml
  openshift/4.0/templates/logging/deploy-elasticsearch.yaml
  openshift/4.0/templates/logging/deploy-kibana.yaml
  openshift/4.0/templates/network-security-policy/nsp.yaml
Labels: devops, documentation

#764 PA-2302 handle case when all associated lands are removed.
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/components/MapSideBarLayout.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
Labels: alpha, bug

#770 Coverlet console fix
  .github/workflows/api-dotnetcore.yml
Labels: bug

#771 PA-2382 OCP4.0 DEV APP Setup
  openshift/3.11/templates/base-images/nginx-runtime/nginx-runtime.json
  openshift/4.0/README.md
  openshift/4.0/scripts/common.sh
  openshift/4.0/scripts/envars
  openshift/4.0/scripts/oc-backup.sh
  openshift/4.0/scripts/oc-build.sh
  openshift/4.0/scripts/oc-deploy.sh
  openshift/4.0/scripts/oc-migrate.sh
  openshift/4.0/scripts/oc-sonar-dotnet.sh
  openshift/4.0/scripts/oc-sonar-scan.sh
  openshift/4.0/templates/api/build.yaml
  openshift/4.0/templates/api/deploy-swagger.yaml
  openshift/4.0/templates/api/deploy.yaml
  openshift/4.0/templates/app/build.yaml
  openshift/4.0/templates/app/deploy.yaml
  openshift/4.0/templates/backup/backup.conf
  openshift/4.0/templates/backup/build.yaml
  openshift/4.0/templates/backup/deploy-config.yaml
  openshift/4.0/templates/backup/deploy.cronjob.yaml
  openshift/4.0/templates/backup/deploy.yaml
  openshift/4.0/templates/base-images/dotnet-31.yaml
  openshift/4.0/templates/base-images/mssql-2019.yaml
  openshift/4.0/templates/base-images/nodejs-10-rhel7.yaml
  openshift/4.0/templates/database/mssql-build.yaml
  openshift/4.0/templates/database/mssql-deploy.yaml
  openshift/4.0/templates/images/docker-repo.yaml
  openshift/4.0/templates/logging/deploy-elasticsearch.yaml
  openshift/4.0/templates/logging/deploy-kibana.yaml
  openshift/4.0/templates/maintenance/build-proxy-caddy.yaml
  openshift/4.0/templates/maintenance/deploy-proxy-caddy.yaml
  openshift/4.0/templates/network-security-policy/internal-k8s-api.yaml
  openshift/4.0/templates/network-security-policy/internet-to-pod.yaml
  openshift/4.0/templates/network-security-policy/nsp-tools.yaml
  openshift/4.0/templates/network-security-policy/nsp.yaml
  openshift/4.0/templates/network-security-policy/pod-to-internet.yaml
  openshift/4.0/templates/network-security-policy/pod-to-pod.yaml
  openshift/4.0/templates/network-security-policy/pod-to-project.yaml
  openshift/4.0/templates/network-security-policy/project-to-project.yaml
  openshift/4.0/templates/network-security-policy/service-account-to-k8s-api.yaml
  openshift/4.0/templates/persistent-volume-claims/db-storage.yaml
  openshift/s2i/bcgov-s2i-caddy/bcgov-s2i-caddy.yaml
  openshift/s2i/nginx-runtime/Dockerfile
  openshift/s2i/nginx-runtime/nginx-runtime.yaml
  openshift/s2i/nginx-runtime/nginx.conf.template
  openshift/s2i/nginx-runtime/s2i/bin/assemble
  openshift/s2i/nginx-runtime/s2i/bin/assemble-runtime
  openshift/s2i/nginx-runtime/s2i/bin/run
Labels: devops, documentation

#769 PA-2458 Real Estate Analyst can edit properties again
  frontend/src/features/properties/components/ParcelFormControls.tsx
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/containers/ParcelDetailContainer.tsx
Labels: bug

#760 PA-2374
  backend/dal/Migrations/20210107181148_v01.05.04.Designer.cs
  backend/dal/Migrations/20210107181148_v01.05.04.cs
  backend/dal/Migrations/Initial/Up/PostUp/01-BuildingConstructionTypes.sql
  backend/dal/Migrations/v01.05.04/Up/PostUp/BuildingConstructionTypes.sql
  backend/tests/core/Entities/BuildingContructionTypeHelper.cs
Labels: bug

#762 Pa-2409 Remove Zebra Feeding Station from list of predominate uses
  backend/dal/Migrations/20210107210217_v01.05.05.Designer.cs
  backend/dal/Migrations/20210107210217_v01.05.05.cs
  backend/dal/Migrations/Initial/Up/PostUp/01-BuildingPredominantUses.sql
  backend/dal/Migrations/v01.05.05/Up/PostUp/01-BuildingPredominantUses.sql
Labels: enhancement

#773 Fixing DevOps Jenkins configuration
  openshift/3.11/MULTIPLE_INSTANCES.md
  openshift/3.11/PIPELINES.md
  openshift/3.11/pipelines/Jenkinsfile.cicd
  openshift/3.11/pipelines/Jenkinsfile.dev-to-test
  openshift/3.11/pipelines/Jenkinsfile.test-to-prod
  openshift/3.11/templates/jenkins/generic-pipeline.yaml
Labels: devops

#774 Fix Jenkins pipeline
  openshift/3.11/pipelines/Jenkinsfile.cicd
  openshift/3.11/pipelines/Jenkinsfile.test-to-prod
Labels: devops

#775 Fix Jenkins pipeline
  openshift/3.11/pipelines/Jenkinsfile.cicd
  openshift/3.11/pipelines/Jenkinsfile.test-to-prod
Labels: devops

#765 PA-1554, PA-2366
  .github/workflows/api-dotnetcore.yml
  backend/api/Areas/Property/Mapping/Building/BuildingMap.cs
  backend/api/Areas/Property/Models/Building/LeasedLandMetadataModel.cs
  backend/entities/Models/LeasedLandMetadata.cs
  frontend/package.json
  frontend/src/components/common/form/FastSelect.tsx
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/context.tsx
  frontend/src/components/common/form/StepForm/types.ts
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/SelectedPropertyMarker/SelectedPropertyMarker.tsx
  frontend/src/components/maps/providers/FIlterProvider.tsx
  frontend/src/constants/propertySteps.ts
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandOwnershipForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/hooks/useDraftMarkerSynchronizer.tsx
  frontend/src/features/properties/hooks/useGeocoder.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/utils/YupSchema.ts
  frontend/src/utils/utils.ts
Labels: alpha, enhancement

#776 PA-2420 - Default to land on inventory list
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: bug

#772 Using tiles to fetch PIMS Inventory
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/constants/API.ts
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/typings/tiles-in-bbox/index.d.ts
Labels: enhancement

#759 PA-1932 Add Status and Risk Value to SPL Report
  backend/dal/Services/Concrete/ProjectReportService.cs
  frontend/src/features/splReports/columns.tsx
  frontend/src/features/splReports/containers/SplReportContainer.test.tsx
Labels: enhancement

#779 PA-2460 Adding config for delete properties
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/api/Areas/Tools/Mapping/Import/PropertyMap.cs
  backend/api/appsettings.Local.json
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/dal/Services/Admin/IBuildingService.cs
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/PopupView.tsx
  frontend/src/components/maps/__snapshots__/BuildingPopupView.test.tsx.snap
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/hooks/useApi.ts
  tools/converters/excel/appsettings.json
Labels: enhancement

#768 PA-775: Be able to type option not just click
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
Labels: enhancement

#787 PA-2460 Resolving importing issue
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/dal/Services/Admin/IBuildingService.cs
  tools/converters/excel/appsettings.json
Labels: bug

#788 PA-2460 Fixed import
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/dal/Services/Admin/IParcelService.cs
Labels: bug

#789 PA-2460 Fixing unit test
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
Labels: bug, unit-tests

#785 PA-2362 fix agency display being overriden by default value.
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
Labels: bug

#790 Filterbar fix
  frontend/src/components/common/form/Typeahead.tsx
Labels: bug

#791 Hotfix for keycloak JWT bug
  frontend/src/hooks/useApi.ts
Labels: bug

#796 Fixed RowVersion on Second Submit
  backend/api/Areas/Property/Controllers/ParcelController.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  frontend/src/actionCreators/parcelsActionCreator.spec.ts
  frontend/src/actionCreators/parcelsActionCreator.ts
  frontend/src/actions/parcelsActions.ts
  frontend/src/features/properties/containers/ParcelDetailFormContainer.tsx
Labels: bug

#797 Fixing updating properties
  backend/api/Areas/Property/Mapping/Parcel/ParcelFiscalMap.cs
  backend/dal/Services/Concrete/ParcelService.cs
Labels: bug

#798 Merged migration into v01.05.05
  backend/dal/Migrations/20210107181148_v01.05.04.Designer.cs
  backend/dal/Migrations/20210107181148_v01.05.04.cs
  backend/dal/Migrations/v01.05.05/Up/PostUp/01-BuildingConstructionTypes.sql
Labels: enhancement

#799 PA-2244 Add Marina to BuildingPredominateUses
  backend/dal/Migrations/v01.05.05/Up/PostUp/02-BuildingPredominateUses.sql
  backend/tests/core/Entities/BuildingPredominateUseHelper.cs
Labels: enhancement

#800 Fixed DB Migration
  backend/dal/Migrations/v01.05.05/Up/PostUp/01-BuildingPredominantUses.sql
Labels: bug

#801 Filter fix
  frontend/src/components/common/form/Typeahead.tsx
Labels: bug

#784 PA-2356 Disable search bar when Surplus Properties window open
  frontend/src/components/maps/FindMorePropertiesButton.tsx
  frontend/src/features/properties/filter/PropertyFilter.test.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/PropertyFilterOptions.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
Labels: enhancement

#803 Default to land in inventory list
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#804 Fix inventory list view not resetting properly
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#805 Quick fix for Building Assessed value table
  frontend/src/features/properties/components/forms/subforms/BuildingForm.tsx
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/components/forms/subforms/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/columns.tsx
Labels: enhancement

#786 Autocomplete property name
  backend/api/Areas/Property/Controllers/SearchController.cs
  backend/dal/Services/Concrete/PropertyService.cs
  backend/dal/Services/IPropertyService.cs
  frontend/src/actionCreators/propertyActionCreator.ts
  frontend/src/components/common/form/InputGroup.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/constants/actionTypes.ts
  frontend/src/constants/reducerTypes.ts
  frontend/src/features/projects/assess/steps/ReviewApproveStep.test.tsx
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/features/properties/common/slices/propertyNameSlice.ts
  frontend/src/features/properties/filter/PropertyFilter.scss
  frontend/src/features/properties/filter/PropertyFilter.test.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/PropertyFilterOptions.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/reducers/rootReducer.ts
Labels: enhancement

#806 Location hotfix
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
Labels: bug

#807 Updated PROD config
  tools/import/appsettings.Production.json
Labels: devops

#814 PA-2481 Surplus Properties search - UX Updates
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
Labels: enhancement

#809 Agency filter hotfix
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
Labels: bug

#811 PA-1969 Reconfigure Disposal Projects notes fields
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/forms/AppraisalCheckListForm.tsx
  frontend/src/features/projects/common/forms/DocumentationForm.tsx
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/common/tabs/ProjectInformationTab.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/spl/forms/CloseOutFinancialSummaryForm.tsx
  frontend/src/features/projects/spl/forms/CloseOutFinancialsForm.tsx
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/CloseOutFormTab.tsx
  frontend/src/features/projects/spl/tabs/SurplusPropertyInformationTab.tsx
Labels: enhancement

#808 PIMS inventory features loading performance optimization
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/Spiderfier.ts
  frontend/src/typings/tiles-in-bbox/index.d.ts
Labels: enhancement

#815 Pa-2239 introduce default state for two-state checkboxes.
  frontend/src/components/common/form/Check.test.tsx
  frontend/src/components/common/form/Check.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
  frontend/src/utils/YupSchema.ts
Labels: enhancement

#810 PA-2383 fix maintenance and update caddyfile.
  maintenance/Caddyfile
  maintenance/README.md
  maintenance/maintenance.sh
  openshift/4.0/templates/maintenance/caddy.bc.yaml
  openshift/4.0/templates/maintenance/caddy.dc.yaml
  openshift/4.0/templates/maintenance/caddy.s2i.bc.yaml
Labels: devops

#823 Reapply filter in list view from map view, query municipality layer and zoom to result
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/hooks/useRouterFilter.ts
Labels: enhancement

#826 Do not remove buildings associated to parcels in the building->parcel…
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
Labels: bug

#821 Correct notification component ParentSelect logic.
  frontend/src/features/projects/erp/forms/AgencyInterest.tsx
Labels: bug

#828 PA-2491: Add Surplus Active back
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
Labels: bug

#825 PA-1728 Zoom into property on Edit/View
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/constants/strings.tsx
Labels: enhancement

#824 PA-1969 Reconfigure Project Notes
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/CloseOutFormTab.tsx
Labels: enhancement

#827 PA-2502 View Entire Province
  frontend/src/components/maps/leaflet/Legend/LegendControl.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/ZoomOut/ZoomOutButton.tsx
Labels: enhancement

#820 PA-2530 cluster clicks ignored when layer popup open.
  frontend/src/features/properties/map/MapView.scss
Labels: bug

#817 PA-2352 ensure that inventory scrolls appropriately on small screens.
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/SubmitPropertySelector.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/SubmitPropertySelector.test.tsx.snap
Labels: bug

#830 PA-2451 Clear the parcel layer data when it is consumed, so that futu…
  frontend/src/components/maps/hooks/useMarkerZoom.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
Labels: bug

#818 Pa 2490 highlight inventory items on navbar when activegit
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
Labels: bug

#813 Pa 2436
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.tsx
Labels: enhancement

#822 Fix Import
  tools/converters/excel/appsettings.json
Labels: bug

#831 PA-2158 Fixed SPL Report Baseline Integrity
  .vscode/launch.json
  backend/api/Areas/Project/Controllers/ReportController.cs
  backend/api/Areas/Project/Models/Report/ProjectReportModel.cs
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/dal/Configuration/ProjectSnapshotConfiguration.cs
  backend/dal/Services/Concrete/ProjectReportService.cs
  backend/dal/Services/IProjectReportService.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  frontend/src/features/projects/common/components/ProjectFinancialTable.tsx
  frontend/src/features/projects/spl/forms/CloseOutFinancialSummaryForm.tsx
  scripts/build.sh
  scripts/clean.sh
  scripts/db-migration.sh
  scripts/gen-env-files.sh
  scripts/start-dev.sh
  scripts/start.sh
  scripts/test-api.sh
  scripts/test-app.sh
Labels: bug

#832 PA-2448: Enhanced user information
  frontend/src/components/layout/AppNavBar/AppNavBar.scss
  frontend/src/components/layout/AppNavBar/AppNavBar.test.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/components/layout/AppNavBar/__snapshots__/AppNavBar.test.tsx.snap
  frontend/src/components/layout/Header/Header.test.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/Header/UserProfile.tsx
  frontend/src/features/help/containers/HelpContainer.tsx
Labels: enhancement

#780 PA-1742 - Create a Financial Reporter role
  auth/keycloak/config/realm-export.json
  backend/dal/Migrations/20210122232754_v01.06.01.Designer.cs
  backend/dal/Migrations/20210122232754_v01.06.01.cs
  backend/dal/Migrations/v01.06.01/Down/PreDown/RemoveRolesAndClaims.sql
  backend/dal/Migrations/v01.06.01/Up/PostUp/AddRoleAndClaims.sql
  backend/dal/Security/Permissions.cs
  backend/dal/Services/Concrete/ProjectReportService.cs
  frontend/src/constants/claims.ts
  frontend/src/features/splReports/components/ElipsisControls.tsx
  frontend/src/features/splReports/components/ReportControls.tsx
  frontend/src/features/splReports/containers/SplReportContainer.test.tsx
  tools/keycloak/sync/realm.json
Labels: enhancement

#839 Fixed v01.06.01 DB Migration
  backend/dal/Migrations/v01.06.01/Down/PreDown/RemoveRolesAndClaims.sql
  backend/dal/Migrations/v01.06.01/Up/PostUp/AddRoleAndClaims.sql
Labels: bug

#837 PA-2573 prevent the user editing the agency from the review form.
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
Labels: bug

#835 PA-2654 building not populating location when dropping pin.
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
Labels: bug

#836 PA-2571 do not allow review form to go into view only mode if that se…
  frontend/src/components/common/form/FastDatePicker.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
Labels: bug

#838 fix pin formatting.
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
Labels: bug

#829 PA-2546 closing the map sidebar zooms the map out all the way.
  frontend/src/hooks/useRouterFilter.ts
Labels: bug

#843 PA-2565 show current parcel for draft properties.
  frontend/src/components/maps/hooks/useActiveFeatureLayer.test.tsx
  frontend/src/components/maps/hooks/useActiveFeatureLayer.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
Labels: bug

#844 correct migration by adding missing index.
  backend/dal/Migrations/20210126015055_v01.06.03.cs
Labels: bug

#847 Updating Code Owners
  .github/CODEOWNERS
Labels: devops

#840 PA-1747 Update property financial values
  backend/api/Areas/Property/Controllers/BuildingController.cs
  backend/api/Areas/Property/Controllers/ParcelController.cs
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Areas/Property/Models/Search/PropertyModel.cs
  backend/dal/Helpers/Extensions/BuildingExtensions.cs
  backend/dal/Helpers/Extensions/ParcelExtensions.cs
  backend/dal/Migrations/20210127224112_v01.06.04.Designer.cs
  backend/dal/Migrations/20210127224112_v01.06.04.cs
  backend/dal/Migrations/v01.06.04/Down/PostDown/01-ViewProperties.sql
  backend/dal/Migrations/v01.06.04/Up/PostUp/01-ViewProperties.sql
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/dal/Services/IBuildingService.cs
  backend/dal/Services/IParcelService.cs
  backend/entities/Views/Property.cs
  backend/tests/unit/dal/Services/BuildingServiceTest.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  frontend/src/components/Table/ColumnFilter.tsx
  frontend/src/components/Table/MoneyCell.tsx
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/components/common/form/FastCurrencyInput.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/admin/users/constants/index.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/columns.tsx
  frontend/src/hooks/useApi.ts
Labels: enhancement

#846 PA-283 View all properties
  .vscode/settings.json
  backend/api/Areas/Admin/Controllers/AgencyController.cs
  backend/api/Areas/Property/Controllers/ParcelController.cs
  backend/api/Areas/Property/Controllers/SearchController.cs
  backend/api/Areas/Property/Mapping/Search/GeoJsonMap.cs
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Areas/Property/Models/Search/GeoJsonFilterModel.cs
  backend/api/Areas/Property/Models/Search/PropertyFilterModel.cs
  backend/api/Areas/Property/Models/Search/PropertyModel.cs
  backend/api/Areas/Reports/Controllers/PropertyController.cs
  backend/core/Extensions/DictionaryExtensions.cs
  backend/core/Extensions/EnumerableExtensions.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Services/Admin/Concrete/AgencyService.cs
  backend/dal/Services/Concrete/PropertyService.cs
  backend/dal/Services/Concrete/UserService.cs
  backend/dal/Services/IPropertyService.cs
  backend/entities/Helpers/Extensions/BuildingExtensions.cs
  backend/entities/Helpers/Extensions/ParcelExtensions.cs
  backend/entities/Helpers/Extensions/ProjectExtensions.cs
  backend/entities/Models/AllPropertyFilter.cs
  backend/entities/Models/BuildingModel.cs
  backend/entities/Models/ParcelModel.cs
  backend/entities/Models/ProjectProperty.cs
  backend/entities/Models/PropertyModel.cs
  backend/entities/Views/Property.cs
  backend/tests/unit/api/Controllers/Property/SearchControllerTest.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/components/maps/PopupView.tsx
  frontend/src/components/maps/__snapshots__/BuildingPopupView.test.tsx.snap
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/__snapshots__/MapProperties.test.tsx.snap
  frontend/src/components/maps/types.ts
  frontend/src/constants/API.ts
  frontend/src/features/admin/agencies/EditAgencyPage.tsx
  frontend/src/features/properties/filter/IPropertyFilter.ts
  frontend/src/interfaces/agency.ts
Labels: enhancement

#848 PA-2396, PA-2398 Setup Kibana + Elasticsearch
  openshift/4.0/README.md
  openshift/4.0/templates/logging/deploy-elasticsearch.yaml
  openshift/4.0/templates/logging/deploy-kibana.yaml
Labels: devops

#845 PA-2496 fix inventory manual link
  frontend/src/features/mapSideBar/components/InventoryPolicy.tsx
Labels: bug

#841 PA-2479 Slide out for owning agency, view land
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/maps/leaflet/InfoSlideOut/BuildingAttributes.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.scss
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.test.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelAttributes.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelPIDPIN.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.test.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/providers/PropertyPopUpProvider.tsx
  frontend/src/mocks/filterDataMock.ts
Labels: enhancement

#853 Disable the street address on the review page.
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
Labels: enhancement

#849 PA-2618 IE not supported fix text alignment
  frontend/src/features/account/IENotSupportedPage.tsx
  frontend/src/features/account/__snapshots__/IENotSupportedPage.test.tsx.snap
Labels: enhancement

#855 Pa 2584 insert "add buildings" button on new detail slideout.
  backend/api/Areas/Property/Controllers/SearchController.cs
  backend/api/Areas/Property/Mapping/Search/GeoJsonMap.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.test.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelAttributes.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/constants/actionTypes.ts
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
  frontend/src/features/mapSideBar/hooks/useSideBarBuildingLoader.tsx
  frontend/src/hooks/useRouterFilter.ts
  frontend/src/reducers/parcelsReducer.spec.ts
  frontend/src/reducers/parcelsReducer.ts
Labels: enhancement

#833 Adjust height to fit more roles in user profile
  frontend/src/components/layout/Header/UserProfile.tsx
Labels: bug

#859 Show all land pins
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
Labels: bug

#852 Text for Surplus Active/Surplus Encumbered on Classification Form
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/ClassificationForm.test.tsx.snap
  frontend/src/features/properties/components/forms/strings.ts
Labels: enhancement

#860 PA-2463: Default to SA and ability to select all
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.scss
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
Labels: enhancement

#861 Ensure that the admin properties flag is included in the filter durin…
  frontend/src/actionCreators/parcelsActionCreator.spec.ts
  frontend/src/actionCreators/parcelsActionCreator.ts
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/features/mapSideBar/hooks/useBuildingApi.tsx
Labels: bug

#854 Invalidate cache after changing financial values
  backend/dal/Services/Admin/Concrete/UserService.cs
  frontend/src/features/admin/users/ManageUsersPage.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/admin/users/constants/index.tsx
  frontend/src/features/admin/users/interfaces/IUserRecord.ts
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/columns.tsx
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/features/properties/service.ts
  frontend/src/interfaces/user.ts
Labels: bug

#863 Add text for Surplus Active desc
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
  frontend/src/features/properties/components/forms/strings.ts
Labels: bug

#857 disable a large number of review fields.
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
Labels: bug

#856 PA-2558 Remove empty tooltip
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.scss
  frontend/src/utils/YupSchema.ts
Labels: bug

#851 PA-2457 remove duplicate uses, fix / formatting.
  backend/dal/Migrations/20210128221817_v01.06.05.Designer.cs
  backend/dal/Migrations/20210128221817_v01.06.05.cs
  backend/dal/Migrations/v01.06.05/Up/PreUp/01-BuildingPredominateUses.sql
Labels: bug

#864 Do not search for matching parcels when adding buildings.
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: bug

#865 PA-2612 correct error display in SPL forms.
  frontend/src/components/common/form/FastDatePicker.tsx
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/SplStep.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
Labels: bug
