Repository bcgov/PIMS, pull requests merged in 2021-03, with the labels that each got.

#992 enhance error modal to allow user to go back to home page or reload c…
  frontend/src/components/common/ErrorModal.tsx
Labels: bug

#999 PA 2883 Update wording on Help feature
  frontend/src/features/help/components/text/DetailNavigationHelpText.tsx
  frontend/src/features/help/components/text/DetailViewHelpText.tsx
  frontend/src/features/help/components/text/InventoryFilterHelpText.tsx
  frontend/src/features/help/components/text/InventoryListHelpText.tsx
  frontend/src/features/help/components/text/InventoryNavigationHelpText.tsx
  frontend/src/features/help/components/text/LandingMapHelpText.tsx
  frontend/src/features/help/components/text/LandingNavigationHelpText.tsx
Labels: enhancement

#1001 Add PID to table, add assessed building(s) to property slideout
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.test.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelAttributes.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ThreeColumnItem.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/AssociatedTab.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/HeaderActions.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/InfoContent.test.tsx.snap
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopupContent.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/columns.tsx
Labels: bug, enhancement

#1002 Adding direct link to project
  backend/dal/Migrations/20210227104606_v01.08.06.Designer.cs
  backend/dal/Migrations/20210227104606_v01.08.06.cs
  backend/dal/Migrations/v01.08.06/Down/PostDown/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.08.06/Up/PostUp/01-NotificationTemplates.sql
Labels: enhancement

#1004 PA-2848 Fixed Not in SPL Workflow
  backend/dal/Migrations/20210301190438_v01.08.07.Designer.cs
  backend/dal/Migrations/20210301190438_v01.08.07.cs
  backend/dal/Migrations/v01.06.00/Down/PreDown/01-RemoveRolesAndClaims.sql
  backend/dal/Migrations/v01.06.00/Up/PostUp/01-AddRoleAndClaims.sql
  backend/dal/Migrations/v01.07.00/Down/PreDown/01-RemoveNewClassifications.sql
  backend/dal/Migrations/v01.08.07/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.08.07/Up/PostUp/01-ProjectStatusTransitions.sql
Labels: bug

#1005 Open associated building in new tab
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
Labels: bug

#1006 Allow parent agency users and SRES users to set project agency
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/features/projects/common/components/FilterBar.tsx
  frontend/src/features/projects/common/forms/ProjectDraftForm.tsx
  frontend/src/features/projects/dispose/hooks/useStepper.ts
  frontend/src/features/projects/dispose/steps/ProjectDraftStep.test.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
Labels: enhancement

#1008 Assorted fixes based on dev testing.
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Services/Concrete/PropertyService.cs
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/mapSideBar/components/MapSideBarLayout.tsx
  frontend/src/features/projects/erp/components/ApprovalActions.tsx
Labels: bug

#1007 DB Migration v01.08.00 Merge
  backend/dal/Migrations/20210217204245_v01.08.00.Designer.cs
  backend/dal/Migrations/20210217204245_v01.08.00.cs
  backend/dal/Migrations/20210218234021_v01.08.01.Designer.cs
  backend/dal/Migrations/20210218234021_v01.08.01.cs
  backend/dal/Migrations/20210219232811_v01.08.02.Designer.cs
  backend/dal/Migrations/20210219232811_v01.08.02.cs
  backend/dal/Migrations/20210222151656_v01.08.03.Designer.cs
  backend/dal/Migrations/20210222151656_v01.08.03.cs
  backend/dal/Migrations/20210222220136_v01.08.04.Designer.cs
  backend/dal/Migrations/20210222220136_v01.08.04.cs
  backend/dal/Migrations/20210225234858_v01.08.05.Designer.cs
  backend/dal/Migrations/20210225234858_v01.08.05.cs
  backend/dal/Migrations/20210227104606_v01.08.06.Designer.cs
  backend/dal/Migrations/20210227104606_v01.08.06.cs
  backend/dal/Migrations/20210301190438_v01.08.07.Designer.cs
  backend/dal/Migrations/20210301190438_v01.08.07.cs
  backend/dal/Migrations/v01.08.00/Down/PostDown/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.08.00/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.08.00/Down/PostDown/01-ViewProperties.sql
  backend/dal/Migrations/v01.08.00/Up/Postup/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.08.00/Up/Postup/01-ProjectStatus.sql
  backend/dal/Migrations/v01.08.00/Up/Postup/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.08.00/Up/Postup/01-ViewProperties.sql
  backend/dal/Migrations/v01.08.00/Up/PreUp/01-Buildings.sql
  backend/dal/Migrations/v01.08.00/Up/PreUp/01-Parcels.sql
  backend/dal/Migrations/v01.08.00/Up/PreUp/02-Buildings.sql
  backend/dal/Migrations/v01.08.04/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.08.04/Up/PostUp/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.08.05/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.08.07/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.08.07/Up/PostUp/01-ProjectStatusTransitions.sql
Labels: devops

#1003 PA-2823 property list enhancements.
  frontend/src/components/Table/MoneyCell.tsx
  frontend/src/components/Table/Table.tsx
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/buildings/Buildings.tsx
  frontend/src/features/properties/list/buildings/IProperty.ts
  frontend/src/features/properties/list/buildings/columns.tsx
  frontend/src/features/properties/list/buildings/index.ts
  frontend/src/features/properties/list/columns.tsx
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/mocks/filterDataMock.ts
Labels: DRAFT PR - Do Not Merge, enhancement

#1010 PA-2595 jump/zoom to property if clicked from inventory list.
  frontend/src/components/maps/leaflet/PointClusterer.tsx
Labels: enhancement

#1011 PA-2829 Import Project Location
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/api/Areas/Tools/Models/Import/ImportProjectModel.cs
  tools/converters/excel/appsettings.json
Labels: enhancement

#1012 PA-2905 Fixed Exempt Project Workflows
  backend/dal/Migrations/20210303154503_v01.09.00.Designer.cs
  backend/dal/Migrations/20210303154503_v01.09.00.cs
  backend/dal/Migrations/v01.09.00/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.09.00/Up/Postup/01-ProjectStatusTransitions.sql
  frontend/src/features/projects/erp/tabs/ErpTabs.tsx
Labels: DB Migration, bug

#1018 Domain name change
  backend/api/appsettings.Development.json
  backend/api/appsettings.Test.json
  backend/api/appsettings.json
  frontend/openshift/frontend-build.param
  frontend/openshift/frontend-deploy.dev.param
  frontend/openshift/frontend-deploy.param
  frontend/openshift/frontend-deploy.prod.param
  frontend/openshift/frontend-deploy.test.param
  frontend/openshift/nginx-runtime.param
  frontend/openshift/templates/frontend/frontend-build.json
  frontend/openshift/templates/frontend/frontend-deploy.json
  frontend/openshift/yarn-builder-build.param
  openshift/4.0/templates/jenkins/README.md
  openshift/4.0/templates/jenkins/generic-pipeline.yaml
  openshift/4.0/templates/jenkins/jenkins-master.yaml
  tools/import/README.md
  tools/import/appsettings.Development.json
  tools/import/appsettings.Test.json
  tools/import/appsettings.json
  tools/keycloak/sync/appsettings.development.json
  tools/keycloak/sync/appsettings.test.json
  tools/keycloak/sync/realm.development.json
  tools/keycloak/sync/realm.test.json
Labels: enhancement

#1017 PA-2916 Renaming Saltspring Island
  backend/dal/Migrations/20210303193244_v01.09.01.Designer.cs
  backend/dal/Migrations/20210303193244_v01.09.01.cs
  backend/dal/Migrations/v01.09.01/Up/PostUp/01-AdministrativeAreas.sql
Labels: DB Migration, bug

#1016 PA-2854 Disposal Project Clearance Notification
  backend/dal/Services/Concrete/ProjectService.cs
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/erpYupSchema.ts
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/utils/utils.ts
Labels: enhancement

#1022 PA-2839 Delete UBC Properties
  backend/dal/Migrations/20210303222143_v01.09.02.Designer.cs
  backend/dal/Migrations/20210303222143_v01.09.02.cs
  backend/dal/Migrations/v01.09.02/Up/PostUp/01-Buildings.sql
  backend/dal/Migrations/v01.09.02/Up/PostUp/01-Parcels.sql
Labels: DB Migration, enhancement

#1020 Add filtering to SPL reports
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.test.tsx
  frontend/src/components/maps/leaflet/LayersControl/data.ts
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/splReports/columns.tsx
  frontend/src/features/splReports/components/ReportForm.tsx
  frontend/src/features/splReports/containers/SplReportContainer.test.tsx
  frontend/src/features/splReports/containers/SplReportContainer.tsx
  frontend/src/features/splReports/hooks/useProjectSnapshotApi.ts
  frontend/src/features/splReports/interfaces.ts
Labels: enhancement

#1019 Default to includeAllProperties in Surplust Filter
  frontend/src/features/properties/filter/PropertyFilter.tsx
Labels: enhancement

#1027 SSL Route Config
  openshift/4.0/templates/app/README.md
  openshift/4.0/templates/app/deploy-alt-routes.yaml
  openshift/4.0/templates/app/deploy-routes.yaml
  openshift/4.0/templates/app/deploy.yaml
Labels: devops, documentation

#1021 Blur Page until Map Requests Complete
  frontend/src/components/maps/leaflet/FilterBackdrop/index.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/properties/map/MapView.scss
Labels: enhancement

#1030 Added JWT Error Handling
  backend/api/Helpers/Exceptions/AuthenticationException.cs
  backend/api/Helpers/Middleware/ErrorHandlingMiddleware.cs
  backend/api/Startup.cs
Labels: enhancement

#1024 PA-2903 Fixed Keycloak Sync
  .vscode/launch.json
  tools/keycloak/sync/Models/UserModel.cs
  tools/keycloak/sync/SyncFactory.cs
Labels: bug

#1028 Database DC changed Rolling to Recreate
  openshift/4.0/templates/api/deploy.yaml
  openshift/4.0/templates/app/deploy.yaml
  openshift/4.0/templates/database/mssql-deploy.yaml
Labels: devops

#1031 Add location to Select Properties filter
  frontend/src/features/projects/common/components/FilterBar.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
Labels: enhancement

#1026 PA-2885 Update Notification Addressed To
  backend/api/Areas/Admin/Mapping/Agency/AgencyMap.cs
  backend/api/Areas/Admin/Models/Agency/AgencyModel.cs
  backend/dal/Migrations/20210304181126_v01.09.03.Designer.cs
  backend/dal/Migrations/20210304181126_v01.09.03.cs
  backend/dal/Migrations/v01.09.03/Up/PostUp/01-NotificationTemplates.sql
  frontend/src/features/admin/agencies/EditAgencyPage.test.tsx
  frontend/src/features/admin/agencies/EditAgencyPage.tsx
  frontend/src/features/admin/agencies/__snapshots__/EditAgencyPage.test.tsx.snap
  frontend/src/interfaces/agency.ts
  frontend/src/reducers/agencyDetailReducer.tsx
  frontend/src/utils/YupSchema.ts
Labels: DB Migration, bug, enhancement

#1032 PA-2875 Updated Not in SPL to Dispose
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
Labels: enhancement

#1029 Project property Name/PID column and update support email
  backend/api/Areas/Project/Mapping/Dispose/BuildingMap.cs
  backend/api/Areas/Project/Mapping/Dispose/ParcelMap.cs
  frontend/src/features/help/constants/HelpText.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/properties/columns.tsx
Labels: enhancement

#1015 Fix slideout improvements/assessed
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelAttributes.tsx
Labels: bug

#1033 handle Property list view form validation manually before saving
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#1035 PA-2656 display message when databc is down.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.test.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/constants/strings.tsx
Labels: dependencies, enhancement

#1034 Delete Subdivisions when parent parcel deleted. Do not delete parent …
  backend/dal/Services/Concrete/ParcelService.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
Labels: enhancement

#1025 PA-2608 update modify land button logic and add tests.
  frontend/src/actions/parcelsActions.ts
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/mocks/filterDataMock.ts
Labels: enhancement, unit-tests

#1040 PA-2885 Updated Notification AddressTo
  backend/dal/Migrations/v01.09.03/Up/PostUp/01-NotificationTemplates.sql
Labels: enhancement

#1047 During initial login the state of the selected parameter is undefined…
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/constants/API.ts
Labels: bug

#1038 Show only my agencies in the filter
  frontend/package-lock.json
  frontend/src/features/projects/common/forms/ProjectDraftForm.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/hooks/useMyAgencies.test.tsx
  frontend/src/hooks/useMyAgencies.ts
Labels: bug

#1046 minimal change that also highlights all parcels associated to a build…
  frontend/src/components/maps/hooks/useActiveFeatureLayer.test.tsx
  frontend/src/components/maps/hooks/useActiveFeatureLayer.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
Labels: enhancement

#1039 PA-2895 add support for paging to select properties table. also add t…
  frontend/src/colors.scss
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/hooks/useTable.ts
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.test.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/splReports/interfaces.ts
  frontend/src/mocks/filterDataMock.ts
Labels: bug

#1049 Fixed NotificationTemplate
  backend/dal/Migrations/v01.08.01/Up/Postup/01-NotificationTemplates.sql
Labels: bug

#1051 Fixed UBC DB Migration Script
  backend/dal/Migrations/v01.08.01/Up/Postup/01-Buildings.sql
  backend/dal/Migrations/v01.08.01/Up/Postup/01-Parcels.sql
Labels: bug

#1044 Clean up predom uses
  backend/dal/Migrations/20210308235026_v01.09.05.Designer.cs
  backend/dal/Migrations/20210308235026_v01.09.05.cs
  backend/dal/Migrations/v01.09.05/Up/PreUp/01-BuildingPredominateUses.sql
Labels: DB Migration

#1041 Pa-2896 Updated Delete Property
  auth/keycloak/config/realm-export.json
  backend/api/Areas/Property/Controllers/ParcelController.cs
  backend/api/Policies/HasPermissionAttribute.cs
  backend/api/Policies/PermissionFilter.cs
  backend/dal/Migrations/20210308210949_v01.09.04.Designer.cs
  backend/dal/Migrations/20210308210949_v01.09.04.cs
  backend/dal/Migrations/v01.09.04/Down/PostDown/02-RoleClaims.sql
  backend/dal/Migrations/v01.09.04/Up/PostUp/02-RoleClaims.sql
  backend/dal/Services/Concrete/ParcelService.cs
  backend/tests/core/PimsAssert.cs
  backend/tests/unit/api/Routes/Property/ParcelControllerTest.cs
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/hooks/useKeycloakWrapper.tsx
  tools/keycloak/sync/.vscode/launch.json
  tools/keycloak/sync/.vscode/tasks.json
  tools/keycloak/sync/SyncFactory.cs
  tools/keycloak/sync/realm.json
Labels: DB Migration, enhancement

#1048 Updated API Routes Deployment Config
  .vscode/launch.json
  openshift/4.0/templates/api/README.md
  openshift/4.0/templates/api/deploy-routes.yaml
  openshift/4.0/templates/api/deploy.yaml
Labels: devops, documentation

#1052 PA-2948 Debugging Notifications
  backend/api/Areas/Notification/Controllers/TemplateController.cs
  backend/ches/ChesService.cs
  backend/ches/Configuration/ChesOptions.cs
  backend/dal/Services/Concrete/NotificationTemplateService.cs
  backend/dal/Services/INotificationTemplateService.cs
  backend/entities/NotificationQueue.cs
  backend/notifications/NotificationService.cs
  backend/tests/unit/api/Controllers/Notification/TemplateControllerTest.cs
  backend/tests/unit/api/Routes/Notification/TemplateControllerTest.cs
Labels: enhancement

#1023 Pa 2899
  backend/api/Helpers/Logging/LoggerExtension.cs
  backend/api/Pims.Api.csproj
  backend/api/appsettings.json
  openshift/4.0/pipelines/Jenkinsfile.test-to-prod
  openshift/4.0/templates/api/deploy.yaml
  openshift/4.0/templates/app/deploy.yaml
  openshift/4.0/templates/backup/deploy.yaml
  openshift/4.0/templates/kubernetes-network-policy/deny-all-traffic.yaml
  openshift/4.0/templates/kubernetes-network-policy/internet-to-routes.yaml
  openshift/4.0/templates/kubernetes-network-policy/nsp-tools.yaml
  openshift/4.0/templates/kubernetes-network-policy/nsp.yaml
  openshift/4.0/templates/kubernetes-network-policy/pod-from-pod.yaml
  openshift/4.0/templates/logging/README.md
  openshift/4.0/templates/logging/deploy-elasticsearch.yaml
  openshift/4.0/templates/logging/deploy-kibana.yaml
  openshift/4.0/templates/migrations/migration-job.yaml
  openshift/4.0/templates/monitor/README.md
  openshift/4.0/templates/monitor/deploy-grafana.yaml
  openshift/4.0/templates/monitor/deploy-prometheus.yaml
Labels: devops, documentation

#1053 add tests for basic filter logic.
  frontend/src/components/SearchBar/__snapshots__/FilterBar.test.tsx.snap
  frontend/src/components/common/form/Button.tsx
  frontend/src/components/common/form/ResetButton.tsx
  frontend/src/components/common/form/SearchButton.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/splReports/components/ReportControls.tsx
Labels: unit-tests

#1054 PA-2885 Updated Notifications
  backend/dal/Migrations/20210309223418_v01.09.06.Designer.cs
  backend/dal/Migrations/20210309223418_v01.09.06.cs
  backend/dal/Migrations/v01.09.06/Up/PostUp/01-NotificationTemplates.sql
Labels: DB Migration, enhancement

#1056 PA-2961 Updated Agencies
  backend/dal/Migrations/20210310003256_v01.09.07.Designer.cs
  backend/dal/Migrations/20210310003256_v01.09.07.cs
  backend/dal/Migrations/v01.09.07/Up/PostUp/01-Agencies.sql
Labels: DB Migration, enhancement

#1050 PA-2538 Allow zoom to results on search
  frontend/src/components/maps/leaflet/PointClusterer.tsx
Labels: bug

#1036 Land only filter fix
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
Labels: bug

#1059 Fixed Notfiication Template
  backend/dal/Migrations/v01.08.01/Up/Postup/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.09.06/Up/PostUp/01-NotificationTemplates.sql
Labels: bug

#1060 PA-2968 Fixed ERP to Not in SPL
  backend/dal/Migrations/20210310191121_v01.09.08.Designer.cs
  backend/dal/Migrations/20210310191121_v01.09.08.cs
  backend/dal/Migrations/v01.09.08/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.09.08/Up/PostUp/01-ProjectStatusTransitions.sql
Labels: DB Migration, bug

#1042 PA-2396
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/SelectedPropertyMarker/SelectedPropertyMarker.tsx
  frontend/src/features/properties/map/MapView.scss
Labels: enhancement

#1055 PA-2437, 2865: Default values and reports tab
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/router.tsx
Labels: bug

#1062 PA-2972 handle concurrency correctly for associated land.
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: bug

#1058 Pa-2917
  backend/api/Areas/Property/Mapping/Building/BuildingMap.cs
  backend/api/Areas/Property/Mapping/Parcel/ParcelMap.cs
  backend/api/Areas/Property/Models/Parcel/PropertyModel.cs
  backend/api/Mapping/Converters/AgencyConverter.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.test.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/mocks/filterDataMock.ts
Labels: bug

#1063 PA-2708 Fixed Keycloak User Administration
  backend/dal.keycloak/Partials/PimsKeycloakUserService.cs
  backend/dal.keycloak/Pims.Dal.Keycloak.csproj
  backend/dal.keycloak/PimsKeycloakService.cs
  backend/tests/core/TestHelper.cs
  backend/tests/unit/dal/Libraries/Keycloak/KeycloakServiceGroupsTest.cs
  backend/tests/unit/dal/Libraries/Keycloak/KeycloakServiceRolesTest.cs
  backend/tests/unit/dal/Libraries/Keycloak/KeycloakServiceTest.cs
  backend/tests/unit/dal/Libraries/Keycloak/PimsKeycloakUserServiceTest.cs
Labels: bug

#1066 Add missing childless agencies to agency list
  frontend/src/components/common/form/ParentSelect.tsx
Labels: bug

#1068 update frontend dependencies.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/components/Table/types.ts
  frontend/src/components/common/form/Check.tsx
  frontend/src/components/common/form/LimitedSelect.test.tsx
  frontend/src/components/maps/FindMorePropertiesButton.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/features/admin/agencies/EditAgencyPage.test.tsx
  frontend/src/features/admin/agencies/ManageAgencies.tsx
  frontend/src/features/admin/edit-user/EditUserPage.test.tsx
  frontend/src/features/projects/apiService.ts
  frontend/src/features/projects/assess/steps/ReviewApproveStep.test.tsx
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/dispose/ProjectDisposeLayout.test.tsx
  frontend/src/features/projects/dispose/components/ExemptionRequest.test.tsx
  frontend/src/features/projects/dispose/hooks/useStepper.ts
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/steps/GreTransferStep.test.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/properties/components/GeocoderAutoComplete.tsx
  frontend/src/features/properties/components/LastUpdatedBy.test.tsx
  frontend/src/features/properties/components/forms/subforms/DebouncedValidation.tsx
  frontend/src/features/properties/hooks/useDraftMarkerSynchronizer.tsx
  frontend/src/features/properties/list/PropertyListView.scss
  frontend/src/features/properties/service.ts
  frontend/src/features/splReports/hooks/useProjectSnapshotApi.ts
  frontend/src/hooks/useDeepCompareCallback.ts
  frontend/src/hooks/useDeepCompareEffect.ts
  frontend/src/hooks/useDeepCompareMemo.ts
  frontend/src/types/react-table.d.ts
  frontend/tsconfig.json
Labels: dependencies

#1013 enhance error handling so that async errors trigger the error boundary.
  frontend/src/actionCreators/parcelsActionCreator.spec.ts
  frontend/src/actionCreators/parcelsActionCreator.ts
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/hooks/useSideBarBuildingLoader.tsx
  frontend/src/features/mapSideBar/hooks/useSideBarParcelLoader.tsx
  frontend/src/features/properties/map/MapView.scss
  frontend/src/hooks/useAsyncError.ts
Labels: bug

#1061 PA-2775 ensure that the url cannot be overwritten until after initial…
  frontend/src/contexts/authStateContext.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/hooks/useRouterFilter.test.tsx
  frontend/src/hooks/useRouterFilter.ts
Labels: bug

#1065 PA-2881 update wording.
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
Labels: enhancement

#1070 Do not allow the user to interact with the slideout during data load.
  frontend/src/components/maps/leaflet/FilterBackdrop/index.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/providers/PropertyPopUpProvider.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: bug

#1067 PA-2975 fix object dereference in slideout.
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/features/projects/common/projectConverter.ts
Labels: bug

#1071 use secrets instead of strings for cicd tokens.
  openshift/4.0/pipelines/Jenkinsfile.cicd
Labels: devops

#1072 disable clustering until after zoom is done
  frontend/src/components/maps/hooks/useSupercluster.test.tsx
  frontend/src/components/maps/hooks/useSupercluster.ts
  frontend/src/components/maps/leaflet/PointClusterer.tsx
Labels: bug

#1073 do not request user info unless authenticated.
  frontend/src/contexts/authStateContext.tsx
Labels: bug

#1079 PA-2325 Search response toast
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
Labels: enhancement

#1078 clean up majority of frontend test warnings.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/form/Check.tsx
  frontend/src/features/admin/access-request/AccessRequestPage.test.tsx
  frontend/src/features/admin/access-request/__snapshots__/AccessRequestPage.test.tsx.snap
  frontend/src/features/admin/access/ManageAccessRequests.test.tsx
  frontend/src/features/admin/agencies/ManageAgencies.test.tsx
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/ManageUsers.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/ClassificationForm.test.tsx.snap
  frontend/src/features/projects/assess/steps/ReviewApproveStep.test.tsx
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/ProjectRouter.test.tsx
  frontend/src/features/projects/common/ProjectSummaryView.test.tsx
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/ProjectFinancialTable.tsx
  frontend/src/features/projects/common/forms/UpdateInfoForm.test.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/ProjectDisposeLayout.test.tsx
  frontend/src/features/projects/dispose/ProjectDisposeView.test.tsx
  frontend/src/features/projects/dispose/steps/DocumentationStep.test.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/DocumentationStep.test.tsx.snap
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.test.tsx
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/steps/GreTransferStep.test.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/list/ProjectApprovalRequest.test.tsx
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/features/projects/spl/forms/CloseOutFinancialSummaryForm.tsx
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/properties/filter/PropertyFilter.test.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
Labels: bug, dependencies

#1074 Correct some associated land issues.
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
Labels: bug

#1077 PA-2634, PA-2886: Filter bug fixes
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#1043 PA-2851: Submissions on behalf of child agencies
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
Labels: enhancement

#1081 Validation bug
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/Header/__snapshots__/Header.test.tsx.snap
  frontend/src/components/maps/leaflet/LayersControl/data.ts
  frontend/src/utils/YupSchema.ts
Labels: bug

#1082 PA-3005 editing parcels/buildings defaults to last page.
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/constants/toasts.ts
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.test.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
Labels: bug

#1083 PA-2835 fix table column filter
  frontend/.prettierignore
  frontend/src/components/Table/ColumnFilter.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/columns.tsx
Labels: bug

#1084 PA-3004 Fixed Disposal Project Workflows
  backend/dal/Migrations/20210317164233_v01.09.01.Designer.cs
  backend/dal/Migrations/20210317164233_v01.09.01.cs
  backend/dal/Migrations/v01.09.01/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.09.01/Up/PostUp/01-ProjectStatusTransitions.sql
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.test.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  tools/keycloak/sync/SyncFactory.cs
Labels: DB Migration, bug

#1085 PA-3008 SPL Report Status Updated
  backend/api/Areas/Reports/Mapping/Project/SurplusPropertyListMap.cs
  backend/dal/Services/Concrete/ProjectService.cs
Labels: bug

#1076 Added Permissive NetworkPolicy
  openshift/4.0/templates/network-security-policy/ingress-permissive.yaml
Labels: devops

#1087 add tests to increase coverage.
  backend/dal/Services/Admin/Concrete/AgencyService.cs
  frontend/src/actionCreators/agencyActionCreator.ts
  frontend/src/components/common/form/FastDatePicker.test.tsx
  frontend/src/components/common/form/FastDatePicker.tsx
  frontend/src/components/common/form/StepForm/SteppedForm.test.tsx
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/__snapshots__/SteppedForm.test.tsx.snap
  frontend/src/components/common/form/StepForm/context.tsx
  frontend/src/components/maps/leaflet/Legend/Legend.tsx
  frontend/src/components/maps/leaflet/Legend/__snapshots__/Legend.test.tsx.snap
  frontend/src/features/admin/access/components/RowActions.test.tsx
  frontend/src/features/admin/agencies/EditAgencyPage.test.tsx
  frontend/src/features/admin/users/ManageUsers.test.tsx
  frontend/src/features/admin/users/components/RowActions.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/AddParentParcelsForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AddParentParcelsForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/OccupancyForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/AddParentParcelsForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/OccupancyForm.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/mocks/filterDataMock.ts
  frontend/src/utils/testUtils.ts
Labels: bug, unit-tests

#1089 PA-3004 Fixed Workflow
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
Labels: bug

#1092 Console warning fix
  frontend/src/components/common/form/ParentSelect.tsx
Labels: bug

#1094 Tenancy % tooltip
  frontend/src/features/mapSideBar/SidebarContents/subforms/OccupancyForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/TenancyForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/OccupancyForm.test.tsx.snap
Labels: enhancement

#1090 remove unused code, apply some automated refactoring.
  backend/api/Helpers/Logging/LoggerExtension.cs
  backend/api/Helpers/Mapping/ApplicationBuilderExtensions.cs
  backend/api/Helpers/Mapping/ServiceCollectionExtensions.cs
  backend/api/Helpers/Middleware/ErrorHandlingMiddleware.cs
  backend/api/Helpers/Middleware/LogRequestMiddleware.cs
  backend/api/Helpers/Middleware/ResponseTimeMiddleware.cs
  backend/api/Program.cs
  backend/api/Startup.cs
  backend/core/Converters/BooleanJsonConverter.cs
  backend/core/Extensions/StreamExtensions.cs
  backend/dal/Helpers/Extensions/ApplicationBuilderExtensions.cs
  backend/dal/Helpers/Extensions/ServiceCollectionExtensions.cs
  backend/dal/PIMSContextFactory.cs
  backend/entities/Comparers/AccessRequestAgencyAgencyIdComparer.cs
  backend/entities/Comparers/AccessRequestRoleRoleIdComparer.cs
  backend/entities/Comparers/AgencyIdComparer.cs
  backend/entities/Comparers/RoleIdComparer.cs
  backend/entities/Comparers/UserAgencyAgencyIdComparer.cs
  backend/entities/Comparers/UserRoleRoleIdComparer.cs
  backend/entities/Models/PropertyFilter.cs
  backend/tests/unit/dal/Libraries/Ches/ChesExceptionTest.cs
  frontend/src/components/Debug/Debug.ignore.tsx
  frontend/src/components/common/WrappedPaginate.tsx
  frontend/src/constants/permissions.ts
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useMount.ts
  frontend/src/utils/CommonFunctions.ts
  frontend/src/utils/RequestHeaders.ts
  frontend/src/utils/testUtils.ts
  frontend/src/utils/utils.ts
Labels: enhancement

#1093 Add missing tests for the reports controllers.
  backend/tests/unit/api/Controllers/Reports/ProjectControllerTest.cs
  backend/tests/unit/api/Controllers/Reports/PropertyControllerTest.cs
  backend/tests/unit/api/Controllers/Reports/UserControllerTest.cs
Labels: enhancement

#1095 PIMS frontend performance enhancements.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/images/SeasideBlue.png
  frontend/src/components/layout/Header/EmptyHeader.test.tsx
  frontend/src/components/layout/Header/EmptyHeader.tsx
  frontend/src/components/layout/Header/__snapshots__/EmptyHeader.test.tsx.snap
  frontend/src/components/layout/index.ts
  frontend/src/features/account/Login.scss
  frontend/src/features/account/LoginLoading.test.tsx
  frontend/src/features/account/LoginLoading.tsx
  frontend/src/features/account/__snapshots__/LoginLoading.test.tsx.snap
  frontend/src/features/admin/users/ManageUsers.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/dispose/ProjectDisposalExemptionSubmitted.tsx
  frontend/src/features/projects/dispose/ProjectDisposalSubmitted.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/fonts.scss
  frontend/src/index.tsx
  frontend/src/layouts/AuthLayout.tsx
  frontend/src/layouts/EmptyLayout.test.tsx
  frontend/src/layouts/EmptyLayout.tsx
  frontend/src/layouts/__snapshots__/EmptyLayout.test.tsx.snap
  frontend/src/router.tsx
  openshift/4.0/templates/app/deploy.yaml
Labels: enhancement

#1086 Bug fixes for submitting on behalf on child agency
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  frontend/src/components/Table/ColumnFilter.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/utils/YupSchema.ts
Labels: bug

#1097 fix issue with notification template causing NPE
  backend/dal/Migrations/20210319220555_v01.09.01.Designer.cs
  backend/dal/Migrations/20210319220555_v01.09.01.cs
  backend/dal/Migrations/v01.09.01/Up/PreUp/01-NotificationTemplates.sql
Labels: bug

#1096 Fix accidental globcal scss. Remove leaflet-draw cdn call.
  frontend/public/index.html
  frontend/src/features/admin/edit-user/EditUserPage.scss
Labels: bug

#1099 Dev fixes.
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
Labels: bug

#1100 fix last double submit.
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
Labels: bug

#1098 adding Bruce and Sharala to code owners
  .github/CODEOWNERS
Labels: devops

#1101 Updated Notification Templates CC
  backend/dal/Migrations/20210323132211_v01.09.02.Designer.cs
  backend/dal/Migrations/20210323132211_v01.09.02.cs
  backend/dal/Migrations/v01.09.02/Up/PostUp/01-NotificationTemplates.sql
Labels: DB Migration, enhancement
