Repository bcgov/PIMS, pull requests merged in 2021-02, with the labels that each got.

#866 Allow SRES to change on behalf of another agency
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
Labels: bug

#867 PA-2640 Added Delete Property
  backend/api/Areas/Property/Controllers/ParcelController.cs
  backend/dal/Services/Concrete/BuildingService.cs
  frontend/src/actionCreators/buildingActionCreator.ts
  frontend/src/actionCreators/parcelsActionCreator.spec.ts
  frontend/src/actionCreators/parcelsActionCreator.ts
  frontend/src/constants/actionTypes.ts
  frontend/src/constants/toasts.ts
  frontend/src/customAxios.ts
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: enhancement

#858 PA-2402, PA-2399 Added Prometheus and Grafana
  openshift/4.0/README.md
  openshift/4.0/templates/api/README.md
  openshift/4.0/templates/app/README.md
  openshift/4.0/templates/backup/README.md
  openshift/4.0/templates/database/README.md
  openshift/4.0/templates/logging/README.md
  openshift/4.0/templates/logging/deploy-elasticsearch.yaml
  openshift/4.0/templates/maintenance/README.md
  openshift/4.0/templates/monitor/README.md
  openshift/4.0/templates/monitor/deploy-grafana.yaml
  openshift/4.0/templates/monitor/deploy-prometheus.yaml
  openshift/4.0/templates/persistent-volume-claims/db-storage.yaml
Labels: devops, documentation

#868 PA-283 Map Assessed Values
  backend/api/Areas/Property/Mapping/Search/GeoJsonMap.cs
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Areas/Reports/Mapping/Project/ProjectPropertyMap.cs
  backend/api/Areas/Reports/Mapping/Property/PropertyMap.cs
  backend/api/Areas/Reports/Models/Project/ProjectPropertyModel.cs
  backend/api/Areas/Reports/Models/Property/PropertyModel.cs
  backend/dal/Configuration/Views/PropertyConfiguration.cs
  backend/dal/Helpers/Extensions/BuildingExtensions.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Migrations/20210130235249_v01.06.06.Designer.cs
  backend/dal/Migrations/20210130235249_v01.06.06.cs
  backend/dal/Migrations/v01.06.06/Down/PostDown/01-ViewProperties.sql
  backend/dal/Migrations/v01.06.06/Up/PostUp/01-ViewProperties.sql
  backend/entities/Helpers/Extensions/BuildingExtensions.cs
  backend/entities/Helpers/Extensions/ParcelExtensions.cs
  backend/entities/Models/AllPropertyFilter.cs
  backend/entities/Models/BuildingModel.cs
  backend/entities/Models/ParcelModel.cs
  backend/entities/Models/ProjectProperty.cs
  backend/entities/Views/Property.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/common/form/FastCurrencyInput.test.tsx
  frontend/src/components/common/form/__snapshots__/FastCurrencyInput.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/BuildingAttributes.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelAttributes.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingValuationForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/OccupancyForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ValuationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/projects/assess/steps/ReviewApproveStep.test.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/dispose/forms/PropertyListViewSelect.test.tsx
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/list/properties/columns.tsx
  frontend/src/features/properties/components/forms/subforms/SumFinancialsForm.test.tsx
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/buildings/IProperty.ts
  frontend/src/features/properties/list/buildings/columns.tsx
  frontend/src/features/properties/list/interfaces.ts
  frontend/src/mocks/filterDataMock.ts
Labels: bug, enhancement

#869 Ensure that buildings still search by pid/pin properly when dropping …
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.tsx
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
Labels: bug

#870 PA-2640 Fixed Delete Property
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: bug

#862 Small slide out fixes
  backend/api/Areas/Property/Mapping/Search/GeoJsonMap.cs
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelAttributes.tsx
Labels: bug

#871 PA-1742 Fixed Keycloak Sync Tool
  backend/core/Http/OpenIdConnectRequestClient.cs
  backend/core/Pims.Core.csproj
  tools/core/Pims.Tools.Core.csproj
  tools/keycloak/sync/Pims.Tools.Keycloak.Sync.csproj
  tools/keycloak/sync/Program.cs
  tools/keycloak/sync/Properties/launchSettings.json
  tools/keycloak/sync/SyncFactory.cs
  tools/keycloak/sync/realm.development.json
  tools/keycloak/sync/realm.test.json
Labels: bug

#872 retain changes after saving
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#873 inventory fixes.
  backend/dal/Helpers/Extensions/BuildingExtensions.cs
  backend/dal/Helpers/Extensions/ParcelExtensions.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/common/form/Check.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingValuationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandValuationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
  frontend/src/features/mapSideBar/hooks/useSideBarBuildingLoader.tsx
  frontend/src/features/mapSideBar/hooks/useSideBarBuildingWithParcelLoader.tsx
  frontend/src/features/mapSideBar/hooks/useSideBarParcelLoader.tsx
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/DocumentationStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/properties/components/GeocoderAutoComplete.tsx
  frontend/src/features/properties/components/forms/subforms/DebouncedValidation.tsx
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
  frontend/src/features/properties/components/forms/subforms/LandForm.tsx
  frontend/src/features/properties/components/forms/subforms/PidPinForm.tsx
  frontend/src/features/properties/components/forms/subforms/SumFinancialsForm.test.tsx
  frontend/src/features/properties/components/forms/subforms/SumFinancialsForm.tsx
  frontend/src/features/properties/components/forms/subforms/columns.tsx
  frontend/src/utils/YupSchema.ts
  frontend/src/utils/utils.ts
Labels: bug

#874 Merged DB migration into v01.06.00
  backend/dal/Migrations/20210114181825_v01.06.00.Designer.cs
  backend/dal/Migrations/20210114181825_v01.06.00.cs
  backend/dal/Migrations/20210122232754_v01.06.01.Designer.cs
  backend/dal/Migrations/20210122232754_v01.06.01.cs
  backend/dal/Migrations/20210123002728_v01.06.02.Designer.cs
  backend/dal/Migrations/20210123002728_v01.06.02.cs
  backend/dal/Migrations/20210126015055_v01.06.03.Designer.cs
  backend/dal/Migrations/20210126015055_v01.06.03.cs
  backend/dal/Migrations/20210127224112_v01.06.04.Designer.cs
  backend/dal/Migrations/20210127224112_v01.06.04.cs
  backend/dal/Migrations/20210128221817_v01.06.05.Designer.cs
  backend/dal/Migrations/20210128221817_v01.06.05.cs
  backend/dal/Migrations/20210130235249_v01.06.06.Designer.cs
  backend/dal/Migrations/20210130235249_v01.06.06.cs
  backend/dal/Migrations/v01.06.00/Down/PostDown/01-Buildings.sql
  backend/dal/Migrations/v01.06.00/Down/PostDown/01-Parcels.sql
  backend/dal/Migrations/v01.06.00/Down/PostDown/01-ViewProperties.sql
  backend/dal/Migrations/v01.06.00/Down/PreDown/01-Buildings.sql
  backend/dal/Migrations/v01.06.00/Down/PreDown/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.06.00/Down/PreDown/01-Parcels.sql
  backend/dal/Migrations/v01.06.00/Down/PreDown/01-Projects.sql
  backend/dal/Migrations/v01.06.00/Down/PreDown/RemoveRolesAndClaims.sql
  backend/dal/Migrations/v01.06.00/Up/PostUp/01-Buildings.sql
  backend/dal/Migrations/v01.06.00/Up/PostUp/01-Parcels.sql
  backend/dal/Migrations/v01.06.00/Up/PostUp/01-ViewProperties.sql
  backend/dal/Migrations/v01.06.00/Up/PostUp/AddRoleAndClaims.sql
  backend/dal/Migrations/v01.06.00/Up/PreUp/01-BuildingPredominateUses.sql
  backend/dal/Migrations/v01.06.00/Up/PreUp/01-Buildings.sql
  backend/dal/Migrations/v01.06.00/Up/PreUp/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.06.00/Up/PreUp/01-Parcels.sql
  backend/dal/Migrations/v01.06.03/Down/PostDown/01-ViewProperties.sql
  backend/dal/Migrations/v01.06.03/Up/PostUp/01-ViewProperties.sql
  backend/dal/Migrations/v01.06.04/Down/PostDown/01-ViewProperties.sql
  backend/dal/Migrations/v01.06.04/Up/PostUp/01-ViewProperties.sql
  backend/dal/Migrations/v01.06.06/Down/PostDown/01-ViewProperties.sql
Labels: devops

#876 Fixed edit/delete buttons
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: bug

#879 PA-2719 Correct agency auto complete.
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
Labels: bug

#877 PA-2181 Fixed Project Import
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
Labels: bug

#875 PA-2662 Fix up slide out styling
  backend/dal/Services/Concrete/BuildingService.cs
  frontend/src/components/maps/leaflet/InfoSlideOut/BuildingAttributes.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.scss
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelAttributes.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelPIDPIN.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ThreeColumnItem.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
Labels: enhancement

#878 PA-2616 Move Associated Land/Building to review page
  frontend/src/constants/propertySteps.ts
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/columns.tsx
Labels: enhancement

#880 PA-2387 TEST Configuration
  openshift/4.0/README.md
  openshift/4.0/templates/backup/README.md
  openshift/4.0/templates/backup/build.yaml
  openshift/4.0/templates/backup/deploy-config.yaml
  openshift/4.0/templates/backup/deploy.cronjob.yaml
  openshift/4.0/templates/backup/deploy.yaml
  openshift/4.0/templates/database/README.md
  openshift/4.0/templates/database/mssql-build.yaml
  openshift/4.0/templates/database/mssql-deploy.yaml
  openshift/4.0/templates/persistent-volume-claims/db-storage.yaml
Labels: devops, documentation

#882 Pa 2659
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
Labels: bug

#885 PA-1898 Import Projects
  backend/api/Areas/Admin/Models/Agency/AgencyModel.cs
  backend/dal/Migrations/20210204183942_v01.07.01.Designer.cs
  backend/dal/Migrations/20210204183942_v01.07.01.cs
  backend/dal/Migrations/v01.07.01/Up/PostUp/01-Agencies.sql
  tools/converters/excel/appsettings.json
Labels: enhancement

#886 PA-2516 Associated land pop up text
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: enhancement

#884 Add SPP Number to inventory list view
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/columns.tsx
  frontend/src/features/properties/list/interfaces.ts
Labels: enhancement

#883 PA-2658: Tooltip for assessment values
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/columns.tsx
Labels: enhancement

#891 PA 2703 SPL Report Sidebar arrow icon fix
  frontend/src/features/splReports/components/SplReportLayout.scss
  frontend/src/features/splReports/components/SplReportLayout.tsx
Labels: bug

#893 PA-2742 Transferring properties
  backend/dal/Migrations/20210205170200_v01.07.02.Designer.cs
  backend/dal/Migrations/20210205170200_v01.07.02.cs
  backend/dal/Migrations/v01.07.02/Up/PreUp/01-Buildings.sql
  backend/dal/Migrations/v01.07.02/Up/PreUp/01-Parcels.sql
  openshift/4.0/templates/api/build.yaml
  openshift/4.0/templates/api/deploy.yaml
Labels: enhancement

#881 Pa 2632
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/tests/core/Entities/AddressHelper.cs
  backend/tests/core/Entities/BuildingHelper.cs
  backend/tests/core/Entities/ParcelHelper.cs
  backend/tests/unit/dal/Services/BuildingServiceTest.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  frontend/src/actionCreators/parcelsActionCreator.spec.ts
  frontend/src/actionCreators/parcelsActionCreator.ts
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/Table/MoneyCell.tsx
  frontend/src/components/maps/BuildingPopupView.scss
  frontend/src/components/maps/BuildingPopupView.test.tsx
  frontend/src/components/maps/BuildingPopupView.tsx
  frontend/src/components/maps/ParcelPopupView.scss
  frontend/src/components/maps/ParcelPopupView.test.tsx
  frontend/src/components/maps/ParcelPopupView.tsx
  frontend/src/components/maps/PopupView.tsx
  frontend/src/components/maps/__snapshots__/BuildingPopupView.test.tsx.snap
  frontend/src/components/maps/__snapshots__/ParcelPopupView.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/__snapshots__/MapProperties.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/containers/__snapshots__/MapSideBarContainer.test.tsx.snap
  frontend/src/features/mapSideBar/hooks/useBuildingApi.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/hooks/useKeycloakWrapper.tsx
  frontend/src/mocks/filterDataMock.ts
Labels: enhancement

#894 Simple examples of utilizing scss variables within styled components.…
  frontend/src/_variables.module.scss
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/__snapshots__/SteppedForm.test.tsx.snap
  frontend/src/components/maps/FindMorePropertiesButton.tsx
  frontend/src/features/help/components/HelpModal.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/splReports/components/ReportControls.tsx
Labels: enhancement

#888 Pa 2609
  frontend/src/components/common/form/ParentSelect.scss
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/features/properties/filter/PropertyFilter.scss
  frontend/src/features/properties/filter/PropertyFilter.test.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/PropertyFilterAgencyOptions.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: enhancement

#887 Pa 2480, 2641, 2672 Slide out: Land - non-owning agency, Building - both
  frontend/src/components/maps/leaflet/InfoSlideOut/BuildingAttributes.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelAttributes.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/hooks/useKeycloakWrapper.tsx
Labels: enhancement

#895 PA-2504 Fix marker legend
  frontend/src/components/maps/leaflet/Legend/Legend.scss
  frontend/src/components/maps/leaflet/Legend/LegendControl.tsx
Labels: bug

#898 PA-2389 Updated API DevOps Config
  openshift/4.0/templates/api/README.md
  openshift/4.0/templates/api/deploy.yaml
Labels: devops

#899 PA-2390 Updated APP DevOps Config
  openshift/4.0/templates/app/build.yaml
  openshift/4.0/templates/app/deploy.yaml
Labels: devops

#897 PA-2700, 2341: Demolished/ Subdivided
  backend/dal/Helpers/Constants/ClassificationTypes.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Migrations/Initial/Up/PostUp/01-PropertyClassifications.sql
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  frontend/src/constants/classifications.ts
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
  frontend/src/features/properties/components/forms/strings.ts
  frontend/src/features/properties/filter/PropertyFilter.tsx
Labels: enhancement

#900 PA-2710 Separate tab for clickable building names
  frontend/src/_variables.module.scss
  frontend/src/buttons.scss
  frontend/src/colors.scss
  frontend/src/components/SearchBar/FilterBar.scss
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/components/Table/ColumnFilter.tsx
  frontend/src/components/Table/ColumnSort.tsx
  frontend/src/components/Table/Table.scss
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StepForm/__snapshots__/SteppedForm.test.tsx.snap
  frontend/src/components/layout/Header/UserProfile.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/AssociatedBuildingsList.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.scss
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelAttributes.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersTree.tsx
  frontend/src/components/maps/leaflet/Legend/LegendControl.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/ZoomOut/ZoomOutButton.tsx
  frontend/src/features/account/Login.scss
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/SubmitPropertySelector.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/SubmitPropertySelector.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandUsageForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/TenancyForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/ValuationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/ClassificationForm.test.tsx.snap
  frontend/src/features/mapSideBar/components/MapSideBarLayout.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/projects/common/components/FilterBar.scss
  frontend/src/features/splReports/components/ReportListItem.tsx
Labels: enhancement

#902 Fixed v01.06.00 Migration Rollback
  backend/dal/Migrations/v01.06.00/Down/PreDown/RemoveRolesAndClaims.sql
Labels: bug

#901 PA-1898 Updated Project Import
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/api/Areas/Tools/Models/Import/ImportProjectModel.cs
  backend/entities/Models/DisposalProjectMetadata.cs
  tools/converters/excel/Converter.cs
  tools/converters/excel/Converters/StringConverters.cs
  tools/converters/excel/appsettings.json
Labels: enhancement

#889 PA-2592: Hide City of, District of, Corporation of, Resort of
  backend/dal/Migrations/20210208235135_v01.07.03.Designer.cs
  backend/dal/Migrations/20210208235135_v01.07.03.cs
  backend/dal/Migrations/v01.07.03/Up/PostUp/Adminstrative_Areas_And_Addresses.sql
Labels: bug

#905 Fixed Local Config
  backend/api/appsettings.Local.json
Labels: bug

#904 PA-2679: Fix backend erroneously rounding values
  backend/api/Areas/Property/Models/Building/BuildingEvaluationModel.cs
  backend/api/Areas/Property/Models/Building/BuildingFiscalModel.cs
  backend/api/Areas/Property/Models/Parcel/BuildingEvaluationModel.cs
  backend/api/Areas/Property/Models/Parcel/BuildingFiscalModel.cs
  backend/api/Areas/Property/Models/Parcel/ParcelEvaluationModel.cs
  backend/api/Areas/Property/Models/Parcel/ParcelFiscalModel.cs
  backend/api/Areas/Tools/Models/Import/BuildingEvaluationModel.cs
  backend/api/Areas/Tools/Models/Import/BuildingFiscalModel.cs
  backend/api/Areas/Tools/Models/Import/ParcelEvaluationModel.cs
  backend/api/Areas/Tools/Models/Import/ParcelFiscalModel.cs
  backend/api/Models/Building/BuildingEvaluationModel.cs
  backend/api/Models/Building/BuildingFiscalModel.cs
  backend/api/Models/Parcel/BuildingEvaluationModel.cs
  backend/api/Models/Parcel/BuildingFiscalModel.cs
  backend/api/Models/Parcel/ParcelEvaluationModel.cs
  backend/api/Models/Parcel/ParcelFiscalModel.cs
Labels: bug

#906 Subdivision Frontend updates
  backend/api/Areas/Property/Mapping/Search/GeoJsonMap.cs
  backend/api/Areas/Property/Models/Search/PropertyModel.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Services/Concrete/PropertyService.cs
  backend/entities/Models/ParcelModel.cs
  backend/entities/Models/ProjectProperty.cs
  backend/entities/Models/PropertyModel.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/assets/images/building-erp.png
  frontend/src/assets/images/building-reg.png
  frontend/src/assets/images/building-spl.png
  frontend/src/assets/images/icon-building.png
  frontend/src/assets/images/icon-land.png
  frontend/src/assets/images/icon-subdiv.png
  frontend/src/assets/images/land-erp.png
  frontend/src/assets/images/land-reg.png
  frontend/src/assets/images/land-spl.png
  frontend/src/assets/images/marker-blue.png
  frontend/src/assets/images/marker-green.png
  frontend/src/assets/images/marker-purple.png
  frontend/src/assets/images/marker-red.png
  frontend/src/assets/images/project-diagram-solid.svg
  frontend/src/assets/images/subdiv-erp.png
  frontend/src/assets/images/subdiv-reg.png
  frontend/src/assets/images/subdiv-spl.png
  frontend/src/components/Table/PropertyTypeCell.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Legend/Legend.tsx
  frontend/src/components/maps/leaflet/Legend/__snapshots__/Legend.test.tsx.snap
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/components/maps/types.ts
  frontend/src/constants/workflows.ts
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/list/properties/columns.tsx
  frontend/src/features/properties/list/buildings/columns.tsx
  frontend/src/features/properties/list/columns.tsx
Labels: enhancement

#903 PA-2544 "Last Updated By" on detail view
  backend/dal/Services/Concrete/BuildingService.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/properties/components/LastUpdatedBy.test.tsx
  frontend/src/features/properties/components/LastUpdatedBy.tsx
Labels: enhancement

#908 Migration for new classifications
  backend/dal/Migrations/20210210180901_v01.07.06.Designer.cs
  backend/dal/Migrations/20210210180901_v01.07.06.cs
  backend/dal/Migrations/Initial/Up/PostUp/01-PropertyClassifications.sql
  backend/dal/Migrations/v01.07.06/Down/PreDown/RemoveNewClassifications.sql
  backend/dal/Migrations/v01.07.06/Up/PostUp/Adminstrative_Areas_And_Addresses.sql
  backend/dal/Migrations/v01.07.06/Up/PostUp/PropertyClassificationTypes.sql
Labels: bug

#907 Small wording fixes
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/ProjectSummaryView.test.tsx
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/ProjectFinancialTable.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
Labels: enhancement

#909 PA-2482 Allow row increase in select properties
  frontend/src/components/Table/PageSizeSelector.tsx
  frontend/src/components/Table/Table.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/__snapshots__/PageSizeSelector.test.tsx.snap
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.scss
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
Labels: enhancement

#913 "Add new building": ensure form is empty
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/features/mapSideBar/hooks/useSideBarBuildingLoader.tsx
Labels: bug

#915 Fix PID formatting on slideout
  frontend/src/components/maps/leaflet/InfoSlideOut/ParcelPIDPIN.tsx
Labels: bug

#911 PA 2459 Highlight active pin
  frontend/src/assets/images/building-erp-highlight.png
  frontend/src/assets/images/building-reg-highlight.png
  frontend/src/assets/images/building-spl-highlight.png
  frontend/src/assets/images/land-erp-highlight.png
  frontend/src/assets/images/land-reg-highlight.png
  frontend/src/assets/images/land-spl-highlight.png
  frontend/src/assets/images/marker-blue-highlight.png
  frontend/src/assets/images/marker-green_highlight.png
  frontend/src/assets/images/marker-purple-highlight.png
  frontend/src/assets/images/marker-red-highlight.png
  frontend/src/assets/images/subdiv-erp-highlight.png
  frontend/src/assets/images/subdiv-reg-highlight.png
  frontend/src/assets/images/subdiv-spl-highlight.png
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
Labels: enhancement

#910 PA-2388 Updated Caddy Config
  maintenance/maintenance.sh
  openshift/4.0/README.md
  openshift/4.0/templates/backup/backup.conf
  openshift/4.0/templates/backup/build.yaml
  openshift/4.0/templates/maintenance/README.md
  openshift/4.0/templates/maintenance/caddy.bc.yaml
  openshift/4.0/templates/maintenance/caddy.dc.yaml
  openshift/4.0/templates/maintenance/caddy.s2i.bc.yaml
  openshift/4.0/templates/network-security-policy/README.md
  openshift/4.0/templates/network-security-policy/nsp.yaml
  openshift/s2i/README.md
  openshift/s2i/bcgov-s2i-caddy/bcgov-s2i-caddy.yaml
Labels: devops, documentation

#916 PA-1906: Add SRES to BCC for all notifications
  backend/dal/Migrations/20210212002231_v01.07.07.Designer.cs
  backend/dal/Migrations/20210212002231_v01.07.07.cs
  backend/dal/Migrations/v01.07.06/v01.07.07/Down/PreDown/NotificationTemplates.sql
  backend/dal/Migrations/v01.07.06/v01.07.07/Up/PostUp/NotificationTemplates.sql
Labels: enhancement

#918 Add text to email notification dates, fix marker legend
  frontend/src/components/maps/leaflet/Legend/Legend.tsx
  frontend/src/components/maps/leaflet/Legend/__snapshots__/Legend.test.tsx.snap
  frontend/src/features/projects/erp/forms/AgencyResponseForm.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
Labels: enhancement

#912 PA-2686, PA-2687, PA-2698 add/update forms to handle subdivisions.
  backend/api/Areas/Property/Mapping/Building/BuildingMap.cs
  backend/api/Areas/Property/Mapping/Parcel/ParcelMap.cs
  backend/api/Areas/Property/Mapping/Search/GeoJsonMap.cs
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Areas/Property/Models/Parcel/PropertyModel.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/tests/core/Entities/BuildingHelper.cs
  backend/tests/unit/api/Controllers/Property/SearchControllerTest.cs
  frontend/src/actionCreators/parcelsActionCreator.ts
  frontend/src/actions/parcelsActions.ts
  frontend/src/buttons.scss
  frontend/src/components/Table/PropertyTypeCell.tsx
  frontend/src/components/Table/ViewPropertyCell.tsx
  frontend/src/components/Table/index.ts
  frontend/src/components/common/AbbreviatedText.tsx
  frontend/src/components/common/Icons.ts
  frontend/src/components/common/form/DisplayError.tsx
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/components/maps/types.ts
  frontend/src/constants/index.ts
  frontend/src/constants/propertyTypeNames.ts
  frontend/src/constants/propertyTypes.ts
  frontend/src/constants/workflows.ts
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/SubmitPropertySelector.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/SubmitPropertySelector.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/AddParentParcelsForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/MovePinForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/mapSideBar/hooks/useBuildingApi.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
  frontend/src/features/mapSideBar/hooks/useSideBarBuildingLoader.tsx
  frontend/src/features/mapSideBar/hooks/useSideBarParcelLoader.tsx
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/list/properties/columns.tsx
  frontend/src/features/properties/components/LastUpdatedBy.tsx
  frontend/src/features/properties/hooks/useDraftMarkerSynchronizer.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/buildings/columns.tsx
  frontend/src/features/properties/list/columns.tsx
  frontend/src/hooks/useRouterFilter.ts
  frontend/src/mocks/filterDataMock.ts
  frontend/src/utils/YupSchema.ts
  frontend/src/utils/formUtils.ts
Labels: enhancement

#914 PA-2635: ERP or SPL Checkbox now required
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/properties/filter/IPropertyFilter.ts
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/utils/YupSchema.ts
Labels: bug

#917 Add text below Appraisal Notes title
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/components/ProjectNotes.tsx
  frontend/src/features/projects/common/forms/AppraisalCheckListForm.tsx
Labels: enhancement

#920 Fixt slide out bug
  frontend/src/components/maps/leaflet/InfoSlideOut/AssociatedBuildingsList.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
Labels: bug

#924 PA-2711 spl report refresh saves automatically.
  backend/dal/Services/Concrete/ProjectReportService.cs
Labels: enhancement

#922 PA-1910 Fixed SPL Report
  backend/dal/Services/Concrete/ProjectReportService.cs
Labels: bug

#923 PA-2742 Disabled some schools
  backend/dal/Migrations/v01.07.01/Up/PostUp/01-Agencies.sql
Labels: enhancement

#925 PA-2670 Limit Agency Filter
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
Labels: enhancement

#926 v01.07.00 migration merge
  backend/dal/Migrations/20210128205552_v01.07.00.Designer.cs
  backend/dal/Migrations/20210128205552_v01.07.00.cs
  backend/dal/Migrations/20210204183942_v01.07.01.Designer.cs
  backend/dal/Migrations/20210204183942_v01.07.01.cs
  backend/dal/Migrations/20210205170200_v01.07.02.Designer.cs
  backend/dal/Migrations/20210205170200_v01.07.02.cs
  backend/dal/Migrations/20210208235135_v01.07.03.Designer.cs
  backend/dal/Migrations/20210208235135_v01.07.03.cs
  backend/dal/Migrations/20210209184643_v01.07.04.Designer.cs
  backend/dal/Migrations/20210209184643_v01.07.04.cs
  backend/dal/Migrations/20210210140812_v01.07.05.Designer.cs
  backend/dal/Migrations/20210210140812_v01.07.05.cs
  backend/dal/Migrations/20210210180901_v01.07.06.Designer.cs
  backend/dal/Migrations/20210210180901_v01.07.06.cs
  backend/dal/Migrations/20210212002231_v01.07.07.Designer.cs
  backend/dal/Migrations/20210212002231_v01.07.07.cs
  backend/dal/Migrations/v01.07.00/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.07.00/Down/PostDown/02-WorkflowProjectStatus.sql
  backend/dal/Migrations/v01.07.00/Down/PreDown/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.07.00/Down/PreDown/01-RemoveNewClassifications.sql
  backend/dal/Migrations/v01.07.00/Down/PreDown/01-ViewProperties.sql
  backend/dal/Migrations/v01.07.00/Up/PostUp/01-Adminstrative_Areas_And_Addresses.sql
  backend/dal/Migrations/v01.07.00/Up/PostUp/01-Agencies.sql
  backend/dal/Migrations/v01.07.00/Up/PostUp/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.07.00/Up/PostUp/01-PropertyClassificationTypes.sql
  backend/dal/Migrations/v01.07.00/Up/PostUp/01-PropertyTypes.sql
  backend/dal/Migrations/v01.07.00/Up/PostUp/01-ViewProperties.sql
  backend/dal/Migrations/v01.07.00/Up/PostUp/01-WorkflowProjectStatus.sql
  backend/dal/Migrations/v01.07.00/Up/PostUp/02-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.07.00/Up/PreUp/01-Buildings.sql
  backend/dal/Migrations/v01.07.00/Up/PreUp/01-Parcels.sql
Labels: devops

#919 PA-2115: Project status filter Fix
  frontend/src/components/common/form/ParentSelect.tsx
Labels: bug

#921 PA-2528: Export additional fields for SRES
  backend/api/Areas/Reports/Controllers/PropertyController.cs
  backend/api/Areas/Reports/Mapping/Property/AllFieldsPropertyMap.cs
  backend/api/Areas/Reports/Models/Property/AllFieldsPropertyModel.cs
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: enhancement

#929 PA-2796 Allow subdivision parcels to use duplicated PID values.
  backend/dal/Helpers/Extensions/ParcelExtensions.cs
  backend/dal/Services/Concrete/ParcelService.cs
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: bug

#927 Fix disabled agency
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/common/forms/GreTransferForm.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.tsx
  frontend/src/features/projects/erp/forms/AgencyInterest.tsx
  frontend/src/features/projects/erp/steps/GreTransferStep.test.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/map/MapView.tsx
Labels: bug

#933 PA-2536 Occupancy fields non-zero validation.
  frontend/src/utils/YupSchema.ts
Labels: bug

#931 PA 2571 I, User, have approval
  frontend/src/components/maps/leaflet/Legend/Legend.scss
  frontend/src/components/maps/leaflet/Legend/LegendControl.scss
  frontend/src/features/projects/assess/steps/ReviewApproveStep.test.tsx
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/ApprovalConfirmationForm.tsx
  frontend/src/features/projects/dispose/ProjectDisposeLayout.test.tsx
  frontend/src/features/projects/dispose/components/ApprovalConfirmation.test.tsx
  frontend/src/features/projects/dispose/components/__snapshots__/ApprovalConfirmation.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
Labels: enhancement

#930 Display Disposal Projects
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
Labels: enhancement

#935 Fixed Transfer with GRE agency
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/common/forms/GreTransferForm.tsx
Labels: bug

#932 PA-2586 Prevent form submit action from triggering unrelated button.
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/MovePinForm.tsx
Labels: bug

#934 Tech debt and small parent select bug
  frontend/src/components/SearchBar/ParentGroupedFilter.test.tsx
  frontend/src/components/SearchBar/ParentGroupedFilter.tsx
  frontend/src/components/SearchBar/__snapshots__/ParentGroupedFilter.test.tsx.snap
  frontend/src/components/common/form/AutoCompleteText.scss
  frontend/src/components/common/form/AutoCompleteText.test.tsx
  frontend/src/components/common/form/AutoCompleteText.tsx
  frontend/src/components/common/form/ParentSelect.tsx
  frontend/src/components/common/form/__snapshots__/AutoCompleteText.test.tsx.snap
  frontend/src/components/common/form/index.ts
  frontend/src/features/properties/list/columns.tsx
Labels: bug

#936 Prevent validation form removing the display of errors.
  frontend/src/features/projects/spl/steps/SplStep.tsx
Labels: bug

#937 Delete project bug fix
  backend/dal/Services/Concrete/ProjectService.cs
Labels: bug

#945 Retain zoom level after side bar closes
  frontend/src/components/maps/leaflet/Map.tsx
Labels: bug

#938 ERP/SPL Filter in list ivew bug fix
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/interfaces.ts
Labels: bug

#940 PA-2827 ensure pid/pin search returns building information. remove logic that is removing associated buildings from land.
  backend/dal/Helpers/Extensions/ParcelExtensions.cs
  backend/dal/Services/Concrete/ParcelService.cs
Labels: bug

#948 Logic fix for filter changed
  frontend/src/components/maps/leaflet/Map.tsx
Labels: bug

#947 Delete Project Adjustments
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  frontend/src/constants/workflows.ts
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/columns.tsx
  frontend/src/features/projects/list/interfaces.ts
Labels: bug

#946 PA 2767 Add text to building valuation
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ValuationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
Labels: enhancement

#949 PA 2571 I, User, have approval
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/ApprovalConfirmationForm.tsx
  frontend/src/features/projects/dispose/ProjectDisposeLayout.test.tsx
  frontend/src/features/projects/dispose/components/ApprovalConfirmation.test.tsx
  frontend/src/features/projects/dispose/components/__snapshots__/ApprovalConfirmation.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
Labels: enhancement

#950 PA 2761 Add read only copy of ERP email note
  frontend/src/features/projects/erp/forms/AgencyResponseForm.tsx
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
Labels: enhancement

#951 PA 2766 add text for appraisal information
  frontend/src/components/maps/leaflet/InfoSlideOut/BuildingAttributes.tsx
Labels: enhancement

#944 PA 2459 highlight active pin
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/SelectedPropertyMarker/SelectedPropertyMarker.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
Labels: bug

#952 Remove properties validation in close out form
  frontend/src/features/projects/spl/forms/splYupSchema.ts
Labels: bug

#954 PIMS-2776: New tab view inventory page
  frontend/src/components/Table/ViewPropertyCell.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
Labels: bug

#942 PA-2589: Purple pin appearing when it shouldn't
  frontend/src/components/maps/leaflet/mapUtils.tsx
Labels: bug

#955 PA-2707 Fixed Property Classifications
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/constants/propertyTypeNames.ts
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
  frontend/src/features/projects/common/components/FilterBar.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.tsx
  frontend/src/features/properties/components/forms/strings.ts
  frontend/src/features/properties/filter/PropertyFilter.test.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/columns.tsx
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/hooks/useKeycloakWrapper.tsx
  frontend/src/hooks/useLookupCodes.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/mapLookupCode.ts
  frontend/src/utils/utils.ts
Labels: bug, enhancement

#961 PA 2779 Wording on disposal documentation step
  backend/dal/Migrations/v01.08.00/Up/Postup/01-Tasks.sql
Labels: enhancement

#957 PA 2782 Tab for associated land on a building
  frontend/src/components/maps/leaflet/InfoSlideOut/AssociatedBuildingsList.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/AssociatedParcelsList.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/AssociatedTab.test.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/BuildingAttributes.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.test.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.test.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.scss
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/AssociatedTab.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/HeaderActions.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/InfoContent.test.tsx.snap
Labels: DRAFT PR - Do Not Merge, enhancement

#958 PA 2562 Fix inventory list header alignment
  frontend/src/components/Table/ColumnFilter.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/columns.tsx
Labels: bug

#965 PA-2822 Populated Building LeasedLandMetadata
  backend/api/Areas/Property/Mapping/Building/BuildingMap.cs
  backend/api/Areas/Property/Models/Building/LeasedLandMetadataModel.cs
  backend/dal/Migrations/20210222151656_v01.08.03.Designer.cs
  backend/dal/Migrations/20210222151656_v01.08.03.cs
  backend/dal/Migrations/v01.08.03/Up/PreUp/01-Buildings.sql
  backend/entities/LeasedLandTypes.cs
  backend/entities/Models/LeasedLandMetadataModel.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/features/mapSideBar/SidebarContents/AssociatedLandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandOwnershipForm.tsx
Labels: bug

#966 PA-2807 Removed link to project properties
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
Labels: enhancement

#964 PA-2816, PA-2815
  backend/api/Areas/Property/Mapping/Parcel/ParcelParcelMap.cs
  backend/dal/Helpers/Extensions/ParcelExtensions.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/tests/unit/dal/Services/ParcelServiceTest.cs
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
Labels: bug

#962 PA-2690 show parcel slide out fields for subdivisions.
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
Labels: enhancement

#968 PA-2788: Dropdown not displaying all results
  frontend/src/components/common/form/ParentSelect.tsx
Labels: bug

#970 PA-2760 Enable Disposal Project Workflows
  backend/dal/Helpers/Constants/ClassificationTypes.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Migrations/20210222220136_v01.08.04.Designer.cs
  backend/dal/Migrations/20210222220136_v01.08.04.cs
  backend/dal/Migrations/v01.08.04/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.08.04/Down/PostDown/01-ViewProperties.sql
  backend/dal/Migrations/v01.08.04/Up/PostUp/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.08.04/Up/PostUp/01-ViewProperties.sql
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/entities/ClassificationTypes.cs
  backend/entities/Models/PropertyModel.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/features/projects/erp/components/ExemptionDetails.tsx
  frontend/src/features/projects/erp/forms/AgencyInterest.tsx
  frontend/src/features/projects/erp/forms/AgencyResponseForm.tsx
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
  frontend/src/features/projects/erp/steps/ErpStep.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/EnhancedReferralTab.test.tsx
  frontend/src/features/projects/erp/tabs/EnhancedReferralTab.tsx
  frontend/src/features/projects/erp/tabs/ErpTabs.tsx
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/spl/steps/SplStep.tsx
Labels: bug, enhancement

#959 PA 2607 Align SPL report headers and fields
  frontend/src/components/Table/Table.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/splReports/columns.tsx
  frontend/src/features/splReports/components/ReportForm.tsx
  frontend/src/features/splReports/components/SplReportLayout.scss
Labels: bug

#967 PA 2744 Add building/land name to top of view/edit
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/components/MapSideBarLayout.scss
  frontend/src/features/mapSideBar/components/MapSideBarLayout.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: enhancement

#943 Configuring Jenkins (Master, Agents, Pipelines), Maintain map zoom after sidebar is closed
  openshift/4.0/README.md
  openshift/4.0/pipelines/Jenkinsfile.cicd
  openshift/4.0/pipelines/Jenkinsfile.dev-to-test
  openshift/4.0/pipelines/Jenkinsfile.test-to-prod
  openshift/4.0/pipelines/README.md
  openshift/4.0/pipelines/scripts/common.groovy
  openshift/4.0/pipelines/scripts/notify.groovy
  openshift/4.0/player.sh
  openshift/4.0/scripts/oc-build.sh
  openshift/4.0/scripts/oc-deploy.sh
  openshift/4.0/scripts/oc-sonar-dotnet.sh
  openshift/4.0/scripts/oc-sonar-scan.sh
  openshift/4.0/templates/jenkins-slaves/README.md
  openshift/4.0/templates/jenkins-slaves/dotnet-jenkins-slave.yaml
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-config-map.yaml
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-dotnet/Dockerfile
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-dotnet/README.md
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-generic-template.yaml
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-npm/Dockerfile
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-npm/README.md
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/.dockerignore
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/.xinitrc
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/Dockerfile
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/Jenkinsfile.test
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/README.md
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/configuration/nexus-settings.xml
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/configuration/passwd.template
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/configuration/run-jnlp-client
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/configuration/settings.xml
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/API-Minimal.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/Default Policy.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-High-Th-High.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-High-Th-Low.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-High-Th-Med.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Ins-Th-High.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Ins-Th-Low.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Ins-Th-Med.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Low-Th-High.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Low-Th-Low.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Low-Th-Med.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Med-Th-High.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/policies/St-Med-Th-Low.policy
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/scripts/scripts/httpsender/Alert_on_HTTP_Response_Code_Errors.js
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/scripts/scripts/httpsender/Alert_on_Unexpected_Content_Types.js
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/webswing.config
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/zap/zap-api-scan.py
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/zap/zap-baseline.py
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/zap/zap-full-scan.py
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/zap/zap-webswing.sh
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/zap/zap-x.sh
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-zap/zap/zap_common.py
  openshift/4.0/templates/jenkins-slaves/node10-jenkins-slave.yaml
  openshift/4.0/templates/jenkins-slaves/zap-jenkins-slave.yaml
  openshift/4.0/templates/jenkins/README.md
  openshift/4.0/templates/jenkins/generic-pipeline.yaml
  openshift/4.0/templates/jenkins/jenkins-master.yaml
Labels: devops

#972 quick, small wording changes
  frontend/src/components/maps/leaflet/Legend/Legend.tsx
  frontend/src/components/maps/leaflet/Legend/__snapshots__/Legend.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
Labels: enhancement

#969 PA-2685 Dispose subdivision externally.
  backend/api/Areas/Project/Mapping/Dispose/ParcelMap.cs
  backend/api/Areas/Project/Models/Dispose/ParcelModel.cs
  backend/api/Areas/Project/Models/Dispose/SubdivisionParcelModel.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/tests/core/Entities/PropertyClassificationHelper.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/App.scss
  frontend/src/components/Table/Table.tsx
  frontend/src/components/common/GenericModal.tsx
  frontend/src/components/common/LinkList.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AddParentParcelsForm.tsx
  frontend/src/features/mapSideBar/components/MapSideBarLayout.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  frontend/src/features/projects/spl/steps/SplStep.test.tsx
  frontend/src/features/projects/spl/steps/__snapshots__/SplStep.test.tsx.snap
  frontend/src/features/projects/spl/tabs/CloseOutFormTab.tsx
Labels: enhancement

#975 PA-2807 Updated Converter Tool Config
  tools/converters/excel/appsettings.json
Labels: enhancement

#976 PA 2797 Show full agency name in slide out
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.test.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/AssociatedTab.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/HeaderActions.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/InfoContent.test.tsx.snap
  frontend/src/hooks/useLookupCodes.tsx
Labels: enhancement

#980 remove oc check as it breaks the jenkins slaves.
  openshift/4.0/scripts/common.sh
Labels: bug, devops

#981 fix relative path of frontend folder within node agent.
  openshift/4.0/scripts/oc-sonar-scan.sh
Labels: bug

#973 Separate filter form and body form in table
  frontend/src/components/Table/ColumnFilter.tsx
  frontend/src/components/Table/Table.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/columns.tsx
  frontend/src/features/properties/list/interfaces.ts
Labels: enhancement

#956 PA-2809, 2808, 2813, 2811, 2812, 2810: Project number link related stories
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ProjectNumberLink.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/ThreeColumnItem.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
Labels: enhancement

#986 Add shade behind values in ParentSelect
  frontend/src/App.scss
Labels: bug

#985 PA-2830: Change "Submit Bare Land" to "Submit Land"
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/SubmitPropertySelector.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/SubmitPropertySelector.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/SubmitPropertySelector.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: enhancement

#978 Pa 2694, PA-2667
  backend/api/Areas/Property/Mapping/Search/PropertyMap.cs
  backend/api/Areas/Property/Models/Search/GeoJsonFilterModel.cs
  backend/api/Areas/Reports/Mapping/Project/ProjectPropertyMap.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/entities/Helpers/Extensions/BuildingExtensions.cs
  backend/entities/Helpers/Extensions/ParcelExtensions.cs
  backend/tests/unit/api/Controllers/Property/SearchControllerTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/src/App.scss
  frontend/src/components/Table/MoneyCell.tsx
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/common/components/PropertyListViewUpdate.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.test.tsx
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/dispose/ProjectDisposeView.scss
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/properties/columns.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/utils/utils.ts
Labels: DRAFT PR - Do Not Merge, enhancement

#982 Added separate deploy configs
  openshift/4.0/templates/api/deploy-alt-routes.yaml
  openshift/4.0/templates/api/deploy-routes.yaml
  openshift/4.0/templates/app/deploy-alt-routes.yaml
  openshift/4.0/templates/app/deploy-routes.yaml
Labels: devops

#983 Add logo, property type icons
  frontend/public/favicon-32x32.ico
  frontend/public/index.html
  frontend/src/assets/images/PIMSlogo/favicon-16x16.ico
  frontend/src/assets/images/PIMSlogo/logo_only.png
  frontend/src/assets/images/PIMSlogo/logo_with_text.png
  frontend/src/assets/images/pins/building-erp-highlight.png
  frontend/src/assets/images/pins/building-erp.png
  frontend/src/assets/images/pins/building-reg-highlight.png
  frontend/src/assets/images/pins/building-reg.png
  frontend/src/assets/images/pins/building-spl-highlight.png
  frontend/src/assets/images/pins/building-spl.png
  frontend/src/assets/images/pins/land-erp-highlight.png
  frontend/src/assets/images/pins/land-erp.png
  frontend/src/assets/images/pins/land-reg-highlight.png
  frontend/src/assets/images/pins/land-reg.png
  frontend/src/assets/images/pins/land-spl-highlight.png
  frontend/src/assets/images/pins/land-spl.png
  frontend/src/assets/images/pins/marker-blue-highlight.png
  frontend/src/assets/images/pins/marker-blue.png
  frontend/src/assets/images/pins/marker-green.png
  frontend/src/assets/images/pins/marker-green_highlight.png
  frontend/src/assets/images/pins/marker-icon-1x-blue.png
  frontend/src/assets/images/pins/marker-icon-1x-green.png
  frontend/src/assets/images/pins/marker-icon-2x-blue.png
  frontend/src/assets/images/pins/marker-icon-2x-green.png
  frontend/src/assets/images/pins/marker-icon-2x-red.png
  frontend/src/assets/images/pins/marker-icon-2x-violet.png
  frontend/src/assets/images/pins/marker-purple-highlight.png
  frontend/src/assets/images/pins/marker-purple.png
  frontend/src/assets/images/pins/marker-red-highlight.png
  frontend/src/assets/images/pins/marker-red.png
  frontend/src/assets/images/pins/marker-shadow.png
  frontend/src/assets/images/pins/subdiv-erp-highlight.png
  frontend/src/assets/images/pins/subdiv-erp.png
  frontend/src/assets/images/pins/subdiv-reg-highlight.png
  frontend/src/assets/images/pins/subdiv-reg.png
  frontend/src/assets/images/pins/subdiv-spl-highlight.png
  frontend/src/assets/images/pins/subdiv-spl.png
  frontend/src/components/common/form/SppButton.tsx
  frontend/src/components/layout/Header/Header.scss
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/Header/__snapshots__/Header.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/AssociatedTab.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/HeaderActions.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/InfoContent.test.tsx.snap
  frontend/src/components/maps/leaflet/Legend/Legend.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/features/account/Login.scss
  frontend/src/features/account/Login.tsx
  frontend/src/features/account/__snapshots__/Login.test.tsx.snap
  frontend/src/features/properties/map/MapView.scss
Labels: enhancement

#987 Updated SPL/ERP Query
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
Labels: bug, enhancement

#988 Fixed Disposal Project Not In SPL Workflow
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/dal/Migrations/20210225234858_v01.08.05.Designer.cs
  backend/dal/Migrations/20210225234858_v01.08.05.cs
  backend/dal/Migrations/Initial/Up/PostUp/01-ProjectStatus.sql
  backend/dal/Migrations/v01.08.05/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.08.05/Up/PostUp/01-ProjectStatus.sql
  backend/dal/Migrations/v01.08.05/Up/PostUp/01-ProjectStatusTransitions.sql
  frontend/src/features/projects/common/ProjectRouter.test.tsx
  frontend/src/features/projects/erp/steps/ErpStep.tsx
  frontend/src/features/projects/erp/steps/GreTransferStep.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
  frontend/src/features/projects/spl/steps/GreTransferStep.tsx
Labels: bug

#977 PA-2691 PA-2692
  backend/Dockerfile.migrations
  backend/api/Areas/Project/Controllers/DisposeController.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/IProjectService.cs
  backend/tests/unit/api/Controllers/Project/DisposeControllerTest.cs
  frontend/src/features/projects/assess/components/ReviewApproveActions.test.tsx
  frontend/src/features/projects/assess/components/ReviewApproveActions.tsx
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
  openshift/4.0/pipelines/Jenkinsfile.cicd
  openshift/4.0/pipelines/Jenkinsfile.test-to-prod
  openshift/4.0/scripts/oc-backup.sh
  openshift/4.0/scripts/oc-migrate.sh
  openshift/4.0/scripts/oc-sonar-dotnet.sh
  openshift/4.0/scripts/oc-sonar-scan.sh
  openshift/4.0/templates/jenkins-slaves/jenkins-slave-config-map.yaml
  openshift/4.0/templates/migrations/README.md
  openshift/4.0/templates/migrations/build.yaml
  openshift/4.0/templates/migrations/migration-job.yaml
Labels: enhancement

#984 Added Jenkins RoleBinding Config
  openshift/4.0/templates/jenkins/README.md
  openshift/4.0/templates/jenkins/rolebinding.yaml
Labels: devops, documentation

#960 Doc for PA-2401,2400,2406
  maintenance/RESTORE_BACKUPS.md
  openshift/4.0/templates/sonarqube/README.md
  openshift/4.0/templates/sonarqube/sonarqube-postgresql-template.yaml
Labels: documentation, enhancement

#989 PA-2879 Fixed Deny Project Validation
  frontend/src/features/projects/assess/steps/ReviewApproveStep.tsx
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
Labels: bug

#990 PA-2874 Allow Editing Exemption Rationale
  frontend/src/features/projects/erp/components/ExemptionDetails.tsx
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.test.tsx
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
Labels: enhancement

#995 Fixed SPP Filter
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
Labels: bug

#993 Exemption Assessment to show Purple Pin, remove animation of pan, add improvements back to assessment table
  frontend/src/components/common/form/SppButton.scss
  frontend/src/components/common/form/SppButton.test.tsx
  frontend/src/components/common/form/SppButton.tsx
  frontend/src/components/common/form/__snapshots__/SppButton.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/mapUtils.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
Labels: bug

#994 Small wording fixes
  frontend/src/features/projects/common/forms/DocumentationForm.tsx
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/erp/forms/ExemptionEnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/forms/__snapshots__/ExemptionEnhancedReferralCompleteForm.test.tsx.snap
Labels: enhancement

#991 PA 2872 slide out - indicate if a property is on ERP or SPL
  backend/api/Areas/Property/Mapping/Building/BuildingMap.cs
  backend/api/Areas/Property/Mapping/Parcel/ParcelMap.cs
  backend/api/Areas/Property/Models/Parcel/PropertyModel.cs
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/entities/Models/PropertyModel.cs
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.test.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/AssociatedTab.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/HeaderActions.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/InfoContent.test.tsx.snap
  frontend/src/constants/workflows.ts
Labels: enhancement

#997 fixes for bugs reported by sonarqube.
  backend/api/Areas/Tools/Helpers/ImportProjectsHelper.cs
  backend/entities/Models/ProjectProperty.cs
  frontend/src/App.scss
  frontend/src/components/menu/Menu.scss
  frontend/src/features/projects/common/ProjectLayout.scss
  frontend/src/features/splReports/components/SplReportLayout.scss
  frontend/src/hooks/useApi.ts
Labels: bug

#996 PA-2787: Have each building clickable in table
  frontend/src/components/maps/leaflet/InfoSlideOut/ProjectNumberLink.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/projects/common/components/FormikTable.tsx
  frontend/src/features/properties/components/forms/subforms/columns.tsx
Labels: enhancement
