Repository bcgov/PIMS, pull requests merged in 2021-07, with the labels that each got.

#1125 PIMS-27 Change Approval Email
  backend/dal/Migrations/20210705144630_v01.11.00.Designer.cs
  backend/dal/Migrations/20210705144630_v01.11.00.cs
  backend/dal/Migrations/v01.11.00/Down/PostDown/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.11.00/Up/PostUp/01-NotificationTemplates.sql
  backend/dal/Services/Concrete/NotificationQueueService.cs
  backend/entities/Models/ProjectNotificationModel.cs
  backend/entities/NotificationAudiences.cs
Labels: DB Migration, enhancement

#1126 Update Notification Audience
  backend/dal/Migrations/v01.11.00/Up/PostUp/01-NotificationTemplates.sql
Labels: enhancement

#1124 PIMS-2: Transition from Not in SPL -> In ERP
  backend/api/Areas/Project/Controllers/DisposeController.cs
  backend/api/Areas/Project/Models/Dispose/ProjectModel.cs
  backend/dal/Migrations/20210703202108_v01.11.01.Designer.cs
  backend/dal/Migrations/20210703202108_v01.11.01.cs
  backend/dal/Migrations/v01.11.01/Down/PostDown/01-ProjectStatusTransitions.sql
  backend/dal/Migrations/v01.11.01/Up/PostUp/01-ProjectStatusTransitions.sql
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/IProjectService.cs
  backend/tests/unit/api/Controllers/Project/DisposeControllerTest.cs
  frontend/src/features/projects/common/interfaces.ts
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/projects/erp/forms/EnhancedReferralCompleteForm.tsx
  frontend/src/features/projects/erp/tabs/EnhancedReferralTab.tsx
Labels: DB Migration, enhancement

#1127 Fix v01.11.01 Migration
  backend/dal/Migrations/20210709230420_v01.11.01.Designer.cs
  backend/dal/Migrations/20210709230420_v01.11.01.cs
Labels: DB Migration, bug

#1128 PIMS-25: Issue with ERP Notifications
  backend/dal/Migrations/20210712190221_v01.11.02.Designer.cs
  backend/dal/Migrations/20210712190221_v01.11.02.cs
  backend/dal/Migrations/v01.11.02/Up/PostUp/01-NotificationTemplates.sql
  backend/entities/Address.cs
Labels: DB Migration, bug

#1131 PIMS-31: Show additional fields for Not in SPL
  frontend/src/features/projects/spl/forms/SurplusPropertyListForm.tsx
Labels: bug

#1130 PIMS-33 Add locations
  backend/dal/Migrations/20210712220515_v01.11.03.Designer.cs
  backend/dal/Migrations/20210712220515_v01.11.03.cs
  backend/dal/Migrations/v01.11.03/Up/PostUp/01-AdministrativeAreas.sql
Labels: DB Migration, enhancement

#1129 PIMS-26 - Edit before project approval
  frontend/src/features/projects/assess/forms/ReviewApproveForm.tsx
Labels: bug

#1132 PIMS-35: Toast adjustment for more clear instructions
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
Labels: enhancement

#1133 Add db-script command
  Makefile
  openshift/4.0/templates/jenkins/generic-pipeline.yaml
Labels: enhancement

#1135 PIMS-32: Change Description for the Tier's
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/common/strings.ts
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
Labels: enhancement

#1137 PIMS-20: Exclude T-GRE from SPL Reports
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
Labels: bug

#1134 fixes highlighting polygon matching a spiderfied marker.
  frontend/src/components/maps/leaflet/PointClusterer.tsx
Labels: bug

#1136 PIMS-30: Issue with Fiscal Year reporting on excel extract
  backend/api/Areas/Reports/Mapping/Project/ProjectMap.cs
  backend/api/Areas/Reports/Models/Project/ProjectModel.cs
  backend/core/Extensions/DateExtensions.cs
  backend/tests/unit/api/Controllers/Reports/ProjectControllerTest.cs
Labels: bug
