Repository bcgov/PIMS, pull requests merged in 2022-11, with the labels that each got.

#1307 Adding target in Codecov.yml
  codecov.yml
Labels: devops, codecov

#1311 Upgrade react-redux to 7.2.9
  frontend/package-lock.json
  frontend/package.json
  openshift/4.0/templates/base-images/nodejs-16.yaml
Labels: bug

#1313 Changed frontend image to redhat docker image
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Labels: devops

#1314 Change npm version in frontend Dockerfile
  frontend/Dockerfile
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
Labels: docker

#1315 DRAFT: Resolving peer dependency errors
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Table/__snapshots__/PageSizeSelector.test.tsx.snap
  frontend/src/components/leaflet/ControlPanel.test.tsx
  frontend/src/components/leaflet/ControlPanel.tsx
  frontend/src/components/leaflet/__snapshots__/ControlPanel.test.tsx.snap
  frontend/src/components/leaflet/index.ts
  frontend/src/components/maps/hooks/useActiveFeatureLayer.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.test.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopUpContent.test.tsx
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopupContent.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.test.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersTree.tsx
  frontend/src/components/maps/leaflet/LayersControl/__snapshots__/LayersControl.test.tsx.snap
  frontend/src/components/maps/leaflet/LeafletDraw/LeafletDraw.tsx
  frontend/src/components/maps/leaflet/Legend/LegendControl.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/SelectedPropertyMarker/SelectedPropertyMarker.tsx
  frontend/src/components/maps/leaflet/ZoomOut/ZoomOutButton.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/SPLProjectListView.test.tsx.snap
  frontend/src/features/properties/filter/__snapshots__/PropertyFilterOptions.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/layouts/PublicLayout.tsx
  frontend/src/utils/testUtils.tsx
Labels: DRAFT PR - Do Not Merge

#1317 PIMS-411 & 412 fixing unit tests for PopUpLayerContent and zoom out button
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopUpContent.test.tsx
  frontend/src/components/maps/leaflet/LayerPopup/__snapshots__/LayerPopUpContent.test.tsx.snap
  frontend/src/components/maps/leaflet/ZoomOut/ZoomOutButton.tsx
Labels: bug, dependencies, unit-tests

#1318 PIMS-400 Fixed Forward ref warnings on Map.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/maps/leaflet/Map.tsx
Labels: bugfix

#1319 pims-413 - Fixed vulnerability issue w.r.t System.Dat.SqlClient(backend-api)
  backend/dal/Pims.Dal.csproj
Labels: dependencies, .NET

#1322 Fix map marker center
  frontend/src/components/Table/__snapshots__/PageSizeSelector.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
  frontend/src/components/maps/leaflet/Map.scss
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/SPLProjectListView.test.tsx.snap
  frontend/src/features/properties/filter/__snapshots__/PropertyFilterOptions.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/map/MapView.tsx
Labels: bugfix

#1329 PIMS-424: Satellite basemap doesn't work
  frontend/src/components/maps/leaflet/Map.tsx
Labels: bug, dependencies, bugfix

#1324 Filter bar styling
  frontend/src/components/common/form/InputGroup.scss
  frontend/src/components/common/form/InputGroup.tsx
  frontend/src/components/common/form/Select.scss
  frontend/src/components/common/form/Select.tsx
  frontend/src/features/admin/access-request/__snapshots__/AccessRequestPage.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/EditAgencyPage.test.tsx.snap
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/admin/users/components/UsersFilterBar.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/SPLProjectListView.test.tsx.snap
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/PropertyFilterAgencyOptions.tsx
  frontend/src/features/properties/filter/PropertyFilterOptions.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/filter/__snapshots__/PropertyFilterOptions.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: bootstrap, bugfix

#1330 Upgraded keycloak-js from 15.1.1 to 20.0.1
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/admin/edit-user/EditUserPage.tsx
Labels: dependencies

#1331 Replaced redux-devtools-extension which was deprecated
  frontend/package-lock.json
  frontend/package.json
  frontend/src/store/store.ts
Labels: dependencies

#1335 PIMS-425: CHES api url changes
  backend/api/ches.Development.json
  backend/api/ches.Local.json
  backend/api/ches.Test.json
  backend/api/ches.json
Labels: DRAFT PR - Do Not Merge, third party integration

#1338 Changed npm clean install to install
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package-lock.json
Labels: docker

#1339 fixing the AuthUrls for test and prod
  backend/api/ches.Test.json
  backend/api/ches.json
Labels: bug, third party integration
