Repository bcgov/PIMS, pull requests merged in 2022-06, with the labels that each got.

#1254 PIMS-171
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#1255 PIMS-174
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#1258 PIMS-167
  .github/CODEOWNERS
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#1263 To fix the Pipeline issue
  backend/Dockerfile.migrations
Labels: bug, devops

#1266 testing the changed node version
  .github/workflows/app-react.yml
Labels: devops
