Repository bcgov/PIMS, pull requests merged in 2022-09, with the labels that each got.

#1278 PIMS-304 Fix reset filter
  frontend/src/features/properties/filter/PropertyFilter.tsx
Labels: bug

#1280 Pims 63
  .gitignore
  frontend/src/App.tsx
  frontend/src/components/common/form/Button.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.scss
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/Spiderfier.ts
  frontend/src/components/router/AppRouter.tsx
  frontend/src/features/projects/common/projectsActionCreator.ts
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
  frontend/src/features/projects/dispose/hooks/stepperContext.tsx
  frontend/src/features/properties/filter/PropertyFilter.scss
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/hooks/useLookupCodes.tsx
  openshift/4.0/templates/sysdigteam-354028.yml
Labels: bug, documentation, dependencies

#1283 Updated CODEOWNERS
  .github/CODEOWNERS
Labels: documentation

#1281 removing the useMemo and console.logs
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/customAxios.ts
Labels: bug, dependencies

#1284 Pims 63
  .github/CODEOWNERS
Labels: devops

#1282 Bumped react-router-dom from 6.2.1 to 6.3.0
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies
