Repository bcgov/PIMS, pull requests merged in 2022-02, with the labels that each got.

#1191 PIMS-80: Property list building view financials not saving
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#1192 PIMS-82 Fix project properties assess year
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
Labels: bug

#1193 PIMS-85 Fixed edit property financials
  docker-compose.yml
  frontend/src/components/Table/MoneyCell.tsx
  frontend/src/features/projects/common/projectConverter.ts
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/columns.tsx
Labels: bug

#1194 PIMS-80: Property list building view financials not saving
  frontend/src/features/properties/list/columns.tsx
Labels: bug

#1195 PIMS-80 Fix building list view edit
  frontend/src/actions/parcelsActions.ts
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/hooks/useApi.ts
Labels: bug

#1196 PIMS-80 - fixing lot size issue
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: bug

#1197 Fix disposal project property assessment
  frontend/src/features/projects/common/projectConverter.ts
Labels: bug

#1200 PIMS-89 Fix property inventory list
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/toApiProperty.ts
Labels: bug

#1201 PIMS-80: Removing the market value column and all market value references
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/list/columns.tsx
Labels: bug, enhancement

#1204 PIMS-80: Removing market value column from projects
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/__snapshots__/ProjectSummaryView.test.tsx.snap
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/erp/steps/__snapshots__/GreTransferStep.test.tsx.snap
Labels: enhancement

#1205 PIMS-83: Unable to make correction to Building associated with a project in ERP
  backend/api/Areas/Property/Mapping/Building/BuildingMap.cs
Labels: bug

#1202 Pims 81: ERP Notification building - ft2 s/b m2
  backend/dal/Migrations/20220209183559_v01.15.00.Designer.cs
  backend/dal/Migrations/20220209183559_v01.15.00.cs
  backend/dal/Migrations/v01.15.00/Up/PostUp/01-NotificationTemplates.sql
Labels: DRAFT PR - Do Not Merge, DB Migration
