Repository bcgov/PIMS, pull requests merged in 2022-10, with the labels that each got.

#1286 adding the lookupcodes hook to the propertylistview page
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/hooks/useLookupCodes.tsx
Labels: bug, dependencies

#1287 Fixing admin pages, project view filter bar
  frontend/src/components/SearchBar/FilterBar.scss
  frontend/src/components/common/form/Button.tsx
  frontend/src/components/common/form/PlusButton.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/router/AppRouter.tsx
  frontend/src/features/admin/admin-areas/EditAdminArea.tsx
  frontend/src/features/admin/admin-areas/ManageAdminAreas.tsx
  frontend/src/features/admin/agencies/EditAgencyPage.tsx
  frontend/src/features/admin/edit-user/EditUserPage.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/properties/map/MapView.tsx
Labels: bug, dependencies

#1288 Fixing admin access request page and various console errors
  frontend/src/features/admin/access-request/AccessRequestPage.tsx
  frontend/src/features/admin/access/components/Filter.tsx
  frontend/src/features/admin/agencies/EditAgencyPage.tsx
  frontend/src/features/admin/edit-user/EditUserPage.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
Labels: bug, dependencies

#1279 PIMS-307 Geocoder search in property filter
  .github/workflows/app-react.yml
  frontend/.prettierrc.json
  frontend/.vscode/launch.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/form/InputGroup.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/properties/components/GeocoderAutoComplete.scss
  frontend/src/features/properties/components/GeocoderAutoComplete.tsx
  frontend/src/features/properties/components/GeocoderAutoCompleteStyled.tsx
  frontend/src/features/properties/filter/PropertyFilter.scss
  frontend/src/features/properties/filter/PropertyFilter.test.tsx
  frontend/src/features/properties/filter/PropertyFilterOptions.test.tsx
  frontend/src/features/properties/filter/PropertyFilterOptions.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilterOptions.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: enhancement

#1296 Pims 302 vulnerabilities fixes
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#1297 Fixing view property inventory page
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/features/properties/list/PropertyListView.scss
Labels: bug, dependencies

#1298 Pims-351 header styling tweaks
  frontend/src/components/layout/AppNavBar/AppNavBar.scss
  frontend/src/components/layout/Header/Header.scss
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/features/admin/agencies/ManageAgencies.scss
  frontend/src/features/help/components/HelpModal.tsx
  frontend/src/features/help/containers/HelpContainer.tsx
Labels: styling, bootstrap

#1301 PIMS-307 Fix geocoder administrative area
  frontend/src/features/properties/components/GeocoderAutoComplete.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/PropertyFilterOptions.tsx
Labels: bug, enhancement

#1302 Lowering code coverage
  codecov.yml
Labels: devops, codecov

#1300 PIMS-356 - Excel export for specific property classifications not working (Disposed, Transferred in GRE etc..)
  frontend/src/features/projects/list/ProjectListView.tsx
Labels: bug

#1303 Pims 302 npm warn deprecated, compile warns, and bug fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/common/TooltipIcon.tsx
  frontend/src/components/common/TooltipWrapper.tsx
  frontend/src/components/common/form/PlusButton.tsx
  frontend/src/components/common/form/ResetButton.tsx
  frontend/src/components/common/form/SearchButton.tsx
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/components/maps/leaflet/SelectedPropertyMarker/SelectedPropertyMarker.tsx
  frontend/src/components/router/AppRouter.tsx
  frontend/src/css/_fonts.scss
  frontend/src/features/admin/access/components/Filter.tsx
  frontend/src/features/admin/admin-areas/EditAdminArea.tsx
  frontend/src/features/admin/agencies/EditAgencyPage.tsx
  frontend/src/features/admin/edit-user/EditUserPage.tsx
  frontend/src/features/help/containers/HelpContainer.tsx
  frontend/src/features/mapSideBar/components/MapSideBarLayout.tsx
  frontend/src/features/projects/common/projectsActionCreator.ts
  frontend/src/features/projects/dispose/hooks/stepperContext.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
Labels: dependencies, bootstrap, bugfix
