Repository bcgov/PIMS, pull requests merged in 2022-04, with the labels that each got.

#1228 PIMS-113: Classification Status "Demolished" should be available for buildings
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/hooks/useLookupCodes.tsx
Labels: bug

#1230 PIMS-111 Fix add subdivision
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
Labels: bug, enhancement

#1231 PIMS-111 Update Add Subdivision
  .gitignore
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/map/MapView.tsx
Labels: bug, enhancement

#1232 PIMS-114: Issue with 2022 Assessment not showing
  backend/dal/Migrations/20220404232725_v01.18.00.Designer.cs
  backend/dal/Migrations/20220404232725_v01.18.00.cs
  backend/dal/Migrations/v01.18.00/Up/PostUp/01-BuildingEvaluations.sql
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
Labels: bug, DB Migration

#1235 PIMS-116 Update project filter
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/entities/Models/ProjectFilter.cs
  frontend/src/features/projects/list/ProjectListView.tsx
Labels: enhancement

#1236 PIMS-90: Export list of Users not working
  backend/dal/Services/Admin/Concrete/UserService.cs
Labels: enhancement
