Repository bcgov/PIMS, pull requests merged in 2022-01, with the labels that each got.

#1181 Fix for log4j to upgrade Sonarqube
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  openshift/4.0/templates/sonarqube/deploy.yaml
Labels: devops

#1182 Pims 24 - using both public and private layers for parcels
  frontend/src/components/maps/hooks/useActiveFeatureLayer.test.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useBoundaryLayer.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
Labels: bug, enhancement

#1183 Increase build timeout
  openshift/4.0/pipelines/Jenkinsfile.cicd
Labels: devops

#1185 PIMS-79: Notification sent to ADM in error
  backend/dal/Services/Concrete/NotificationQueueService.cs
Labels: bug

#1187 PIMS-56: UI to present email errors on the project
  frontend/src/constants/reducerTypes.ts
  frontend/src/features/projects/common/index.ts
  frontend/src/features/projects/common/tabs/NotificationList.tsx
  frontend/src/features/projects/common/tabs/NotificationTab.tsx
  frontend/src/features/projects/common/tabs/columns.tsx
  frontend/src/features/projects/constants/SPPApprovalTabs.ts
  frontend/src/features/projects/dispose/testUtils.ts
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/steps/__snapshots__/ErpStep.test.tsx.snap
  frontend/src/features/projects/erp/tabs/ErpTabs.tsx
  frontend/src/features/projects/interfaces/INotification.ts
  frontend/src/features/projects/interfaces/INotificationFilter.ts
  frontend/src/features/projects/interfaces/index.ts
  frontend/src/hooks/useApiDisposal.ts
Labels: bug, enhancement
