Repository bcgov/PIMS, pull requests merged in 2022-03, with the labels that each got.

#1209 Pims 81 - Rollback sqM to sqft and update sqft to Sq. M
  backend/dal/Migrations/v01.15.00/Down/PostDown/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.15.00/Up/PostUp/01-NotificationTemplates.sql
Labels: DB Migration

#1210 PIMS-100: Property Inventory Management System Building slide out on the map issue on buildings with more than one evaluation.
  frontend/src/components/maps/leaflet/InfoSlideOut/BuildingAttributes.tsx
Labels: bug

#1211 PIMS-68: Issue with PID returning wrong parcel
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.tsx
Labels: bug

#1215 PIMS-61: Clean up Layers
  frontend/src/components/maps/leaflet/LayersControl/LayersTree.tsx
Labels: enhancement

#1216 pims-96: Need to be able to remove comment in Text added to ERP Notification Emails
  frontend/src/features/projects/erp/forms/AgencyResponseForm.tsx
  frontend/src/features/projects/erp/steps/ErpStep.test.tsx
  frontend/src/features/projects/erp/tabs/__snapshots__/EnhancedReferralTab.test.tsx.snap
Labels: bug

#1221 PIMS-109 Fix associated land
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/EvaluationForm.tsx
  frontend/src/features/properties/components/forms/subforms/columns.tsx
Labels: bug

#1222 pims 106:Update notification templates with modified contact and phone number
  backend/dal/Migrations/20220316211239_v01.17.00.Designer.cs
  backend/dal/Migrations/20220316211239_v01.17.00.cs
  backend/dal/Migrations/v01.17.00/Down/PostDown/01-NotificationTemplates.sql
  backend/dal/Migrations/v01.17.00/Up/PostUp/01-NotificationTemplates.sql
Labels: enhancement, DB Migration

#1224 PIMS-102 - Fixing the 0 values on the Excel report
  backend/api/Areas/Reports/Mapping/Property/PropertyMap.cs
  backend/api/Areas/Reports/Models/Property/PropertyModel.cs
  backend/core/Extensions/DateExtensions.cs
Labels: bug

#1227 PIMS-112: Surplus Active classification option missing from drop down
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
Labels: bug

#1226 PIMS-77: changes to default filter and fixing snapshots and frontend tests
  frontend/src/features/projects/list/ProjectApprovalRequestListView.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/SPLProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/SPLProjectListView.test.tsx.snap
Labels: enhancement
