Repository bcgov/PIMS, pull requests merged in 2023-03, with the labels that each got.

#1379 PIMS-451
  backend/dal/Services/Concrete/ProjectService.cs
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/columns.tsx
Labels: enhancement, react, backend

#1384 Add Delete icon to all projs in non-production envs
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/columns.tsx
Labels: bugfix

#1377 PIMS-524: Update Node Image to v18
  frontend/Dockerfile
Labels: DRAFT PR - Do Not Merge, react, docker

#1381 PIMS-452: Cypress Keycloak Login
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/e2e/DisposalProjects/createDraft.cy.ts
  frontend/cypress/fixtures/users/admin.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.ts
  frontend/package-lock.json
  frontend/package.json
Labels: cypress, e2e-tests, Keycloak Gold

#1386 Pims 521
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/appsettings.Local.json
  backend/api/appsettings.Test.json
  backend/api/appsettings.json
  backend/dal/Migrations/20230309230913_v02.03.09.Designer.cs
  backend/dal/Migrations/20230309230913_v02.03.09.cs
  backend/dal/Migrations/v02.03.09/Up/PostUp/01-Roles.sql
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/dal/Services/Admin/IUserService.cs
  codecov.yml
  frontend/src/components/common/form/UserRoleSelector.tsx
  frontend/src/constants/API.ts
  frontend/src/features/admin/edit-user/EditUserPage.tsx
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/features/admin/edit-user/useEditUserService.tsx
  frontend/src/features/admin/users/ManageUsers.tsx
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/store/slices/hooks/usersActionCreator.ts
Labels: enhancement, DB Migration, Keycloak Gold

#1387 Fix useEffect in recent EditUserPage changes
  frontend/src/components/common/form/UserRoleSelector.tsx
  frontend/src/features/admin/users/ManageUsers.tsx
Labels: bugfix

#1389 PIMS-531 & PIMS-532: Can't Edit Keycloak Silver User Roles
  frontend/src/features/admin/edit-user/EditUserPage.test.tsx
  frontend/src/features/admin/edit-user/EditUserPage.tsx
  frontend/src/features/admin/edit-user/__snapshots__/EditUserPage.test.tsx.snap
  frontend/src/store/slices/userSlice.ts
Labels: bugfix

#1390 Resolve high severity vulnerability in webpack
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, vulnerabilities

#1392 PIMS-523 - Unable to export user list to Excel
  backend/api/Areas/Admin/Models/User/GoldUserModel.cs
  backend/api/Areas/Reports/Mapping/User/UserMap.cs
  backend/api/Areas/Reports/Models/User/UserModel.cs
Labels: bug

#1391 Fix createDraft cypress test
  frontend/cypress/e2e/DisposalProjects/createDraft.cy.ts
  frontend/cypress/support/index.ts
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/SPLProjectListView.test.tsx.snap
Labels: cypress, e2e-tests

#1393 Updates to colors in Layers legend on map
  frontend/src/components/maps/leaflet/LayersControl/LayersTree.tsx
  frontend/src/components/maps/leaflet/LayersControl/__snapshots__/LayersControl.test.tsx.snap
  frontend/src/components/maps/leaflet/LayersControl/data.ts
Labels: enhancement, react

#1395 Snowplow Analytics - Track Property List Click
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/globals.d.ts
  frontend/src/setupTests.ts
Labels: analytics

#1397 Add approval step to cypress Disposal Projects test
  frontend/cypress.config.ts
  frontend/cypress/e2e/disposalProjects.cy.ts
Labels: cypress, e2e-tests

#1396 PIMS-369
  backend/api/Areas/Reports/Controllers/ProjectController.cs
  backend/api/Areas/Reports/Mapping/Project/ProjectMap.cs
  backend/api/Areas/Reports/Models/Project/ProjectModelExcel.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/IProjectService.cs
  backend/tests/unit/api/Controllers/Reports/ProjectControllerTest.cs
Labels: dotnet, backend

#1408 PIMS-369
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
Labels: enhancement, backend

#1418 Fixing issue with db-migration
  backend/Dockerfile.migrations
Labels: bug, devops, dotnet

#1394 Snowplow Analytics - Track Page Views and Link Click
  frontend/src/App.tsx
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoContent.tsx
  frontend/src/features/projects/common/forms/DocumentationForm.tsx
  frontend/src/features/projects/dispose/ProjectDisposalExemptionSubmitted.tsx
  frontend/src/features/projects/dispose/ProjectDisposalSubmitted.tsx
Labels: analytics

#1409 Cypress - Added nav bar routing test
  frontend/cypress.config.ts
  frontend/cypress/e2e/disposalProjects.cy.ts
  frontend/cypress/e2e/navBar.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.ts
  frontend/package.json
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/components/layout/AppNavBar/__snapshots__/AppNavBar.test.tsx.snap
  frontend/src/features/admin/access/ManageAccessRequests.tsx
  frontend/src/features/admin/access/__snapshots__/ManageAccessRequests.test.tsx.snap
  frontend/src/features/admin/admin-areas/ManageAdminAreas.tsx
  frontend/src/features/admin/admin-areas/__snapshots__/ManageAdminAreas.test.tsx.snap
  frontend/src/features/admin/agencies/ManageAgencies.tsx
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/ManageUsers.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/SubmitPropertySelector.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/SubmitPropertySelector.test.tsx.snap
  frontend/src/features/projects/common/forms/ProjectDraftForm.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/ProjectDraftStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectApprovalRequest.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/SPLProjectListView.test.tsx.snap
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/splReports/components/SplReportLayout.tsx
Labels: cypress, e2e-tests

#1400 Snowplow Analytics - Track Errors
  frontend/src/components/common/ErrorModal.tsx
  frontend/src/components/common/Snackbar.tsx
  frontend/src/features/routes/AppRouter.tsx
  frontend/src/pages/401/AccessDenied.tsx
  frontend/src/pages/401/__snapshots__/AccessDenied.test.tsx.snap
  frontend/src/pages/404/NotFoundPage.tsx
Labels: analytics

#1410 Remove tiny-invariant
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/maps/leaflet/Spiderfier.ts
Labels: dependencies, react

#1399 Snowplow Analytics - Track Marker Click
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
Labels: analytics

#1398 Snowplow Analytics - Track Search
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: analytics

#1420 PIMS-558 - [Snyk] Security upgrade Microsoft.Extensions.Configuration.UserSecrets from 5.0.0 to 7.0.0
  backend/api/Pims.Api.csproj
  backend/dal.keycloak/Pims.Dal.Keycloak.csproj
  backend/dal/Pims.Dal.csproj
Labels: dependencies, .NET, vulnerabilities

#1417 SPL Reports status column size tweak
  frontend/src/features/splReports/columns.tsx
Labels: styling

#1421 Fixed SPL Reports Status Col
  frontend/package-lock.json
  frontend/src/features/splReports/columns.tsx
Labels: bugfix
