Repository bcgov/PIMS, pull requests merged in 2023-01, with the labels that each got.

#1350 PIMS-128: Updating wording to "Surplus Properties Program"
  backend/dal/Migrations/20230103232746_v02.01.00.Designer.cs
  backend/dal/Migrations/20230103232746_v02.01.00.cs
  backend/dal/Migrations/v02.01.00/Up/PostUp/01-ProjectStatus.sql
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/projects/assess/steps/__snapshots__/ReviewApproveStep.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/SPLProjectListView.test.tsx.snap
Labels: bug, DB Migration

#1357 Fix test environment theme
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/layouts/PublicLayout.tsx
Labels: bugfix

#1355 PIMS-426: Cant perform a React state update on unmounted component
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
Labels: bugfix, react

#1358 Updated gen-env-files script for new db seed data
  docker-compose.yml
  scripts/gen-env-files.sh
Labels: bugfix

#1360 PIMS-490: Update username to admin
  scripts/gen-env-files.sh
Labels: bug

#1359 Fix mssql start issue
  database/mssql/Dockerfile
  database/mssql/openshift/Dockerfile
  openshift/4.0/templates/database/busybox.yaml
  openshift/4.0/templates/database/mssql-deploy.yaml
Labels: bug, devops
