Repository bcgov/PIMS, pull requests merged in 2023-06, with the labels that each got.

#1511 Using ESBuild for Dockerfile.ocp
  Makefile
  docker-compose.yml
  frontend/.dockerignore
  frontend/.eslintrc.cjs
  frontend/Dockerfile
  frontend/Dockerfile.ocp
  frontend/Makefile
  frontend/esbuild.config.mjs
  frontend/package.json
  frontend/public/index.html
  frontend/src/assets/images/icon-business.svg
  frontend/src/assets/images/icon-lot.svg
  frontend/src/assets/images/logo-banner.svg
  frontend/src/components/SearchBar/FilterBar.scss
  frontend/src/components/layout/AppNavBar/AppNavBar.scss
  frontend/src/components/layout/Footer/Footer.scss
  frontend/src/components/layout/Header/Header.scss
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/PointClusterer.scss
  frontend/src/features/projects/common/ProjectLayout.scss
  frontend/src/features/projects/common/components/FilterBar.scss
  frontend/src/features/projects/dispose/ProjectDisposeView.scss
  frontend/src/features/properties/filter/PropertyFilter.scss
  frontend/src/fonts.scss
  frontend/src/index.scss
  frontend/src/styles.scss
  frontend/tsconfig.json
Labels: Dependencies, React, Docker, Styles

#1512 Forgot to switch FROM instruction after testing
  frontend/Dockerfile.ocp
Labels: React

#1514 PIMS-648 - Land Markers Don't Show Up On Map
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
Labels: Bug Fix, React

#1515 Vite for Production Build
  frontend/Dockerfile.ocp
  frontend/esbuild.config.mjs
  frontend/package.json
  frontend/public/index.html
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/vite.config.js
Labels: Dependencies, React

#1516 Changed index.html import for Dockerfile.ocp
  frontend/Dockerfile.ocp
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.js
Labels: Dependencies, React

#1513 Added Install Step to Cypress Action
  .github/workflows/app-cypress-dev.yml
Labels: Github Actions

#1518 NPM GitHub Workflow - Closes Old Issues
  .github/helpers/check-npm-dependency-versions.js
  .github/helpers/github-api-requests.js
  .github/helpers/npm-dependencies-create-issue.js
  .github/workflows/app-npm-dependency-updates.yml
Labels: Github Actions

#1521 Cypress Workflow
  .github/workflows/app-cypress-dev.yml
Labels: Github Actions

#1519 Additional Commenting on GitHub API Requests Helper
  .github/helpers/github-api-requests.js
  .github/helpers/npm-dependencies-create-issue.js
  .github/workflows/app-npm-dependency-updates.yml
Labels: Github Actions

#1524 Pims 657 - Fixing data issues for Snowplow
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/hooks/useLookupCodes.tsx
Labels: React

#1525 BCeID Access Request
  frontend/src/hooks/useKeycloakWrapper.tsx
  frontend/src/utils/YupSchema.ts
Labels: React

#1526 PIMS-659
  frontend/src/features/projects/disposals/documentation/ProjectDocumentation.tsx
Labels: React

#1527 Updated Cypress Tests
  frontend/cypress.config.ts
  frontend/cypress/e2e/disposalProjects.cy.ts
  frontend/cypress/e2e/navBar.cy.ts
Labels: React, Cypress E2E

#1528 Run Cypress Action in Headless Mode
  frontend/package.json
Labels: Dependencies, React

#1531 Cypress Cleanup
  .github/workflows/app-cypress-dev.yml
  frontend/cypress/e2e/disposalProjects.cy.ts
  frontend/cypress/e2e/navBar.cy.ts
Labels: React, Cypress E2E, Github Actions

#1532 PIMS-662 - Fix Issues in Analytics
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: React

#1536 PIMS-661: Local Testing of Prod Build
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Labels: React, Docker

#1530 PIMS-550: Resolve act() warnings in jest tests
  frontend/package.json
  frontend/src/components/common/form/FastDatePicker.test.tsx
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.test.tsx
  frontend/src/features/admin/admin-areas/ManageAdminAreas.test.tsx
  frontend/src/features/admin/admin-areas/__snapshots__/ManageAdminAreas.test.tsx.snap
  frontend/src/features/admin/edit-user/EditUserPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/projects/common/forms/UpdateInfoForm.test.tsx
  frontend/src/features/projects/dispose/forms/PropertyListViewSelect.test.tsx
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.test.tsx
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/properties/components/LastUpdatedBy.test.tsx
  frontend/src/features/properties/components/forms/subforms/PidPinForm.test.tsx
  frontend/src/features/properties/filter/PropertyFilter.test.tsx
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: Dependencies, Test, React

#1543 Update react router dom to 6.13.0
  frontend/package.json
Labels: Dependencies, React

#1545 Update bootstrap to 5.3.0
  frontend/package.json
Labels: Dependencies, React

#1542 Update babel core to 7.22.5
  frontend/package.json
Labels: Dependencies, React

#1568 PIMS 683: Analytics fixes
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: React

#1566 PIMS-679: Dev dependency upgrade: Patch update set#1
  frontend/package.json
Labels: Dependencies, React

#1563 PIMS-671: Update react-datepicker to 4.14.1
  frontend/package.json
Labels: Dependencies, React

#1547 PIMS-672: Update react-icons to 4.9.0
  frontend/package.json
  frontend/src/assets/images/icon-lot.svg
Labels: Dependencies, React

#1570 PIMS-687: Upgrade @types/polylabel
  frontend/package.json
Labels: Dependencies, React

#1541 Update styled components to 5.3.11
  frontend/package.json
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
Labels: Dependencies, React, Tests

#1571 PIMS-585: Snowplow Analytics to Prod
  frontend/public/index.html
Labels: React

#1573 PIMS-689: Upgrade @typescript-eslint/eslint-plugin
  frontend/package.json
Labels: Dependencies, React

#1564 PIMS-681: App and API Check Improvements
  .github/workflows/api-dotnetcore.yml
  .github/workflows/app-react.yml
Labels: Github Actions

#1569 PIMS-684: Upgrade @babel/preset-typescript
  frontend/package.json
Labels: Dependencies, React

#1575 PIMS-686: Change node-sass to sass for MacOS compatibility
  frontend/package.json
Labels: Dependencies, React

#1578 PIMS-690: Use Code Climate to Check Frontend Tests
  .github/workflows/app-jest-coverage.yml
  .github/workflows/app-react.yml
  frontend/package.json
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
Labels: Dependencies, Bug Fix, React, Github Actions, Tests

#1580 PIMS-692: Upgrade dotenv
  frontend/package.json
Labels: Dependencies, React

#1579 PIMS-691: Upgrade @typescript-eslint/parser
  frontend/package.json
Labels: Dependencies, React
