Repository bcgov/PIMS, pull requests merged in 2023-11, with the labels that each got.

#1868 PIMS-358 & PIMS-359 - Snyk Vulnerabilities in Pims.Api.csproj
  backend/api/Pims.Api.csproj
Labels: Dependencies, DotNet

#1873 PIMS-357 Update cypress to 13.4.0
  frontend/package.json
Labels: Dependencies, React

#1874 PIMS-355 Update axios to 1.6.0
  frontend/package.json
Labels: Dependencies, React

#1875 PIMS-356 Update react-router-dom to 6.18.0
  frontend/package.json
Labels: Dependencies, React

#1884 PIMS-336 Surplus Properties Popup Styling
  frontend/src/components/SearchBar/FindMorePropertiesForm.scss
  frontend/src/components/SearchBar/FindMorePropertiesForm.test.tsx
  frontend/src/components/SearchBar/FindMorePropertiesForm.tsx
  frontend/src/components/SearchBar/__snapshots__/FindMorePropertiesForm.test.tsx.snap
  frontend/src/features/admin/users/components/UsersFilterBar.scss
Labels: React, Styles, Tests

#1869 PIMS-35/36 Fix Jest Test Warnings
  frontend/src/components/Table/ColumnFilter.test.tsx
  frontend/src/components/common/form/FastDatePicker.test.tsx
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/features/admin/access/ManageAccessRequests.test.tsx
  frontend/src/features/admin/agencies/ManageAgencies.test.tsx
  frontend/src/features/admin/users/ManageUsers.test.tsx
  frontend/src/features/help/forms/BugForm.test.tsx
  frontend/src/features/help/forms/FeatureRequestForm.test.tsx
  frontend/src/features/help/forms/QuestionForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.test.tsx
  frontend/src/features/mapSideBar/components/tabs/BuildingDetails.tsx
  frontend/src/features/mapSideBar/components/tabs/ParcelDetails.tsx
  frontend/src/features/projects/assess/steps/ReviewApproveStep.test.tsx
  frontend/src/features/projects/common/forms/UpdateInfoForm.test.tsx
  frontend/src/features/projects/dispose/ProjectDisposeView.test.tsx
  frontend/src/features/projects/dispose/hooks/useStepper.test.tsx
  frontend/src/features/projects/dispose/steps/SelectProjectPropertiesStep.test.tsx
  frontend/src/features/routes/LayoutWrapper.test.tsx
  frontend/src/utils/KeycloakEventHandler.test.ts
Labels: React, Tests

#1876 PIMS-67/71 CRA to Vite & Replace http-proxy-middleware
  .env-template
  Makefile
  docker-compose.yml
  frontend/Dockerfile
  frontend/Dockerfile.ocp
  frontend/index.html
  frontend/package.json
  frontend/src/setupProxy.js
  frontend/vite.config.js
  frontend/vite.config.ts
Labels: Dependencies, React, Docker

#1893 PIMS-373 update @types/crypto-js from version `4.1.2` to `4.2.1`
  frontend/package.json
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
Labels: Dependencies, React, Tests

#1892 PIMS-374/75/76 update eslint, @typescript-eslint/eslint-plugin, @typescript-eslint/parser
  frontend/package.json
Labels: Dependencies, React

#1709 PIMS-223 Upload Properties Page
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/api/Areas/Tools/Models/Import/ImportPropertyModel.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/ParcelService.cs
  backend/dal/Services/Admin/IBuildingService.cs
  backend/dal/Services/Admin/IParcelService.cs
  backend/dal/Services/Concrete/BuildingService.cs
  backend/tests/core/Entities/BuildingHelper.cs
  backend/tests/unit/api/Controllers/Tools/ImportControllerTest.cs
  backend/tests/unit/dal/Services/Admin/BuildingServiceTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
  frontend/package.json
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/features/properties/components/LastUpdatedBy.tsx
  frontend/src/features/properties/upload/FileInput.scss
  frontend/src/features/properties/upload/FileInput.test.tsx
  frontend/src/features/properties/upload/FileInput.tsx
  frontend/src/features/properties/upload/Instructions.scss
  frontend/src/features/properties/upload/Instructions.test.tsx
  frontend/src/features/properties/upload/Instructions.tsx
  frontend/src/features/properties/upload/UploadProgress.scss
  frontend/src/features/properties/upload/UploadProgress.test.tsx
  frontend/src/features/properties/upload/UploadProgress.tsx
  frontend/src/features/properties/upload/UploadProperties.scss
  frontend/src/features/properties/upload/UploadProperties.test.tsx
  frontend/src/features/properties/upload/UploadProperties.tsx
  frontend/src/features/routes/AppRouter.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/utils/csvToPropertyModel.test.ts
  frontend/src/utils/csvToPropertyModel.ts
Labels: Dependencies, React, DotNet, Styles, Tests

#1894 PIMS-67 Documentation Update
  frontend/README.md
Labels: Documentation, React

#1898 PIMS-393: Update react-icons from version `4.11.0` to `4.12.0`
  frontend/package.json
Labels: Dependencies, React

#1899 PIMS-395: Update @testing-library/react from version `14.0.0` to `14.1.0`
  frontend/package.json
Labels: Dependencies, React

#1896 PIMS-381 Init Express API
  .gitignore
  express-api/constants/index.ts
  express-api/constants/networking.ts
  express-api/constants/switches.ts
  express-api/controllers/healthController.ts
  express-api/controllers/index.ts
  express-api/express.ts
  express-api/middleware/headerHandler.ts
  express-api/middleware/index.ts
  express-api/package.json
  express-api/routes/health-router.ts
  express-api/routes/index.ts
  express-api/server.ts
  express-api/tsconfig.json
Labels: Dependencies

#1901 PIMS-396 Update cypress from version `13.4.0` to `13.5.0`
  frontend/package.json
Labels: Dependencies, React

#1900 PIMS-397 Update prettier from version `3.0.3` to `3.1.0`
  frontend/package.json
Labels: Dependencies, React

#1908 DevOps GitHub actions pipeline
  .github/helpers/deploy.sh
  .github/helpers/update-wiki-table.py
  .github/workflows/DEV-Api-image-deploy.yml
  .github/workflows/DEV-App-image-build.yml
  .github/workflows/DEV-App-image-deploy.yml
  .github/workflows/DEV-api-image-build.yml
  .github/workflows/api-dotnetcore.yml
  .github/workflows/app-jest-coverage.yml
  docker-compose.prod.yml
  frontend/Dockerfile.ocp
  frontend/prod.nginx.conf
  openshift/templates/api-dc-template.yaml
  openshift/templates/app-dc-template.yaml
Labels: React, Github Actions, OpenShift

#1909 quick fix, namespace should be a string
  .github/helpers/deploy.sh
  openshift/templates/api-dc-template.yaml
  openshift/templates/app-dc-template.yaml
Labels: OpenShift

#1910 Temp Comment added for testing pipeline
  frontend/Dockerfile.ocp
Labels: React

#1911 temp comment in backend dockerfile
  backend/Dockerfile.ocp
Labels: DotNet

#1912 Pipeline test: removed temp comment from dockerfile FE
  frontend/Dockerfile.ocp
Labels: React

#1914 Pipeline test: Update Dockerfile.ocp
  frontend/Dockerfile.ocp
Labels: React

#1913 Pipeline test: removed temp comment from dockerfile BE
  backend/Dockerfile.ocp
Labels: DotNet

#1915 Removed temp test comment
  frontend/Dockerfile.ocp
Labels: React

#1907 PIMS-89 Investigate Removing react-click-away-listener
  frontend/src/components/SearchBar/FindMorePropertiesForm.test.tsx
  frontend/src/components/maps/leaflet/Legend/LegendControl.scss
  frontend/src/components/maps/leaflet/Legend/LegendControl.test.tsx
  frontend/src/components/maps/leaflet/Legend/LegendControl.tsx
  frontend/src/components/maps/leaflet/Legend/__snapshots__/LegendControl.test.tsx.snap
Labels: React, Styles, Tests

#1903 PIMS-394/392/398 Updated vite, vite-plugin-svgr, vitejs/plugin-react
  frontend/package.json
  frontend/src/__mocks__/svg-mock.tsx
  frontend/src/components/Table/PropertyTypeCell.tsx
  frontend/src/components/common/Icons.ts
  frontend/src/components/layout/Header/__snapshots__/EmptyHeader.test.tsx.snap
  frontend/src/components/layout/Header/__snapshots__/Header.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/AssociatedTab.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/HeaderActions.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/InfoContent.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/SubmitPropertySelector.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/AddParentParcelsForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/LandSearchForm.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/forms/__snapshots__/PropertyListViewSelect.test.tsx.snap
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/layouts/__snapshots__/EmptyLayout.test.tsx.snap
Labels: Dependencies, React, Tests

#1916 Pipeline - health check reference fix
  .github/workflows/DEV-App-image-deploy.yml
Labels: Github Actions

#1917 PIMS-288 Parcel Details Changing Unexpectedly
  frontend/package.json
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
Labels: Dependencies, React, Tests

#1919 PIMS-245 Fix ESLint Errors
  frontend/src/__mocks__/react-text-mask.tsx
  frontend/src/components/common/form/StringButton.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.test.tsx
  frontend/src/features/help/interfaces.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/projects/common/components/columns.tsx
  frontend/src/features/projects/disposals/erp/constants/AgencyInterestColumns.tsx
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/properties/components/GeocoderAutoCompleteStyled.tsx
  frontend/src/hooks/api/projects/constants/WorkflowStatus.ts
  frontend/src/hooks/useConfiguration.ts
  frontend/src/hooks/useLookupCodes.tsx
Labels: React, Tests

#1921 Dev ops/pipeline feedback
  .github/workflows/DEV-Api-image-deploy.yml
  .github/workflows/DEV-App-image-build.yml
  .github/workflows/DEV-App-image-deploy.yml
  .github/workflows/DEV-api-image-build.yml
Labels: Github Actions

#1920 PIMS-83 Remove text-mask-addons
  frontend/package.json
  frontend/src/components/common/form/DisplayCurrency.tsx
  frontend/src/components/common/form/FastCurrencyInput.tsx
  frontend/src/utils/createNumberMask.test.ts
  frontend/src/utils/createNumberMask.ts
Labels: Dependencies, React, Tests

#1922 PIMS-448 Correct Upload Visibility
  frontend/src/components/layout/AppNavBar/AppNavBar.test.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/features/routes/AppRouter.tsx
Labels: React, Tests

#1895 PIMS-246 Create Workflow for Linting
  .github/workflows/app-lint.yaml
Labels: Github Actions

#1928 PIMS-385 Add Postgres Container Locally
  .env-template
  docker-compose.yml
Labels: Docker

#1930 Update retry-axios from version 3.0.0 to 3.1.3
  frontend/package.json
Labels: Dependencies, React

#1935 Database migration flow added
  .github/helpers/migrations.sh
  .github/helpers/update-wiki-table.py
  .github/workflows/DEV-Api-image-deploy.yml
  .github/workflows/DEV-api-image-build.yml
  docker-compose.prod.yml
Labels: Github Actions

#1936 Dummy file to test migration Workflow
  backend/dal/Migrations/dummy.txt
Labels: Migrations, DotNet

#1923 TES-795 Update script to add connection to epic
  .github/helpers/jira-api/create_tickets.py
  .github/helpers/jira-api/refine_tickets.py
  .github/workflows/app-npm-dep-check.yml
Labels: Github Actions

#1940 update correct column on the image tags page
  .github/workflows/DEV-Api-image-deploy.yml
Labels: Github Actions

#1941 Remove dummy file for testing migratio pipeline
  backend/dal/Migrations/dummy.txt
Labels: Migrations, DotNet

#1938 PIMS-377 surplus properties style update
  frontend/src/components/maps/FindMorePropertiesButton.scss
Labels: React, Styles

#1946 PIMS-498: Update react-router-dom from version `6.18.0` to `6.20.0`
  frontend/package.json
Labels: Dependencies, React

#1947 PIMS-504: Update typescript from version `5.2.2` to `5.3.2`
  frontend/package.json
Labels: Dependencies, React

#1944 PIMS-496 update vite
  frontend/package.json
Labels: Dependencies, React

#1945 PIMS-500 update eslint packages
  frontend/package.json
Labels: Dependencies, React

#1931 PIMS-383 Create Express API Documentation
  express-api/README.md
Labels: Documentation

#1934 PIMS-384 Express Linting Rules
  express-api/.eslintrc.cjs
  express-api/.gitignore
  express-api/.prettierrc.cjs
  express-api/middleware/index.ts
  express-api/package.json
Labels: Dependencies

#1902 PIMS-153 & PIMS-493
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
Labels: React

#1950 PIMS-505: Update keycloak-js from version `22.0.1` to `23.0.0`
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/keycloakInstance.ts
  frontend/src/utils/KeycloakEventHandler.test.ts
  frontend/src/utils/KeycloakEventHandler.ts
Labels: Dependencies, React, Tests

#1951 PIMS-497: Update react-datepicker from version `4.21.0` to `4.23.0`
  frontend/package.json
Labels: Dependencies, React

#1952 PIMS-508: Add Regional Districts to Locations in PIMS
  backend/dal/Migrations/20231129194537_v02.07.00.Designer.cs
  backend/dal/Migrations/20231129194537_v02.07.00.cs
  backend/dal/Migrations/v02.07.00/Up/PostUp/01-AdministrativeAreas.sql
Labels: Migrations, DotNet

#1953 PIMS-502 Update cypress to 13.6.0
  frontend/package.json
Labels: Dependencies, React

#1948 PIMS-371 Reformatting Forms
  frontend/src/features/admin/admin-areas/EditAdminArea.scss
  frontend/src/features/admin/admin-areas/EditAdminArea.tsx
  frontend/src/features/admin/admin-areas/__snapshots__/EditAdminArea.test.tsx.snap
  frontend/src/features/admin/agencies/EditAgencyPage.scss
  frontend/src/features/admin/agencies/EditAgencyPage.tsx
  frontend/src/features/admin/agencies/__snapshots__/EditAgencyPage.test.tsx.snap
  frontend/src/features/admin/users/ManageUsers.scss
  frontend/src/features/admin/users/ManageUsers.tsx
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
Labels: React, Styles, Tests

#1954 PIMS-509 Property Upload - Use Regional District if Location Invalid
  .vscode/settings.json
  backend/api/Areas/Tools/Helpers/ImportPropertiesHelper.cs
  backend/api/Areas/Tools/Models/Import/ImportPropertyModel.cs
  frontend/src/features/properties/upload/Instructions.tsx
  frontend/src/utils/csvToPropertyModel.ts
Labels: React, DotNet
