Repository bcgov/PIMS, pull requests merged in 2023-09, with the labels that each got.

#1684 PIMS-173 NPM Dependency Updates
  frontend/package.json
  frontend/src/setupTests.ts
Labels: Dependencies, React

#1685 [PIMS-200] LTSA Parcel Popup
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/ltsa/Charges.tsx
  frontend/src/components/ltsa/LTSADialog.test.tsx
  frontend/src/components/ltsa/LTSADialog.tsx
  frontend/src/components/ltsa/OwnershipInformation.tsx
  frontend/src/components/ltsa/TitleDetails.tsx
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopUpContent.test.tsx
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopupContent.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/components/tables/ChargeTable.tsx
  frontend/src/features/mapSideBar/components/tables/OwnershipTable.tsx
  frontend/src/features/mapSideBar/components/tabs/TabStyles.ts
  frontend/src/features/mapSideBar/components/tabs/TitleOwnership.tsx
Labels: React, Tests

#1690 PIMS-194 reformat add associated parcel tab
  frontend/src/components/common/form/StepForm/SteppedForm.tsx
  frontend/src/components/common/form/StringButton.tsx
Labels: React

#1693 edit-button-hotfix
  frontend/src/features/properties/list/PropertyListView.test.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: React, Tests

#1694 [PIMS-221] CSV to JSON Conversion
  frontend/package.json
  frontend/src/utils/csvToPropertyModel.test.ts
  frontend/src/utils/csvToPropertyModel.ts
Labels: Dependencies, React, Tests

#1695 [PIMS-222] Add bulk upload route
  frontend/src/hooks/useApi.ts
Labels: React

#1691 PIMS-207 Fix spacing right side menu Mac
  frontend/src/colors.scss
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.scss
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
Labels: React, Styles

#1692 [PIMS-211] Associated land style update
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AssociatedLandReviewPage.tsx
  frontend/src/features/mapSideBar/components/tabs/ParcelDetails.tsx
  frontend/src/features/mapSideBar/components/tabs/UsageValuation.tsx
Labels: React, Tests

#1698 [PIMS-227] Fix: Buildings disassociating from land
  backend/api/Areas/Property/Controllers/BuildingController.cs
  backend/dal/Services/Concrete/BuildingService.cs
  backend/tests/unit/api/Controllers/BuildingControllerTest.cs
  backend/tests/unit/api/Routes/Property/BuildingControllerTest.cs
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/hooks/useApi.ts
Labels: React, DotNet

#1699 PIMS-238 update @testing/library/user-event
  frontend/package.json
Labels: Dependencies, React

#1700 PIMS-234 update react-datepicker
  frontend/package.json
Labels: Dependencies, React

#1701 PIMS-239 update eslint
  frontend/package.json
Labels: Dependencies, React

#1705 PIMS-10
  frontend/Dockerfile
  frontend/Dockerfile.ocp
Labels: React, Docker

#1704 [PIMS-237] updated sass to 1.67.0
  frontend/package.json
Labels: Dependencies, React

#1702 PIMS-235: update-react-icons
  frontend/package.json
Labels: Dependencies, React

#1707 PIMS-225 and 226: replace the wms PMBC layer and autopopulate the legal description
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopupContent.tsx
  frontend/src/components/maps/leaflet/LayerPopup/constants/index.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
Labels: React

#1712 PIMS-236
  frontend/package.json
Labels: Dependencies, React

#1714 PIMS-251: Prod Build Failing on SVG Imports
  frontend/Dockerfile
  frontend/Dockerfile.ocp
  frontend/package.json
Labels: Dependencies, React, Docker

#1711 PIMS-243
  frontend/package.json
Labels: Dependencies, React

#1723 PIMS-251: Fix developer container
  frontend/Dockerfile
  frontend/Dockerfile.ocp
  frontend/package.json
Labels: Dependencies, React, Docker

#1715 PIMS-210: General Small Touchups
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.scss
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
Labels: React, Styles

#1716 PIMS-213: Add tooltip to Net Book Value
  frontend/src/features/mapSideBar/SidebarContents/subforms/ValuationForm.scss
  frontend/src/features/properties/components/forms/subforms/columns.tsx
  frontend/src/features/properties/components/forms/subforms/tableStyles.scss
Labels: React, Styles

#1763 PIMS-276: Update react-datepicker
  frontend/package.json
Labels: Dependencies, React

#1764 PIMS-283_update_cypress
  frontend/package.json
Labels: Dependencies
