Repository bcgov/PIMS, pull requests merged in 2023-12, with the labels that each got.

#1926 PIMS-288 Parcel Details Change Unexpectedly Pt.2
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/BuildingForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/LandSearchForm.test.tsx.snap
  frontend/src/features/mapSideBar/components/MapDropPin.scss
  frontend/src/features/mapSideBar/components/MapDropPin.test.tsx
  frontend/src/features/mapSideBar/components/MapDropPin.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
Labels: React, Styles, Tests

#1959 Bug fix, migration step wrong tag issue
  .github/helpers/migrations.sh
  .github/workflows/DEV-Api-image-deploy.yml
  .github/workflows/PROD-Api-image-deploy.yml
  .github/workflows/TEST-Api-image-deploy.yml
Labels: Github Actions

#1958 Update eslint and eslint-config-prettier
  frontend/package.json
Labels: Dependencies, React

#1960 PIMS-386 Express API Testing Framework
  express-api/jest.config.ts
  express-api/package.json
  express-api/tests/integration/health/getHealth.test.ts
  express-api/tests/integration/middleware/headerHandler.test.ts
  express-api/tests/unit/controllers/healthController.test.ts
Labels: Dependencies

#1965 PIMS-527 Stikine Region Migration
  backend/dal/Migrations/20231207161338_v02.07.01.Designer.cs
  backend/dal/Migrations/20231207161338_v02.07.01.cs
  backend/dal/Migrations/v02.07.01/Up/PostUp/01-AdministrativeAreas.sql
Labels: Migrations, DotNet

#1961 PIMS-511: Opening a property from the View Inventory page doesn't take you to location
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
Labels: React, Tests

#1968 PIMS-405 Add Logging to Express API
  express-api/.eslintrc.cjs
  express-api/constants/switches.ts
  express-api/express.ts
  express-api/jest.config.ts
  express-api/middleware/index.ts
  express-api/middleware/morganHttpLogging.ts
  express-api/package.json
  express-api/server.ts
  express-api/tests/integration/express/express.test.ts
  express-api/tests/unit/utilities/winstonLogger.test.ts
  express-api/tsconfig.json
  express-api/utilities/winstonLogger.ts
Labels: Dependencies

#1970 PIMS-530: Error when trying to approve access requests
  backend/dal/Services/Admin/Concrete/UserService.cs
Labels: DotNet, Debugging

#1972 PIMS-530: Error when trying to approve access requests
  backend/dal.keycloak/Partials/PimsKeycloakUserService.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
Labels: DotNet

#1973 PIMS-91: Click to open project from reports page
  frontend/src/features/splReports/columns.tsx
  frontend/src/features/splReports/components/ReportForm.tsx
Labels: React

#1967 PIMS-387 Express API Testing Workflow
  .codeclimate.yml
  .github/workflows/api-jest-coverage.yaml
  express-api/jest.config.ts
Labels: Github Actions, Express

#1966 PIMS-388 Express Linting Workflow
  .github/workflows/api-lint.yaml
  express-api/.eslintrc.cjs
  express-api/.prettierignore
  express-api/tests/integration/health/getHealth.test.ts
  express-api/tests/integration/middleware/headerHandler.test.ts
  express-api/tests/unit/controllers/healthController.test.ts
Labels: Github Actions, Express

#1975 Bugfix/pipeline env fix
  .github/helpers/deploy.sh
  .github/workflows/DEV-Api-image-deploy.yml
  .github/workflows/PROD-Api-image-deploy.yml
  .github/workflows/TEST-Api-image-deploy.yml
  openshift/templates/api-dc-template.yaml
Labels: Github Actions, OpenShift

#1978 PIMS-390: Dockerize Express API
  docker-compose.yml
  express-api/.dockerignore
  express-api/Dockerfile
Labels: Docker, Express

#1976 PIMS-402 Add Swagger to Express
  express-api/.prettierignore
  express-api/Dockerfile
  express-api/constants/networking.ts
  express-api/controllers/healthController.ts
  express-api/express.ts
  express-api/package.json
  express-api/routes/healthRouter.ts
  express-api/routes/index.ts
  express-api/swagger/swagger-output.json
  express-api/swagger/swagger.mjs
  express-api/tsconfig.json
Labels: Dependencies, Docker, Express

#1980 PIMS-403 Add Keycloak to Express API
  .env-template
  express-api/express.ts
  express-api/middleware/keycloak/keycloakOptions.ts
  express-api/package.json
  express-api/tests/unit/middleware/keycloak/keycloakOptions.test.ts
Labels: Dependencies, Express

#1971 PIMS-400 Install TypeORM
  .env-template
  express-api/appDataSource.ts
  express-api/package.json
  express-api/server.ts
  express-api/tsconfig.json
  express-api/typeorm/utilities/CustomWinstonLogger.ts
Labels: Dependencies, Express

#1984 PIMS-426 Routes LTSA
  express-api/controllers/index.ts
  express-api/controllers/ltsa/ILtsaOrder.ts
  express-api/controllers/ltsa/ltsaController.ts
  express-api/express.ts
  express-api/package.json
  express-api/routes/index.ts
  express-api/routes/ltsaRouter.ts
  express-api/swagger/swagger-output.json
  express-api/swagger/swagger.mjs
  express-api/tests/integration/ltsa/getLtsa.test.ts
  express-api/tests/unit/controllers/ltsa/ltsaController.test.ts
  express-api/tests/unit/utilities/stubResponse.test.ts
  express-api/utilities/stubResponse.ts
Labels: Dependencies, Express

#1990 PIMS-612 Update react-router-dom
  frontend/package.json
Labels: Dependencies, React

#1988 PIMS-540,541,613 Update eslint
  frontend/package.json
Labels: Dependencies, React

#1994 PIMS-611: Update react-datepicker from version `4.24.0` to `4.25.0`
  frontend/package.json
Labels: Dependencies, React

#1992 PIMS-419: Parcel stubs
  express-api/controllers/index.ts
  express-api/controllers/parcels/IParcel.ts
  express-api/controllers/parcels/parcelsController.ts
  express-api/express.ts
  express-api/package.json
  express-api/routes/index.ts
  express-api/routes/parcelsRouter.ts
  express-api/swagger/swagger-output.json
  express-api/tests/integration/parcels/parcels.test.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
Labels: Dependencies, Express

#1979 PIMS-531: Absolute Imports for Express API starting the absolute paths
  express-api/Dockerfile
  express-api/constants/index.ts
  express-api/controllers/index.ts
  express-api/jest.config.ts
  express-api/middleware/index.ts
  express-api/package.json
  express-api/routes/index.ts
  express-api/src/appDataSource.ts
  express-api/src/constants/index.ts
  express-api/src/constants/networking.ts
  express-api/src/constants/switches.ts
  express-api/src/controllers/healthController.ts
  express-api/src/controllers/index.ts
  express-api/src/controllers/ltsa/ILtsaOrder.ts
  express-api/src/controllers/ltsa/ltsaController.ts
  express-api/src/controllers/parcels/IParcel.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/express.ts
  express-api/src/middleware/headerHandler.ts
  express-api/src/middleware/index.ts
  express-api/src/middleware/keycloak/keycloakOptions.ts
  express-api/src/middleware/morganHttpLogging.ts
  express-api/src/routes/healthRouter.ts
  express-api/src/routes/index.ts
  express-api/src/routes/ltsaRouter.ts
  express-api/src/routes/parcelsRouter.ts
  express-api/src/server.ts
  express-api/src/swagger/swagger-output.json
  express-api/src/swagger/swagger.mjs
  express-api/src/typeorm/utilities/CustomWinstonLogger.ts
  express-api/src/utilities/stubResponse.ts
  express-api/src/utilities/winstonLogger.ts
  express-api/tests/integration/express/express.test.ts
  express-api/tests/integration/health/getHealth.test.ts
  express-api/tests/integration/ltsa/getLtsa.test.ts
  express-api/tests/integration/middleware/headerHandler.test.ts
  express-api/tests/integration/parcels/parcels.test.ts
  express-api/tests/unit/controllers/healthController.test.ts
  express-api/tests/unit/controllers/ltsa/ltsaController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/middleware/keycloak/keycloakOptions.test.ts
  express-api/tests/unit/utilities/stubResponse.test.ts
  express-api/tests/unit/utilities/winstonLogger.test.ts
  express-api/tsconfig.json
Labels: Dependencies, Docker, Express
