Repository bcgov/PIMS, pull requests merged in 2023-08, with the labels that each got.

#1592 PIMS-649: Remove unused files and directories from repo
  .codeclimate.yml
  .github/labeler.yaml
  .s2i/bin/assemble
  CODE_OF_CONDUCT.md
  README.md
  Screenshots/1.jpg
  Screenshots/11.jpg
  Screenshots/12.jpg
  Screenshots/2.jpg
  Screenshots/3.jpg
  Screenshots/4.jpg
  Screenshots/5.jpg
  Screenshots/6.jpg
  Screenshots/7.jpg
  Screenshots/8.jpg
  Screenshots/9.jpg
  Screenshots/UXpin.jpg
  Screenshots/Wireframe_Page_1.jpg
  Screenshots/Wireframe_Page_2.jpg
  Screenshots/Wireframe_Page_3.jpg
  Screenshots/Wireframe_Page_4.jpg
  adr/_template.md
  backend/.devcontainer/Dockerfile
  backend/.devcontainer/devcontainer.json
  backend/README.md
  database/.gitkeep
  database/README.md
  database/mssql/README.md
  frontend/.devcontainer/Dockerfile
  frontend/.devcontainer/devcontainer.json
  frontend/.devcontainer/library-scripts/node-debian.sh
  frontend/.dockerignore
  frontend/.s2i/environment
  frontend/Dockerfile
  frontend/Dockerfile.ocp
  frontend/Jenkinsfile
  frontend/Makefile
  frontend/README.md
  frontend/package.json
  frontend/src/fetchEnv.ts.txt
  frontend/src/google-maps-react.d.ts
  frontend/src/utils/utils.ts
  frontend/styleguide.config.js
Labels: Documentation, Dependencies, React, Docker, DotNet, OpenShift

#1567 PIMS-677: Create endpoint for LTSA API
  .vscode/launch.json
  backend/.vscode/launch.json
  backend/Dockerfile
  backend/Dockerfile.ocp
  backend/Pims.sln
  backend/api/Areas/Property/Controllers/ParcelController.cs
  backend/api/Areas/Tools/Controllers/LtsaController.cs
  backend/api/Pims.Api.csproj
  backend/api/Startup.cs
  backend/api/appsettings.Development.json
  backend/api/appsettings.Local.json
  backend/api/appsettings.Test.json
  backend/api/appsettings.json
  backend/api/ltsa.local.json
  backend/core/Http/Models/LtsaOrderModel.cs
  backend/core/Http/Models/LtsaTitleSummaryModel.cs
  backend/core/Http/Models/LtsaTokenModel.cs
  backend/ltsa/Configuration/LtsaOptions.cs
  backend/ltsa/Extensions/ServiceCollectionExtensions.cs
  backend/ltsa/ILtsaService.cs
  backend/ltsa/LtsaService.cs
  backend/ltsa/Pims.Ltsa.csproj
  backend/tests/unit/api/Controllers/ParcelControllerTest.cs
  backend/tests/unit/api/Controllers/Tools/LtsaControllerTest.cs
  backend/tests/unit/dal/Libraries/Ltsa/LtsaServiceCollectionTest.cs
  backend/tests/unit/dal/Libraries/Ltsa/LtsaServiceTest.cs
Labels: Dependencies, Docker, DotNet, OpenShift, Tests

#1615 PIMS-109: Update bootstrap
  frontend/package.json
Labels: Dependencies, React

#1546 Update formik to 2.4.2
  frontend/package.json
Labels: Dependencies, React, OpenShift

#1651 PIMS-108 update @babel/core
  frontend/package.json
Labels: Dependencies, React

#1609 PIMS-15: Ltsa Land Review UI
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/common/form/FastCurrencyInput.tsx
  frontend/src/components/common/form/FastInput.tsx
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/mapSideBar/components/tables/ChargeTable.tsx
  frontend/src/features/mapSideBar/components/tables/OwnershipTable.tsx
  frontend/src/features/mapSideBar/components/tabs/HeaderDivider.tsx
  frontend/src/features/mapSideBar/components/tabs/ParcelDetails.tsx
  frontend/src/features/mapSideBar/components/tabs/TabStyles.ts
  frontend/src/features/mapSideBar/components/tabs/TitleOwnership.tsx
  frontend/src/features/mapSideBar/components/tabs/UsageValuation.tsx
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/utils/index.ts
  frontend/src/utils/postalCodeFormatter.ts
Labels: React, Styles

#1618 PIMS-115 update leaflet
  frontend/package.json
Labels: Dependencies, React

#1653 Merge dev to master
  frontend/package.json
  frontend/src/actions/parcelsActions.ts
  frontend/src/components/common/form/FastCurrencyInput.tsx
  frontend/src/components/common/form/FastInput.tsx
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/common/form/Typeahead.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/mapSideBar/components/tables/ChargeTable.tsx
  frontend/src/features/mapSideBar/components/tables/OwnershipTable.tsx
  frontend/src/features/mapSideBar/components/tabs/HeaderDivider.tsx
  frontend/src/features/mapSideBar/components/tabs/ParcelDetails.tsx
  frontend/src/features/mapSideBar/components/tabs/TabStyles.ts
  frontend/src/features/mapSideBar/components/tabs/TitleOwnership.tsx
  frontend/src/features/mapSideBar/components/tabs/UsageValuation.tsx
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/utils/index.ts
  frontend/src/utils/postalCodeFormatter.ts
Labels: Dependencies, React, Styles

#1654 PIMS-114-update dependencies
  frontend/package.json
Labels: Dependencies, React

#1656 PIMS-114-cont. update @types/react
  frontend/package.json
Labels: Dependencies, React

#1655 [PIMS-114 cont.] Dev Dependency Updates
  frontend/package.json
  frontend/src/components/common/Stepper.scss
  frontend/src/components/common/form/UserRoleSelector.tsx
  frontend/src/components/common/form/__snapshots__/FastCurrencyInput.test.tsx.snap
  frontend/src/components/maps/hooks/useActiveFeatureLayer.test.tsx
  frontend/src/components/maps/leaflet/LayerPopup/hooks/useLayerQuery.test.tsx
  frontend/src/components/maps/leaflet/Spiderfier.ts
  frontend/src/features/admin/access/ManageAccessRequests.tsx
  frontend/src/features/admin/access/components/AccessRequestActions.tsx
  frontend/src/features/admin/admin-areas/__snapshots__/ManageAdminAreas.test.tsx.snap
  frontend/src/features/admin/agencies/__snapshots__/ManageAgencies.test.tsx.snap
  frontend/src/features/admin/users/__snapshots__/ManageUsers.test.tsx.snap
  frontend/src/features/admin/users/components/UsersFilterBar.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/OccupancyForm.test.tsx.snap
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.test.tsx
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/ReviewProjectStep.test.tsx.snap
  frontend/src/features/projects/dispose/steps/__snapshots__/SelectProjectPropertiesStep.test.tsx.snap
  frontend/src/features/projects/list/SPLProjectListView.tsx
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/SPLProjectListView.test.tsx.snap
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
  frontend/src/features/properties/map/MapView.scss
  frontend/src/features/splReports/components/ReportControls.tsx
  frontend/src/features/splReports/containers/SplReportContainer.tsx
  frontend/src/features/splReports/hooks/useProjectSnapshotApi.test.tsx
  frontend/src/features/splReports/hooks/useRouterReport.test.tsx
  frontend/src/hooks/useRouterFilter.test.tsx
  frontend/src/setupProxy.js
  frontend/src/utils/KeycloakEventHandler.test.ts
Labels: Dependencies, React, Styles, Tests

#1660 keycloak hotfix - using update class instantiation
  frontend/src/index.tsx
Labels: React

#1662 [PIMS-155] change Market Value to Sales History
  frontend/src/features/mapSideBar/components/tabs/TitleOwnership.tsx
Labels: React

#1661 [PIMS-145] yup package update
  frontend/package.json
  frontend/src/components/common/Stepper.tsx
  frontend/src/features/projects/disposals/validation/documentationSchema.ts
  frontend/src/features/projects/disposals/validation/erpCompleteSchema.ts
  frontend/src/features/projects/disposals/validation/erpDisposedSchema.ts
  frontend/src/features/projects/disposals/validation/erpExemptionSchema.ts
  frontend/src/features/projects/disposals/validation/informationProjectSchema.ts
  frontend/src/features/projects/disposals/validation/informationPropertiesSchema.ts
  frontend/src/features/projects/disposals/validation/notSplSchema.ts
  frontend/src/features/projects/disposals/validation/splApprovalSchema.ts
  frontend/src/features/projects/disposals/validation/splContractInPlaceSchema.ts
  frontend/src/features/projects/disposals/validation/splMarketingSchema.ts
  frontend/src/features/projects/disposals/validation/splTransferWithinGRESchema.ts
  frontend/src/features/projects/disposals/validation/useProjectValidation.ts
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/utils/YupSchema.ts
Labels: Dependencies, React

#1668 Correct LTSA prod AuthUrl
  backend/api/appsettings.json
Labels: DotNet

#1667 [PIMS-145] update yup pt.2
  frontend/src/features/projects/disposals/validation/erpExemptionSchema.ts
  frontend/src/features/projects/dispose/forms/disposalYupSchema.ts
  frontend/src/features/projects/dispose/steps/DocumentationStep.tsx
  frontend/src/features/projects/dispose/steps/ReviewProjectStep.tsx
Labels: React

#1669 PIMS-159 Update @babel/core
  frontend/package.json
Labels: Dependencies, React

#1670 PIMS-160 update formik
  frontend/package.json
Labels: Dependencies, React

#1672 Update react-error-boundary
  frontend/package.json
Labels: Dependencies, React

#1673 Update react-router-dom
  frontend/package.json
Labels: Dependencies, React

#1674 Update sass
  frontend/package.json
Labels: Dependencies, React

#1665 [Snyk] Upgrade formik from 2.4.2 to 2.4.3
  frontend/package.json
Labels: Dependencies, React

#1675 Update @types/lodash
  frontend/package.json
Labels: Dependencies, React

#1652 PIMS-141-Update-react-redux
  frontend/package.json
  frontend/src/features/projects/dispose/ProjectDisposeView.test.tsx
Labels: Dependencies, React, Tests

#1677 Update from babel-jest
  frontend/package.json
Labels: Dependencies, React

#1644 PIMS-142 Update react-toastify
  frontend/package.json
  frontend/src/features/admin/agencies/EditAgencyPage.test.tsx
  frontend/src/features/admin/edit-user/EditUserPage.test.tsx
Labels: Dependencies, React, Tests

#1682 [PIMS-140] Update react-leaflet
  frontend/package.json
  frontend/src/components/maps/leaflet/LayersControl/LayersControl.test.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/utils/testUtils.tsx
Labels: Dependencies, React, Tests

#1666 [Snyk] Upgrade styled-components from 6.0.6 to 6.0.7
  frontend/package.json
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
Labels: Dependencies, React, Tests
