Repository bcgov/PIMS, pull requests merged in 2023-10, with the labels that each got.

#1762 PIMS-275 PIMS-280 @babel/core and @babel/preset-typescript
  frontend/package.json
Labels: Dependencies, React

#1769 [PIMS-281] Update axios-mock-adapter to 1.22.0
  frontend/package.json
Labels: Dependencies, React

#1768 [PIMS-250] Ownership Percentages Infinite Repeat
  frontend/src/features/mapSideBar/components/tables/OwnershipTable.tsx
Labels: React

#1767 PIMS-279: Update yup
  frontend/package.json
Labels: Dependencies, React

#1752 PIMS-253: SPP Manual link in ERP notifications broken & PIMS-287: Make db-update broken
  backend/api/Pims.Api.csproj
  backend/dal.keycloak/Pims.Dal.Keycloak.csproj
  backend/dal/Migrations/20231003220606_v02.06.14.Designer.cs
  backend/dal/Migrations/20231003220606_v02.06.14.cs
  backend/dal/Migrations/v02.06.14/Up/PostUp/01-NotificationTemplates.sql
  backend/dal/Pims.Dal.csproj
  backend/entities/Pims.Dal.Entities.csproj
  backend/tests/core/Pims.Core.Test.csproj
  backend/tests/unit/api/Pims.Api.Test.csproj
  backend/tests/unit/dal/Pims.Dal.Test.csproj
  frontend/src/features/projects/common/components/SresManual.tsx
Labels: Dependencies, Migrations, React, DotNet, Tests

#1792 PIMS-228 - Link to associated buildings from the Parcel's Review section taking you to map page
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandReviewPage.tsx
  frontend/src/features/properties/components/forms/subforms/columns.tsx
Labels: React, Tests

#1800 PIMS-284 Update eslint
  frontend/package.json
Labels: Dependencies, React

#1799 PIMS-278 Update sass
  frontend/package.json
Labels: Dependencies, React

#1751 [PIMS-205] Parcel Details Restyle
  frontend/package.json
  frontend/src/components/common/form/Input.scss
  frontend/src/components/common/form/Input.tsx
  frontend/src/components/common/form/InputGroup.tsx
  frontend/src/components/common/form/Select.scss
  frontend/src/components/common/form/Select.tsx
  frontend/src/features/admin/users/components/UsersFilterBar.scss
  frontend/src/features/admin/users/components/UsersFilterBar.tsx
  frontend/src/features/help/forms/BugForm.test.tsx
  frontend/src/features/help/forms/BugForm.tsx
  frontend/src/features/help/forms/FeatureRequestForm.test.tsx
  frontend/src/features/help/forms/FeatureRequestForm.tsx
  frontend/src/features/help/forms/HelpForms.scss
  frontend/src/features/help/forms/QuestionForm.test.tsx
  frontend/src/features/help/forms/QuestionForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/LandForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/components/tabs/BuildingDetails.scss
  frontend/src/features/mapSideBar/components/tabs/BuildingDetails.tsx
  frontend/src/features/mapSideBar/components/tabs/ParcelDetails.scss
  frontend/src/features/mapSideBar/components/tabs/ParcelDetails.tsx
  frontend/src/features/properties/components/forms/subforms/AddressForm.scss
  frontend/src/features/properties/components/forms/subforms/AddressForm.tsx
  frontend/src/features/properties/components/forms/subforms/InformationForm.scss
  frontend/src/features/properties/components/forms/subforms/InformationForm.tsx
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
  frontend/src/features/properties/components/forms/subforms/PidPinForm.scss
  frontend/src/features/properties/components/forms/subforms/PidPinForm.tsx
  frontend/src/hooks/useKeycloakWrapper.test.tsx
  frontend/src/hooks/useKeycloakWrapper.tsx
Labels: Dependencies, React, Styles, Tests

#1815 PIMS-220: Save Updates has hidden requirements on Building Review page
  frontend/src/utils/YupSchema.ts
Labels: React

#1829 PIMS-331 - Update jest-styled-components from version `7.1.1` to `7.2.0`
  frontend/package.json
Labels: Dependencies, React

#1826 [PIMS-329/330] Updated typescript/eslint packages
  frontend/package.json
Labels: Dependencies, React

#1831 PIMS-311 update react-bootstrap
  frontend/package.json
Labels: Dependencies, React

#1833 PIMS-328 update @types/react-datepicker
  frontend/package.json
Labels: Dependencies, React

#1816 [PIMS-158] Axios request failed error
  frontend/src/features/projects/common/hooks/useStepForm.test.tsx
  frontend/src/features/projects/common/hooks/useStepForm.tsx
Labels: React, Tests

#1814 [PIMS-248] BUG: zoom wrong location upon marker click
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/leaflet/MapProperties.test.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
Labels: React, Tests

#1836 [PIMS-325] Update bc-sans@2.1.0
  frontend/package.json
Labels: Dependencies, React

#1832 [PIMS-96] Table Filter Not Clearing
  frontend/src/components/Table/ColumnFilter.scss
  frontend/src/components/Table/ColumnFilter.test.tsx
  frontend/src/components/Table/ColumnFilter.tsx
  frontend/src/components/Table/Table.tsx
Labels: React, Styles, Tests

#1839 updating documentation on service account
  .github/helpers/jira-api/README.md
Labels: Documentation

#1842 HOTFIX: Ensure map takes full height when sidebar is out
  frontend/src/features/properties/map/MapView.scss
Labels: React, Styles

#1851 Update eslint, @typescript-eslint/eslint-plugin, and @typescript-eslint/parser
  frontend/package.json
Labels: Dependencies, React

#1853 DEVOP-155 Switch from truncating tickets to sending two requests
  .github/helpers/jira-api/create_tickets.py
  .github/helpers/jira-api/jira_con.py
  .github/helpers/jira-api/refine_dependency.py
  .github/helpers/jira-api/refine_tickets.py
  .github/workflows/app-npm-dep-check.yml
Labels: Github Actions

#1861 PIMS-342: Update crypto-js to 4.2.0
  frontend/package.json
Labels: Dependencies, React

#1862 PIMS-351: Update @babel/traverse sub-dependency
  frontend/package.json
Labels: Dependencies, React

#1852 PIMS-343: Update react-datepicker from version `4.20.0` to `4.21.0`
  frontend/package.json
Labels: Dependencies, React
