Repository bcgov/PIMS, pull requests merged in 2023-05, with the labels that each got.

#1458 PIMS-582.1 - Snyk security vulnerabilities in backend
  backend/api/Pims.Api.csproj
  backend/dal/Pims.Dal.csproj
  backend/entities/Pims.Dal.Entities.csproj
  backend/notifications/Pims.Notifications.csproj
  tools/converters/excel/Pims.Tools.Converters.ExcelConverter.csproj
Labels: Dependencies, Vulnerabilities

#1453 Updated cypress github action
  .github/workflows/cypress-app-dev.yml
Labels: Github Actions

#1455 Remove Jenkins
  openshift/4.0/README.md
  openshift/4.0/pipelines/Jenkinsfile.cicd
  openshift/4.0/pipelines/Jenkinsfile.dev-to-test
  openshift/4.0/pipelines/Jenkinsfile.test-to-prod
  openshift/4.0/pipelines/README.md
  openshift/4.0/pipelines/scripts/common.groovy
  openshift/4.0/pipelines/scripts/notify.groovy
  openshift/4.0/player.sh
  openshift/4.0/scripts/common.sh
  openshift/4.0/scripts/envars
  openshift/4.0/scripts/oc-backup.sh
  openshift/4.0/scripts/oc-build.sh
  openshift/4.0/scripts/oc-deploy.sh
  openshift/4.0/scripts/oc-migrate.sh
  openshift/JENKINS_SLAVES.md
  openshift/README.md
Labels: Documentation, OpenShift

#1459 Add Parcel Form UI Changes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/hooks/useDeepCompareEffect.ts
Labels: Dependencies, Test, React

#1460 Fixed populating of Parcel Details on Add Land form
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/MovePinForm.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.tsx
  frontend/src/features/mapSideBar/containers/MapSideBarContainer.tsx
  frontend/src/features/properties/components/forms/subforms/LatLongForm.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
Labels: Test, React

#1451 Removed query-string package
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Table/ViewPropertyCell.tsx
  frontend/src/components/layout/AppNavBar/AppNavBar.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/AssociatedBuildingsList.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/AssociatedParcelsList.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/HeaderActions.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/InfoSlideOut.tsx
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/AssociatedTab.test.tsx.snap
  frontend/src/components/maps/leaflet/InfoSlideOut/__snapshots__/HeaderActions.test.tsx.snap
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopUpContent.test.tsx
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopupContent.tsx
  frontend/src/components/maps/leaflet/PointClusterer.tsx
  frontend/src/constants/API.ts
  frontend/src/features/admin/users/ManageUsers.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/AddParentParcelsForm.tsx
  frontend/src/features/mapSideBar/hooks/useQueryParamSideBar.tsx
  frontend/src/features/projects/apiService.ts
  frontend/src/features/projects/common/ApprovalTransitionPage.tsx
  frontend/src/features/projects/common/ProjectRouter.tsx
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/common/components/PropertyListViewUpdate.tsx
  frontend/src/features/projects/disposals/information/ProjectAddProperties.tsx
  frontend/src/features/projects/disposals/information/ProjectProperties.tsx
  frontend/src/features/projects/dispose/ProjectDisposeLayout.tsx
  frontend/src/features/projects/dispose/ProjectDisposeView.tsx
  frontend/src/features/projects/dispose/hooks/useTable.ts
  frontend/src/features/projects/list/ProjectListView.test.tsx
  frontend/src/features/projects/list/ProjectListView.tsx
  frontend/src/features/projects/summary/ProjectSummary.tsx
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/features/properties/map/MapView.tsx
  frontend/src/features/properties/service.ts
  frontend/src/features/splReports/hooks/useRouterReport.ts
  frontend/src/hooks/use-query.ts
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useRouterFilter.test.tsx
  frontend/src/hooks/useRouterFilter.ts
  frontend/src/store/slices/hooks/propertyActionCreator.ts
Labels: Dependencies, Test, React

#1461 Fixed Address suggestions displaying over input field
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/properties/components/GeocoderAutoCompleteStyled.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilterOptions.test.tsx.snap
Labels: Test, React

#1462 Tweaks to Add Land Form
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/LandSearchForm.tsx
  frontend/src/features/properties/hooks/useGeocoder.tsx
  frontend/src/features/properties/hooks/useParcelLayerData.tsx
Labels: Test, React

#1442 Removed unused library imports in backend
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Areas/Admin/Mapping/User/GoldUserMap.cs
  backend/api/Areas/Admin/Models/User/GoldUserModel.cs
  backend/api/Areas/Project/Models/Dispose/ProjectNoteModel.cs
  backend/api/Areas/Project/Models/Dispose/SubdivisionParcelModel.cs
  backend/api/Areas/Project/Models/Report/ProjectSnapshotModel.cs
  backend/api/Areas/Property/Mapping/Parcel/ParcelParcelMap.cs
  backend/api/Areas/Property/Models/Parcel/ParcelSubdivisionModel.cs
  backend/api/Areas/Property/Models/Parcel/SubdivisionParcelModel.cs
  backend/api/Areas/Reports/Mapping/Project/ProjectMap.cs
  backend/api/Areas/Reports/Mapping/Project/ProjectPropertyMap.cs
  backend/api/Areas/Reports/Models/Project/ProjectModelExcel.cs
  backend/api/Areas/Reports/Models/User/UserModel.cs
  backend/api/Helpers/Logging/LoggerExtension.cs
  backend/api/Mapping/Converters/AgencyConverter.cs
  backend/api/Models/Parcel/BuildingParcelModel.cs
  backend/core/Extensions/IdentityExtensions.cs
  backend/core/Http/HttpRequestClient.cs
  backend/dal/Helpers/Extensions/BuildingExtensions.cs
  backend/dal/Helpers/Extensions/IdentityExtensions.cs
  backend/dal/Helpers/Extensions/ProjectExtensions.cs
  backend/dal/Helpers/GeometryHelper.cs
  backend/dal/Services/Admin/Concrete/BuildingService.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/dal/Services/Concrete/NotificationQueueService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/dal/Services/Concrete/ProjectService.cs
  backend/dal/Services/Concrete/PropertyService.cs
  backend/dal/Services/IProjectService.cs
  backend/entities/Address.cs
  backend/entities/GoldUser.cs
  backend/entities/Helpers/Extensions/ParcelExtensions.cs
  backend/entities/Models/BuildingModel.cs
  backend/entities/Models/ParcelModel.cs
  backend/entities/Models/PropertyModel.cs
  backend/entities/ProjectProperty.cs
  backend/keycloak/IKeycloakService.cs
  backend/tests/core/Entities/AddressHelper.cs
  backend/tests/core/Entities/ProjectReportHelper.cs
  backend/tests/core/Entities/ProjectSnapshotHelper.cs
  backend/tests/core/TestHelperExtensions.cs
  backend/tests/unit/api/Controllers/Reports/ProjectControllerTest.cs
  backend/tests/unit/api/Controllers/Reports/UserControllerTest.cs
  backend/tests/unit/dal/Helpers/Extensions/PropertyExtensionsTest.cs
  backend/tests/unit/dal/Libraries/Geocoder/GeocoderServiceTest.cs
  backend/tests/unit/dal/Services/NotificationTemplateServiceTest.cs
  backend/tests/unit/dal/Services/ProjectReportServiceTest.cs
Labels: DotNet

#1464 Fix search filter address suggestions
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingReviewPage.test.tsx.snap
  frontend/src/features/properties/components/GeocoderAutoCompleteStyled.tsx
  frontend/src/features/properties/filter/PropertyFilter.scss
  frontend/src/features/properties/filter/__snapshots__/PropertyFilterOptions.test.tsx.snap
Labels: Test, React, Styles

#1466 PIMS-612 - Fixing issue with dev pipeline
  backend/api/appsettings.Development.json
  backend/api/appsettings.Local.json
Labels: Bug Fix, OpenShift

#1468 PIMS-612 - Updating packages for Snyk
  backend/Dockerfile.ocp
  backend/api/Pims.Api.csproj
  backend/api/appsettings.Development.json
  backend/api/appsettings.Local.json
  tools/converters/excel/Pims.Tools.Converters.ExcelConverter.csproj
Labels: Dependencies, DotNet

#1467 Remove SMSESSION cookie on logout
  frontend/src/components/layout/Header/UserProfile.tsx
  frontend/src/features/account/Logout.test.tsx
  frontend/src/features/account/Logout.tsx
  frontend/src/hooks/useConfiguration.ts
Labels: Test, Bug Fix, React

#1463 Updated cypress action
  .github/workflows/cypress-app-dev.yml
Labels: Github Actions

#1472 PIMS-608 - [Snyk] Anti-forgery token validation disabled
  backend/api/Areas/Admin/Controllers/AccessRequestController.cs
  backend/api/Areas/Admin/Controllers/AdministrativeAreaController.cs
  backend/api/Areas/Admin/Controllers/AgencyController.cs
  backend/api/Areas/Admin/Controllers/ClaimController.cs
  backend/api/Areas/Admin/Controllers/RoleController.cs
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Areas/Keycloak/Controllers/RoleController.cs
  backend/api/Areas/Keycloak/Controllers/UserController.cs
  backend/api/Areas/Notification/Controllers/QueueController.cs
  backend/api/Areas/Notification/Controllers/TemplateController.cs
  backend/api/Areas/Project/Controllers/DisposeController.cs
  backend/api/Areas/Project/Controllers/ReportController.cs
  backend/api/Areas/Project/Controllers/SearchController.cs
  backend/api/Areas/Property/Controllers/BuildingController.cs
  backend/api/Areas/Property/Controllers/ParcelController.cs
  backend/api/Areas/Property/Controllers/SearchController.cs
  backend/api/Areas/Reports/Controllers/ProjectController.cs
  backend/api/Areas/Reports/Controllers/PropertyController.cs
  backend/api/Areas/Reports/Controllers/UserController.cs
  backend/api/Areas/Tools/Controllers/ChesController.cs
  backend/api/Areas/Tools/Controllers/ImportController.cs
  backend/api/Controllers/AuthController.cs
  backend/api/Controllers/UserController.cs
Labels: DotNet

#1471 Remove 'Populate property details' hyperlink
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopUpContent.test.tsx
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopupContent.tsx
Labels: Test, React

#1474 Resolve vulnerability in yaml
  frontend/package-lock.json
  frontend/package.json
Labels: Dependencies, React

#1476 PIMS-130/PIMS-592
  frontend/src/features/properties/list/PropertyListView.tsx
Labels: React

#1478 Update Cypress Test
  frontend/cypress/e2e/disposalProjects.cy.ts
Labels: React, Cypress E2E

#1480 PIMS-608- quickfix
  backend/api/Areas/Admin/Controllers/UserController.cs
Labels: DotNet

#1481 Frontend NPM Dependency Updates GitHub action
  .github/helpers/check-npm-dependency-versions.js
  .github/workflows/frontend-npm-dependency-updates.yml
  frontend/checkDepVersions.js
  frontend/package-lock.json
  frontend/package.json
Labels: Dependencies, React, Github Actions

#1483 Update npm action
  .github/workflows/frontend-npm-dependency-updates.yml
Labels: Github Actions

#1479 [Snyk] Upgrade keycloak-js from 21.0.2 to 21.1.1
  .github/helpers/check-npm-dependency-versions.js
  frontend/package-lock.json
  frontend/package.json
Labels: Dependencies, React

#1486 PIMS-642 - changing from redhat node image to bullseye-slim
  frontend/Dockerfile
Labels: React, Docker

#1488 PIMS-642
  frontend/Dockerfile
Labels: React, Docker

#1489 Updated schedule for cron job actions
  .github/helpers/check-npm-dependency-versions.js
  .github/workflows/cypress-app-dev.yml
  .github/workflows/frontend-npm-dependency-updates.yml
Labels: Github Actions

#1490 PIMS-642
  frontend/Dockerfile
Labels: React, Docker

#1491 devFix
  frontend/Dockerfile
Labels: React, Docker

#1494 Possible fix for Cypress Workflow
  .github/workflows/app-cypress-dev.yml
  .github/workflows/app-npm-dependency-updates.yml
  frontend/package.json
Labels: Dependencies, React, Github Actions

#1495 PIMS-636
  frontend/package-lock.json
  frontend/package.json
Labels: Dependencies, React

#1496 Updating the maintenance page
  nginx/html/index.html
Labels: OpenShift

#1500 PIMS-645 - Fixing typo in package.json
  frontend/package.json
Labels: Dependencies, React

#1504 Added Frontend Dockerfile.ocp
  frontend/Dockerfile.ocp
Labels: React

#1506 Removed cross-env from ocp build
  frontend/Dockerfile.ocp
  frontend/package.json
Labels: Dependencies, React

#1503 Changed NPM Action Schedule
  .github/workflows/app-npm-dependency-updates.yml
Labels: Github Actions

#1508 Moved redux dev tools to standard dep
  frontend/package.json
Labels: Dependencies, React

#1509 Removed omit dev deps from Dockerfile.ocp
  frontend/Dockerfile.ocp
Labels: React

#1510 Updated Cypress Action Install Deps Step
  .github/workflows/app-cypress-dev.yml
Labels: Github Actions
