Repository bcgov/PIMS, pull requests merged in 2023-04, with the labels that each got.

#1427 Updated openshift nginx image tag
  openshift/s2i/nginx-runtime/Dockerfile
Labels: devops, docker

#1428 Added code climate config
  .codeclimate.yml
Labels: devops

#1436 Remove Sonarqube
  .github/CODEOWNERS
  .github/workflows/api-dotnetcore.yml
  .github/workflows/app-react.yml
  .gitignore
  .sonarcloud.properties
  backend/.gitignore
  backend/tests/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/sonar-project.properties
  openshift/4.0/pipelines/Jenkinsfile.cicd
  openshift/4.0/pipelines/README.md
  openshift/4.0/player.sh
  openshift/4.0/scripts/oc-sonar-dotnet.sh
  openshift/4.0/scripts/oc-sonar-scan.sh
  openshift/4.0/templates/rolebindings/citz-imb-idir-admin.yaml
  openshift/4.0/templates/rolebindings/citz-imb-idir-edit.yaml
  openshift/4.0/templates/rolebindings/quartech-github-edit.yaml
  openshift/4.0/templates/rolebindings/quartech-idir-edit.yaml
  openshift/4.0/templates/sonarqube/README.md
  openshift/4.0/templates/sonarqube/deploy.yaml
  openshift/4.0/templates/sonarqube/sonarqube-postgresql-template.yaml
  openshift/SONARQUBE.md
  tools/.gitignore
Labels: devops

#1430 Added script to check for latest dependency versions
  .codeclimate.yml
  frontend/checkDepVersions.js
  frontend/package.json
Labels: dependencies

#1438 PIMS-568
  backend/api/Pims.Api.csproj
  backend/ches/Pims.Ches.csproj
  backend/core/Pims.Core.csproj
  backend/dal.keycloak/Pims.Dal.Keycloak.csproj
  backend/dal/Pims.Dal.csproj
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/geocoder/Pims.Geocoder.csproj
  backend/keycloak/Partials/KeycloakServiceUsers.cs
  backend/keycloak/Pims.Keycloak.csproj
  backend/notifications/Pims.Notifications.csproj
Labels: dependencies, .NET, dotnet, backend, vulnerabilities

#1441 Updating a User incorrectly set CreatedBy, CreatedOn, LastLogin, ApprovedBy, and ApprovedOn fields
  .vscode/launch.json
  backend/.vscode/launch.json
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Areas/Admin/Mapping/User/UserMap.cs
  backend/dal/Services/Admin/Concrete/UserService.cs
  backend/entities/User.cs
  backend/tests/unit/api/Controllers/Admin/UserControllerTest.cs
  frontend/src/features/admin/users/ManageUsers.tsx
  frontend/src/hooks/useKeycloakWrapper.tsx
  frontend/src/utils/YupSchema.ts
Labels: bugfix, react, dotnet

#1401 Cypress CI (Github Actions Workflow)
  .github/workflows/cypress-app-dev.yml
  frontend/cypress/e2e/disposalProjects.cy.ts
  frontend/cypress/e2e/navBar.cy.ts
Labels: devops, cypress, e2e-tests

#1446 Added npm install to cypress github action
  .github/workflows/cypress-app-dev.yml
Labels: devops

#1450 PIMS- 582 - Snyk security vulnerabilities in backend
  backend/api/Pims.Api.csproj
  backend/ches/Pims.Ches.csproj
  backend/core/Pims.Core.csproj
  backend/dal/Pims.Dal.csproj
  backend/entities/Pims.Dal.Entities.csproj
  backend/notifications/Pims.Notifications.csproj
  backend/tests/core/Pims.Core.Test.csproj
  backend/tests/unit/api/Pims.Api.Test.csproj
  backend/tests/unit/dal/Pims.Dal.Test.csproj
  backend/tests/unit/dal/Services/ProjectReportServiceTest.cs
  backend/tests/unit/dal/Services/ProjectServiceTest.cs
Labels: unit-tests, dotnet, vulnerabilities

#1445 Fixed access request agency and role
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Controllers/UserController.cs
  backend/dal.keycloak/Partials/PimsKeycloakUserService.cs
  backend/entities/GoldUser.cs
  backend/entities/User.cs
  frontend/src/store/slices/hooks/useAccessRequest.ts
  frontend/src/store/slices/hooks/usersActionCreator.ts
Labels: bugfix, dotnet

#1448 Fix last login not showing in Admin > Users page
  backend/api/Areas/Admin/Controllers/UserController.cs
  backend/api/Areas/Admin/Mapping/User/UserMap.cs
Labels: bugfix, dotnet

#1449 Fixed property redirect from projects pages
  frontend/src/features/projects/common/components/PropertyListViewSelect.tsx
  frontend/src/features/projects/disposals/information/ProjectProperties.tsx
Labels: bugfix, react

#1452 Pull Request Labeller
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yaml
  .github/workflows/pr-labeller.yml
Labels: Github Actions
