Repository bcgov/PIMS, pull requests merged in 2023-02, with the labels that each got.

#1362 Changed opc dockerfile image for dotnet
  backend/Dockerfile.ocp
Labels: devops, dotnet

#1363 Fix dockerfile workdirs
  backend/Dockerfile.ocp
Labels: devops, dotnet

#1364 Changed image for dotnet opc Dockerfile
  backend/Dockerfile.ocp
Labels: devops, docker, dotnet

#1367 Access Request Fix
  backend/dal.keycloak/Partials/PimsKeycloakUserService.cs
  frontend/src/features/account/Login.tsx
  frontend/src/features/account/index.ts
  frontend/src/store/slices/networkSlice.ts
Labels: bugfix, Keycloak Gold

#1368 PIMS-378 - Finance Reports
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
Labels: bug

#1369 Keycloak Redirect URL Fix
  frontend/src/components/layout/Header/UserProfile.tsx
  frontend/src/features/account/Login.tsx
  frontend/src/features/routes/IsAuthenticatedRoute.tsx
  frontend/src/features/routes/PrivateRoute.tsx
Labels: bugfix, react, Keycloak Gold

#1370 PIMS v02.03.00 To Test
  backend/api/Areas/Project/Mapping/Dispose/ProjectMap.cs
  frontend/src/components/layout/Header/UserProfile.tsx
  frontend/src/features/account/Login.tsx
  frontend/src/features/routes/IsAuthenticatedRoute.tsx
  frontend/src/features/routes/PrivateRoute.tsx
Labels: Release to Test

#1374 PIMS-472 - Viewing access role
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  frontend/src/constants/claims.ts
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/hooks/useKeycloakWrapper.tsx
  frontend/src/hooks/useMyAgencies.ts
Labels: enhancement, Keycloak Gold

#1376 Release to Test: PIMS-472
  backend/dal/Helpers/Extensions/PropertyExtensions.cs
  frontend/src/constants/claims.ts
  frontend/src/features/properties/list/PropertyListView.tsx
  frontend/src/hooks/useKeycloakWrapper.tsx
  frontend/src/hooks/useMyAgencies.ts
Labels: Release to Test

#1375 Updated mssql image tag from 2019 to 2022
  database/mssql/Dockerfile
Labels: docker
