Repository bcgov/PIMS, pull requests merged in 2023-07, with the labels that each got.

#1577 PIMS-688: npm check - incorrectly displaying dependency
  .github/helpers/check-npm-dependencies.js
Labels: Bug Fix

#1582 PIMS-694: Upgrade eslint
  frontend/package.json
Labels: Dependencies, React

#1588 PIMS-697: Upgrade @types/jest
  frontend/package.json
Labels: Dependencies, React

#1589 PIMS-698: Upgrade babel-jest
  frontend/package.json
Labels: Dependencies, React

#1591 PIMS-695: Upgrade typescript
  frontend/package.json
Labels: Dependencies, React

#1537 [Snyk] Security upgrade nginx from stable-alpine-slim to 1-alpine3.17-slim
  openshift/s2i/nginx-runtime/Dockerfile
Labels: Docker, OpenShift

#1601 PIMS-705: Upgrade @types/react-paginate
  frontend/package.json
Labels: Dependencies, React

#1600 PIMS-702: Upgrade @types/react-leaflet
  frontend/package.json
Labels: Dependencies, React

#1607 [Snyk] Upgrade @mui/material from 5.13.1 to 5.13.7
  frontend/package.json
Labels: Dependencies, React

#1608 [Snyk] Upgrade @mui/icons-material from 5.11.16 to 5.13.7
  frontend/package.json
Labels: Dependencies, React

#1604 [Snyk] Upgrade react-router-dom from 6.13.0 to 6.14.1
  frontend/package.json
Labels: Dependencies, React

#1610 [Snyk] Upgrade @babel/core from 7.22.5 to 7.22.8
  frontend/package.json
Labels: Dependencies, React

#1603 [Snyk] Upgrade react-datepicker from 4.14.1 to 4.15.0
  frontend/package.json
Labels: Dependencies, React

#1594 PIMS-699: Upgrade @types/react-datepicker
  frontend/package.json
  frontend/src/components/common/form/FastDatePicker.tsx
  frontend/src/features/mapSideBar/SidebarContents/subforms/BuildingReviewPage.tsx
  frontend/src/utils/utils.ts
Labels: Dependencies, React
