Repository bcgov/PIMS, pull requests merged in 2024-12, with the labels that each got.

#2874 PIMS-2245: Update @eslint/js, @faker-js/faker, @types/node, eslint, prettier, typescript, typescript-eslint
  express-api/package.json
  express-api/src/services/projects/projectsServices.ts
Labels: Dependencies, Express

#2875 PIMS-2246: Update typescript-eslint, @mui/x-data-grid, @mui/x-date-pickers to the latest versions
  react-app/package.json
  react-app/src/components/projects/DisposalPropertiesSimpleTable.tsx
Labels: Dependencies, React

#2879 PIMS-2251 Frontend Dependency Updates
  react-app/package.json
Labels: Dependencies, React

#2885 remove oc login dependency from GH actions
  .github/workflows/DEV-Api-V2-image-build.yml
  .github/workflows/DEV-App-V2-image-build.yml
Labels: Github Actions

#2883 PIMS-2256: Update express-rate-limit@7.5.0, @eslint/js@9.17.0 and eslint@9.17.0
  express-api/package.json
Labels: Dependencies, Express

#2886 PIMS-2258 Adjust when property agency changes are restricted
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
Labels: Tests, Express

#2884 PIMS-2254 Late Notification Warning
  express-api/package.json
  express-api/src/constants/config.ts
  express-api/src/controllers/reports/reportsController.ts
  express-api/src/notificationTemplates/FailedProjectNotifications.njk
  express-api/src/server.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/utilities/failedEmailCheck.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/utilities/failedEmailCheck.test.ts
Labels: Dependencies, Tests, Express
