Repository bcgov/PIMS, pull requests merged in 2024-04, with the labels that each got.

#2286 PIMS-1449 Frontend Updates
  frontend/package.json
Labels: Dependencies, React

#2290 PIMS-1475: Administrative Areas Table
  express-api/src/services/administrativeAreas/administrativeAreasServices.ts
  react-app/src/App.tsx
  react-app/src/components/adminAreas/AdministrativeAreasTable.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/pages/AdminAreasManagement.tsx
Labels: Express

#2294 PIMS-1476: Administrative Areas Detail
  express-api/src/controllers/administrativeAreas/administrativeAreasController.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/lookup/lookupSchema.ts
  express-api/src/routes/lookupRouter.ts
  express-api/src/services/administrativeAreas/administrativeAreaSchema.ts
  express-api/src/services/administrativeAreas/administrativeAreasServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/administrativeAreas/administrativeAreasController.test.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
  express-api/tests/unit/services/administrativeAreas/adminstrativeAreasService.test.ts
  react-app/src/App.tsx
  react-app/src/components/adminAreas/AdministrativeAreaDetail.tsx
  react-app/src/components/adminAreas/AdministrativeAreasTable.tsx
  react-app/src/hooks/api/useAdministrativeAreaApi.ts
  react-app/src/hooks/api/useLookupApi.ts
  react-app/src/pages/DevZone.tsx
Labels: Express

#2296 Agencies Cannot Be Own Parent Zero ID Bug
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/tests/unit/controllers/agencies/agenciesController.test.ts
Labels: Express

#2295 PIMS-1519: Resolving unused Building columns
  express-api/src/controllers/projects/projectsSchema.ts
  express-api/src/typeorm/Entities/Building.ts
  express-api/src/typeorm/Migrations/1712097741524-DelTransferLeaseOnSaleAndNullBuildingOccupant.ts
  express-api/tests/testUtils/factories.ts
  react-app/src/hooks/api/useBuildingsApi.ts
Labels: Express

#2279 PIMS-1488: Properties Workflows
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/routes/buildingsRouter.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/typeorm/Entities/BuildingEvaluation.ts
  express-api/src/typeorm/Entities/BuildingFiscal.ts
  express-api/src/typeorm/Entities/Parcel.ts
  express-api/src/typeorm/Entities/ParcelEvaluation.ts
  express-api/src/typeorm/Entities/ParcelFiscal.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
  react-app/src/App.tsx
  react-app/src/components/display/DataCard.tsx
  react-app/src/components/display/DetailViewNavigation.tsx
  react-app/src/components/form/TextFormField.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/components/property/AddProperty.tsx
  react-app/src/components/property/PropertyAssessedValueTable.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyForms.tsx
  react-app/src/components/property/PropertyNetValueTable.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/hooks/api/useBuildingsApi.ts
  react-app/src/hooks/api/useParcelsApi.ts
  react-app/src/interfaces/IProperty.ts
  react-app/src/pages/ActiveInventory.tsx
  react-app/src/pages/DevZone.tsx
  react-app/src/utils/formatters.tsx
Labels: Express

#2289 PIMS-1405 Add Agency
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/src/services/agencies/agencyServices.ts
  express-api/tests/unit/controllers/agencies/agenciesController.test.ts
  express-api/tests/unit/services/agencies/agencyServices.test.ts
  react-app/src/App.tsx
  react-app/src/components/agencies/AddAgency.tsx
  react-app/src/components/agencies/AgencyTable.tsx
  react-app/src/components/form/EmailChipFormField.tsx
  react-app/src/components/form/SingleSelectBoxFormField.tsx
  react-app/src/hooks/api/useAgencyApi.ts
Labels: Express

#2297 PIMS-1437: Checking for User Agency
  express-api/src/controllers/users/usersController.ts
  express-api/src/controllers/users/usersSchema.ts
  express-api/src/services/users/usersServices.ts
Labels: Express

#2300 PIMS-1449 frontend updates
  frontend/package.json
Labels: Dependencies, React

#2303 PIMS-1510:(PIMS-1515/1516/1517) Update express-api dependencies
  express-api/package.json
Labels: Dependencies, Express

#2298 PIMS-1518: Add Administrative Area
  express-api/src/controllers/administrativeAreas/administrativeAreasController.ts
  express-api/src/services/administrativeAreas/administrativeAreasServices.ts
  express-api/tests/unit/controllers/administrativeAreas/administrativeAreasController.test.ts
  express-api/tests/unit/services/administrativeAreas/adminstrativeAreasService.test.ts
  react-app/src/App.tsx
  react-app/src/components/adminAreas/AddAdministrativeArea.tsx
  react-app/src/components/adminAreas/AdministrativeAreasTable.tsx
  react-app/src/hooks/api/useAdministrativeAreaApi.ts
Labels: Express

#2304 PIMS-1473 Display Name Fix
  express-api/src/services/users/usersServices.ts
  react-app/src/components/users/UserDetail.tsx
Labels: Express

#2306 PIMS-1531: Property Quicksearch Backend
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
Labels: Express

#2307 PIMS-1438: Checking for User Roles
  express-api/src/controllers/users/usersController.ts
  express-api/src/services/users/usersServices.ts
  express-api/src/utilities/authorizationChecks.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  express-api/tests/unit/utilities/authorizationChecks.test.ts
Labels: Express

#2309 PIMS-1542 Regional District Sort
  express-api/src/controllers/lookup/lookupController.ts
Labels: Express

#2315 PIMS-1544: Parcel Layer Integration for Property Management
  react-app/index.html
  react-app/package.json
  react-app/src/components/map/ParcelMap.tsx
  react-app/src/components/property/AddProperty.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyForms.tsx
  react-app/src/hooks/api/useParcelLayerApi.ts
  react-app/src/hooks/useFetch.ts
  react-app/src/hooks/usePimsApi.ts
Labels: Dependencies

#2316 PIMS-1528 Add Project Service
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Entities/Project.ts
  express-api/src/typeorm/Entities/ProjectProperty.ts
  express-api/src/typeorm/Migrations/1712773891915-ProjectNumberSequence.ts
  express-api/src/typeorm/Migrations/1712855603006-UniqueProjectProperties.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
Labels: Express

#2305 PIMS-1503: Add Project Form
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/lookup/lookupSchema.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
  react-app/src/App.tsx
  react-app/src/components/projects/AddProject.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/hooks/api/useLookupApi.ts
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/hooks/usePimsApi.ts
  react-app/src/pages/DevZone.tsx
Labels: Express

#2321 PIMS-1495/1496 MUI Updates
  react-app/package.json
  react-app/src/components/adminAreas/AdministrativeAreasTable.tsx
  react-app/src/components/agencies/AgencyTable.tsx
  react-app/src/components/projects/AddProject.tsx
  react-app/src/components/property/ClassificationIcon.tsx
  react-app/src/components/property/PropertyAssessedValueTable.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/hooks/api/useLookupApi.ts
Labels: Dependencies

#2331 PIMS-1548 frontend updates
  frontend/package.json
Labels: Dependencies, React

#2333 PIMS-1584: Create reusable backend check for users
  express-api/src/utilities/authorizationChecks.ts
Labels: Express

#2323 PIMS-1541 Project Details Services
  express-api/src/constants/projectStatus.ts
  express-api/src/constants/projectType.ts
  express-api/src/constants/projectWorkflow.ts
  express-api/src/constants/propertyType.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
Labels: Express

#2335 PIMS-1450 MUI and XLSX Updates
  react-app/package.json
Labels: Dependencies

#2342 Fix for coalesce in Sequence Migration
  express-api/src/typeorm/Migrations/1713814960226-UpdateIDSequences.ts
Labels: Express

#2336 PIMS-1529: Projects Controller - addProject
  express-api/src/controllers/projects/projectsController.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
Labels: Express

#2334 PIMS-1533 Post Project Hook & Frontend Connection
  express-api/src/constants/projectTask.ts
  react-app/src/App.tsx
  react-app/src/components/form/SingleSelectBoxFormField.tsx
  react-app/src/components/form/TextFormField.tsx
  react-app/src/components/projects/AddProject.tsx
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/hooks/api/useProjectsApi.ts
Labels: Express

#2288 PIMS-1505 Update @bcgov/citz-imb-sso-express & react packages
  express-api/jest.config.ts
  express-api/package.json
  express-api/src/controllers/administrativeAreas/administrativeAreasController.ts
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/controllers/tools/toolsController.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/express.ts
  express-api/src/middleware/keycloak/keycloakOptions.ts
  express-api/src/routes/administrativeAreasRouter.ts
  express-api/src/routes/agenciesRouter.ts
  express-api/src/routes/rolesRouter.ts
  express-api/src/routes/usersRouter.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/users/usersServices.ts
  express-api/src/utilities/authorizationChecks.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/ltsa/ltsaController.test.ts
  express-api/tests/unit/controllers/tools/toolsController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  express-api/tests/unit/middleware/keycloak/keycloakOptions.test.ts
  express-api/tests/unit/services/ches/chesServices.test.ts
  express-api/tests/unit/services/users/usersServices.test.ts
  express-api/tests/unit/utilities/authorizationChecks.test.ts
  react-app/package.json
  react-app/src/components/agencies/AgencyTable.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/contexts/authContext.tsx
  react-app/src/guards/AuthRouteGuard.tsx
  react-app/src/hooks/api/useReportsApi.ts
  react-app/src/hooks/useFetch.ts
  react-app/src/hooks/usePimsUser.ts
  react-app/src/index.tsx
  react-app/src/pages/AccessRequest.tsx
  react-app/src/pages/ErrorFallback.tsx
Labels: Dependencies, Express

#2337 PIMS-1513-1514-update-reactapp-typescript
  react-app/package.json
Labels: Dependencies

#2344 PIMS 1604/1597/1620/1601 - Bug Fixes
  express-api/src/services/parcels/parcelServices.ts
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyForms.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/utilities/formatters.tsx
Labels: Express

#2350 update to env path for test
  express-api/package.json
Labels: Dependencies, Express

#2349 PIMS-1624: Hooks/Controller for getting tasks
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/lookup/lookupSchema.ts
  express-api/src/routes/lookupRouter.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
  react-app/src/hooks/api/useLookupApi.ts
Labels: Express

#2346 PIMS-1565: Parcel and Building controllers auth check
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/services/buildings/buildingSchema.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelSchema.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/tests/unit/controllers/buildings/buildingsController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
Labels: Express

#2351 Devops 342 image registry update
  .github/helpers/deploy.sh
  .github/workflows/DEV-Api-V2-image-build.yml
  .github/workflows/DEV-App-V2-image-build.yml
  .github/workflows/PROD-Api-V2-image-deploy.yml
  openshift/templates/api-v2-dc-template.yaml
  openshift/templates/app-v2-dc-template.yaml
Labels: Github Actions, OpenShift

#2353 PIMS-1625: Parcel and Building view details agency authorization
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/buildings/buildingsController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
Labels: Express
