Repository bcgov/PIMS, pull requests merged in 2024-01, with the labels that each got.

#1998 PIMS-609/610 Update MUI Packages to 5.15.1
  frontend/package.json
Labels: Dependencies, React

#1995 PIMS-417 Users stubs
  express-api/package.json
  express-api/src/controllers/index.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/controllers/users/usersSchema.ts
  express-api/src/express.ts
  express-api/src/routes/index.ts
  express-api/src/routes/usersRouter.ts
  express-api/tests/integration/users/users.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
Labels: Dependencies, Express

#1993 PIMS-415 Routes - Admin
  express-api/src/constants/roles.ts
  express-api/src/controllers/admin/accessRequests/IAccessRequest.ts
  express-api/src/controllers/admin/accessRequests/IAccessRequestList.ts
  express-api/src/controllers/admin/accessRequests/accessRequestsController.ts
  express-api/src/controllers/admin/administrativeAreas/IAdministrativeArea.ts
  express-api/src/controllers/admin/administrativeAreas/administrativeAreasController.ts
  express-api/src/controllers/admin/agencies/IAgency.ts
  express-api/src/controllers/admin/agencies/agenciesController.ts
  express-api/src/controllers/admin/claims/IClaim.ts
  express-api/src/controllers/admin/claims/claimsController.ts
  express-api/src/controllers/admin/index.ts
  express-api/src/controllers/admin/roles/IRole.ts
  express-api/src/controllers/admin/roles/rolesController.ts
  express-api/src/controllers/admin/users/IUser.ts
  express-api/src/controllers/admin/users/usersController.ts
  express-api/src/controllers/index.ts
  express-api/src/express.ts
  express-api/src/routes/adminRouter.ts
  express-api/src/routes/index.ts
  express-api/src/swagger/swagger-output.json
  express-api/tests/integration/admin/accessRequests/accessRequests.test.ts
  express-api/tests/integration/admin/administrativeAreas/administrativeAreas.test.ts
  express-api/tests/integration/admin/agencies/agencies.test.ts
  express-api/tests/integration/admin/claims/claims.test.ts
  express-api/tests/integration/admin/roles/roles.test.ts
  express-api/tests/integration/admin/users/users.test.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/admin/accessRequests/accessRequestController.test.ts
  express-api/tests/unit/controllers/admin/administrativeAreas/administrativeAreasController.test.ts
  express-api/tests/unit/controllers/admin/agencies/agencyController.test.ts
  express-api/tests/unit/controllers/admin/claims/claimsController.test.ts
  express-api/tests/unit/controllers/admin/roles/rolesController.test.ts
  express-api/tests/unit/controllers/admin/users/usersController.test.ts
Labels: Express

#1997 PIMS-423 Routes - Lookup
  express-api/src/controllers/index.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/express.ts
  express-api/src/routes/index.ts
  express-api/src/routes/lookupRouter.ts
  express-api/tests/integration/lookup/lookup.test.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
Labels: Express

#1999 PIMS-616 Init Frontend Rebuild
  react-app/.gitignore
  react-app/README.md
  react-app/index.html
  react-app/package.json
  react-app/src/App.css
  react-app/src/App.tsx
  react-app/src/index.tsx
  react-app/src/vite-env.d.ts
  react-app/tsconfig.json
  react-app/vite.config.ts
Labels: Documentation, Dependencies

#2002 PIMS-619 React App Linting
  react-app/.eslintrc.cjs
  react-app/.prettierrc.cjs
  react-app/package.json
  react-app/src/App.tsx
  react-app/vite.config.ts
Labels: Dependencies

#2004 PIMS-641, 642, 643 update eslint packages
  frontend/package.json
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/BuildingValuationForm.test.tsx.snap
  frontend/src/features/projects/common/forms/__snapshots__/UpdateInfoForm.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/ProjectListView.test.tsx.snap
  frontend/src/features/projects/list/__snapshots__/SPLProjectListView.test.tsx.snap
Labels: Dependencies, React, Tests

#2006 PIMS-624 Frontend Keycloak
  react-app/package.json
  react-app/src/App.tsx
  react-app/src/index.tsx
  react-app/src/pages/Home.tsx
  react-app/src/pages/Login.tsx
  react-app/vite.config.ts
Labels: Dependencies

#2009 PIMS-638 Update Moment from version `2.29.4` to `2.30.1`
  frontend/package.json
Labels: Dependencies, React

#2005 PIMS 425 Notifications stubs
  express-api/src/controllers/index.ts
  express-api/src/controllers/notifications/notificationsController.ts
  express-api/src/controllers/notifications/notificationsSchema.ts
  express-api/src/express.ts
  express-api/src/routes/index.ts
  express-api/src/routes/notificationsRouter.ts
  express-api/src/swagger/swagger-output.json
  express-api/tests/integration/notifications/notifications.test.ts
  express-api/tests/unit/controllers/notifications/notificationsController.test.ts
Labels: Express

#2007 PIMS-623 Frontend Absolute Paths
  react-app/.gitignore
  react-app/package.json
  react-app/src/App.tsx
  react-app/src/index.tsx
  react-app/src/vite-env.d.ts
  react-app/tsconfig.json
  react-app/vite.config.ts
Labels: Dependencies

#2010 PIMS-639 Update classnames
  frontend/package.json
Labels: Dependencies, React

#2013 Add workflow to lint react-app
  .github/workflows/react-app-lint.yml
  react-app/.eslintrc.cjs
Labels: Github Actions

#2012 PIMS-422 Projects stubs
  express-api/src/controllers/index.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/controllers/projects/projectsSchema.ts
  express-api/src/express.ts
  express-api/src/routes/index.ts
  express-api/src/routes/projectRouter.ts
  express-api/src/swagger/swagger-output.json
  express-api/tests/integration/projects/projects.test.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
Labels: Express

#2014 PIMS-653/645 MUI Setup and Landing Page
  react-app/index.html
  react-app/package.json
  react-app/src/App.tsx
  react-app/src/assets/images/BCID_H_rgb_pos.png
  react-app/src/assets/images/BCID_V_rgb_pos.png
  react-app/src/assets/images/PIMS_logo.png
  react-app/src/assets/images/PIMS_logo.svg
  react-app/src/assets/images/PIMS_logo_full.svg
  react-app/src/assets/images/hero.svg
  react-app/src/components/layout/BaseLayout.tsx
  react-app/src/components/layout/Footer.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/constants/strings.ts
  react-app/src/index.tsx
  react-app/src/pages/Home.tsx
  react-app/src/themes/appTheme.ts
Labels: Dependencies

#2024 PIMS-666 Update IdentityModel.Tokens.Jwt to 6.34.0
  backend/ches/Pims.Ches.csproj
  backend/core/Pims.Core.csproj
  backend/ltsa/Pims.Ltsa.csproj
  backend/notifications/Pims.Notifications.csproj
  tools/converters/excel/Pims.Tools.Converters.ExcelConverter.csproj
  tools/core/Pims.Tools.Core.csproj
Labels: Dependencies, DotNet

#2026 PIMS-416: Tools stubs
  express-api/src/controllers/index.ts
  express-api/src/controllers/tools/toolsController.ts
  express-api/src/controllers/tools/toolsSchema.ts
  express-api/src/express.ts
  express-api/src/routes/index.ts
  express-api/src/routes/toolsRouter.ts
  express-api/src/swagger/swagger-output.json
  express-api/tests/integration/tools/tools.test.ts
  express-api/tests/unit/controllers/tools/toolsController.test.ts
Labels: Express

#2025 PIMS-424: Reports stubs
  express-api/src/controllers/index.ts
  express-api/src/controllers/reports/reportsController.ts
  express-api/src/express.ts
  express-api/src/routes/index.ts
  express-api/src/routes/reportsRouter.ts
  express-api/src/swagger/swagger-output.json
  express-api/tests/integration/reports/reports.test.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/reports/reportsController.test.ts
Labels: Express

#1989 PIMS-401: Create ORM Entity Models
  express-api/src/appDataSource.ts
  express-api/src/typeorm/Entities/AccessRequests.ts
  express-api/src/typeorm/Entities/Addresses.ts
  express-api/src/typeorm/Entities/AdministrativeAreas.ts
  express-api/src/typeorm/Entities/Agencies.ts
  express-api/src/typeorm/Entities/BuildingConstructionTypes.ts
  express-api/src/typeorm/Entities/BuildingEvaluations.ts
  express-api/src/typeorm/Entities/BuildingFiscals.ts
  express-api/src/typeorm/Entities/BuildingOccupantTypes.ts
  express-api/src/typeorm/Entities/BuildingPredominateUses.ts
  express-api/src/typeorm/Entities/Buildings.ts
  express-api/src/typeorm/Entities/Claims.ts
  express-api/src/typeorm/Entities/EvaluationKeys.ts
  express-api/src/typeorm/Entities/FiscalKeys.ts
  express-api/src/typeorm/Entities/NotificationQueue.ts
  express-api/src/typeorm/Entities/NotificationTemplates.ts
  express-api/src/typeorm/Entities/ParcelBuildings.ts
  express-api/src/typeorm/Entities/ParcelEvaluations.ts
  express-api/src/typeorm/Entities/ParcelFiscals.ts
  express-api/src/typeorm/Entities/Parcels.ts
  express-api/src/typeorm/Entities/ProjectAgencyResponses.ts
  express-api/src/typeorm/Entities/ProjectNotes.ts
  express-api/src/typeorm/Entities/ProjectNumbers.ts
  express-api/src/typeorm/Entities/ProjectProperties.ts
  express-api/src/typeorm/Entities/ProjectReports.ts
  express-api/src/typeorm/Entities/ProjectRisks.ts
  express-api/src/typeorm/Entities/ProjectSnapshots.ts
  express-api/src/typeorm/Entities/ProjectStatus.ts
  express-api/src/typeorm/Entities/ProjectStatusHistory.ts
  express-api/src/typeorm/Entities/ProjectStatusNotifications.ts
  express-api/src/typeorm/Entities/ProjectStatusTransitions.ts
  express-api/src/typeorm/Entities/ProjectTasks.ts
  express-api/src/typeorm/Entities/ProjectTypes.ts
  express-api/src/typeorm/Entities/Projects.ts
  express-api/src/typeorm/Entities/PropertyClassifications.ts
  express-api/src/typeorm/Entities/PropertyTypes.ts
  express-api/src/typeorm/Entities/Provinces.ts
  express-api/src/typeorm/Entities/RegionalDistricts.ts
  express-api/src/typeorm/Entities/ReportTypes.ts
  express-api/src/typeorm/Entities/RoleClaims.ts
  express-api/src/typeorm/Entities/Roles.ts
  express-api/src/typeorm/Entities/Subdivisions.ts
  express-api/src/typeorm/Entities/Tasks.ts
  express-api/src/typeorm/Entities/TierLevels.ts
  express-api/src/typeorm/Entities/UserAgencies.ts
  express-api/src/typeorm/Entities/UserRoles.ts
  express-api/src/typeorm/Entities/Users.ts
  express-api/src/typeorm/Entities/WorkflowProjectStatus.ts
  express-api/src/typeorm/Entities/Workflows.ts
  express-api/src/typeorm/Entities/abstractEntities/BaseEntity.ts
  express-api/src/typeorm/Entities/abstractEntities/Evaluation.ts
  express-api/src/typeorm/Entities/abstractEntities/Fiscal.ts
  express-api/src/typeorm/Entities/abstractEntities/Property.ts
Labels: Express

#2028 PIMS-620 Frontend Testing Addition
  react-app/.babelrc
  react-app/jest.config.ts
  react-app/package.json
  react-app/src/App.test.tsx
  react-app/src/App.test.tsx.snap
  react-app/src/App.tsx
  react-app/src/pages/Home.tsx
  react-app/tests/__mocks__/imgMock.tsx
  react-app/tests/__mocks__/styleMock.ts
  react-app/tests/setupTests.ts
  react-app/tests/snapshotResolver.ts
  react-app/tsconfig.json
Labels: Dependencies

#2029 PIMS-657/658: Access request form and reusable inputs
  react-app/package.json
  react-app/src/components/form/AutocompleteFormField.tsx
  react-app/src/components/form/SelectFormField.tsx
  react-app/src/components/form/TextFormField.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/pages/AccessRequest.tsx
  react-app/src/pages/Home.tsx
  react-app/src/themes/appTheme.ts
Labels: Dependencies

#2027 PIMS-418 Keycloak Service
  express-api/jest.config.ts
  express-api/package.json
  express-api/src/services/keycloak/IKeycloakErrorResponse.ts
  express-api/src/services/keycloak/IKeycloakRole.ts
  express-api/src/services/keycloak/IKeycloakUser.ts
  express-api/src/services/keycloak/keycloakSchemas.ts
  express-api/src/services/keycloak/keycloakService.test.ts
  express-api/src/services/keycloak/keycloakService.ts
Labels: Dependencies, Express

#2035 PIMS-674 Geocoder Options Not in Correct Position
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/LandForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/IdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/ParcelIdentificationForm.scss
  frontend/src/features/mapSideBar/SidebarContents/subforms/__snapshots__/LandSearchForm.test.tsx.snap
  frontend/src/features/properties/components/GeocoderAutoCompleteStyled.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilterOptions.test.tsx.snap
  frontend/src/features/properties/list/__snapshots__/PropertyListView.test.tsx.snap
Labels: React, Styles, Tests

#2031 PIMS-622 Frontend Testing Workflow
  .github/workflows/react-app-regression-test.yaml
  react-app/jest.config.ts
  react-app/src/components/layout/Footer.test.tsx
  react-app/src/components/layout/Footer.test.tsx.snap
  react-app/src/pages/Login.tsx
Labels: Github Actions

#2032 PIMS-631: Table Component
  react-app/jest.config.ts
  react-app/package.json
  react-app/src/App.test.tsx
  react-app/src/App.test.tsx.snap
  react-app/src/App.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/pages/DevZone.tsx
  react-app/src/themes/appTheme.ts
Labels: Dependencies

#2039 PIMS-686: Fix Notification queue entity
  express-api/src/typeorm/Entities/NotificationQueue.ts
  express-api/src/typeorm/Entities/ProjectStatusHistory.ts
Labels: Express

#2041 PIMS-689: Update System.Data.SqlClient from 4.8.5 to 4.8.6
  backend/dal/Pims.Dal.csproj
Labels: Dependencies, DotNet

#2040 Update react-icons from version `4.12.0` to `5.0.1`
  frontend/package.json
Labels: Dependencies, React

#2043 PIMS-678: Update react-resize-detector from version `9.1.0` to `10.0.1`
  frontend/package.json
Labels: Dependencies, React

#2042 PIMS-684 Change how address info is stored
  express-api/src/typeorm/Entities/Addresses.ts
  express-api/src/typeorm/Entities/AdministrativeAreas.ts
  express-api/src/typeorm/Entities/abstractEntities/Property.ts
Labels: Express

#2057 PIMS-676: Update prettier from version `3.1.0` to `3.2.4`
  frontend/package.json
  frontend/src/features/projects/list/SPLProjectListView.tsx
Labels: Dependencies, React

#2038 PIMS-690 Update to database dockerfile to resolve Permission Denied error
  database/mssql/Dockerfile
Labels: Docker

#2053 PIMS-633 Dockerize react-app
  docker-compose.yml
  react-app/Dockerfile
  react-app/nginx.conf
Labels: Docker

#2111 PIMS-722-Hide-Subdivision-Feature
  frontend/src/features/mapSideBar/SidebarContents/SubmitPropertySelector.test.tsx
  frontend/src/features/mapSideBar/SidebarContents/SubmitPropertySelector.tsx
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/SubmitPropertySelector.test.tsx.snap
Labels: React, Tests

#2045 PIMS-693 Update .github workflow and scripts for app-npm-dep-check
  .github/config/dep-report.json5
  .github/helpers/check-npm-dependencies.js
  .github/helpers/create-npm-dep-report-issues.js
  .github/helpers/create-npm-dep-report.js
  .github/helpers/github-api/create-and-close-existing-issue.js
  .github/helpers/github-api/github-api-requests.js
  .github/helpers/jira-api/create_tickets.py
  .github/helpers/jira-api/jira_con.py
  .github/helpers/jira-api/refine_dependency.py
  .github/helpers/jira-api/refine_tickets.py
  .github/helpers/parse-json5-config.js
  .github/helpers/parse-npm-deps.js
  .github/workflows/app-npm-dep-check.yml
Labels: Github Actions
