Repository bcgov/PIMS, pull requests merged in 2024-07, with the labels that each got.

#2486 PIMS-1805: Disposal project property search constraints
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  react-app/src/components/property/PropertyTable.tsx
Labels: Express

#2480 Bump image version for postgres in docker compose to v15
  docker-compose.yml
Labels: Docker

#2491 Update github-api-requests.js octokit import method
  .github/helpers/create-npm-dep-report-issues.js
  .github/helpers/github-api/create-and-close-existing-issue.mjs
  .github/helpers/github-api/github-api-requests.mjs
  .github/helpers/npm-deps/create-report-issues.cjs
  .github/helpers/npm-deps/create-report.cjs
  .github/helpers/npm-deps/parse-npm-deps.cjs
  .github/helpers/parse-json5-config.js
  .github/workflows/app-npm-dep-check.yml
Labels: Github Actions

#2489 PIMS-1822/25 Property Errors
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/controllers/properties/propertiesSchema.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/utilities/helperFunctions.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/users/UserDetail.tsx
  react-app/src/hooks/api/useBuildingsApi.ts
  react-app/src/hooks/api/useLtsaApi.ts
  react-app/src/hooks/api/useParcelsApi.ts
Labels: Express

#2502 DevOps Argo cd workflows for TEST and PROD
  .github/workflows/PROD-Api-V2-image-deploy.yml
  .github/workflows/PROD-App-V2-image-deploy.yml
  .github/workflows/TEST-Api-V2-image-deploy.yml
  .github/workflows/TEST-App-V2-image-deploy.yml
Labels: Github Actions

#2503 Pin @mui/lab version in package list
  react-app/package.json
Labels: Dependencies

#2488 PIMS-1821: Fixing agency filtering on properties and projects
  express-api/src/constants/index.ts
  express-api/src/constants/types.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/controllers/properties/propertiesSchema.ts
  express-api/src/services/projects/projectSchema.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/typeorm/Entities/views/ProjectJoinView.ts
  express-api/src/typeorm/Migrations/1720047791272-CreateProjectJoinView.ts
  express-api/src/typeorm/entitiesIndex.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/table/DataTable.tsx
Labels: Express

#2478 PIMS-1803: Bulk upload API
  express-api/package.json
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/middleware/errorHandler.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/services/properties/propertyWorker.ts
  express-api/src/typeorm/Entities/ImportResult.ts
  express-api/src/typeorm/Migrations/1719518407493-CreateImportResultTable.ts
  express-api/src/typeorm/entitiesIndex.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
Labels: Dependencies, Express

#2506 Fix Dockerfile permissions for express-api
  express-api/Dockerfile
Labels: Docker, Express

#2507 PIMS-1860: Import Result API
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/controllers/properties/propertiesSchema.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
Labels: Express

#2511 PIMS-1826 Fuzzy Search Options
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/utilities/helperFunctions.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  express-api/tests/unit/utilities/helperFunctions.test.ts
  react-app/src/components/projects/DisposalPropertiesSearchTable.tsx
Labels: Express

#2514 PIMS-1823: Fix count for server-side pagination
  express-api/src/services/projects/projectsServices.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/hooks/api/useProjectsApi.ts
  react-app/src/hooks/api/usePropertiesApi.ts
Labels: Express

#2515 PIMS-1802: Bulk Upload Page
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/services/properties/propertyWorker.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  react-app/src/App.tsx
  react-app/src/components/fileHandling/FileUploadArea.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/pages/BulkUpload.tsx
  react-app/src/themes/appTheme.ts
Labels: Express

#2518 PIMS-1834 react-app Dependency Updates
  react-app/package.json
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/DataTable.tsx
Labels: Dependencies

#2521 PIMS-1835 express-api Dependency Updates
  express-api/package.json
Labels: Dependencies, Express

#2523 Pims-1858 Truncate Address From Geocoder
  express-api/src/services/geocoder/geocoderService.ts
  express-api/src/services/geocoder/geocoderUtils.ts
  express-api/src/services/geocoder/interfaces/IPropertyModel.ts
  express-api/tests/unit/services/geocoder/geocoderUtils.test.ts
  react-app/src/components/property/PropertyForms.tsx
Labels: Express

#2520 PIMS-1868 More Quickfilter Fixes
  express-api/src/controllers/administrativeAreas/administrativeAreasController.ts
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/services/administrativeAreas/administrativeAreaSchema.ts
  express-api/src/services/administrativeAreas/administrativeAreasServices.ts
  express-api/src/services/agencies/agencySchema.ts
  express-api/src/services/agencies/agencyServices.ts
  express-api/src/services/projects/projectSchema.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/typeorm/Entities/views/AdministrativeAreaJoinView.ts
  express-api/src/typeorm/Entities/views/AgencyJoinView.ts
  express-api/src/typeorm/Migrations/1720641729780-MoreTableViews.ts
  express-api/src/typeorm/entitiesIndex.ts
  express-api/src/utilities/helperFunctions.ts
  express-api/tests/unit/services/administrativeAreas/adminstrativeAreasService.test.ts
  express-api/tests/unit/services/agencies/agencyServices.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  react-app/src/components/adminAreas/AdministrativeAreasTable.tsx
  react-app/src/components/agencies/AgencyTable.tsx
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/hooks/api/useAdministrativeAreaApi.ts
  react-app/src/hooks/api/useAgencyApi.ts
  react-app/src/hooks/api/useProjectsApi.ts
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/interfaces/GetManyResponse.ts
Labels: Express

#2538 Agency services test fix
  express-api/tests/unit/services/agencies/agencyServices.test.ts
Labels: Express

#2532 PIMS-1856: Cleanup Project Statuses
  express-api/src/typeorm/Migrations/1720731741735-DisableAndConsolidateStatuses.ts
Labels: Express

#2519 PIMS-1816: Exemption Field On Add Project
  express-api/src/typeorm/Migrations/1720643609871-ExemptionNoteTypeToExemptionSubmittedStatus.ts
  react-app/src/components/form/TextFormField.tsx
  react-app/src/components/projects/AddProject.tsx
Labels: Express

#2535 PIMS-1827 Excel Export with Pagination
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/routes/projectsRouter.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/typeorm/Entities/views/ProjectJoinView.ts
  express-api/src/typeorm/Entities/views/PropertyUnionView.ts
  express-api/src/typeorm/Migrations/1721057925806-ProjectViewFix.ts
  express-api/src/typeorm/Migrations/1721081224297-PropertyTypeIdOnPropertyUnion.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/buildings/buildingsController.test.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  react-app/src/components/adminAreas/AdministrativeAreasTable.tsx
  react-app/src/components/agencies/AgencyTable.tsx
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/hooks/api/useLookupApi.ts
  react-app/src/hooks/api/useProjectsApi.ts
  react-app/src/hooks/api/usePropertiesApi.ts
Labels: Express

#2539 PIMS-1886: Transformer for money columns
  express-api/src/typeorm/Entities/Project.ts
  express-api/src/typeorm/Entities/ProjectAgencyResponse.ts
  express-api/src/typeorm/Entities/ProjectMonetary.ts
  express-api/src/typeorm/Entities/ProjectSnapshot.ts
  express-api/src/typeorm/Entities/abstractEntities/Evaluation.ts
  express-api/src/typeorm/Entities/abstractEntities/Fiscal.ts
  express-api/src/typeorm/Transformers/MoneyTransformer.ts
  react-app/src/components/form/TextFormField.tsx
  react-app/src/components/projects/DisposalPropertiesSearchTable.tsx
  react-app/src/components/projects/DisposalPropertiesSimpleTable.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/property/PropertyAssessedValueTable.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyNetValueTable.tsx
  react-app/src/hooks/api/useProjectsApi.ts
Labels: Express

#2540 PIMS-1875: Bulk Upload File Rejection
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/src/utilities/uploadWhitelist.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  react-app/src/hooks/api/usePropertiesApi.ts
Labels: Express

#2542 Pims-1889: ERP Exemption Required Field
  express-api/src/routes/propertiesRouter.ts
  react-app/src/components/projects/AddProject.tsx
Labels: Express

#2543 PIMS-1877 Updating express-api
  .github/config/dep-report.json5
  .github/helpers/jira-api/refine_tickets.py
  express-api/package.json
Labels: Dependencies, Express

#2545 PIMS-1888 PID Search Formatting
  express-api/src/services/properties/propertiesServices.ts
Labels: Express

#2541 PIMS-1876 react-app updates
  react-app/package.json
Labels: Dependencies

#2564 PIMS-1903 NPM Updates react-app
  react-app/package.json
Labels: Dependencies

#2565 PIMS-1904 NPM express-api Updates
  express-api/package.json
Labels: Dependencies, Express

#2557 PIMS-1872 ETL Update
  express-api/src/typeorm/Migrations/Seeds/AdministrativeAreas.sql
  tools/dbeaver/data-sources.json
  tools/dbeaver/tasks.json
Labels: Express

#2554 PIMS-1756: Template formatting and hyperlink fixes
  express-api/src/constants/config.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Migrations/1721324982131-FixTemplatesPropertyAccessAndAssessmentOrdering.ts
Labels: Express

#2567 PIMS-1898 BCeID with Access Request
  express-api/src/controllers/users/usersController.ts
  express-api/src/services/users/usersServices.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  react-app/src/hooks/api/useUsersApi.ts
  react-app/src/pages/AccessRequest.tsx
Labels: Express

#2560 PIMS-1990: Email Authorized env variable for testing emails in live
  express-api/src/constants/config.ts
  express-api/src/services/ches/chesServices.ts
Labels: Express

#2569 PIMS-1919: Bulk upload resolve path for production
  express-api/src/controllers/properties/propertiesController.ts
  react-app/src/pages/BulkUpload.tsx
Labels: Express

#2573 PIMS-1894: Spelling Error (Publically)
  express-api/src/typeorm/Migrations/1721928949171-PubliclySpellingChange.ts
Labels: Express

#2575 PIMS-1832 Error Email
  .env-template
  express-api/README.md
  express-api/src/constants/config.ts
  express-api/src/controllers/reports/errorReportSchema.ts
  express-api/src/controllers/reports/reportsController.ts
  express-api/src/notificationTemplates/ErrorReport.njk
  express-api/src/routes/reportsRouter.ts
  express-api/src/services/ches/chesServices.ts
  express-api/tests/unit/controllers/reports/reportsController.test.ts
  react-app/src/hooks/api/useReportsApi.ts
  react-app/src/pages/ErrorFallback.tsx
Labels: Documentation, Express

#2577 PIMS-1848 Banner Old PIMS
  frontend/src/constants/strings.tsx
  frontend/src/features/account/Login.scss
  frontend/src/features/routes/AppRouter.tsx
  frontend/src/features/routes/LayoutWrapper.tsx
Labels: React, Styles

#2581 PIMS-1926 No Role User Access
  express-api/src/appDataSource.ts
  express-api/src/middleware/activeUserCheck.ts
  express-api/tests/unit/middleware/activeUserCheck.test.ts
  react-app/src/App.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/constants/jsxSnippets.tsx
  react-app/src/pages/AccessRequest.tsx
  react-app/src/pages/Home.tsx
Labels: Express

#2544 PIMS-1754: Display Project Notifications
  express-api/src/controllers/notifications/notificationsController.ts
  express-api/src/controllers/notifications/notificationsSchema.ts
  express-api/src/routes/notificationsRouter.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/notifications/notificationsController.test.ts
  express-api/tests/unit/services/notifications/notificationServices.test.ts
  react-app/src/components/display/DataCard.tsx
  react-app/src/components/projects/AgencyResponseSearchTable.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/projects/ProjectNotificationsTable.tsx
  react-app/src/constants/chesNotificationStatus.ts
  react-app/src/hooks/api/useProjectNotificationApi.ts
  react-app/src/hooks/usePimsApi.ts
Labels: Express

#2583 PIMS-1930: Update to express-sso Package
  express-api/package.json
Labels: Dependencies, Express

#2578 PIMS-1925 Project Editing Admins Only
  express-api/src/controllers/projects/projectsController.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  react-app/src/components/projects/ProjectDetail.tsx
Labels: Express

#2584 PIMS-1902: Last login not populated on initial login
  express-api/src/services/users/usersServices.ts
Labels: Express

#2582 PIMS-1921: Agency dropdown project and properties
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyForms.tsx
Labels: Express

#2558 Pims-1885 Remove Stubs
  express-api/src/controllers/administrativeAreas/administrativeAreasController.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/notifications/notificationsController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/controllers/tools/toolsController.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/routes/administrativeAreasRouter.ts
  express-api/src/routes/buildingsRouter.ts
  express-api/src/routes/lookupRouter.ts
  express-api/src/routes/notificationsRouter.ts
  express-api/src/routes/parcelsRouter.ts
  express-api/src/routes/projectsRouter.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/src/routes/toolsRouter.ts
  express-api/src/routes/usersRouter.ts
  express-api/tests/unit/controllers/administrativeAreas/administrativeAreasController.test.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
  express-api/tests/unit/controllers/notifications/notificationsController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  express-api/tests/unit/controllers/tools/toolsController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
Labels: Express

#2588 PIMS-1883 Code Commenting Spree
  express-api/src/constants/config.ts
  express-api/src/constants/credentials.ts
  express-api/src/constants/networking.ts
  express-api/src/constants/projectRisk.ts
  express-api/src/constants/projectStatus.ts
  express-api/src/constants/projectTask.ts
  express-api/src/constants/projectType.ts
  express-api/src/constants/projectWorkflow.ts
  express-api/src/constants/propertyType.ts
  express-api/src/constants/roles.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/controllers/reports/reportsController.ts
  express-api/src/controllers/roles/IRole.ts
  express-api/src/middleware/activeUserCheck.ts
  express-api/src/middleware/keycloak/keycloakOptions.ts
  express-api/src/notificationTemplates/README.md
  express-api/src/routes/administrativeAreasRouter.ts
  express-api/src/routes/rolesRouter.ts
  express-api/src/routes/usersRouter.ts
  express-api/src/server.ts
  express-api/src/services/administrativeAreas/administrativeAreasServices.ts
  express-api/src/services/agencies/agencyServices.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/keycloak/keycloakService.ts
  express-api/src/services/ltsa/ltsaServices.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/services/properties/propertyWorker.ts
  express-api/src/services/roles/rolesServices.ts
  express-api/src/services/users/usersServices.ts
  express-api/src/utilities/cronJobs/syncKeycloakRoles.ts
  express-api/tests/integration/roles/roles.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  express-api/tests/unit/services/users/usersServices.test.ts
  react-app/src/App.tsx
  react-app/src/constants/projectTasks.ts
  react-app/src/constants/roles.ts
Labels: Documentation, Express

#2591 PIMS-1933: Cancel notifications on project deletion
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/services/notifications/notificationServices.test.ts
Labels: Express

#2589 PIMS-1945: Property views exclude deleted rows
  express-api/src/typeorm/Entities/views/BuildingRelationsView.ts
  express-api/src/typeorm/Entities/views/MapPropertiesView.ts
  express-api/src/typeorm/Entities/views/PropertyUnionView.ts
  express-api/src/typeorm/Migrations/1722362022034-PropertyViewsMissingDeletedOnClause.ts
  react-app/src/components/map/ParcelMap.tsx
  react-app/src/components/property/PropertyDetail.tsx
Labels: Express
