Repository bcgov/PIMS, pull requests merged in 2024-02, with the labels that each got.

#2037 PIMS-669: User & Roles Services
  express-api/package.json
  express-api/src/appDataSource.ts
  express-api/src/constants/roles.ts
  express-api/src/controllers/admin/roles/rolesController.ts
  express-api/src/controllers/admin/roles/rolesSchema.ts
  express-api/src/controllers/admin/users/usersController.ts
  express-api/src/controllers/admin/users/usersSchema.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/routes/adminRouter.ts
  express-api/src/routes/usersRouter.ts
  express-api/src/services/admin/rolesServices.ts
  express-api/src/services/admin/usersServices.ts
  express-api/src/services/keycloak/keycloakService.ts
  express-api/src/services/users/usersServices.ts
  express-api/src/typeorm/Entities/AccessRequests.ts
  express-api/src/typeorm/Entities/Agencies.ts
  express-api/src/typeorm/Entities/Claims.ts
  express-api/src/typeorm/Entities/NotificationQueue.ts
  express-api/src/typeorm/Entities/ProjectAgencyResponses.ts
  express-api/src/typeorm/Entities/Projects.ts
  express-api/src/typeorm/Entities/RoleClaims.ts
  express-api/src/typeorm/Entities/Roles.ts
  express-api/src/typeorm/Entities/UserAgencies.ts
  express-api/src/typeorm/Entities/UserRoles.ts
  express-api/src/typeorm/Entities/Users.ts
  express-api/src/typeorm/Entities/Users_Roles_Claims.ts
  express-api/src/typeorm/Entities/abstractEntities/BaseEntity.ts
  express-api/src/utilities/customErrors/ErrorWithCode.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/admin/roles/rolesController.test.ts
  express-api/tests/unit/controllers/admin/users/usersController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  express-api/tests/unit/services/admin/rolesServices.test.ts
  express-api/tests/unit/services/admin/usersServices.test.ts
  express-api/tests/unit/services/users/usersServices.test.ts
Labels: Dependencies, Express

#2166 PIMS-545 Transfer Keycloak Users-Roles
  tools/keycloakRoleMapping/.env-template
  tools/keycloakRoleMapping/.gitignore
  tools/keycloakRoleMapping/README.md
  tools/keycloakRoleMapping/package.json
  tools/keycloakRoleMapping/src/extractRoleMap.ts
  tools/keycloakRoleMapping/src/importRoleMap.ts
  tools/keycloakRoleMapping/src/roleMappingConversion.ts
  tools/keycloakRoleMapping/tsconfig.json
Labels: Documentation, Dependencies

#2164 PIMS-408 Establish Migration Options
  express-api/package.json
  express-api/src/controllers/admin/users/usersController.ts
  express-api/src/services/keycloak/keycloakService.ts
  express-api/src/services/users/usersServices.ts
  express-api/src/typeorm/utilities/helperScripts/migrationScript.sh
  express-api/tests/unit/controllers/admin/roles/rolesController.test.ts
  express-api/tests/unit/controllers/admin/users/usersController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  express-api/tests/unit/services/admin/usersServices.test.ts
  express-api/tests/unit/services/keycloak/keycloakService.test.ts
  express-api/tests/unit/services/users/usersServices.test.ts
Labels: Dependencies, Express

#2170 Sprint 14 Updating express-api minor NPM Dependencies
  express-api/package.json
Labels: Dependencies, Express

#2169 Sprint 14 Updating Frontend NPM Packages (minor updates)
  frontend/package.json
Labels: Dependencies, React

#2167 PIMS-1260: React API Hooks
  express-api/src/typeorm/Entities/Agencies.ts
  express-api/src/typeorm/Entities/Users_Roles_Claims.ts
  express-api/src/typeorm/Entities/abstractEntities/BaseEntity.ts
  react-app/src/App.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/contexts/authContext.tsx
  react-app/src/contexts/configContext.tsx
  react-app/src/guards/AuthRouteGuard.tsx
  react-app/src/hooks/api/useUsersApi.ts
  react-app/src/hooks/useAsync.ts
  react-app/src/hooks/useDataLoader.ts
  react-app/src/hooks/useFetch.ts
  react-app/src/hooks/usePimsApi.ts
  react-app/src/pages/DevZone.tsx
  react-app/vite.config.ts
Labels: Express

#2174 PIMS-1201 Update react-app Dependencies
  react-app/package.json
Labels: Dependencies

#2148 PIMS-668 Users Table
  react-app/.eslintrc.cjs
  react-app/package.json
  react-app/src/App.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/components/table/KeywordSearch.tsx
  react-app/src/hooks/api/useUsersApi.ts
  react-app/src/hooks/useDataLoader.ts
  react-app/src/interfaces/IUser.ts
  react-app/src/pages/UsersTable.tsx
  react-app/src/themes/appTheme.ts
  react-app/src/utilities/downloadExcelFile.ts
Labels: Dependencies

#2180 PIMS-1275 Update react-datepicker to 6.1.0 (frontend)
  frontend/package.json
Labels: Dependencies, React

#2179 PIMS-1298 Update react-router-dom to 6.22.0 (frontend)
  frontend/package.json
Labels: Dependencies, React

#2178 PIMS-1287 Updated @types/supertest to 6.0.2 (express-api)
  express-api/package.json
Labels: Dependencies, Express

#2177 PIMS-1236 Updated prettier to 3.2.4 (express-api)
  express-api/.prettierignore
  express-api/package.json
Labels: Dependencies, Express

#2175 Express api Github action workflow
  .github/workflows/Express-Api-image-deploy.yml
  .github/workflows/Express-api-build.yml
  docker-compose.prod.yml
  openshift/templates/api-v2-dc-template.yaml
Labels: Github Actions, OpenShift

#2153 PIMS-1251 Creating services for agencies
  express-api/src/controllers/admin/accessRequests/IAccessRequest.ts
  express-api/src/controllers/admin/index.ts
  express-api/src/controllers/agencies/IAgency.ts
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/src/controllers/index.ts
  express-api/src/express.ts
  express-api/src/routes/adminRouter.ts
  express-api/src/routes/agenciesRouter.ts
  express-api/src/routes/index.ts
  express-api/src/services/agencies/agencySchema.ts
  express-api/src/services/agencies/agencyServices.ts
  express-api/tests/integration/admin/agencies/agencies.test.ts
  express-api/tests/unit/controllers/admin/agencies/agencyController.test.ts
  express-api/tests/unit/controllers/agencies/agencyController.test.ts
  express-api/tests/unit/services/agencies/agencyServices.test.ts
Labels: Express

#2186 Establishing React Frontend in Openshift and deployment workflow
  .github/workflows/DEV-App-V2-image-build.yml
  .github/workflows/DEV-App-V2-image-deploy.yml
  .github/workflows/PROD-App-V2-image-deploy.yml
  .github/workflows/TEST-App-V2-image-deploy.yml
  docker-compose.yml
  openshift/templates/app-v2-dc-template.yaml
  react-app/nginx.conf
Labels: Docker, Github Actions, OpenShift

#2185 Agencies Seed Fix
  express-api/src/typeorm/Migrations/Seeds/Agencies.sql
Labels: Express

#2189 PIMS-1309 Bugfix : Swagger Proxy and docker-compose update
  docker-compose.yml
  react-app/nginx.conf
Labels: Docker

#2188 Express API - Prod and Test deployment GHA pipeline
  .github/workflows/DEV-Api-V2-image-build.yml
  .github/workflows/DEV-Api-V2-image-deploy.yml
  .github/workflows/PROD-Api-V2-image-deploy.yml
  .github/workflows/TEST-Api-V2-image-deploy.yml
Labels: Github Actions

#2168 PIMS-680/1294: Admin Users View UI & Access Request Submission
  express-api/package.json
  express-api/src/appDataSource.ts
  express-api/src/controllers/admin/users/usersSchema.ts
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/routes/usersRouter.ts
  express-api/src/services/admin/usersServices.ts
  express-api/src/services/keycloak/keycloakService.ts
  express-api/src/services/users/usersServices.ts
  express-api/src/typeorm/Entities/User.ts
  express-api/src/typeorm/Migrations/1707780132021-StatusEnumInUserTable.ts
  express-api/src/typeorm/Migrations/1708023042674-ExpandUsername.ts
  express-api/src/typeorm/entitiesIndex.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/agencies/agencyController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  express-api/tests/unit/services/users/usersServices.test.ts
  react-app/nginx.conf
  react-app/src/App.tsx
  react-app/src/components/dialog/BaseDialog.tsx
  react-app/src/components/dialog/ConfirmDialog.tsx
  react-app/src/components/dialog/DeleteDialog.tsx
  react-app/src/components/dialog/DualActionButtons.tsx
  react-app/src/components/display/DataCard.tsx
  react-app/src/components/form/AutocompleteField.test.tsx
  react-app/src/components/form/AutocompleteFormField.tsx
  react-app/src/components/form/TextFormField.tsx
  react-app/src/components/users/UserDetail.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/constants/strings.ts
  react-app/src/contexts/authContext.tsx
  react-app/src/guards/AuthRouteGuard.tsx
  react-app/src/hooks/api/useAgencyApi.ts
  react-app/src/hooks/api/useUsersApi.ts
  react-app/src/hooks/useDataLoader.ts
  react-app/src/hooks/useFetch.ts
  react-app/src/hooks/usePimsApi.ts
  react-app/src/hooks/usePimsUser.ts
  react-app/src/pages/AccessRequest.tsx
  react-app/src/pages/DevZone.tsx
  react-app/src/pages/Home.tsx
  react-app/src/pages/UsersManagement.tsx
  react-app/src/themes/appTheme.ts
  react-app/src/utils/formatters.tsx
Labels: Dependencies, Express

#2157 PIMS-683 - Geocoder Service
  .env-template
  express-api/Dockerfile
  express-api/src/constants/index.ts
  express-api/src/constants/urls.ts
  express-api/src/services/geocoder/geocoderService.ts
  express-api/src/services/geocoder/geocoderUtils.ts
  express-api/src/services/geocoder/interfaces/IAddressModel.ts
  express-api/src/services/geocoder/interfaces/ICrsModel.ts
  express-api/src/services/geocoder/interfaces/IFaultModel.ts
  express-api/src/services/geocoder/interfaces/IFeatureCollectionModel.ts
  express-api/src/services/geocoder/interfaces/IFeatureModel.ts
  express-api/src/services/geocoder/interfaces/IGeometryModel.ts
  express-api/src/services/geocoder/interfaces/IPropertyModel.ts
  express-api/src/services/geocoder/interfaces/ISitePidsResponseModel.ts
  express-api/tests/unit/services/geocoder/geocoderService.test.ts
Labels: Docker, OpenShift, Express

#2192 PIMS-1312 Encumbrance Field Width
  frontend/src/features/mapSideBar/SidebarContents/__snapshots__/BuildingForm.test.tsx.snap
  frontend/src/features/mapSideBar/SidebarContents/subforms/ClassificationForm.tsx
Labels: React, Tests

#2190 PIMS-1329: Apply lower snake case standard for entity names
  express-api/package.json
  express-api/src/appDataSource.ts
  express-api/src/typeorm/Entities/AccessRequest.ts
  express-api/src/typeorm/Entities/AdministrativeArea.ts
  express-api/src/typeorm/Entities/Agency.ts
  express-api/src/typeorm/Entities/Building.ts
  express-api/src/typeorm/Entities/BuildingEvaluation.ts
  express-api/src/typeorm/Entities/BuildingFiscal.ts
  express-api/src/typeorm/Entities/NotificationQueue.ts
  express-api/src/typeorm/Entities/Parcel.ts
  express-api/src/typeorm/Entities/ParcelBuilding.ts
  express-api/src/typeorm/Entities/ParcelEvaluation.ts
  express-api/src/typeorm/Entities/ParcelFiscal.ts
  express-api/src/typeorm/Entities/Project.ts
  express-api/src/typeorm/Entities/ProjectAgencyResponse.ts
  express-api/src/typeorm/Entities/ProjectNote.ts
  express-api/src/typeorm/Entities/ProjectProperty.ts
  express-api/src/typeorm/Entities/ProjectReport.ts
  express-api/src/typeorm/Entities/ProjectSnapshot.ts
  express-api/src/typeorm/Entities/ProjectStatusHistory.ts
  express-api/src/typeorm/Entities/ProjectStatusNotification.ts
  express-api/src/typeorm/Entities/ProjectStatusTransition.ts
  express-api/src/typeorm/Entities/ProjectTask.ts
  express-api/src/typeorm/Entities/Task.ts
  express-api/src/typeorm/Entities/User.ts
  express-api/src/typeorm/Entities/WorkflowProjectStatus.ts
  express-api/src/typeorm/Entities/abstractEntities/BaseEntity.ts
  express-api/src/typeorm/Entities/abstractEntities/Evaluation.ts
  express-api/src/typeorm/Entities/abstractEntities/Fiscal.ts
  express-api/src/typeorm/Entities/abstractEntities/Property.ts
  express-api/src/typeorm/Migrations/1707763864013-CreateTables.ts
  express-api/src/typeorm/Migrations/1707780132021-StatusEnumInUserTable.ts
  express-api/src/typeorm/Migrations/1708023042674-ExpandUsername.ts
  express-api/src/typeorm/Migrations/Seeds/AdministrativeAreas.sql
  express-api/src/typeorm/Migrations/Seeds/Agencies.sql
  express-api/src/typeorm/Migrations/Seeds/BuildingConstructionTypes.sql
  express-api/src/typeorm/Migrations/Seeds/BuildingOccupantTypes.sql
  express-api/src/typeorm/Migrations/Seeds/BuildingPredominateUses.sql
  express-api/src/typeorm/Migrations/Seeds/EvaluationKeys.sql
  express-api/src/typeorm/Migrations/Seeds/FiscalKeys.sql
  express-api/src/typeorm/Migrations/Seeds/NotificationTemplates.sql
  express-api/src/typeorm/Migrations/Seeds/ProjectRisks.sql
  express-api/src/typeorm/Migrations/Seeds/ProjectStatus.sql
  express-api/src/typeorm/Migrations/Seeds/ProjectStatusNotifications.sql
  express-api/src/typeorm/Migrations/Seeds/ProjectStatusTransitions.sql
  express-api/src/typeorm/Migrations/Seeds/ProjectTypes.sql
  express-api/src/typeorm/Migrations/Seeds/PropertyClassifications.sql
  express-api/src/typeorm/Migrations/Seeds/PropertyTypes.sql
  express-api/src/typeorm/Migrations/Seeds/Provinces.sql
  express-api/src/typeorm/Migrations/Seeds/RegionalDistricts.sql
  express-api/src/typeorm/Migrations/Seeds/ReportTypes.sql
  express-api/src/typeorm/Migrations/Seeds/Roles.sql
  express-api/src/typeorm/Migrations/Seeds/Tasks.sql
  express-api/src/typeorm/Migrations/Seeds/TierLevels.sql
  express-api/src/typeorm/Migrations/Seeds/Users.sql
  express-api/src/typeorm/Migrations/Seeds/WorkflowProjectStatus.sql
  express-api/src/typeorm/Migrations/Seeds/Workflows.sql
Labels: Dependencies, Express

#2195 PIMS-1313 Update frontend Dependencies
  frontend/package.json
Labels: Dependencies, React

#2202 PIMS-updates to frontend Feb 20th
  frontend/package.json
Labels: Dependencies, React

#2197 PIMS-1328 Express Error Handling
  express-api/src/constants/errors.ts
  express-api/src/constants/index.ts
  express-api/src/express.ts
  express-api/src/middleware/errorHandler.ts
  express-api/src/server.ts
  express-api/src/utilities/customErrors/ErrorWithCode.ts
  express-api/tests/unit/middleware/errorHandler.test.ts
  express-api/tests/unit/utilities/ErrorWithCode.test.ts
Labels: Express

#2191 PIMS-1327: Data fixes after seeding Postgres
  express-api/src/typeorm/Entities/NotificationQueue.ts
  express-api/src/typeorm/Entities/ProjectAgencyResponse.ts
  express-api/src/typeorm/Entities/ProjectProperty.ts
  express-api/src/typeorm/Entities/ProjectReport.ts
  express-api/src/typeorm/Migrations/1707763864014-SeedData.ts
  express-api/src/typeorm/Migrations/1708536844664-NullableFields.ts
  express-api/src/typeorm/Migrations/Seeds/EvaluationKeys.sql
  tools/dbeaver/tasks.json
Labels: Express

#2198 PIMS-1330: Sync Keycloak Roles
  express-api/src/controllers/admin/roles/rolesController.ts
  express-api/src/controllers/admin/users/usersController.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/routes/adminRouter.ts
  express-api/src/services/admin/rolesServices.ts
  express-api/src/services/admin/usersServices.ts
  express-api/src/services/keycloak/keycloakService.ts
  express-api/tests/unit/controllers/admin/roles/rolesController.test.ts
  express-api/tests/unit/controllers/admin/users/usersController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  express-api/tests/unit/services/admin/usersServices.test.ts
  express-api/tests/unit/services/keycloak/keycloakService.test.ts
  react-app/src/App.tsx
  react-app/src/components/form/AutocompleteFormField.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/components/users/UserDetail.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/hooks/api/useRolesApi.ts
  react-app/src/hooks/api/useUsersApi.ts
  react-app/src/hooks/useAsync.ts
  react-app/src/hooks/useDataLoader.ts
  react-app/src/hooks/usePimsApi.ts
Labels: Express

#2205 nginx configuration update
  express-api/src/express.ts
  express-api/src/swagger/swagger-output.json
  express-api/tests/integration/admin/accessRequests/accessRequests.test.ts
  express-api/tests/integration/admin/administrativeAreas/administrativeAreas.test.ts
  express-api/tests/integration/admin/agencies/agencies.test.ts
  express-api/tests/integration/admin/claims/claims.test.ts
  express-api/tests/integration/admin/roles/roles.test.ts
  express-api/tests/integration/admin/users/users.test.ts
  express-api/tests/integration/express/express.test.ts
  express-api/tests/integration/health/getHealth.test.ts
  express-api/tests/integration/lookup/lookup.test.ts
  express-api/tests/integration/ltsa/getLtsa.test.ts
  express-api/tests/integration/middleware/headerHandler.test.ts
  express-api/tests/integration/parcels/parcels.test.ts
  express-api/tests/integration/projects/projects.test.ts
  express-api/tests/integration/properties/properties.test.ts
  express-api/tests/integration/tools/tools.test.ts
  express-api/tests/integration/users/users.test.ts
  openshift/templates/api-v2-dc-template.yaml
  react-app/nginx.conf
  react-app/vite.config.ts
Labels: OpenShift, Express

#2204 PIMS-1325_1326: Update @typescript-eslint/eslint-plugin and @typescript-eslint/parser from version 6.20.0 to 7.0.2 in express-api
  express-api/package.json
Labels: Dependencies, Express

#2203 PIMS-1333 Add parcel service and unit test
  express-api/src/routes/parcelsRouter.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/typeorm/Entities/User.ts
  express-api/src/typeorm/Entities/abstractEntities/Property.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
Labels: Express

#2207 Migration test
  express-api/src/appDataSource.ts
Labels: Express

#2209 PIMS-1350 Migrations Run in OC
  express-api/Dockerfile
  express-api/src/appDataSource.ts
  express-api/src/server.ts
Labels: Docker, Express

#2211 PIMS-1351 Update OC ENV for API
  .github/CODEOWNERS
  openshift/templates/api-v2-dc-template.yaml
Labels: OpenShift

#2213 PIMS-1336 Parcels Service: getParcels
  express-api/src/services/parcels/parcelSchema.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
Labels: Express

#2193 PIMS-1291 React Error Boundary
  express-api/src/controllers/reports/errorReportSchema.ts
  express-api/src/controllers/reports/reportsController.ts
  express-api/src/routes/reportsRouter.ts
  express-api/tests/unit/controllers/reports/reportsController.test.ts
  react-app/package.json
  react-app/src/App.tsx
  react-app/src/assets/images/error.svg
  react-app/src/hooks/api/useAgencyApi.ts
  react-app/src/hooks/api/useReportsApi.ts
  react-app/src/hooks/useFetch.ts
  react-app/src/hooks/usePimsApi.ts
  react-app/src/pages/DevZone.tsx
  react-app/src/pages/ErrorFallback.tsx
Labels: Dependencies, Express

#2212 PIMS-1335 create deleteParcelByPid service
  express-api/src/services/parcels/parcelServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
Labels: Express

#2218 PIMS-1348: New admin areas for ETL job importing buildings from Prod
  express-api/src/typeorm/Migrations/Seeds/AdministrativeAreas.sql
Labels: Express

#2220 PIMS-1354 Dependency Updates (frontend)
  frontend/package.json
Labels: Dependencies, React

#2221 PIMS-1356 Dependency Updates (express-api)
  express-api/package.json
Labels: Dependencies, Express

#2222 PIMS-1355-Dependency-Updates-(react-app)
  react-app/package.json
Labels: Dependencies

#2223 Artifactory Integration
  .github/workflows/DEV-Api-V2-image-build.yml
  .github/workflows/DEV-App-V2-image-build.yml
  openshift/templates/api-v2-dc-template.yaml
  openshift/templates/app-v2-dc-template.yaml
Labels: Github Actions, OpenShift
