Repository bcgov/PIMS, pull requests merged in 2024-11, with the labels that each got.

#2781 PIMS-2106: Address WAVA Scan Findings
  express-api/src/middleware/headerHandler.ts
  express-api/tests/integration/middleware/headerHandler.test.ts
  react-app/index.html
  react-app/nginx.conf
Labels: React, Tests, Express

#2785 PIMS-2217: Update winston from version 3.15.0 to 3.16.0 in express-api
  express-api/package.json
Labels: Dependencies, Express

#2784 PIMS-2218: Update @mui/x-date-pickers@7.22.1 @mui/x-data-grid@7.22.1 typescript-eslint@8.13.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2721 PIMS-632 Playwright
  e2e/.env-template
  e2e/.gitignore
  e2e/README.md
  e2e/env.ts
  e2e/functions/login.ts
  e2e/functions/mockRequests.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/agencies.spec.ts
  e2e/tests/login.spec.ts
  e2e/tests/map.spec.ts
  e2e/tests/noAccess.spec.ts
  react-app/src/components/map/ParcelMap.tsx
  react-app/src/components/map/propertyRow/PropertyRow.tsx
  react-app/src/components/map/sidebar/MapSidebar.tsx
  react-app/src/contexts/snackbarContext.tsx
Labels: Documentation, Dependencies, React

#2772 PIMS-2130: Update Python Create Jira Tickets Script
  .github/config/dep-report.json5
  .github/helpers/github-api/create-and-close-existing-issue.mjs
  .github/helpers/github-api/github-api-requests.mjs
  .github/helpers/github-api/update-issue-and-comment.mjs
  .github/helpers/jira-api/README.md
  .github/helpers/jira-api/create_tickets.py
  .github/helpers/jira-api/error.py
  .github/helpers/jira-api/jira_con.py
  .github/helpers/jira-api/refine_dependency.py
  .github/helpers/jira-api/refine_tickets.py
  .github/helpers/npm-deps/README.md
  .github/helpers/npm-deps/create-report-issues.cjs
  .github/helpers/npm-deps/create-report.cjs
  .github/helpers/npm-deps/parse-npm-deps.cjs
  .github/helpers/npm-deps/parse_to_comment.py
  .github/helpers/parse-json5-config.js
  .github/workflows/app-npm-dep-check.yml
Labels: Github Actions

#2834 PIMS-2106: Address WAVA Scan Findings
  react-app/nginx.conf
Labels: React

#2861 PIMS-2233: Update winston and few dev dependencies to latest versions in express-api
  express-api/package.json
  express-api/tests/integration/users/users.test.ts
  express-api/tests/testUtils/factories.ts
Labels: Dependencies, Tests, Express

#2862 PIMS-2234: Update react-router-dom, typescript-eslint and few dev dependencies to latest versions in react-app
  react-app/package.json
Labels: Dependencies, React

#2863 PIMS-2220 Project Properties Map
  react-app/src/App.tsx
  react-app/src/components/map/InventoryLayer.tsx
  react-app/src/components/map/MapLayers.tsx
  react-app/src/components/map/ParcelMap.tsx
  react-app/src/components/map/clusterPopup/ClusterPopup.tsx
  react-app/src/components/map/sidebar/MapSidebar.tsx
  react-app/src/components/projects/DisposalPropertiesSimpleTable.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/utilities/convertProjectPropertyToPropertyGeo.ts
Labels: React

#2864 BCA connect-src Fix
  react-app/nginx.conf
Labels: React

#2867 PIMS-2237 Express API Dependency Updates
  express-api/package.json
Labels: Dependencies, Express

#2868 PIMS-2238 Update React APP Dependencies
  react-app/package.json
Labels: Dependencies, React

#2869 PIMS-2239 sso-express 1.0.3-beta3
  express-api/package.json
Labels: Dependencies, Express
