Repository bcgov/PIMS, pull requests merged in 2024-08, with the labels that each got.

#2597 PIMS-1951 Remove pimshelp Email
  .env-template
  express-api/README.md
  express-api/src/constants/config.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/reports/reportsController.ts
  react-app/src/constants/jsxSnippets.tsx
  react-app/src/contexts/lookupContext.tsx
  react-app/src/hooks/api/useLookupApi.ts
  react-app/src/pages/AccessRequest.tsx
Labels: Documentation, Express

#2593 PIMS-1773: Auditor Scoping
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/services/properties/propertyWorker.ts
  express-api/src/utilities/authorizationChecks.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/buildings/buildingsController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  express-api/tests/unit/services/properties/propertyWorker.test.ts
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/table/DataTable.tsx
Labels: Express

#2590 PIMS-1871: Fuzzy search is returning properties already in other projects
  express-api/src/services/properties/propertiesServices.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
Labels: Express

#2592 ETL Update and Script
  express-api/src/typeorm/Migrations/Seeds/AdministrativeAreas.sql
  tools/dbeaver/tasks.json
  tools/projectTaskUpdate/taskUpdate.ts
Labels: Express

#2602 PIMS-1868 Follow Up
  express-api/src/utilities/helperFunctions.ts
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/property/PropertyTable.tsx
Labels: Express

#2605 ETL Branch
  express-api/src/typeorm/Migrations/Seeds/BuildingPredominateUses.sql
Labels: Express

#2601 Pims-1681 Script property_check
  .gitignore
  tools/propertyCheck/README.md
  tools/propertyCheck/data/testing_data.csv
  tools/propertyCheck/geocoder_connection.py
  tools/propertyCheck/helpers.py
  tools/propertyCheck/parcel_layer_connection.py
  tools/propertyCheck/process_data.drawio.png
  tools/propertyCheck/process_data.py
  tools/propertyCheck/property_check.py
Labels: Documentation

#2599 PIMS-1935: react-app NPM Updates
  react-app/package.json
Labels: Dependencies

#2600 PIMS-1941: express-api NPM Updates
  express-api/package.json
Labels: Dependencies, Express

#2608 PIMS-1968: Add name to fuzzy search criteria
  express-api/src/services/properties/propertiesServices.ts
  react-app/src/hooks/api/usePropertiesApi.ts
Labels: Express

#2612 Retry push with rebase to handle conflicts from simultaneous changes
  .github/workflows/DEV-Api-V2-image-deploy.yml
  .github/workflows/DEV-App-V2-image-deploy.yml
  .github/workflows/PROD-Api-V2-image-deploy.yml
  .github/workflows/PROD-App-V2-image-deploy.yml
  .github/workflows/TEST-Api-V2-image-deploy.yml
  .github/workflows/TEST-App-V2-image-deploy.yml
Labels: Github Actions

#2614 PIMS-1756: Fixed a minor spelling error in one of the notification templates
  express-api/src/typeorm/Migrations/1723139478546-TemplatePropertySpellingChange.ts
Labels: Express

#2610 PIMS 1957/1958: Handle agency response change notifications
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/utilities/helperFunctions.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/services/notifications/notificationServices.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  react-app/src/components/projects/ProjectDetail.tsx
Labels: Express

#2616 PIMS-1928: Cancel and resend notifications
  express-api/src/controllers/notifications/notificationsController.ts
  express-api/src/routes/notificationsRouter.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/notifications/notificationsController.test.ts
  express-api/tests/unit/services/notifications/notificationServices.test.ts
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/projects/ProjectNotificationsTable.tsx
  react-app/src/hooks/api/useBuildingsApi.ts
  react-app/src/hooks/api/useParcelsApi.ts
  react-app/src/hooks/api/useProjectNotificationApi.ts
  react-app/src/hooks/api/useProjectsApi.ts
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/hooks/api/useUsersApi.ts
  react-app/src/hooks/useFetch.ts
  react-app/src/pages/BulkUpload.tsx
Labels: Express

#2622 PIMS-1956: Single select filters
  express-api/src/services/administrativeAreas/administrativeAreasServices.ts
  express-api/src/services/agencies/agencyServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/utilities/helperFunctions.ts
  react-app/src/components/adminAreas/AdministrativeAreasTable.tsx
  react-app/src/components/agencies/AgencyTable.tsx
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/hooks/useHistoryAwareNavigate.ts
Labels: Express

#2623 PIMS-1973: Update turf from version 7.0.0 to 7.1.0
  react-app/package.json
Labels: Dependencies

#2624 PIMS-1977: Update vite from version 5.3.1 to 5.4.0 in react-app
  react-app/package.json
Labels: Dependencies

#2627 PIMS-1976: Update vite-tsconfig-paths from version 4.3.1 to 5.0.1 in react-app
  react-app/package.json
Labels: Dependencies

#2630 PIMS-1979: Update winston from version 3.13.0 to 3.14.2
  express-api/package.json
Labels: Dependencies, Express

#2628 PIMS-1929: Unknown status for project notifications
  express-api/src/controllers/notifications/notificationsController.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/tests/unit/services/notifications/notificationServices.test.ts
  react-app/src/constants/chesNotificationStatus.ts
Labels: Express

#2629 PIMS-1985: Agency selection on add property
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  react-app/src/components/property/AddProperty.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyForms.tsx
  react-app/src/hooks/api/useUserAgencies.ts
Labels: Express

#2617 PIMS-1967: Create link to project from property page
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  react-app/src/components/property/AssociatedProjectsTable.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
Labels: Express

#2631 PIMS-1982: Update @types/node from version 22.0.0 to 22.3.0 in express-api
  express-api/package.json
Labels: Dependencies, Express

#2635 PIMS-1986: Remove LegalLandDescription from Parcels
  express-api/src/controllers/tools/toolsSchema.ts
  express-api/src/notificationTemplates/ErpNotificationOwningAgency30Day.njk
  express-api/src/notificationTemplates/ErpNotificationOwningAgency60Day.njk
  express-api/src/notificationTemplates/ErpNotificationOwningAgency90Day.njk
  express-api/src/notificationTemplates/ErpNotificationParentAgency30Day.njk
  express-api/src/notificationTemplates/ErpNotificationParentAgency60Day.njk
  express-api/src/notificationTemplates/ErpNotificationParentAgency90Day.njk
  express-api/src/notificationTemplates/ErpNotificationPurchasingAgency30Day.njk
  express-api/src/notificationTemplates/ErpNotificationPurchasingAgency60Day.njk
  express-api/src/notificationTemplates/ErpNotificationPurchasingAgency90Day.njk
  express-api/src/notificationTemplates/NewPropertiesOnERP.njk
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/typeorm/Entities/Parcel.ts
  express-api/src/typeorm/Migrations/1724108452907-RemoveLegalLandDescription.ts
  express-api/src/typeorm/Migrations/1724169663927-RemoveLegalDescriptionLineFromTemplates.ts
  express-api/tests/integration/parcels/parcels.test.ts
  express-api/tests/integration/tools/tools.test.ts
  express-api/tests/testUtils/factories.ts
  react-app/src/components/property/AddProperty.tsx
  react-app/src/components/property/PropertyForms.tsx
  react-app/src/hooks/api/useParcelsApi.ts
Labels: Express

#2634 PIMS-1981: Update @typescript-eslint/parser from version 7.18.0 to 8.1.0 in express-api
  express-api/package.json
  express-api/src/controllers/notifications/notificationsController.ts
  express-api/src/controllers/notifications/notificationsSchema.ts
  express-api/src/middleware/keycloak/keycloakOptions.ts
  express-api/src/services/keycloak/keycloakService.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/tests/unit/middleware/keycloak/keycloakOptions.test.ts
Labels: Dependencies, Express

#2638 PIMS-1975/PIMS-1974: Updated eslint-plugin and eslint parser from 7.18.0 to 8.1.0 in react-app
  react-app/.eslintrc.cjs
  react-app/package.json
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/KeywordSearch.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
Labels: Dependencies

#2613 PIMS-1954 Workflow Update & Table Drops
  express-api/src/constants/projectWorkflow.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/controllers/projects/projectsSchema.ts
  express-api/src/controllers/tools/toolsSchema.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Entities/Project.ts
  express-api/src/typeorm/Entities/ProjectNumber.ts
  express-api/src/typeorm/Entities/ProjectReport.ts
  express-api/src/typeorm/Entities/ProjectStatusHistory.ts
  express-api/src/typeorm/Entities/ProjectStatusTransition.ts
  express-api/src/typeorm/Entities/Workflow.ts
  express-api/src/typeorm/Entities/WorkflowProjectStatus.ts
  express-api/src/typeorm/Migrations/1723752428732-DropOldTables.ts
  express-api/src/typeorm/entitiesIndex.ts
  express-api/tests/integration/projects/projects.test.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/hooks/api/useLookupApi.ts
  react-app/src/hooks/api/useProjectsApi.ts
Labels: Express

#2641 PIMS-2002 Properties Export
  express-api/src/services/properties/propertiesServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
Labels: Express

#2625 BulkUpload Fixes
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/typeorm/Entities/ImportResult.ts
  express-api/src/typeorm/Migrations/1724454425646-AddMessageToImport.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  react-app/src/components/fileHandling/FileUploadArea.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/pages/BulkUpload.tsx
Labels: Express

#2648 Swagger Dependency Move
  express-api/package.json
Labels: Dependencies, Express

#2650 Swagger Fix #2
  express-api/Dockerfile
Labels: Docker, Express
