Repository bcgov/PIMS, pull requests merged in 2024-09, with the labels that each got.

#2639 PIMS-1955 Entity Updates
  express-api/src/controllers/projects/projectsSchema.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/keycloak/keycloakService.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/services/users/usersServices.ts
  express-api/src/typeorm/Entities/Building.ts
  express-api/src/typeorm/Entities/Parcel.ts
  express-api/src/typeorm/Entities/Project.ts
  express-api/src/typeorm/Entities/Role.ts
  express-api/src/typeorm/Entities/User.ts
  express-api/src/typeorm/Entities/abstractEntities/Property.ts
  express-api/src/typeorm/Entities/views/MapPropertiesView.ts
  express-api/src/typeorm/Migrations/1724341960306-DropUnusedColumns.ts
  express-api/tests/integration/parcels/parcels.test.ts
  express-api/tests/testUtils/factories.ts
  react-app/src/components/property/AddProperty.tsx
  react-app/src/interfaces/IProperty.ts
  react-app/src/pages/BulkUpload.tsx
Labels: Express

#2645 PIMS-1559: Update eslint from 8.57.0 to version 9.9.0 in express-api
  express-api/.eslintrc.cjs
  express-api/.prettierrc.cjs
  express-api/eslint.config.mjs
  express-api/package.json
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/utilities/helperFunctions.ts
  express-api/tests/unit/controllers/notifications/notificationsController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  express-api/tests/unit/services/ches/chesServices.test.ts
  express-api/tests/unit/services/geocoder/geocoderService.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
Labels: Dependencies, Express

#2649 PIMS-1557: Update eslint from version 8.57.0 to 9.9.0 in react-app
  react-app/.eslintrc.cjs
  react-app/.prettierrc.cjs
  react-app/eslint.config.mjs
  react-app/package.json
  react-app/src/contexts/snackbarContext.tsx
  react-app/src/pages/DevZone.tsx
Labels: Dependencies

#2655 Updating how Fiscal and Evaluation Values are Updated/ Added with Bulk Upload
  express-api/src/services/properties/propertiesServices.ts
Labels: Express

#2659 PIMS-1992: Update @mui/x-data-grid from version 7.12.0 to 7.13.0 in react-app
  react-app/package.json
Labels: Dependencies

#2660 PIMS-1993: Update @mui/x-date-pickers from version 7.12.0 to 7.13.0 in react-app
  react-app/package.json
Labels: Dependencies

#2658 PIMS-2021: Update @types/node from version 22.3.0 to 22.5.0 in express-api
  express-api/package.json
Labels: Dependencies, Express

#2661 PIMS-2016/2015: Update @mui/material and @mui/icons-material from version 5.16.0 to 6.0.2 in react-app
  react-app/package.json
  react-app/src/components/layout/Footer.test.tsx.snap
Labels: Dependencies

#2640 PIMS-2000: Make non-optional checkboxes mandatory
  express-api/src/typeorm/Migrations/1724686432998-UpdateTaskStatus.ts
  react-app/src/components/form/DateFormField.tsx
  react-app/src/components/form/SingleSelectBoxFormField.tsx
  react-app/src/components/projects/ProjectDialog.tsx
Labels: Express

#2666 PIMS-2018: Update @testing-library/jest-dom from version 6.4.2 to 6.5.0 in react-app
  react-app/package.json
Labels: Dependencies

#2667 PIMS-2017: Update react-hook-form from version 7.52.0 to 7.53.0 in react-app
  react-app/package.json
Labels: Dependencies

#2677 PIMS-2086: Remove getPIDs function
  express-api/src/controllers/tools/toolsController.ts
  express-api/src/routes/tools.swagger.yaml
  express-api/src/routes/toolsRouter.ts
  express-api/src/services/geocoder/geocoderService.ts
  express-api/tests/unit/controllers/tools/toolsController.test.ts
  express-api/tests/unit/services/geocoder/geocoderService.test.ts
Labels: Express

#2680 PIMS-2087: Update express and remove body-parser
  express-api/package.json
Labels: Dependencies, Express

#2675 PIMS-2027 BCSC Provider Options
  express-api/src/constants/config.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/routes/lookup.swagger.yaml
  express-api/src/typeorm/Entities/User.ts
  express-api/src/typeorm/Migrations/1726615038425-KeycloakUserIdType.ts
  react-app/src/components/users/UserDetail.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/hooks/api/useLookupApi.ts
  react-app/src/pages/AccessRequest.tsx
  react-app/src/utilities/helperFunctions.ts
Labels: Express

#2679 PIMS-2082 Backend Authorization Updates
  express-api/src/constants/roles.ts
  express-api/src/controllers/administrativeAreas/administrativeAreasController.ts
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/controllers/notifications/notificationsController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/controllers/reports/reportsController.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/express.ts
  express-api/src/middleware/activeUserCheck.ts
  express-api/src/middleware/userAuthCheck.ts
  express-api/src/routes/administrativeAreasRouter.ts
  express-api/src/routes/agenciesRouter.ts
  express-api/src/routes/buildingsRouter.ts
  express-api/src/routes/ltsaRouter.ts
  express-api/src/routes/notificationsRouter.ts
  express-api/src/routes/parcelsRouter.ts
  express-api/src/routes/projectsRouter.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/src/routes/toolsRouter.ts
  express-api/src/routes/usersRouter.ts
  express-api/src/services/administrativeAreas/administrativeAreaSchema.ts
  express-api/src/services/agencies/agencySchema.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/utilities/authorizationChecks.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/administrativeAreas/administrativeAreasController.test.ts
  express-api/tests/unit/controllers/agencies/agenciesController.test.ts
  express-api/tests/unit/controllers/buildings/buildingsController.test.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
  express-api/tests/unit/controllers/ltsa/ltsaController.test.ts
  express-api/tests/unit/controllers/notifications/notificationsController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  express-api/tests/unit/middleware/activeUserCheck.test.ts
  express-api/tests/unit/middleware/userAuthCheck.test.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
  express-api/tests/unit/services/ches/chesServices.test.ts
  express-api/tests/unit/services/notifications/notificationServices.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  express-api/tests/unit/utilities/authorizationChecks.test.ts
Labels: Express

#2685 PIMS-2081 Frontend Authorization Changes
  react-app/src/App.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/components/map/controls/FilterControl.tsx
  react-app/src/components/map/parcelPopup/ParcelPopup.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/projects/ProjectForms.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/components/users/UserDetail.tsx
  react-app/src/constants/roles.ts
  react-app/src/guards/AuthRouteGuard.tsx
  react-app/src/hooks/api/useUserAgencies.ts
  react-app/src/hooks/usePimsUser.ts
  react-app/src/pages/AccessRequest.tsx
Labels: React

#2686 PIMS-2090/2091/2092/2093: Update @mui/material,@mui/icons-material,@mui/x-data-grid,@mui/x-date-pickers to the latest versions
  react-app/package.json
Labels: Dependencies, React

#2687 PIMS-2095: Update eslint from version 9.9.0 to 9.10.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2688 PIMS-2096: Update eslint-plugin-react from version 7.35.0 to 7.36.1 in react-app
  react-app/package.json
Labels: Dependencies, React

#2684 PIMS-2105 Bump Node Image Versions
  express-api/Dockerfile
  react-app/Dockerfile
Labels: React, Docker, Express

#2689 PIMS-2097: Update typescript from version 5.5.3 to 5.6.2 in react-app
  react-app/package.json
Labels: Dependencies, React

#2690 PIMS-2094: Update typescript-eslint from version 8.4.0 to 8.6.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2676 PIMS-2083 Remove Keycloak Roles Code
  express-api/package.json
  express-api/src/middleware/keycloak/keycloakOptions.ts
  express-api/src/server.ts
  express-api/src/services/keycloak/keycloakService.ts
  express-api/src/services/users/usersServices.ts
  express-api/src/utilities/cronJobs/syncKeycloakRoles.ts
  express-api/tests/unit/services/keycloak/keycloakService.test.ts
  express-api/tests/unit/services/users/usersServices.test.ts
  express-api/tests/unit/utilities/cronJobs/syncKeycloakRoles.test.ts
Labels: Dependencies, Tests, Express

#2692 PIMS-2100 Update faker-js to 9.0.1
  express-api/package.json
  express-api/tests/integration/notifications/notifications.test.ts
  express-api/tests/integration/tools/tools.test.ts
Labels: Dependencies, Tests, Express

#2693 Add Dockerfile for OWASP ZAP tool
  tools/owasp/Dockerfile
Labels: Docker

#2694 Documentation-related changes
  database/dbdiagram_source
  express-api/src/typeorm/utilities/helperScripts/migrationScript.sh
Labels: Express

#2691 PIMS-2089 TypeScript & ESLint
  express-api/package.json
  express-api/src/constants/networking.ts
Labels: Dependencies, Express

#2695 PIMS-2085: Add the required option to DatePicker
  react-app/src/components/form/DateFormField.tsx
Labels: React

#2696 PIMS-2028 Readme Updates
  .env-template
  .gitattributes
  .prettierignore
  .prettierrc.json
  README.md
  express-api/README.md
  react-app/README.md
Labels: Documentation, React, Express

#2703 PIMS-2113: Update eslint from version 9.10.0 to 9.11.1 in react-app
  react-app/package.json
Labels: Dependencies, React

#2707 PIMS-2115: Update pg from version 8.12.0 to 8.13.0 in express-api
  express-api/package.json
Labels: Dependencies, Express

#2706 PIMS-2111: Update @mui/x-date-pickers from version 7.17.0 to 7.18.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2704 PIMS-2112: Update typescript-eslint from version 8.6.0 to 8.7.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2705 PIMS-2110: Update @mui/x-data-grid from version 7.17.0 to 7.18.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2702 PIMS-1960: Allow Filter by Workflow Group in Projects
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/table/DataTable.tsx
Labels: React
