Repository bcgov/PIMS, pull requests merged in 2024-10, with the labels that each got.

#2701 PIMS-2107 Email Field Rework
  express-api/src/controllers/users/usersController.ts
  express-api/src/services/users/usersServices.ts
  express-api/src/utilities/helperFunctions.ts
  express-api/tests/unit/services/users/usersServices.test.ts
  express-api/tests/unit/utilities/helperFunctions.test.ts
  react-app/package.json
  react-app/src/App.test.tsx
  react-app/src/components/form/AutocompleteField.test.tsx
  react-app/src/components/layout/Footer.test.tsx
  react-app/src/components/layout/Footer.test.tsx.snap
  react-app/src/components/users/UserDetail.tsx
  react-app/src/pages/AccessRequest.tsx
  react-app/src/utilities/helperFunctions.ts
Labels: Dependencies, React, Tests, Express

#2711 PIMS-2122: Update typescript-eslint from version 8.7.0 to 8.8.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2712 PIMS-2123: Update eslint-plugin-react from version 7.36.1 to 7.37.1 in react-app
  react-app/package.json
Labels: Dependencies, React

#2713 PIMS-2128: Update eslint from version 9.10.0 to 9.11.1 in express-api
  express-api/package.json
Labels: Dependencies, Express

#2714 PIMS-2129: Update typescript-eslint from version 8.6.0 to 8.8.0 in express-api
  express-api/package.json
Labels: Dependencies, Express

#2700 PIMS-2117 Auth Header Bug
  express-api/package.json
  react-app/package.json
  react-app/src/App.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/components/map/controls/FilterControl.tsx
  react-app/src/components/map/parcelPopup/ParcelPopup.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/projects/ProjectForms.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/components/users/UserDetail.tsx
  react-app/src/constants/config.ts
  react-app/src/contexts/authContext.tsx
  react-app/src/contexts/configContext.tsx
  react-app/src/contexts/lookupContext.tsx
  react-app/src/contexts/userContext.tsx
  react-app/src/guards/AuthRouteGuard.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/hooks/api/useUserAgencies.ts
  react-app/src/hooks/useFetch.ts
  react-app/src/hooks/usePimsApi.ts
  react-app/src/hooks/usePimsUser.ts
  react-app/src/pages/AccessRequest.tsx
  react-app/src/pages/Home.tsx
  react-app/src/utilities/helperFunctions.ts
Labels: Dependencies, React, Express

#2720 PIMS-2127: Update @types/node from version 22.6.1 to 22.7.4 in express-api
  express-api/package.json
Labels: Dependencies, Express

#2719 PIMS-2126: Update @eslint/js from version 9.10.0 to 9.11.1 in express-api
  express-api/package.json
Labels: Dependencies, Express

#2722 PIMS-2134 Export Tables with Dates
  express-api/.gitignore
  react-app/package.json
  react-app/src/components/adminAreas/AdministrativeAreasTable.tsx
  react-app/src/components/agencies/AgencyTable.tsx
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/pages/BulkUpload.tsx
  react-app/src/utilities/downloadExcelFile.ts
  react-app/src/utilities/helperFunctions.ts
Labels: Dependencies, React

#2723 PIMS-2135 Bulk Upload Worker Bug
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/typeorm/Entities/User.ts
  react-app/src/pages/BulkUpload.tsx
Labels: React, Express

#2727 PIMS-2132: Fields included in the notification emails
  express-api/src/notificationTemplates/ErpNotificationOwningAgency30Day.njk
  express-api/src/notificationTemplates/ErpNotificationOwningAgency60Day.njk
  express-api/src/notificationTemplates/ErpNotificationOwningAgency90Day.njk
  express-api/src/notificationTemplates/ErpNotificationParentAgency30Day.njk
  express-api/src/notificationTemplates/ErpNotificationParentAgency60Day.njk
  express-api/src/notificationTemplates/ErpNotificationParentAgency90Day.njk
  express-api/src/notificationTemplates/ErpNotificationPurchasingAgency30Day.njk
  express-api/src/notificationTemplates/ErpNotificationPurchasingAgency60Day.njk
  express-api/src/notificationTemplates/ErpNotificationPurchasingAgency90Day.njk
  express-api/src/notificationTemplates/NewDisposalProjectSubmitted.njk
  express-api/src/notificationTemplates/NewPropertiesOnERP.njk
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Migrations/1728680019519-AddAdminAreaToERPNotifications.ts
Labels: Express

#2726 PIMS-1946 Cancel/Stop Notifications
  express-api/src/constants/switches.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
Labels: Tests, Express

#2728 PIMS-2136 Filter Scroll
  react-app/src/components/map/clusterPopup/ClusterPopup.tsx
  react-app/src/components/map/controls/FilterControl.tsx
  react-app/src/components/map/sidebar/MapSidebar.tsx
Labels: React

#2730 CHES Notifications & Logger Adjustment
  express-api/src/services/ches/chesServices.ts
  express-api/src/utilities/winstonLogger.ts
  express-api/tests/unit/services/ches/chesServices.test.ts
Labels: Tests, Express

#2733 PIMS-2036: Map Filter - ERP Projects
  express-api/src/controllers/properties/propertiesSchema.ts
  express-api/src/services/properties/propertiesServices.ts
  react-app/src/components/form/ToggleSwitch.tsx
  react-app/src/components/map/controls/FilterControl.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
Labels: React, Express

#2734 PIMS-1869 BCA XREF
  express-api/src/controllers/tools/toolsController.ts
  express-api/src/express.ts
  express-api/src/routes/tools.swagger.yaml
  express-api/src/routes/toolsRouter.ts
  express-api/src/typeorm/Entities/JurRollPidXref.ts
  express-api/src/typeorm/Migrations/1729627184522-CreateXrefTable.ts
  express-api/src/typeorm/entitiesIndex.ts
  express-api/tests/unit/controllers/tools/toolsController.test.ts
  react-app/src/components/map/parcelPopup/ParcelPopup.tsx
  react-app/src/hooks/api/useBCAssessmentApi.ts
  react-app/src/hooks/usePimsApi.ts
Labels: React, Tests, Express

#2736 PIMS-2140: Update typescript-eslint from version 8.8.0 to 8.11.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2737 PIMS-2141: Update @mui/x-data-grid from version 7.18.0 to 7.21.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2738 PIMS-2142: Update @mui/x-date-pickers from version 7.18.0 to 7.21.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2739 PIMS-2144: Update react-router-dom from version 6.26.0 to 6.27.0 in react-app
  react-app/package.json
Labels: Dependencies, React

#2740 PIMS-2143: Update react-error-boundary from version 4.0.12 to 4.1.2 in react-app
  react-app/package.json
Labels: Dependencies, React

#2741 PIMS- 2145: Update winston from version 3.14.2 to 3.15.0 in express-api
  express-api/package.json
Labels: Dependencies, Express
