Repository bcgov/PIMS, pull requests merged in 2024-03, with the labels that each got.

#2224 Fix image build and push typo
  .github/workflows/DEV-Api-V2-image-build.yml
Labels: Github Actions

#2219 PIMS-1334 Create update parcel service
  express-api/src/services/parcels/parcelServices.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
Labels: Express

#2232 PIMS-1398 Keycloak Packages Update
  express-api/package.json
  react-app/package.json
Labels: Dependencies, Express

#2231 Vault Implementation into Pipeline
  openshift/templates/api-v2-dc-template.yaml
Labels: OpenShift

#2233 Changing Application Group For V2 API and APP
  openshift/templates/api-v2-dc-template.yaml
  openshift/templates/app-v2-dc-template.yaml
Labels: OpenShift

#2234 PIMS-1367/1399/1400 Bug Round Up
  backend/dal/Services/Concrete/BuildingService.cs
  backend/dal/Services/Concrete/ParcelService.cs
  backend/dal/Services/Concrete/PropertyService.cs
  frontend/src/components/maps/leaflet/InventoryLayer.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/components/maps/types.ts
  frontend/src/features/properties/filter/PropertyFilter.tsx
  frontend/src/features/properties/filter/__snapshots__/PropertyFilter.test.tsx.snap
  frontend/src/hooks/useMyAgencies.ts
Labels: React, DotNet, Tests

#2230 PIMS-1378 Username Fix
  tools/usernameUpdater/.env-template
  tools/usernameUpdater/.gitignore
  tools/usernameUpdater/README.md
  tools/usernameUpdater/package.json
  tools/usernameUpdater/src/UserEntity.ts
  tools/usernameUpdater/src/appDataSource.ts
  tools/usernameUpdater/src/updateUsernames.ts
  tools/usernameUpdater/tsconfig.json
Labels: Documentation, Dependencies

#2243 Add BCA_LAYER_URL env variable to dc template
  openshift/templates/app-dc-template.yaml
Labels: OpenShift

#2244 Corrected vite env with prefix
  openshift/templates/app-dc-template.yaml
Labels: OpenShift

#2246 PIMS-1407 react-app npm updates
  react-app/package.json
Labels: Dependencies

#2247 PIMS-1408 express-api npm updates
  express-api/package.json
Labels: Dependencies, Express

#2238 PIMS-1373 ParcelBuildings Restructure Entities
  express-api/package.json
  express-api/src/controllers/buildings/IBuilding.ts
  express-api/src/controllers/parcels/IParcel.ts
  express-api/src/controllers/properties/IProperty.ts
  express-api/src/typeorm/Entities/AccessRequest.ts
  express-api/src/typeorm/Entities/Agency.ts
  express-api/src/typeorm/Entities/Building.ts
  express-api/src/typeorm/Entities/Parcel.ts
  express-api/src/typeorm/Entities/ParcelBuilding.ts
  express-api/src/typeorm/Entities/abstractEntities/BaseEntity.ts
  express-api/src/typeorm/Entities/abstractEntities/Property.ts
  express-api/src/typeorm/Entities/views/PropertyView.ts
  express-api/src/typeorm/Migrations/1710178740326-ParcelBuildingChange.ts
  express-api/src/typeorm/Migrations/1710191053571-AddBuildingRelationsView.ts
  express-api/src/typeorm/entitiesIndex.ts
  express-api/tests/integration/parcels/parcels.test.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/buildings/buildingsController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  express-api/tests/unit/services/users/usersServices.test.ts
Labels: Dependencies, Express

#2248 PIMS-1431 Evaluation/Fiscal Key Migration
  express-api/src/typeorm/Migrations/1710351144794-EvaluationFiscalKeys.ts
Labels: Express

#2242 PIMS-1370: CHES Service
  express-api/src/constants/config.ts
  express-api/src/constants/credentials.ts
  express-api/src/constants/urls.ts
  express-api/src/controllers/tools/toolsController.ts
  express-api/src/controllers/tools/toolsSchema.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/routes/toolsRouter.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/utilities/decodeJWT.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/tools/toolsController.test.ts
  express-api/tests/unit/services/ches/chesServices.test.ts
Labels: Express

#2249 PIMS-1434: Parcel Controller
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/routes/parcelsRouter.ts
  express-api/src/services/parcels/parcelSchema.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
Labels: Express

#2254 PIMS-1353 No Disabled Agencies
  express-api/src/services/agencies/agencySchema.ts
  express-api/tests/unit/controllers/agencies/agencyController.test.ts
  react-app/src/hooks/api/useAgencyApi.ts
  react-app/src/hooks/api/useGroupedAgenciesApi.ts
Labels: Express

#2236 BC Assessment Popup
  frontend/src/components/bcAssessment/BCADialog.tsx
  frontend/src/components/ltsa/TitleDetails.tsx
  frontend/src/components/maps/leaflet/LayerPopup/LayerPopupContent.tsx
  frontend/src/components/maps/leaflet/LayerPopup/constants/index.tsx
  frontend/src/components/maps/leaflet/Map.tsx
  frontend/src/utils/formatCurrency.ts
  frontend/tsconfig.json
  openshift/templates/app-dc-template.yaml
Labels: React, OpenShift

#2226 PIMS-1345/1435: Add Property Form
  react-app/package.json
  react-app/src/components/dialog/DeleteDialog.tsx
  react-app/src/components/form/BoxedIconRadio.tsx
  react-app/src/components/form/DateFormField.tsx
  react-app/src/components/form/SelectFormField.tsx
  react-app/src/components/form/TextFormField.tsx
  react-app/src/components/property/AddProperty.tsx
  react-app/src/components/users/UserDetail.tsx
  react-app/src/pages/AccessRequest.tsx
  react-app/src/pages/DevZone.tsx
  react-app/src/themes/appTheme.ts
Labels: Dependencies

#2261 Bug Fix: Expand Agency Public Schema
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/src/services/agencies/agencySchema.ts
  express-api/tests/unit/controllers/agencies/agencyController.test.ts
Labels: Express

#2263 PIMS-1441 Update LastLogin
  express-api/src/middleware/keycloak/keycloakOptions.ts
  express-api/tests/unit/middleware/keycloak/keycloakOptions.test.ts
Labels: Express

#2265 PIMS-1445: Lookup Endpoints for Properties
  express-api/src/controllers/admin/index.ts
  express-api/src/controllers/administrativeAreas/IAdministrativeArea.ts
  express-api/src/controllers/administrativeAreas/administrativeAreasController.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/lookup/lookupSchema.ts
  express-api/src/express.ts
  express-api/src/routes/adminRouter.ts
  express-api/src/routes/administrativeAreasRouter.ts
  express-api/src/routes/index.ts
  express-api/src/routes/lookupRouter.ts
  express-api/src/services/administrativeAreas/administrativeAreaSchema.ts
  express-api/src/services/administrativeAreas/administrativeAreasServices.ts
  express-api/tests/integration/admin/administrativeAreas/administrativeAreas.test.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/administrativeAreas/administrativeAreasController.test.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
  express-api/tests/unit/services/administrativeAreas/adminstrativeAreasService.test.ts
Labels: Express

#2210 PIMS-1349: Create Building Service
  express-api/src/services/buildings/buildingSchema.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
Labels: Express

#2266 PIMS-1472 Controller Error Wrapper
  express-api/src/controllers/admin/roles/rolesController.ts
  express-api/src/controllers/admin/users/usersController.ts
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/controllers/reports/reportsController.ts
  express-api/src/controllers/tools/toolsController.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/routes/adminRouter.ts
  express-api/src/routes/administrativeAreasRouter.ts
  express-api/src/routes/agenciesRouter.ts
  express-api/src/routes/buildingsRouter.ts
  express-api/src/routes/healthRouter.ts
  express-api/src/routes/lookupRouter.ts
  express-api/src/routes/ltsaRouter.ts
  express-api/src/routes/notificationsRouter.ts
  express-api/src/routes/parcelsRouter.ts
  express-api/src/routes/projectsRouter.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/src/routes/reportsRouter.ts
  express-api/src/routes/toolsRouter.ts
  express-api/src/routes/usersRouter.ts
  express-api/src/services/keycloak/keycloakService.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/utilities/controllerErrorWrapper.ts
  express-api/tests/unit/controllers/admin/roles/rolesController.test.ts
  express-api/tests/unit/controllers/admin/users/usersController.test.ts
  express-api/tests/unit/controllers/agencies/agencyController.test.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/controllers/tools/toolsController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
Labels: Express

#2264 PIMS-1467: parcel hooks in useParcelApi
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/express.ts
  express-api/src/routes/parcelsRouter.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  react-app/src/components/property/ParcelNetValueTable.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/hooks/api/useParcelsApi.ts
  react-app/src/hooks/usePimsApi.ts
  react-app/src/interfaces/IBaseEntity.ts
  react-app/src/interfaces/IProperty.ts
  react-app/src/pages/DevZone.tsx
Labels: Express

#2268 PIMS-1474: Save Evaluations and Fiscals alongside Parcels
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/typeorm/Entities/Building.ts
  express-api/src/typeorm/Entities/BuildingEvaluation.ts
  express-api/src/typeorm/Entities/BuildingFiscal.ts
  express-api/src/typeorm/Entities/Parcel.ts
  express-api/src/typeorm/Entities/ParcelEvaluation.ts
  express-api/src/typeorm/Entities/ParcelFiscal.ts
  express-api/src/typeorm/Entities/abstractEntities/Evaluation.ts
  express-api/src/typeorm/Migrations/1711054015973-EvaluationYearIntInsteadofDate.ts
  express-api/src/typeorm/Migrations/1711131072177-FiscalEvaluationIndexes.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
Labels: Express

#2273 PIMS-1489 SSO_AUTH_SERVER_URL Update
  .env-template
  openshift/templates/api-v2-dc-template.yaml
Labels: OpenShift

#2271 PIMS-1442: Create Building Controller
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/routes/buildingsRouter.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/tests/unit/controllers/buildings/buildingsController.test.ts
Labels: Express

#2267 PIMS-1470: Create hooks for building services
  express-api/src/routes/buildingsRouter.ts
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/hooks/api/useBuildingsApi.ts
  react-app/src/hooks/api/useParcelsApi.ts
  react-app/src/hooks/usePimsApi.ts
  react-app/src/interfaces/IEvaluationKey.ts
  react-app/src/interfaces/IFiscalKey.ts
Labels: Express

#2272 PIMS-1479 Remove Users from /admin
  express-api/src/controllers/admin/accessRequests/IAccessRequest.ts
  express-api/src/controllers/admin/accessRequests/IAccessRequestList.ts
  express-api/src/controllers/admin/accessRequests/accessRequestsController.ts
  express-api/src/controllers/admin/claims/IClaim.ts
  express-api/src/controllers/admin/claims/claimsController.ts
  express-api/src/controllers/admin/index.ts
  express-api/src/controllers/admin/users/usersController.ts
  express-api/src/controllers/admin/users/usersSchema.ts
  express-api/src/controllers/index.ts
  express-api/src/controllers/roles/IRole.ts
  express-api/src/controllers/roles/rolesController.ts
  express-api/src/controllers/roles/rolesSchema.ts
  express-api/src/controllers/users/IUser.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/controllers/users/usersSchema.ts
  express-api/src/express.ts
  express-api/src/routes/adminRouter.ts
  express-api/src/routes/index.ts
  express-api/src/routes/rolesRouter.ts
  express-api/src/routes/usersRouter.ts
  express-api/src/services/admin/usersServices.ts
  express-api/src/services/keycloak/keycloakService.ts
  express-api/src/services/roles/rolesServices.ts
  express-api/src/services/users/usersServices.ts
  express-api/tests/integration/admin/accessRequests/accessRequests.test.ts
  express-api/tests/integration/admin/roles/roles.test.ts
  express-api/tests/integration/admin/users/users.test.ts
  express-api/tests/integration/administrativeAreas/administrativeAreas.test.ts
  express-api/tests/integration/agencies/agencies.test.ts
  express-api/tests/integration/roles/roles.test.ts
  express-api/tests/integration/users/users.test.ts
  express-api/tests/unit/controllers/admin/accessRequests/accessRequestController.test.ts
  express-api/tests/unit/controllers/admin/claims/claimsController.test.ts
  express-api/tests/unit/controllers/admin/users/usersController.test.ts
  express-api/tests/unit/controllers/roles/rolesController.test.ts
  express-api/tests/unit/controllers/users/usersController.test.ts
  express-api/tests/unit/services/admin/usersServices.test.ts
  express-api/tests/unit/services/keycloak/keycloakService.test.ts
  express-api/tests/unit/services/roles/rolesServices.test.ts
  express-api/tests/unit/services/users/usersServices.test.ts
  react-app/src/App.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/hooks/api/useRolesApi.ts
  react-app/src/hooks/api/useUsersApi.ts
  react-app/src/pages/UsersManagement.tsx
Labels: Express

#2274 PIMS-1403 Agency Table
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/src/services/agencies/agencyServices.ts
  react-app/src/App.tsx
  react-app/src/components/agencies/AgencyTable.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/constants/roles.ts
  react-app/src/hooks/api/useAgencyApi.ts
  react-app/src/pages/AgencyManagement.tsx
  react-app/src/themes/appTheme.ts
Labels: Express

#2281 PIMS-1450 react-app updates
  react-app/package.json
Labels: Dependencies

#2282 PIMS-1451-express-api-updates
  express-api/package.json
Labels: Dependencies, Express

#2283 PIMS-1404 Agency Details
  express-api/src/controllers/agencies/agenciesController.ts
  express-api/src/services/agencies/agencyServices.ts
  express-api/src/typeorm/Entities/Agency.ts
  express-api/tests/unit/controllers/agencies/agenciesController.test.ts
  react-app/src/App.tsx
  react-app/src/components/agencies/AgencyDetails.tsx
  react-app/src/components/display/DataCard.tsx
  react-app/src/components/form/AutocompleteFormField.tsx
  react-app/src/components/form/EmailChipFormField.tsx
  react-app/src/components/form/SelectFormField.tsx
  react-app/src/components/form/SingleSelectBoxFormField.tsx
  react-app/src/constants/strings.ts
  react-app/src/hooks/api/useAgencyApi.ts
  react-app/src/hooks/api/useGroupedAgenciesApi.ts
  react-app/src/pages/AgencyManagement.tsx
Labels: Express

#2287 PIMS-1507: Geocoder Controller
  express-api/src/controllers/tools/toolsController.ts
  express-api/src/services/geocoder/geocoderService.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/tools/toolsController.test.ts
  express-api/tests/unit/services/geocoder/geocoderService.test.ts
Labels: Express
