Repository bcgov/PIMS, pull requests merged in 2024-05, with the labels that each got.

#2348 PIMS-1622: Handle task array
  express-api/src/services/projects/projectsServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
Labels: Express

#2361 PIMS:1650 - Add GetToken endpoint for LTSA
  express-api/src/controllers/ltsa/ltsaController.ts
  express-api/src/services/ltsa/ltsaservice.ts
Labels: Express

#2362 PIMS-1368: Convert Notifications Templates to Nunjucks
  express-api/package.json
  express-api/src/express.ts
  express-api/src/notificationTemplates/AccessRequest.njk
  express-api/src/notificationTemplates/AccessRequestRPDMailbox.njk
  express-api/src/notificationTemplates/DisposalProjectApproved.njk
  express-api/src/notificationTemplates/DisposalProjectCancelled.njk
  express-api/src/notificationTemplates/DisposalProjectDenied.njk
  express-api/src/notificationTemplates/ErpNotificationOwningAgency30Day.njk
  express-api/src/notificationTemplates/ErpNotificationOwningAgency60Day.njk
  express-api/src/notificationTemplates/ErpNotificationOwningAgency90Day.njk
  express-api/src/notificationTemplates/ErpNotificationParentAgency30Day.njk
  express-api/src/notificationTemplates/ErpNotificationParentAgency60Day.njk
  express-api/src/notificationTemplates/ErpNotificationParentAgency90Day.njk
  express-api/src/notificationTemplates/ErpNotificationPurchasingAgency30Day.njk
  express-api/src/notificationTemplates/ErpNotificationPurchasingAgency60Day.njk
  express-api/src/notificationTemplates/ErpNotificationPurchasingAgency90Day.njk
  express-api/src/notificationTemplates/NewDisposalProjectSubmitted.njk
  express-api/src/notificationTemplates/NewPropertiesOnERP.njk
  express-api/src/notificationTemplates/ProjectSharedNoteChanged.njk
  express-api/src/typeorm/Migrations/1714520695197-TemplatesConvertedToNunjucks.ts
  express-api/src/typeorm/Migrations/Seeds/NotificationTemplates.sql
Labels: Dependencies, Express

#2359 PIMS-1540: Project Controller Update/Delete
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
Labels: Express

#2358 PIMS-1570 Excel Export Refine
  express-api/src/constants/projectRisk.ts
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/geocoder/geocoderUtils.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Entities/Project.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/buildings/buildingsController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
  express-api/tests/unit/services/geocoder/geocoderUtils.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  react-app/src/components/adminAreas/AdministrativeAreasTable.tsx
  react-app/src/components/agencies/AgencyTable.tsx
  react-app/src/components/projects/AddProject.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/projects/ProjectForms.tsx
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/constants/noteTypes.ts
  react-app/src/constants/projectTasks.ts
  react-app/src/constants/propertyTypes.ts
  react-app/src/hooks/api/useBuildingsApi.ts
  react-app/src/hooks/api/useParcelsApi.ts
  react-app/src/hooks/api/useProjectsApi.ts
Labels: Express

#2365 PIMS-1651/1652 Map Page
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/typeorm/Entities/views/BuildingRelationsView.ts
  express-api/src/typeorm/Entities/views/MapPropertiesView.ts
  express-api/src/typeorm/Migrations/1714761366641-UpdateViews.ts
  express-api/src/typeorm/entitiesIndex.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  react-app/package.json
  react-app/src/assets/markers/building-erp-highlight.png
  react-app/src/assets/markers/building-erp.png
  react-app/src/assets/markers/building-reg-highlight.png
  react-app/src/assets/markers/building-reg.png
  react-app/src/assets/markers/building-spl-highlight.png
  react-app/src/assets/markers/building-spl.png
  react-app/src/assets/markers/land-erp-highlight.png
  react-app/src/assets/markers/land-erp.png
  react-app/src/assets/markers/land-reg-highlight.png
  react-app/src/assets/markers/land-reg.png
  react-app/src/assets/markers/land-spl-highlight.png
  react-app/src/assets/markers/land-spl.png
  react-app/src/assets/markers/marker-blue-highlight.png
  react-app/src/assets/markers/marker-blue.png
  react-app/src/assets/markers/marker-green.png
  react-app/src/assets/markers/marker-green_highlight.png
  react-app/src/assets/markers/marker-icon-2x-blue.png
  react-app/src/assets/markers/marker-icon-2x-green.png
  react-app/src/assets/markers/marker-icon-2x-red.png
  react-app/src/assets/markers/marker-icon-2x-violet.png
  react-app/src/assets/markers/marker-purple-highlight.png
  react-app/src/assets/markers/marker-purple.png
  react-app/src/assets/markers/marker-red-highlight.png
  react-app/src/assets/markers/marker-red.png
  react-app/src/assets/markers/subdiv-erp-highlight.png
  react-app/src/assets/markers/subdiv-erp.png
  react-app/src/assets/markers/subdiv-reg-highlight.png
  react-app/src/assets/markers/subdiv-reg.png
  react-app/src/assets/markers/subdiv-spl-highlight.png
  react-app/src/assets/markers/subdiv-spl.png
  react-app/src/components/map/ClusteredInventory.tsx
  react-app/src/components/map/InventoryLayer.tsx
  react-app/src/components/map/MapLayers.tsx
  react-app/src/components/map/ParcelMap.tsx
  react-app/src/components/map/ParcelPopup.tsx
  react-app/src/components/map/markers/propertyPins.ts
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/property/PropertyForms.tsx
  react-app/src/constants/classificationTypes.ts
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/pages/DevZone.tsx
Labels: Dependencies, Express

#2372 PIMS-1661 Property Marker Slideout
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelServices.ts
  react-app/src/components/map/InventoryLayer.tsx
  react-app/src/components/map/MapPropertyDetails.tsx
  react-app/src/components/map/ParcelMap.tsx
  react-app/src/components/map/markers/PropertyMarker.tsx
  react-app/src/components/map/markers/propertyPins.ts
  react-app/src/interfaces/IProperty.ts
  react-app/src/utilities/formatters.tsx
Labels: Express

#2370 PIMS-1623/1622: Handling project notifications and tasks
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  react-app/src/components/form/AutocompleteFormField.tsx
  react-app/src/components/form/SingleSelectBoxFormField.tsx
  react-app/src/components/projects/AddProject.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/projects/ProjectForms.tsx
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/hooks/api/useProjectsApi.ts
  react-app/src/pages/Forbidden.tsx
Labels: Express

#2377 PIMS-1628 Updates for express-pi
  express-api/package.json
Labels: Dependencies, Express

#2363 PIMS: 1656 & 1658 - Create getTitleSummary and createOrder endpoints for LTSA
  .env-template
  .github/workflows/api-jest-coverage.yaml
  express-api/src/constants/config.ts
  express-api/src/controllers/ltsa/ILtsaOrder.ts
  express-api/src/controllers/ltsa/ltsaController.ts
  express-api/src/services/ltsa/interfaces/ILtsaOrder.ts
  express-api/src/services/ltsa/interfaces/ILtsaTitleSummaryModel.ts
  express-api/src/services/ltsa/interfaces/ILtsaTokens.ts
  express-api/src/services/ltsa/ltsaServices.ts
  express-api/src/services/ltsa/ltsaservice.ts
  express-api/tests/integration/ltsa/getLtsa.test.ts
  express-api/tests/unit/controllers/ltsa/ltsaController.test.ts
  express-api/tests/unit/services/ltsa/ltsaService.test.ts
Labels: Github Actions, Express

#2378 PIMS-1627 Updating react-app Dependencies
  react-app/package.json
Labels: Dependencies

#2379 PIMS-1626 Updates frontend
  frontend/package.json
Labels: Dependencies, React

#2375 PIMS-1675 Replacing MarkerCluster with Supercluster
  express-api/src/controllers/properties/propertiesController.ts
  react-app/package.json
  react-app/src/components/map/ClusteredInventory.tsx
  react-app/src/components/map/InventoryLayer.tsx
  react-app/src/components/map/MapPropertyDetails.tsx
  react-app/src/components/map/ParcelMap.tsx
  react-app/src/components/map/clusterHelpers/Spiderfier.ts
  react-app/src/components/map/clusterHelpers/clusters.css
  react-app/src/components/map/markers/PropertyMarker.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
Labels: Dependencies, Express

#2381 PIMS-1683: Agency Responses API
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Entities/Project.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
Labels: Express

#2380 PIMS-1485 README Update
  .env-template
  .github/workflows/api-jest-coverage.yaml
  express-api/README.md
  express-api/package.json
  express-api/src/constants/urls.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/geocoder/geocoderService.ts
Labels: Documentation, Dependencies, Github Actions, Express

#2366 PIMS-1621 Projects Auth Check
  express-api/src/controllers/projects/projectsController.ts
  express-api/tests/unit/controllers/buildings/buildingsController.test.ts
  express-api/tests/unit/controllers/parcels/parcelsController.test.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  react-app/src/App.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/hooks/api/useProjectsApi.ts
Labels: Express

#2389 PIMS-1700: Submit Handler
  react-app/package.json
  react-app/src/components/adminAreas/AddAdministrativeArea.tsx
  react-app/src/components/adminAreas/AdministrativeAreaDetail.tsx
  react-app/src/components/agencies/AddAgency.tsx
  react-app/src/components/agencies/AgencyDetails.tsx
  react-app/src/components/dialog/ConfirmDialog.tsx
  react-app/src/components/dialog/DualActionButtons.tsx
  react-app/src/components/projects/AddProject.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/property/AddProperty.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/users/UserDetail.tsx
  react-app/src/hooks/api/useAdministrativeAreaApi.ts
  react-app/src/hooks/api/useAgencyApi.ts
  react-app/src/hooks/api/useBuildingsApi.ts
  react-app/src/hooks/api/useParcelsApi.ts
  react-app/src/hooks/api/useProjectsApi.ts
  react-app/src/hooks/api/useUsersApi.ts
  react-app/src/hooks/useDataLoader.ts
  react-app/src/hooks/useDataSubmitter.ts
  react-app/src/hooks/usePimsUser.ts
Labels: Dependencies

#2390 PIMS-1701: Fixing incorrect transaction behavior
  express-api/src/services/notifications/notificationServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/tests/unit/services/notifications/notificationServices.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
Labels: Express

#2392 PIMS-1655 Map Filter
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/properties/mapFilterSchema.ts
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/routes/lookupRouter.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/utilities/authorizationChecks.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
  react-app/src/App.tsx
  react-app/src/components/form/MultiselectFormField.tsx
  react-app/src/components/map/InventoryLayer.tsx
  react-app/src/components/map/ParcelMap.tsx
  react-app/src/components/map/controls/ControlsGroup.tsx
  react-app/src/components/map/controls/FilterControl.tsx
  react-app/src/components/map/parcelPopup/ParcelPopup.tsx
  react-app/src/components/map/parcelPopup/parcelPopup.css
  react-app/src/hooks/api/useLookupApi.ts
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/hooks/api/useUsersApi.ts
  react-app/src/pages/DevZone.tsx
Labels: Express

#2396 PIMS-1568 Leased Land Metadata
  express-api/src/services/buildings/buildingServices.ts
Labels: Express

#2400 PIMS-1703: Soft Delete Properties and Projects
  express-api/src/controllers/buildings/buildingsController.ts
  express-api/src/controllers/parcels/parcelsController.ts
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Entities/Project.ts
  express-api/src/typeorm/Entities/ProjectAgencyResponse.ts
  express-api/src/typeorm/Entities/ProjectNote.ts
  express-api/src/typeorm/Entities/ProjectProperty.ts
  express-api/src/typeorm/Entities/ProjectSnapshot.ts
  express-api/src/typeorm/Entities/ProjectStatusHistory.ts
  express-api/src/typeorm/Entities/ProjectTask.ts
  express-api/src/typeorm/Entities/abstractEntities/Evaluation.ts
  express-api/src/typeorm/Entities/abstractEntities/Fiscal.ts
  express-api/src/typeorm/Entities/abstractEntities/Property.ts
  express-api/src/typeorm/Entities/abstractEntities/SoftDeleteEntity.ts
  express-api/src/typeorm/Migrations/1716329528059-SoftDeleteProperties.ts
  express-api/src/typeorm/Migrations/1716330375361-SoftDeleteProjects.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  react-app/src/components/dialog/DeleteDialog.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/hooks/api/useBuildingsApi.ts
  react-app/src/hooks/api/useParcelsApi.ts
  react-app/src/hooks/api/useProjectsApi.ts
Labels: Express

#2401 PIMS-1598: Data Grid Hover
  express-api/src/controllers/properties/propertiesController.ts
  react-app/src/components/projects/AgencyResponseSearchTable.tsx
  react-app/src/components/projects/DisposalPropertiesSearchTable.tsx
  react-app/src/components/projects/DisposalPropertiesSimpleTable.tsx
  react-app/src/components/property/PropertyAssessedValueTable.tsx
  react-app/src/components/property/PropertyNetValueTable.tsx
  react-app/src/components/table/DataTable.tsx
Labels: Express

#2403 Vault ENVs - Template Update
  openshift/templates/api-v2-dc-template.yaml
Labels: OpenShift

#2404 Handle null email response
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/notifications/notificationServices.ts
Labels: Express

#2418 Argo CD deployment pattern
  .github/workflows/DEV-Api-V2-image-deploy.yml
  .github/workflows/DEV-App-V2-image-deploy.yml
Labels: Github Actions

#2420 Notification services query runner maxing out conn pool fix
  express-api/src/services/notifications/notificationServices.ts
  express-api/tests/unit/services/notifications/notificationServices.test.ts
Labels: Express

#2419 Update LTSA Tests
  express-api/src/services/ltsa/interfaces/ILtsaOrder.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/ltsa/ltsaController.test.ts
  express-api/tests/unit/services/ltsa/ltsaService.test.ts
Labels: Express

#2411 PIMS-1708: Notes Backend
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Entities/ProjectNote.ts
  express-api/src/typeorm/Migrations/1716854270095-ProjectNoteUniqueIndex.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  react-app/src/components/projects/ProjectDetail.tsx
Labels: Express

#2371 PIMS-1543: Unable to add a net book or assessed values when none exist
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/buildings/buildingService.test.ts
  express-api/tests/unit/services/parcels/parcelsService.test.ts
  react-app/src/components/form/DateFormField.tsx
  react-app/src/components/property/AddProperty.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyForms.tsx
  react-app/src/hooks/api/useBuildingsApi.ts
  react-app/src/hooks/api/useParcelsApi.ts
  react-app/src/utilities/helperFunctions.ts
Labels: Express

#2417 Pims-1686 frontend dependency updates
  frontend/package.json
Labels: Dependencies, React

#2414 PIMS-1688 Updates for express-api
  express-api/package.json
Labels: Dependencies, Express

#2406 PIMS-1593 NotOwned Column & PIMS-1601 Tenancy Field
  express-api/src/typeorm/Entities/Parcel.ts
  express-api/src/typeorm/Migrations/1716593062928-NotOwnedRemoval.ts
  express-api/tests/testUtils/factories.ts
  react-app/src/components/property/AddProperty.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyForms.tsx
  react-app/src/hooks/api/useParcelsApi.ts
Labels: Express

#2415 PIMS-1687 Updates for react-app
  react-app/package.json
Labels: Dependencies

#2412 PIMS-1596 Remove Sort Order Option
  express-api/src/typeorm/Entities/AdministrativeArea.ts
  express-api/src/typeorm/Entities/Agency.ts
  express-api/src/typeorm/Entities/BuildingConstructionType.ts
  express-api/src/typeorm/Entities/BuildingOccupantType.ts
  express-api/src/typeorm/Entities/BuildingPredominateUse.ts
  express-api/src/typeorm/Entities/NotificationTemplate.ts
  express-api/src/typeorm/Entities/ProjectRisk.ts
  express-api/src/typeorm/Entities/ProjectStatus.ts
  express-api/src/typeorm/Entities/ProjectType.ts
  express-api/src/typeorm/Entities/PropertyClassification.ts
  express-api/src/typeorm/Entities/PropertyType.ts
  express-api/src/typeorm/Entities/ReportType.ts
  express-api/src/typeorm/Entities/Role.ts
  express-api/src/typeorm/Entities/Task.ts
  express-api/src/typeorm/Entities/TierLevel.ts
  express-api/src/typeorm/Entities/User.ts
  express-api/src/typeorm/Entities/Workflow.ts
  express-api/src/typeorm/Entities/WorkflowProjectStatus.ts
  express-api/src/typeorm/Migrations/1716919102840-DefaultSortOrderIsDisabled.ts
  react-app/src/components/adminAreas/AddAdministrativeArea.tsx
  react-app/src/components/adminAreas/AdministrativeAreaDetail.tsx
  react-app/src/hooks/api/useAdministrativeAreaApi.ts
Labels: Express

#2423 PIMS-1713: Project Note Enumeration
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/lookup/lookupSchema.ts
  express-api/src/routes/lookupRouter.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Entities/NoteType.ts
  express-api/src/typeorm/Entities/ProjectNote.ts
  express-api/src/typeorm/Migrations/1717022772567-NoteTypeTable.ts
  express-api/src/typeorm/entitiesIndex.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
Labels: Express
