Repository bcgov/PIMS, pull requests merged in 2024-06, with the labels that each got.

#2427 PIMS-1716: Prompt for Project Notes
  express-api/src/services/projects/projectsServices.ts
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/hooks/api/useLookupApi.ts
  react-app/src/hooks/api/useProjectsApi.ts
Labels: Express

#2438 PIMS-1745 Map Sidebar Property List
  express-api/src/services/properties/propertiesServices.ts
  react-app/src/App.tsx
  react-app/src/components/layout/BaseLayout.tsx
  react-app/src/components/layout/Header.tsx
  react-app/src/components/map/InventoryLayer.tsx
  react-app/src/components/map/ParcelMap.tsx
  react-app/src/components/map/propertyRow/PropertyRow.tsx
  react-app/src/components/map/sidebar/MapSidebar.tsx
  react-app/src/components/property/ClassificationIcon.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/property/PropertyForms.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/utilities/formatters.tsx
Labels: Express

#2430 PIMS-1719: Send notifications for access request
  express-api/src/constants/config.ts
  express-api/src/controllers/users/usersController.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/src/services/users/usersServices.ts
  react-app/src/pages/AccessRequest.tsx
Labels: Express

#2437 PIMS-1746: Entities for project timestamps and project monetary values
  express-api/src/controllers/lookup/lookupSchema.ts
  express-api/src/typeorm/Entities/MonetaryType.ts
  express-api/src/typeorm/Entities/ProjectMonetary.ts
  express-api/src/typeorm/Entities/ProjectStatus.ts
  express-api/src/typeorm/Entities/ProjectTimestamp.ts
  express-api/src/typeorm/Entities/TimestampType.ts
  express-api/src/typeorm/Migrations/1717624230710-CreateProjectMonetaryAndTimestampEntities.ts
  express-api/src/typeorm/Migrations/1717629146741-MoveMetadataToTables.ts
  express-api/src/typeorm/entitiesIndex.ts
Labels: Express

#2439 PIMS-1748: Endpoints for timestamps and monetary types
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/controllers/lookup/lookupSchema.ts
  express-api/src/routes/lookupRouter.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
Labels: Express

#2440 PIMS-1753 Sidebar Filter
  express-api/src/controllers/properties/mapFilterSchema.ts
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/typeorm/Entities/views/MapPropertiesView.ts
  express-api/src/typeorm/Migrations/1717797668919-ExpandMapPropertiesView.ts
  react-app/src/components/map/ParcelMap.tsx
  react-app/src/components/map/controls/FilterControl.tsx
  react-app/src/components/map/propertyRow/PropertyRow.tsx
  react-app/src/components/map/sidebar/MapSidebar.tsx
  react-app/src/components/property/ClassificationIcon.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
Labels: Express

#2441 PIMS-1744: Projects API support timestamps and monetary
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Entities/Project.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
Labels: Express

#2452 PIMS-1720 Updates frontend
  frontend/package.json
Labels: Dependencies, React

#2449 PIMS-1721 Updates to react-app
  react-app/package.json
  react-app/src/components/property/PropertyForms.tsx
Labels: Dependencies

#2451 PIMS-1722 Updates to express-api
  express-api/package.json
Labels: Dependencies, Express

#2448 PIMS-1750: Modify ETL to extract metadata values into appropriate tables/columns
  express-api/src/typeorm/Entities/ProjectTask.ts
  express-api/src/typeorm/Migrations/1717629146741-MoveMetadataToTables.ts
  express-api/src/typeorm/Migrations/1718127520664-UpdateCompletedOnColumnProjectTasksTable.ts
  tools/dbeaver/tasks.json
Labels: Express

#2461 PIMS-1771: Parcel building union view
  express-api/src/typeorm/Entities/views/PropertyUnionView.ts
  express-api/src/typeorm/Migrations/1718651390703-PropertyUnionView.ts
  express-api/src/typeorm/entitiesIndex.ts
Labels: Express

#2436 PIMS-1662: SPL report
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Migrations/1718657619231-AddMarketedOn.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/constants/monetaryTypes.ts
  react-app/src/constants/noteTypes.ts
  react-app/src/constants/notificationTypes.ts
  react-app/src/constants/projectTasks.ts
  react-app/src/constants/timestampTypes.ts
Labels: Express

#2462 PIMS-1774 and PIMS-1757
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Migrations/1718666163439-UpdateTaskAndProjectStatusNotificationTables.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  react-app/src/components/projects/AddProject.tsx
Labels: Express

#2460 PIMS-1594 Parent-Child Agency Relationship Limit
  express-api/src/routes/usersRouter.ts
  express-api/src/services/agencies/agencyServices.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/services/agencies/agencyServices.test.ts
  react-app/src/components/agencies/AddAgency.tsx
  react-app/src/components/agencies/AgencyDetails.tsx
  react-app/src/components/form/AutocompleteFormField.tsx
  react-app/src/components/form/SelectFormField.tsx
  react-app/src/components/users/UserDetail.tsx
  react-app/src/hooks/api/useGroupedAgenciesApi.ts
Labels: Express

#2469 PIMS-1741 Lookup Context
  express-api/src/controllers/lookup/lookupController.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/lookup/lookupController.test.ts
  react-app/src/App.tsx
  react-app/src/components/adminAreas/AdministrativeAreaDetail.tsx
  react-app/src/contexts/lookupContext.tsx
  react-app/src/hooks/api/useLookupApi.ts
  react-app/src/pages/DevZone.tsx
Labels: Express

#2457 PIMS-1743: Server Side Pagination
  express-api/src/controllers/users/usersSchema.ts
  express-api/src/services/administrativeAreas/administrativeAreaSchema.ts
  express-api/src/services/administrativeAreas/administrativeAreasServices.ts
  express-api/src/services/agencies/agencySchema.ts
  express-api/src/services/agencies/agencyServices.ts
  express-api/src/services/projects/projectSchema.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/services/users/usersServices.ts
  express-api/src/utilities/helperFunctions.ts
  express-api/tests/unit/controllers/projects/projectsController.test.ts
  express-api/tests/unit/services/administrativeAreas/adminstrativeAreasService.test.ts
  express-api/tests/unit/services/agencies/agencyServices.test.ts
  express-api/tests/unit/services/ltsa/ltsaService.test.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
  express-api/tests/unit/services/roles/rolesServices.test.ts
  react-app/package.json
  react-app/src/App.tsx
  react-app/src/components/adminAreas/AdministrativeAreaDetail.tsx
  react-app/src/components/adminAreas/AdministrativeAreasTable.tsx
  react-app/src/components/agencies/AgencyDetails.tsx
  react-app/src/components/agencies/AgencyTable.tsx
  react-app/src/components/map/clusterPopup/ClusterPopup.tsx
  react-app/src/components/map/controls/FilterControl.tsx
  react-app/src/components/map/sidebar/MapSidebar.tsx
  react-app/src/components/projects/ProjectsTable.tsx
  react-app/src/components/property/AddProperty.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/CustomColumns.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/components/users/UsersTable.tsx
  react-app/src/hooks/api/useAdministrativeAreaApi.ts
  react-app/src/hooks/api/useAgencyApi.ts
  react-app/src/hooks/api/useGroupedAgenciesApi.ts
  react-app/src/hooks/api/useProjectsApi.ts
  react-app/src/hooks/api/useUsersApi.ts
  react-app/src/interfaces/ICommonFiltering.ts
  react-app/src/pages/AgencyManagement.tsx
  react-app/src/pages/UsersManagement.tsx
Labels: Dependencies, Express

#2473 Add pull command in dev deployment GHA
  .github/workflows/DEV-Api-V2-image-deploy.yml
  .github/workflows/DEV-App-V2-image-deploy.yml
Labels: Github Actions

#2471 PIMS-1799: Property Union API
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/controllers/properties/propertiesSchema.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/utilities/helperFunctions.ts
  express-api/tests/testUtils/factories.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  express-api/tests/unit/services/properties/propertyServices.test.ts
Labels: Express

#2476 PIMS-1804: Server side pagination for active inventory
  express-api/src/services/properties/propertiesServices.ts
  express-api/src/utilities/helperFunctions.ts
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/pages/ActiveInventory.tsx
Labels: Express

#2472 PIMS-1801 Replace Joins with Lookup
  express-api/src/controllers/lookup/lookupController.ts
  express-api/src/services/administrativeAreas/administrativeAreaSchema.ts
  express-api/src/services/administrativeAreas/administrativeAreasServices.ts
  express-api/src/services/agencies/agencyServices.ts
  express-api/src/services/buildings/buildingServices.ts
  express-api/src/services/parcels/parcelServices.ts
  express-api/src/services/projects/projectsServices.ts
  react-app/src/components/adminAreas/AddAdministrativeArea.tsx
  react-app/src/components/adminAreas/AdministrativeAreaDetail.tsx
  react-app/src/components/agencies/AddAgency.tsx
  react-app/src/components/agencies/AgencyDetails.tsx
  react-app/src/components/form/MultiselectFormField.tsx
  react-app/src/components/map/clusterPopup/ClusterPopup.tsx
  react-app/src/components/map/controls/FilterControl.tsx
  react-app/src/components/map/sidebar/MapSidebar.tsx
  react-app/src/components/projects/AddProject.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/projects/ProjectForms.tsx
  react-app/src/components/property/AddProperty.tsx
  react-app/src/components/property/PropertyDetail.tsx
  react-app/src/components/property/PropertyDialog.tsx
  react-app/src/components/property/PropertyForms.tsx
  react-app/src/components/table/DataTable.tsx
  react-app/src/components/users/UserDetail.tsx
  react-app/src/contexts/lookupContext.tsx
  react-app/src/hooks/api/useGroupedAgenciesApi.ts
Labels: Express

#2482 PIMS-1782 Update express-api Dependencies
  express-api/package.json
Labels: Dependencies, Express
