Repository bcgov/PIMS, pull requests merged in 2025-01, with the labels that each got.

#2894 PIMS-2263 react-app dependency updates
  react-app/package.json
Labels: Dependencies, React

#2895 PIMS-2257 Export Properties from Map Page
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/controllers/properties/propertiesSchema.ts
  express-api/src/routes/properties.swagger.yaml
  express-api/src/routes/propertiesRouter.ts
  express-api/src/services/properties/propertiesServices.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
  express-api/tests/unit/services/users/usersServices.test.ts
  react-app/src/components/map/sidebar/MapSidebar.tsx
  react-app/src/components/property/PropertyTable.tsx
  react-app/src/hooks/api/usePropertiesApi.ts
  react-app/src/utilities/downloadExcelFile.ts
  react-app/src/utilities/getPropertyExportMap.ts
Labels: React, Tests, Express

#2898 PIMS-2267: Update eslint, typescript-eslint, @eslint/js and eslint-config-prettier (Express-api)
  express-api/package.json
Labels: Dependencies, Express

#2899 PIMS-2268: Update eslint and typescript-eslint to latest versions
  react-app/package.json
Labels: Dependencies, React

#2900 PIMS-2269 Fixing Sidebar Page Count
  react-app/src/components/map/sidebar/MapSidebar.tsx
Labels: React

#2906 PIMS-2276 Access Request Name Case
  react-app/src/pages/AccessRequest.tsx
  react-app/src/utilities/formatters.tsx
Labels: React

#2909 Map Export Fix/Change
  express-api/src/controllers/properties/propertiesController.ts
  express-api/src/routes/propertiesRouter.ts
  express-api/tests/unit/controllers/properties/propertiesController.test.ts
Labels: Tests, Express

#2910 Express v4 Rollback
  express-api/package.json
  express-api/src/express.ts
Labels: Dependencies, Express
