Repository bcgov/PIMS, pull requests merged in 2025-02, with the labels that each got.

#2905 PIMS-2270 Fiscal Years and Risk
  express-api/src/typeorm/Entities/Project.ts
  express-api/src/typeorm/Migrations/1738266566512-UpdateRiskDesc.ts
  react-app/src/components/form/AutocompleteFormField.tsx
  react-app/src/components/projects/AddProject.tsx
  react-app/src/components/projects/ProjectDetail.tsx
  react-app/src/components/projects/ProjectDialog.tsx
  react-app/src/components/projects/ProjectForms.tsx
  react-app/src/utilities/formatters.tsx
  react-app/src/utilities/helperFunctions.ts
Labels: React, Express

#2913 PIMS-2282 Issue with Notification Cancellation Status
  express-api/src/controllers/projects/projectsController.ts
  express-api/src/services/ches/chesServices.ts
  express-api/src/services/notifications/notificationServices.ts
  express-api/src/services/projects/projectsServices.ts
  express-api/src/typeorm/Entities/ProjectAgencyResponse.ts
  express-api/tests/unit/services/projects/projectsServices.test.ts
Labels: Tests, Express

#2914 PIMS-2283: Update backend dependencies - eslint,@eslint/js, typescript-eslint, @types/node to the latest version
  express-api/package.json
Labels: Dependencies, Express

#2918 PIMS-2285: Update backend dependencies compression, @eslint/js, eslint, prettier, typescript-eslint to the latest versions.
  express-api/package.json
Labels: Dependencies, Express

#2919 PIMS-2286: Update frontend dependencies - @mui/x-data-grid, @mui/x-date-pickers, eslint, prettier, typescript-eslint to the latest versions.
  react-app/package.json
Labels: Dependencies, React
